<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- This is vue component for common tasks in dashboard.-->
<template>
    <div class="panel-heading">
        <h5> Find Order</h5>
    </div>
    
    <div class="clearfix"></div>
    
    <div class="">
         <br>

         <div class="">
                <div class="form-group col-md-6">
                    <label for="deladdcode">Delivery Address Code</label>
                    <input type="text" id="deladdcode" class="form-control" placeholder="Delivery Address Code" v-model="orderSearchModel.ShipToID" title="Delivery Address Code" autocomplete="off" >
                </div>
         </div>
        
        <div>
                <div class="form-group col-md-6">
                    <label for="itemid">Material Number</label>
                    <input type="text" class="form-control" id="itemid" placeholder="Material Number" v-model="orderSearchModel.OrderLine.Item.ItemID" title="Material Number" autocomplete="off" >
                </div>
         </div>
         <div>
                <div class="form-group col-md-6">
                    <label for="itemid">Contact Details</label>
                    <input type="text" class="form-control" id="contact" placeholder="Contact Details" v-model="orderSearchModel.OrderLine.Extn.Contact" title="Enter the Contact Person Name or Phone Number" autocomplete="off" >
                </div>
         </div>
         <div>
                <div class="form-group col-md-6">
                            <label for="projNo" id="projNolbl">Project Number</label>
                            <input type="text" class="form-control" id="projNo" placeholder="Project Number" v-model="orderSearchModel.SearchCriteria1" autocomplete="off" title="Enter the Project Number">
            </div>
         </div>
        
         <div class="clearfix"></div>
                        
        <div class="col-md-3 pull-right">
            <button type="submit"  class="btn btn-primary btn-block" @click="navigate('OrderList')" title="Find Order">
                Find Order
            </button>
            <br>
        </div>                                
    </div>
</template>
		
<script>
    var Utils = require('./../utils/utils.js')	
	export default {
     data: function () {
     
          var orderSearchModel = {
                'ShipToID':'',
                'OrderLine': {
                    'Item': {
                        'ItemID':''
                   },
                    'Extn':{
                      'Contact':''
                   }
                 },
               'SearchCriteria1' :''
          }
          if (typeof(Storage) !== "undefined" && !(sessionStorage.tporderSearchModel == undefined) ) {
                var orderObj = JSON.parse(sessionStorage.tporderSearchModel)  
                orderSearchModel.ShipToID = orderObj.ShipToID
                orderSearchModel.OrderLine.Item.ItemID = orderObj.OrderLine.Item.ItemID
                orderSearchModel.OrderLine.Extn.Contact=orderObj.OrderLine.Extn.Contact
                orderSearchModel.SearchCriteria1=orderObj.OrderLine.SearchCriteria1
            } 
              

          return {
             orderSearchModel:orderSearchModel

          }
      },

	  
       methods: {
           
           navigate: function(component) {
		      this.$router.go({name:component,query: {dashDelAddCode:this.orderSearchModel.ShipToID, dashItemId:this.orderSearchModel.OrderLine.Item.ItemID,dashContact:this.orderSearchModel.OrderLine.Extn.Contact,dashProject:this.orderSearchModel.SearchCriteria1,RequestFrom:'FindOrder'}})
	       },
           
           hasPermission:function(resourceId){
               return Utils.hasPermission(resourceId)
            }
      },
        beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
}
</script>