<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- This is master vue component for displaying dashboard page of SP. Each of the display panels are child components and routed using vue-router-->
<template>
  <div>
    <div id="header"></div>
        <div class="container-fluid CustomHgt">
            <div class="row ">

                <div class="col-md-8">
                    <div class="alert alert-danger alert-dismissible hidden" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong> Message Title:</strong> A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" cz-shortcut-listen="true">
            <div class="block  clearfix">
                <h5 class="pull-left">Dashboard</h5>
            </div>
        
            <div class="row">
                <div class="col-md-6">
                    <div class="row dashboard-row-one">
                        <div class="col-md-12 alert-panel alert-large-box">
                            <div class="box panel panel-default clearfix">
                                <findorder></findorder>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 alert-panel col-sm-12 alert-large-box">
                    <div class="panel panel-default">
                        <orderwatchlist></orderwatchlist>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')

    var DashWatchList = require('./DashWatchList.vue')
    var DashFindOrder = require('./DashFindOrder.vue')

    export default {

        components : {        
            'orderwatchlist' : DashWatchList, 
            'findorder' : DashFindOrder 
        }

    }
</script>
