
<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying list of orders and search orders based on given criteria
     ***************************************************************************-->
<template>
<div>
    <div class="container-fluid CustomHgt">
        <div class="row ">
           <div class="col-md-4">
                <div v-breadcrumb="true"></div>
            </div>
           
        </div>
    </div>


    <div class="container-fluid" cz-shortcut-listen="true">
    
       
      <div class="block  clearfix">
           <div >
                <div class="alert alert-danger alert-dismissible" role="alert" v-if="apierror">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}} 
               </div>
            </div>
      <h5 class="pull-left">Orders</h5>
      <div class="pull-right">

       </div>
    </div>
    
        <div class="panel panel-default">
            <div class="panel-heading">
                 <div class="col-md-5  cal-box">
                    Show
                    <select class="select-style form-control" >
                        <option value="">All</option> 
                    </select>
                    <button class="btn btn-default "  @click="showSearch = !showSearch" title="Advance search">
                        <div class=""><i class="fa fa-search-plus" aria-hidden="true"></i></div>
                    </button>
                 </div>
            </div>
            
        <validator name="formvalidation1">
            <form   v-on:submit.prevent.stop="orderSearch" novalidate v-show=showSearch>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="adavanceSearch">Advanced Search
                            <span class="pull-right">  <button type="button" class="btn btn-primary SecondaryBtn Clearbtn" title="Clear" v-on:click="resetAll()">
                            Clear
                            </button></span>
                        </h4>
                         <div class="form-group col-md-3">
                            <label for="sourceId" id="sourceIdlbl" >Source ID</label>
                            <input type="text" class="form-control" id="sourceId" placeholder="Source ID" v-model="orderSearchModel.OrderName"  autocomplete="off" title="Enter the Source System Order Number">
                        </div>
                        
                          
                        <div class="form-group col-md-3">
                            <label for="delAddCd" id="delAddCdlbl" >Delivery Address Code</label>
                            <input type="email" id="delAddCd" class="form-control" placeholder="Delivery Address Code" v-model="orderSearchModel.ShipToID" autocomplete="off" title="Enter the Delivery Address Code for the Receiving Address">
                        </div>
                        
                        <div class="form-group col-md-3">
                            <label for="custPhNo" id="custPhNolbl" >Contact Details</label>
                            <input type="text" id="custPhNo" class="form-control" placeholder="Contact Details" v-model="orderSearchModel.OrderLine.Extn.Contact" autocomplete="off" title="Enter the Contact Person Name or Phone Number">
                        </div>
                        
                        <div class="form-group col-md-3">
                            <div class="row CusDateContainer">
                                <div class="col-md-6">
                                    <label for="statusFrom" id="statusFromlbl">Status (From)</label>
                                        <select class="form-control" id="statusFrom" v-model="orderSearchModel.FromStatus" placeholder="From" title="Choose the Minimum Order Status">
                                            <option value="">All</option>   
                                            <option v-for="status in statusList" v-bind:value="status.Status">{{status.StatusName}}</option>
                                        </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="statusTo" id="statusTolbl">Status (To)</label>
                                        <select class="form-control" id="statusTo"  
                                         v-model="orderSearchModel.ToStatus" placeholder="To" title="Choose the Maximum Order Status">
                                            <option value="">All</option>   
                                            <option v-for="status in statusList | statusfilter orderSearchModel.FromStatus" v-bind:value="status.Status">{{status.StatusName}}
                                            </option>
                                        </select>
                                </div>
                            </div>
                        </div>

                      <div class="form-group col-md-3 ">
                        <label for="exampleInputEmail1">Order Date</label>
                          <div class="row CusDateContainer" >
                          <div class="col-md-6">
                         <input type="text" class="form-control" id="FromOrderDate" placeholder="From Date" v-datepicker="orderSearchModel.FromOrderDate" usage="datetime" timeofday="begin" title="Choose the Order Date Range.Future Date is Not Allowed" fieldname="OrderDate" allowfuturedate="N">
                              <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                               <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p>
                            </div>
                          <div class="col-md-6">
                           <input type="text" class="form-control" id="ToOrderDate" placeholder="To Date" v-datepicker="orderSearchModel.ToOrderDate" timeofday="end" usage="datetime" title="Choose the Order Date Range. Future Date is not Allowed." fieldname="OrderDate" allowfuturedate="N">
                              <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                               <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p>
                                </div>
                            </div>
                        </div>
                           <div class="form-group col-md-3">
                            <label for="orderNo" id="orderNolbl">Order Number</label>
                            <input type="text" id="orderNo" class="form-control " placeholder="Order Number" v-model="orderSearchModel.OrderNo" autocomplete="off" title="Enter the Sterling Order Number" >
                        </div>
                  
                        <div class="form-group col-md-3">
                            <label for="projNo" id="projNolbl">Project Number</label>
                            <input type="text" class="form-control" id="projNo" placeholder="Project Number" v-model="orderSearchModel.SearchCriteria1" autocomplete="off" title="Enter the Project Number">
                        </div>
    
                                                                                                        
                        <div class="form-group col-md-3">
                            <label for="matNum" id="matNumlbl" >Material Number</label>
                            <input type="email" id="matNum" class="form-control" placeholder="Material Number" v-model="orderSearchModel.OrderLine.Item.ItemID" autocomplete="off" title="Enter the Material Number">
                        </div> 
                         <div class="form-group col-md-3">
                            <label for="exampleInputEmail1">LRA</label>
                            <input type="text" class="form-control" id="LRA" placeholder="LRA" v-model="orderSearchModel.Extn.LRA" autocomplete="off"  title="LRA">
                       </div>
                        <div class="form-group col-md-3">
                            <label for="exampleInputEmail1">Vector ID</label>
                            <input type="text" class="form-control" id="VectorId" placeholder="Vector ID" v-model="orderSearchModel.OrderLine.Extn.VectorID" autocomplete="off"  title="Vector ID">
                       </div>
                        <div class="form-group col-md-3">
                            <label for="maxrecords" id="maxrecordslbl">Maximum Records Fetched</label>
                            <input type="text" class="form-control" id="maxrecords" placeholder="Maximum records" v-model="orderSearchModel.MaximumRecords" autocomplete="off" v-validate:maxrecords="{required:true, min:1, max: 500,customMaxValidator:true}" title="Maximum Records">
                            <span class="help-block" v-if="$formvalidation1.maxrecords.required || $formvalidation1.maxrecords.min || $formvalidation1.maxrecords.max || $formvalidation1.maxrecords.customMaxValidator">{{getMessage('MAX_RECORDS') }}</span>
                        </div>
      
                        <div class="clearfix"></div>
       
                        <div class="col-md-2 col-sm-6 pad-left-10 pull-right">
                            <button type="submit" class="btn btn-primary btn-block" title="Search">
                                Search
                            </button>
                        </div>           
                    </div>
                </div>  
            </form>  
        </validator>
    
        <div class="clearfix"></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
                                <thead>
                                    <tr role="row">
                                        
                                        <th style="text-align: left; width: 60px;" @click="sortBy('IsWatchedByUser')" :class="{active: gmeta.sort.key == 'IsWatchedByUser'}"> <i class="glyphicon glyphicon-star black text-center" title="Watched Orders"></i>
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['IsWatchedByUser'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                        </th>
                                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrderName')" :class="{active: gmeta.sort.key == 'OrderName'}" >Source ID     
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderName'] > 0 ? 'sort-up' : 'sort-down'">
                                         </span>
                                         </th>
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrderNo')" :class="{active: gmeta.sort.key == 'OrderNo'}" >Order Number   
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderNo'] > 0 ? 'sort-up' : 'sort-down'">
                                         </span>
                                         </th>
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Status')" :class="{active: gmeta.sort.key == 'Status'}" >Status    
                                            <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Status'] > 0 ? 'sort-up' : 'sort-down'">
                                             </span>
                                        </th>
                                        
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('DepartmentCode')" :class="{active: gmeta.sort.key == 'DepartmentCode'}" >Order Stream    
                                            <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['DepartmentCode'] > 0 ? 'sort-up' : 'sort-down'">
                                             </span>
                                        </th>
                                        
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('SearchCriteria1')" :class="{active: gmeta.sort.key == 'SearchCriteria1'}" >Project Number   
                                            <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SearchCriteria1'] > 0 ? 'sort-up' : 'sort-down'">
                                             </span>
                                        </th>
                                        
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ReqDeliveryDate')" :class="{active: gmeta.sort.key == 'ReqDeliveryDate'}" >Req Delivery Date    
                                            <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ReqDeliveryDate'] > 0 ? 'sort-up' : 'sort-down'">
                                             </span>
                                        </th>
                                        
                                     </tr>
                                </thead>
                                <tbody v-if="showMask" class="table-spinner"><tr class="loader"></tr></tbody>   
                                <tbody v-if="!showMask">
                                    <tr >
                                        <td class="center-filter">
                                            <div class="glyphicon glyphicon-filter" title="Filter"></div>
                                        </td>
                                             
                                        <td>
                                            <input type="text" class="form-control" v-model="gmeta.filter.OrderName" title="Enter the Source System Order Number">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" v-model="gmeta.filter.OrderNo" title="Enter Sterling Order Number">
                                        </td>
                                    
                                        <td>
                                            <input type="text" class="form-control" v-model="gmeta.filter.Status" title="Enter the Order Status">
                                        </td>
                                           
                                        <td>
                                            <input type="text" class="form-control" v-model="gmeta.filter.DepartmentCode" title="Enter the Order Stream">
                                        </td>
                                        
                                        <td>
                                            <input type="text" class="form-control" v-model="gmeta.filter.SearchCriteria1" title="Enter the Project Number">
                                        </td>
                                        
                                        <td>
                                            <input type="text" class="form-control" v-model="gmeta.filter.ReqDeliveryDate" title="Enter the Required Delivery Date">
                                        </td>
                                    </tr>
                                    <tr v-show="!gridData">
                                          <td colspan="10" > <span class="noRecordCtrl"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 40px;"></i><br>No Results Found</span></td>
                                    </tr>
                                    
                                    <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                        v-for=" row in gridData 
                                        | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                        | gridfilter gmeta.filter columns datecolumns
                                        | paginate " >
                                    
                                       <td v-if="row.IsWatchedByUser==='Y'"><a href="javascript:void(0);" class="icon-toggle"  title="Click here to remove from watchlist" @click=removeFromWatchList(row)><i class="glyphicon glyphicon-star" ></i></a>
                                       </td>
                                        
                                        <td v-if="row.IsWatchedByUser==='N'"><a href="javascript:void(0);" class="icon-toggle" title="Click here to add to watchlist" @click=addToWatchList(row)><i class="glyphicon glyphicon-star-empty"  ></i></a>
                                        </td>  
                                        <td><a v-link="{ path: '/orderdetails',query:{key:row['OrderHeaderKey'],orderNo:row['OrderNo']}}"> {{getValue(row, "OrderName")}}  </a>     </td>
                                        <td> {{getValue(row, "OrderNo")}}   </td>
                                        <td>{{getValue(row, "Status") }} </td>
                                        
                                        <td> {{getValue(row, "DepartmentCode")}}     </td>
                                        
                                        <td> {{getValue(row,"SearchCriteria1")}}     </td>
                                        
                                        <td> {{formatForDisplay(getValue(row, "ReqDeliveryDate") )}}     </td>
                                                                                                  
                                   </tr>                                    
                               </tbody>
                            </table>
                       
                            <div class=" m-t-10">
                                <gridpagination 
                                    :gmeta="gmeta"
                                    :total-pages="totalPages"
                                    v-on:setpage="setPage">
                                </gridpagination >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


        <div hidden>
           <!-- <input class="hidden" value={{$route.query.key}}  v-model="orderSearchKeyModel.OrderName"/> 
            <input class="hidden" value={{$route.query.RequestFrom}}  v-model="orderSearchKeyModel.RequestFrom"/>
            
            <input class="hidden" value={{$route.query.dashDelAddCode}}  v-model="orderSearchModel.ShipToID"/> 
            <input class="hidden" value={{$route.query.dashItemId}}  v-model="orderSearchModel.OrderLine.Item.ItemID"/>
            -->
       </div>
    </div>

</template>
<script>
    var Vue = require('vue')
    var VueValidator = require('vue-validator')
    Vue.use(VueValidator)
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')

    export default{
        
             props: {
             data: Array,
             height: Number,
    
            },
    validators:{
        customMaxValidator:function(val){
            return /^([1-9]\d*)$/.test(val);
        }  
      },
      data: function () {
         var filterKey="Y"
     
          var orderSearchModel = {
                'OrderNo': '',
                'OrderName':'',
                'MaximumRecords': '100',
                'FromStatus': '',
                'ToStatus': '',
                'SearchCriteria1' :'',
                'PhoneNo':'',
                'ShipToID':'',
                'OrderLine': {
                    'Item': {
                        'ItemID':'',
                        'ItemShortDesc':''
                   },
                    'Extn':{
                    'MrpController':'',
                    'Contact':'',
                    'VectorID':''
                   }
                },
                'Extn': {
                    'SellerName':'',
                    'LRA':''
                }
          }
        var columns =[ 'IsWatchedByUser','HoldFlag','OrderNo','OrderName','Status','DepartmentCode','SearchCriteria1','ReqDeliveryDate']
       var gmeta = {}
       var showMore =false
       GridUtils.populateGridMeta(gmeta, columns, false)

        var gridData = []
        var showMask = false
        var datecolumns=['ReqDeliveryDate']
        var showSearch=true
        var errorcode
        var errordesc
        var apierror=false
        var statusList =[]
        return {
           orderSearchModel:orderSearchModel,
            columns: columns,
            gridData: gridData,
            showMore: showMore, 
            gmeta: gmeta,            
            showMask:showMask,
            datecolumns:datecolumns,            
            showSearch:showSearch,            
            errorcode:errorcode,
            errordesc:errordesc,
            apierror:apierror,
            statusList:statusList
             
           }
      },
        

    route: {
        canReuse: function (transition) {
             
            if(transition.from.name === 'OrderList'){
                return false;
            }else{
                return true;
            }
        },
        
        activate: function (transition) {
            if(transition.from.name !== "orderdtl") {
              if (typeof(Storage) !== "undefined" ) {
                        //Clearing up the session storage so that the data is not retained
                        sessionStorage.removeItem('tpretainresult')
                        sessionStorage.removeItem('tporderresult')
                        sessionStorage.removeItem('tpstatusAggregator')
                        //Resetting Search Model to handle Dashboard search
                        if(transition.from.name === 'home') {
                            sessionStorage.removeItem('tporderSearchModel')
                        }
                   }
            }
            transition.next()           
        },
        
        deactivate: function (transition) {
            if (typeof(Storage) !== "undefined") {
                sessionStorage.tporderSearchModel =  JSON.stringify(this.orderSearchModel)
                if(transition.to.name === 'orderdtl') {
                    sessionStorage.tpretainresult = 'Y'
                    sessionStorage.tporderresult = JSON.stringify(this.gridData);
                    sessionStorage.tpstatusAggregator= JSON.stringify(this.statusList)
                }
            }
            transition.next() 
        },
        
        data: function (transition) {
            
            var self=this
                   
            if (typeof(Storage) !== "undefined" && !(sessionStorage.tporderSearchModel == undefined) ) {
                self.orderSearchModel = JSON.parse(sessionStorage.tporderSearchModel)  
            } 
              
            if(self.orderSearchModel.MaximumRecords===''){
                self.orderSearchModel.MaximumRecords='100';
            }
            
            var success = function(result) {
                self.gridData = result.Order
                self.showMask=false
                self.showSearch=false
            }
            
           
            self.orderSearchModel.Loginid = window.AppInfo.loginid;
            self.showMask=true    
            if(self.$route.query.RequestFrom && self.$route.query.RequestFrom === 'FindOrder') {
                if(self.$route.query.dashDelAddCode){
                    self.orderSearchModel.ShipToID = self.$route.query.dashDelAddCode;
                }
                if(self.$route.query.dashItemId){
                    self.orderSearchModel.OrderLine.Item.ItemID = self.$route.query.dashItemId;
                }
                 if(self.$route.query.dashContact){
                    self.orderSearchModel.OrderLine.Extn.Contact = self.$route.query.dashContact;
                     var str = self.orderSearchModel.OrderLine.Extn.Contact.replace(/\s+/g, '');
                    var upperContact = str.toUpperCase();
                    self.orderSearchModel.OrderLine.Extn.Contact = upperContact;
                }
                 if(self.$route.query.dashProject){
                    self.orderSearchModel.SearchCriteria1 = self.$route.query.dashProject;
                }

                Utils.executeDataService("dashOrderList", success, self.orderSearchModel,self.errorHandler);
            }

            if( self.$route.query.RequestFrom && self.$route.query.RequestFrom === 'OrderSearch'){
                   self.showSearch=false
                   self.orderSearchModel.OrderName = self.$route.query.key
                   Utils.executeDataService("dashOrderList", success, self.orderSearchModel,self.errorHandler);
            }            

            if (typeof(Storage) !== "undefined" && (!(sessionStorage.tpretainresult == undefined) && sessionStorage.tpretainresult === 'Y') ) {
                //Loading Old Data

                    self.gridData = JSON.parse(sessionStorage.tporderresult)
                    self.showSearch = false;
                    self.statusList = JSON.parse(sessionStorage.tpstatusAggregator)
                    //Clearing up the session storage so that the data is not retained
                    sessionStorage.removeItem('tpretainresult')
                    sessionStorage.removeItem('tporderresult')
                    sessionStorage.removeItem('tpstatusAggregator')
                    self.showMask=false;
                    transition.next()
            }else { 
                  var loadStatus = function(statusresult){    
                     self.statusList =statusresult.Status
                     self.showMask=false
                } 
                return Promise.all([
                    Utils.executeDataServicePromise("statusAggregator", loadStatus,self.Status,self.errorHandler)                  
                ]) 
            } 
        }
       
    },
        
  computed: {
          totalPages: function() {
            return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
          }
        },
        
 filters: {
           paginate: function(list) {
            return GridUtils.paginate(this.gmeta,list)
           }
        }, 
 
  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },
      setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
      },
      getMessage: function(errorMessageId) {
        return Utils.getErrorMessage(errorMessageId)      
      },
      formatForDisplay:function(serverDate) {
          return Utils.formatForDisplay(serverDate,"filter")
      },
       sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
      },

      
   orderSearch: function(event) {
            event.preventDefault()
        var invalidDates = $(".invalid").length  
     if(this.$formvalidation1.valid && invalidDates === 0 ){     
            var self = this
             if(self.orderSearchModel.MaximumRecords === ''  ){
                self.orderSearchModel.MaximumRecords= '100'
             }          
            var success = function(result) {
                self.gridData = result.Order
                self.showMask=false
                self.showSearch=false
            }
             self.showMask=true
             self.orderSearchModel.Loginid = window.AppInfo.loginid;
           if(self.orderSearchModel.OrderLine.Item.ItemShortDesc !== '') {
                   var upperItemDesc = self.orderSearchModel.OrderLine.Item.ItemShortDesc.toUpperCase();
                    self.orderSearchModel.OrderLine.Item.ItemShortDesc = upperItemDesc;
             }
            if(self.orderSearchModel.OrderLine.Extn.Contact && self.orderSearchModel.OrderLine.Extn.Contact !== '') {
                  var str = self.orderSearchModel.OrderLine.Extn.Contact.replace(/\s+/g, '');
                   var upperContact = str.toUpperCase();
                    self.orderSearchModel.OrderLine.Extn.Contact = upperContact;
            }
             Utils.executeDataService("dashOrderList", success, self.orderSearchModel,self.errorHandler);           
          
         GridUtils.clearMetaPagination(this.gmeta,this.columns);
   }
   },
      
     addToWatchList:function(row,event){
            var self = this
            var watchListInput={}
           watchListInput.OrderHeaderKey= row.OrderHeaderKey
           watchListInput.OrganizationCode= row.EnterpriseCode           
           watchListInput.OrderNo= row.OrderNo
           watchListInput.Status= row.Status 
           if(row.ReqDeliveryDate) {
                watchListInput.ReqDeliveryDate= row.ReqDeliveryDate
           }
           
           var success = function(result) {
             row.IsWatchedByUser='Y'
           }
            Utils.executeDataService("createWatchedOrder", success,watchListInput,self.errorHandler);

         },
      
     removeFromWatchList:function(row,event){
            var self = this
            var watchListInput={}
            watchListInput.OrderHeaderKey= row.OrderHeaderKey
            var success = function(result) {
                      row.IsWatchedByUser='N'
                }
            Utils.executeDataService("removeWatchedOrder", success,watchListInput,self.errorHandler);

         }  ,
      
     errorHandler : function(errorObj) {
         
               var self=this
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  self.showMask=false
                  //Error message times out after 10 seconds
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
                 
              },
      
    getAPIErrorMessage: function() {
        return Utils.getAPIErrorMessage();
    },
      
    resetAll: function(){
       // event.preventDefault()
        var newOrderSearchModel = {
            'Loginid':'',
            'OrderNo': '',
                'OrderName':'',
                'MaximumRecords': '100',
                'FromStatus': '',
                'ToStatus': '',
                'SearchCriteria1' :'',
                'PhoneNo':'',
                'ShipToID':'',
                'OrderLine': {
                    'Item': {
                        'ItemID':'',
                        'ItemShortDesc':''
                   },
                    'Extn': {
                        'MrpController':'',
                        'Contact':'',
                        'VectorID':''
                    }
                } 
         }  
         this.orderSearchModel = newOrderSearchModel;                
     },
      
  },
  
    beforeDestroy: function() {
        $(this.$el).remove();
        $(this.$el).removeData();
      }
    }
    

</script>