<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying list of users
     ***************************************************************************-->
<template>
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="">Assign Alert To User</h4>
    </div>
    
    <div class="modal-body address-modal-body">
          <div class="">
            <div class="form-group">
                <label for="assignedToUser">Select User</label>
                <select class="select-style form-control" data-live-search="true"  v-model="assignexception.AssignToUserId" >
                    <option value="" ></option>
                    <option value={{user.Loginid}} v-for="user in userlist">{{user.Username}}</option>                        
                </select>
            </div>
                        
            
          </div>        
    </div
	
    <div class="clearfix"> </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="assign()">Assign User</button>
    <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="cancel()">Cancel</button>
    </div>
  	
</div>
</template>
<script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    
    export default{
        
        props: {
            userlist: Array,
            assignexception: Object
        },

        data: function () { 
            
            
            return {
               
            }
        },
	  
        methods: {	  
         getValue: function(row, binding) {
            return Utils.getValue(row,binding)
         },

         goBack: function () {
           window.history.go(-1)
         },
            
         cancel: function() {
            this.$dispatch('cancel')
         },

         assign: function() {
             this.$dispatch('assign');
         }
        }, 	  
		  
        beforeDestroy: function() {
            $(this.$el).remove();
            $(this.$el).removeData();
        }
}

</script>