<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- This is vue component for open order in dashboard.-->
<template>            
			<div class=" panel-heading"> <h5>Open Orders</h5> </div>
               <div class="panel-body">
                 <div class="row no-gutters">
                     <div class="col-xs-6">
                     <div class="status-pills text-center">
                       <div class="status-number">
                           {{totalordamt | numberfilter }}
                           <p>Total Value (AUD)</p>
                       </div>
                     </div>
                   </div>
                      <div class="col-xs-3">
                     <div class="status-pills text-center">
                       <div class="status-number ">
                           {{ordercount | integerfilter}}
                           <p>Total</p>
                       </div>
                     </div>
                   </div>
                   <div class="col-xs-3">
                     <div class="status-pills text-center last">
                       <div class="status-number">
                           {{alertcount | integerfilter}}
                           <p>Delayed</p>
                       </div>
                     </div>
                   </div>
 <div class="clearfix"></div>
                     <div v-show="gridData" class="last_update"> Last Updated: {{getCurrentDate()}}</div> 
                 </div>
             </div>
</template>

<script>
	var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
  
    export default{

	  data: function () {
    
        var gridData = []
        var totalordamt =0.00
        var ordercount = 0
        var alertcount = 0
        var alertstatus=true
		
	    return {
	    	
	        gridData: gridData,
            totalordamt:totalordamt,
            ordercount:ordercount,
            alertcount:alertcount,
            alertstatus: alertstatus
           
	    }
     },
     ready: function(){
            var self=this
			
				var success = function(result) 
				{
						self.gridData = result.Order
                        self.ordercount= result.TotalOrderList
				}		      
                
                var alertsuccess = function(alertresult) 
				{
					self.alertcount= alertresult.TotalNumberOfRecords
                    
                   			 if(!self.alertcount)
			                 {
                        			self.alertcount = 0
			                 }
				}
                
                // Utils.executeDataService("getOpenOrderSummary", success, null);
				// Utils.executeDataService("getDelayedOrderCount", alertsuccess, null);
                
                  return Promise.all([
                    Utils.executeDataServicePromise("getDelayedOrderCount", alertsuccess, null),  
                    Utils.executeDataServicePromise("getOpenOrderSummary", success, null)
                   
                ])
      
      },
        

     methods: {
        getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },
      getCurrentDate: function ()
      {
          var date = new Date();
          return Utils.formatDateTime(date);
          //return (date.getFullYear() + '/' + ('0' + (date.getMonth() + 1)).slice(-2)+ '/' + ('0' + (date.getDate())).slice(-2));            
      }
      
  
    },
    watch:{
        gridData: function(gridData){  
           var self = this    
           var totalamt = 0.00 
           var i=0
             
           for (var order in gridData) {
              
               totalamt= totalamt + Number.parseFloat(gridData[i].PriceInfo.TotalAmount);                
                i=i+1
			}
            
            self.totalordamt=totalamt.toFixed(2)
           
                
        }
    },
  
	beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
    }
    </script>
