<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- This is vue component for common tasks in dashboard.-->
<template>
  <div class="panel-heading"> <h5> Common Tasks</h5></div>
            <div class="panel-body panel-common-body">
                <div class="col-md-12">
              <ul class="list-unstyled list-linked-modal clearfix">
                <li v-if="hasPermission('GPSVPINV0001A01')">
                    <a  href="javascript:void(0)" data-target="#uploadFilePage" data-backdrop="static" role="button" class="btn modalcls" data-toggle="modal" v-on:click="uploadFile()" >Upload Inventory</a>	
                 </li>
                <li v-if="hasPermission('GPSVPORD0001A04')">
					<a  href="javascript:void(0)" data-target="#uploadAsnPage" data-backdrop="static" role="button" class="btn modalcls" data-toggle="modal" v-on:click="uploadAsn()" >Upload ASNs</a>
				</li>
				 <li v-if="!hasPermission('GPSVPINV0001A01') && !hasPermission('GPSVPORD0001A04')">
                                        <span>No Tasks</span>
                </li>

              <!--  <li><a href="" data-toggle="modal" data-target="#inv-browse-modal-big"> Create Location</a></li>-->
              </ul>
            </div>
			</div>
			
    <div v-show="showasnload">
            <div class="modal fade" id="uploadAsnPage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                          <!-- Modal content-->
                        <div class="modal-content">
                        <asnupload
                            v-on:cancel="cancelFileUpload()">
                        </asnupload>
                    </div>

                    </div>
                </div>
            </div>
            <div class="modal fade" id="inv-browse-modal-big1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
           </div>
		   
		    <div class="modal fade" id="inv-browse-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
       <div class="modal-dialog" role="document">
         <div class="modal-content">
         </div>
       </div>
     </div>
	 
	    
	    <div v-show="showupload">
            <div class="modal fade" id="uploadFilePage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                          <!-- Modal content-->
                        <div class="modal-content">
                        <fileuploads
                            v-on:cancel="cancelFileUpload()">
                        </fileuploads>
                    </div>

                    </div>
                </div>
            </div>
            <div class="modal fade" id="inv-browse-modal-big1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
           </div>




     <div class="modal fade" id="inv-browse-asn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
         <div class="modal-content">

         </div>
       </div>
     </div>
</template>
<script>
var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
	export default {
   data: function () {
           var showupload=false
		   var showasnload=false
           return {
            showupload:showupload,
			showasnload:showasnload
          }
      },
	  
	    methods: {

          uploadFile: function() {
          this.showupload=true
       },
		  uploadAsn: function() {
          this.showasnload=true	   
	   },
         cancelFileUpload: function(){

       },
		hasPermission:function(resourceId){
            return Utils.hasPermission(resourceId)
       }
      },
        beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }  
	  }
</script>