<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- This is vue component for shipment list in dashboard.-->
<template>
 <div class="col-md-6" >
         <div class="panel panel-default">
			<div class="panel-heading"> <h5> Shipments</h5>
             <div class="block text-right" v-if="hasPermission('GPSVPSHP0001A02')">
		<button class="btn btn-default SecondaryBtn" v-on:click="clickBookFreight()"  v-bind:disabled="!bookFreight">Book Freight</button>
             </div>
             </div>
                        <div class="clearfix"></div>
						<div class="panel-body">

               <div class="table-responsive table-fixed">
               
				  <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
              <thead>
                <tr role="row">
                     <th></th>
                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ShipmentNo')" :class="{active: gmeta.sort.key == 'ShipmentNo'}" >Shipment No   
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ShipmentNo'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                   </th>    
                 <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrderNo')" :class="{active: gmeta.sort.key == 'OrderNo'}" >Order No   
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderNo'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                   </th> 
                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Extn.LogisticsStatus')" :class="{active: gmeta.sort.key == 'Extn.LogisticsStatus'}" title="Freight Booking Status of the shipment" style="min-width: 160px;">Freight Booking Status
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Extn.LogisticsStatus'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                   </th>
                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Status.StatusName')" :class="{active: gmeta.sort.key == 'Status.StatusName'}" >Status   
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Status.StatusName'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                   </th>
                 
                    <!-- This may be required
                 <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" style="width: 70px;">Track</th-->
                </tr>
              </thead>
              <tbody>
                <tr role="row" class="filter-row">
                  <td class="center-filter">
                      <div class="glyphicon glyphicon-filter"></div>
                  </td>
                  <td>
                    <input type="text" class="form-control" v-model="gmeta.filter.ShipmentNo">
                  </td>
                  <td>
                    <input type="text" class="form-control" v-model="gmeta.filter.OrderNo">
                  </td>
                     <td>
                    <input type="text" class="form-control" v-model="gmeta.filter.Extn.LogisticsStatus" >
                  </td>
                     <td>
                    <input type="text"  class="form-control" v-model="gmeta.filter.Status.StatusName">

                  </td>
                </tr>
                  <tr v-show="!gridData">
                   <td colspan="5">
                    <!--<img class="norecord" :src=pathImage>-->

                     <span class="noRecordCtrl HightCtrl"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 40px;"></i><br>No Results Found</span>

                    </td>
                    </tr> 
               <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                      v-for=" row in gridData 
                      | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                      | gridfilter gmeta.filter columns
                      | paginate " >
                      
                      <td><input type="radio"  v-on:click="check(row)" value="{{getValue(row, 'ShipmentKey')}}"  name="shipment"></td>
                      <td><a v-link="{ path:'/shipmentdetails',query:{key:row['ShipmentKey']}}"> {{getValue(row, "ShipmentNo")}}  </a>   </td>
                       <td><a v-link="{ path: '/orderdetails',query:{key:row['OrderHeaderKey']}}"> {{getValue(row, "OrderNo")}}  </a>   </td>
                     <td> {{getValue(row, "Extn.LogisticsStatus")}}     </td>
                      <td>{{getValue(row,"Status.StatusName")}} </td>
                     
                    </tr>
              </tbody>
             </table>
						
						
			 <div hidden>
    	<input class="hidden" value= {{$route.query.key}}  v-model="shipmentDetailsInput.ShipmentKey"/> </div>
    </div>			
		</div>
    </div>
</template>
<script>
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    export default{
         
	  data: function () {
     var filterKey="Y"
     //default data for shipment search
     var shipmentSearchModel = {
            'OrderNo': '',
            'ShipmentNo':'',
            'DocumentType':'0005',
            'TrackingNo':'',
            'SCAC':'',
            'FromStatus': '1100',
            'ToStatus': '1400.10000',
            'MaximumRecords': '10',
            'Extn':{
              'VendorShipNode':''
              }
         }
      var shipmentDetailsInput={}
      var columns =[ 'ShipmentNo','OrderNo','Extn.LogisticsStatus','Status.StatusName']
      var gmeta = {}
      var showSearch =false
      GridUtils.populateGridMeta(gmeta, columns, false)
		var	bookFreight =false;
       var gridData = []
       var statusList=[]
     var shipmentKey=''
        return {
           shipmentSearchModel:shipmentSearchModel,
	    	columns: columns,
	        gridData: gridData,
            gmeta:gmeta,
            showSearch:showSearch,
            statusList:statusList,
			bookFreight:bookFreight,
			shipmentDetailsInput:shipmentDetailsInput
                }
      },

//initial data load

 ready: function(){
            var self=this
			Utils.executeSinglePageDataService("shipmentList",self.shipmentSearchModel).then(function(shipmentresult){
			//console.log("executeSinglePageDataService "+ shipmentresult)
			if(!(shipmentresult.constructor=== Array) && !shipmentresult){
			//console.log("logout"+ shipmentresult.charAt(0))
								if(shipmentresult.charAt(0) === '<'){
							    window.location.href = window.AppInfo.contextroot+"/logout.jsp";
							}
			}
			
                           var tempArray =shipmentresult.Shipment;
						   self.gridData = tempArray;
                         
                                  });
             
             
			

		},


  filters: {
	   	paginate: function(list) {
            return GridUtils.paginate(this.gmeta,list)
	   	}
    }
  ,
  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },
   

      formatForDisplay:function(serverDate) {
          return Utils.formatForDisplay(serverDate)
      },
       sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta,key, numeric)
      },
       isInTransit:function(row){
           if (row.Status.Status <=1400 )
               return false
           else 
               return true
       },
	   check : function(row){
			var self =this;
            if(row.Extn.LogisticsStatus && row.Extn.LogisticsStatus !== "Rejected") {
                self.bookFreight = false
             }else {
               if(row.Status.Status < 1400 || row.Status.Status > 1400 ) {
                     self.bookFreight = false;                
                } else {
                    self.bookFreight = true;
                }
             }
           /* if(row.Status.Status < 1400 || row.Status.Status > 1400 ) {
			 self.bookFreight = false;                
            } else {
                self.bookFreight = true
            } */
			self.shipmentDetailsInput.ShipmentKey = $('input[name=shipment]:checked').val();
	   },
	  clickBookFreight : function(){
		var self = this;
		var path={path:'/bookfreight',query:{key:self.shipmentDetailsInput.ShipmentKey}};
		this.$router.go(path);
	  
	    
	   },
    hasPermission:function(resourceId){
        return Utils.hasPermission(resourceId)
     }      
 
  },
  beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
   
    }
    
</script>
