<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- This is vue component for order summary in dashboard.-->
<template>
			 <div class=" panel-heading"> <h5> Orders</h5>  </div>
               <div class="panel-body">
                 <div class="row no-gutters">
                     

                         <ul class="list-inline list-unstyled Shipmentlist">
                     <li class="col-xs-4 find" v-for="row in gridData | orderBy 'Status'" >
                     <div class="status-pills text-center ">
                     <!--  <a href="orders.html">  -->
                       <a v-link="{ path: '/orderlist',query:{orderstatus:row['Status'].trim(),request:'Index'}}">
                       <div class="status-number">
                           {{getValue(row, "NoOfOrders")}}
                           <p>{{getValue(row, "StatusDescription")}}</p>
                       </div>
                       </a>
                     </div>
                   </li>
    </ul> 
                     <div class="clearfix"></div>
                     <div v-show="gridData" class="last_update"> Last Updated:
                         {{getDateTime(gridData[0],"UpdatedDate")}}</div> 
                  </div>
             </div>
</template>


<script>
	var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
  
    export default{

	  data: function () {
    
        var gridData = []
		
	    return {
	    	
	        gridData: gridData
           
   
	       }
      }
  ,
  
  ready: function(){
            var self=this
			
				    var success = function(result) 
					{
						self.gridData = result.OrsSummary
					}				
				Utils.executeDataService("getOrderSumaryDetails", success, null);
			},
		
  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },
      getDateTime: function(row, binding) {
          var serverdate= Utils.getValue(row, binding)
        return Utils.formatDateTime(serverdate)
      
      }
      
  
  } ,
  

	beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
    }
    </script>

    