<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- This is master vue component for displaying dashboard page of VP. Each of the display panels are child components and routed using vue-router-->
<template>
<!--[if IE]>
<style>
    .table-responsive {
         overflow-y:hidden;
    }
</style>
<![endif]-->
<div>
  <div id="header"></div>
         <div class="container-fluid CustomHgt">
       <div class="row ">
           <div class="col-md-8">
           <div class="alert alert-danger alert-dismissible hidden" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <strong> Message Title:</strong>  A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
         </div>
       </div>
              </div>
    <div class="container-fluid" cz-shortcut-listen="true">
        <div class="block  clearfix">
        <h5 class="pull-left">Dashboard</h5>
      </div>
     <div class="row m-t-10 dashboard-row-one">
       <div class="col-md-3 alert-panel col-sm-3 alert-large-box">
         <div class="box panel panel-default clearfix">
		 
		 <ordersummary></ordersummary>

           </div>
         </div>
       <div class="col-md-3  col-sm-3">
         <div class="box panel panel-default clearfix ">
          
		  <shipmentsummary></shipmentsummary>
		  
           </div>
       </div>
       <div class="col-md-3 col-sm-3">
         <div class="box panel panel-default clearfix">

		 <openorder></openorder>
		 
           </div>
       </div>
       <div class="col-md-3 col-sm-3">
         <div class="panel panel-default">
         
		 <commontask></commontask>
		 
           </div>
       </div>
     </div>
     <div class="row CusHeight">
     

		 <alertlist></alertlist>
		 
  
	   
	    <div v-show="showupload">
            <div class="modal fade" id="uploadFilePage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                          <!-- Modal content-->
                        <div class="modal-content">
                        <fileuploads
                            v-on:cancel="cancelFileUpload()">
                        </fileuploads>
                    </div>

                    </div>
                </div>
            </div>
            <div class="modal fade" id="inv-browse-modal-big1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
           </div>
	   
	<div class="col-md-6">
   <watchlist></watchlist>
   </div>

     </div>

     <div class="row CusHeight" v-show="checkordshp">
        
         
		 <orderlist></orderlist>
      

		 <shipmentlist></shipmentlist>
		 



            </div>
      <div class="row">
      <div class="col-sm-3 cusToggletext"><b>Show Tables for Orders and Shipments:</b></div>
          <div class="col-sm-3"><input class='tgl tgl-flat' id='showOrders'  type='checkbox' v-model="checkordshp" @click="setPreference" >
     <label class='tgl-btn' for='showOrders'></label></div>

      </div>





     



         </div>
</div>

	</template>
	<!--script>
	var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
	export default {
        
         data: function () {
           var showupload=false
		   var showasnload=false
           return {
            showupload:showupload,
			showasnload:showasnload
          }
      },
        
        methods: {

          uploadFile: function() {
          this.showupload=true
       },
		  uploadAsn: function() {
          this.showasnload=true	   
	   },
         cancelFileUpload: function(){

        }
      },
        beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }    

	}
</script>-->

	<script>
	var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
	
	 var DashOrderSummary = require('./DashOrderSummary.vue')
	 var DashShipmentSummary = require('./DashShipmentSummary.vue')
	 var DashOpenOrder = require('./DashOpenOrder.vue')
	 var DashCommonTask = require('./DashCommonTask.vue') 
	 var DashAlertList = require('./DashAlertSummary.vue')
	 var DashWatchList = require('./DashWatchList.vue')
     var DashOrderList = require('./DashOrderList.vue') 
	 var DashShipmentList = require('./DashShipmentList.vue') 
     
   
    
	export default {
     
	    components : {
        'ordersummary': DashOrderSummary,
		'shipmentsummary': DashShipmentSummary,
		'openorder': DashOpenOrder,
        'commontask' : DashCommonTask,
        'alertlist' : DashAlertList,
		'watchlist' : DashWatchList,
        'orderlist' : DashOrderList,
		'shipmentlist' : DashShipmentList
        
      },
	  data: function () {
		var checkordshp = false;
		
		return {
		  checkordshp:checkordshp
		}
	  },
        
     methods: {    
       setPreference: function() {

            if (typeof(Storage) !== "undefined") {
                // Code for localStorage/sessionStorage.
                sessionStorage.showOrders=!this.checkordshp
            }

        }
    },
    route: {
        activate: function(transition) {
            if (typeof(Storage) !== "undefined") {
                // Code for localStorage/sessionStorage.
                if(sessionStorage.showOrders) {
                    this.checkordshp = (sessionStorage.showOrders === "true" ? true : false)
                } else {
                    this.checkordshp = false
                }
                
            }	
            transition.next()
            
        }
    }    
   


	}
	
	
	$(document).ready(function() {
    //set initial state.
	});
    </script>

