<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved.**********-->
<!-- ***************************************************************************
        This is a list component for displaying the list of Ship Location 
        for a logged in vendor.This is also has a child component for creating 
        new ship locations, vide details and edit details                  
     ***************************************************************************-->

<template>
    <div>
        <div id="header"></div>
        <div class="container-fluid CustomHgt">
            <div class="row ">
                <div class="col-md-4">
                    <div v-breadcrumb="true"></div>
                </div>
            </div>
            <div class="row ">

                <!--<div class="col-md-12" v-if="apisuccess">
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong> Success:</strong> Changes were applied successfully</div>
                </div>-->
                <div class="col-md-12" v-if="apierror">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>API Error:</strong> {{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}.</div>
                </div>
            </div>    

        </div>
        <div class="container-fluid" cz-shortcut-listen="true">
                                
            <div class="block  clearfix">
                <h5 class="pull-left">Locations</h5>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-md-5  cal-box">
                        Show
                        <select class="select-style form-control">
                            <option selected="All">All</option>
                        </select>
                    </div>
                    <div class="text-right">
                        <a  class="btn btn-default SecondaryBtn" data-toggle="modal" data-backdrop="static" data-target="#createNewLocation" v-on:click="createLocDtl" > Create Location </a>  
                    </div>
                </div> 
                <div class="clearfix"></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                                    <!-- Defining Tableheader columns,and passing the bindings for sorting   -->
                                    <thead>
                                        <tr role="row">
                                          <th></th>
                                            <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('IdentifiedByParentAs')" :class="{active: gmeta.sort.key == 'IdentifiedByParentAs'}" >Location      
                                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['IdentifiedByParentAs'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                            </th>
                                            <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('Organization.OrganizationName')" :class="{active: gmeta.sort.key == 'Organization.OrganizationName'}">Location Name
                                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Organization.OrganizationName'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                            </th>
                                            <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ShipNodePersonInfo.City')" :class="{active: gmeta.sort.key == 'ShipNodePersonInfo.City'}">Suburb
                                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ShipNodePersonInfo.City'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                            </th>
                                            <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('ShipNodePersonInfo.State')" :class="{active: gmeta.sort.key == 'ShipNodePersonInfo.State'}">State
                                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ShipNodePersonInfo.State'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                            </th>                                           
                                             <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('ShipNodePersonInfo.ZipCode')" :class="{active: gmeta.sort.key == 'ShipNodePersonInfo.ZipCode'}">Post Code
                                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ShipNodePersonInfo.ZipCode'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- defining v-model for filter inputs across columns   -->
                                        <tr class="filter-row">
                                           
                                             <td class="center-filter">
                                                <div class="glyphicon glyphicon-filter"></div>
                                            </td>
                                            <td> <input type=text class="form-control" v-model="gmeta.filter.IdentifiedByParentAs"> </td>
                                            <td> <input type=text class="form-control" v-model="gmeta.filter.Organization.OrganizationName"> </td>
                                            <td> <input type=text class="form-control" v-model="gmeta.filter.ShipNodePersonInfo.City"> </td>
                                            <td> <input type=text class="form-control" v-model="gmeta.filter.ShipNodePersonInfo.State"> </td>
                                            <td><input type=text class="form-control" v-model="gmeta.filter.ShipNodePersonInfo.ZipCode"></td>
                                        </tr>
                                        <!--  v-for loop which loops through the result json and maps it to grid coulmns   -->
                                        <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']"  
                                            v-for=" row in gridData 
                                                   | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                                   | gridfilter gmeta.filter columns
                                                   | paginate " >
                                            <td></td>
                                            <td> <a  href="#" data-toggle="modal" data-target="#editLocationDtl" data-backdrop="static" v-on:click="startLocationDetail(row,$index)" >{{getValue(row, "IdentifiedByParentAs")}}   </a></td>
                                            <td> {{getValue(row, "Organization.OrganizationName")}}     </td>
                                            <td> {{getValue(row, "ShipNodePersonInfo.City")}}   </td>
                                            <td> {{getValue(row, "ShipNodePersonInfo.State")}}     </td>
                                            <td> {{getValue(row, "ShipNodePersonInfo.ZipCode")}}     </td>
                                        </tr>
                                    </tbody>
                                </table>
                               
                                    <div class=" m-t-7">
                                        <gridpagination 
                                                        :gmeta="gmeta"
                                                        :total-pages="totalPages"
                                                        v-on:setpage="setPage">
                                        </gridpagination >
                                    </div>
                   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Child Component for Create and Edit Location Information -->
        <div v-show="locationEdit">
            <div class="modal fade"  id="editLocationDtl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-content">
                            <shiplocationdetails
                                             :locationdtl="locationDtl"
                                             :edit="fieldedit"
                                             :editshipnode=true
											 :isasn = false
                                             v-on:apply = "editLocation()"
                                             v-on:cancel="cancelEdit()"   >
                            </shiplocationdetails>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="locationCreate">
            <div class="modal fade"  id="createNewLocation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-content">
                            <shiplocationdetails
                                             :locationdtl= "locationDtl"
                                             :edit = "fieldedit"
                                             :editshipnode = false
											 :isasn = false
                                             v-on:apply = "editLocation()"
                                              v-on:cancel="cancelCreate()">
                            </shiplocationdetails>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<!-- Vue Script Starts-->
<script>
	var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
	var GridUtils = require('./../utils/gridutils.js')
    var Logger = require('./../utils/loggerUtils.js')
    var $log = Logger.getInstance('Shipping Location List')
	export default {
        props: {
	   },
        
	  data: function () {
        var locationEdit = false; 
        var locationCreate = false; 
        var index = '0'
        var ownerOrg = window.AppInfo.orgcode
        var columns =   ['IdentifiedByParentAs','Organization.OrganizationName','ShipNodePersonInfo.Country','ShipNodePersonInfo.State','ShipNodePersonInfo.City']
        var gmeta = {}
        GridUtils.populateGridMeta(gmeta, columns, false)
        var locationDtl = {'IdentifiedByParentAs':'','Organization':{'OrganizationName':''},
                               'ShipNodePersonInfo':{'City':'','ZipCode':'','Country':'','State':'',
                                                   'EMailID':'','DayPhone':'','AddressLine1':'',
                                                   'AddressLine2':'','AddressLine3':''}
                              };
	  	var gridData = []
        var fieldedit = false
        var action = 'Modify'
        var apisuccess = false
        var apierror = false
        var errorcode = ''
        var errordesc = ''
        return {
	    	columns: columns,
            locationEdit:locationEdit,
	        gridData: gridData,   
            gmeta: gmeta,
            locationDtl:locationDtl,
            index:index,
            locationCreate:locationCreate,
            ownerOrg:ownerOrg,
            fieldedit:fieldedit,
            action:action,
            apisuccess:apisuccess,
            apierror:apierror,
            errorcode:errorcode,
            errordesc:errordesc
            
	       }
      },
        
	   methods: {	  
        getValue: function(row, binding) {
          return Utils.getValue(row,binding)
        },
        
        createLocDtl: function(){
            this.locationCreate = true
            this.fieldedit = false
            this.locationEdit=false
            this.action = 'Create'
            this.locationDtl = {'IdentifiedByParentAs':'','Organization':{'OrganizationName':''},
                               'ShipNodePersonInfo':{'City':'','ZipCode':'','Country':'','State':'',
                                                   'EMailID':'','DayPhone':'','AddressLine1':'',
                                                   'AddressLine2':'','AddressLine3':''}
                              };
            this.locationDtl.locationCreate = this.locationCreate;
            this.locationDtl.ownerOrg = this.ownerOrg;
        },
        
        startLocationDetail: function(msg1,i){
            this.action='Modify'
            this.index = i
            this.locationEdit = true
            this.fieldedit = true
            this.locationCreate = false
            this.locationDtl = JSON.parse(JSON.stringify(msg1));
            this.locationDtl.ownerOrg = this.ownerOrg;
        },
        // Method to sort columns
        sortBy: function (key, numeric) {
            GridUtils.sortBy(this.gmeta, key, numeric)
        },
        // Method to set pagination
        setPage: function(pageNumber) {
            GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
        },
        cancelCreate: function() {
            //this.locationCreate = true
            //this.fieldedit = false
        //    this.locationEdit=false

       },   
        cancelEdit: function() {
            //this.locationCreate = true
            this.fieldedit = false
        //    this.locationEdit=false

       },
        // Method to Create/Edit Location Details
        editLocation: function(){            
            var self= this;            
            /*this.locationDtl.locationCreate = false;
            var editShipContact = {'OrganizationCode':'','ParentOrganizationCode':'','PrimaryEnterpriseKey':'','OrganizationName':'',
                               'CorporatePersonInfo':{'City':'','ZipCode':'','Country':'','State':'',
                                                   'EMailID':'','DayPhone':'','AddressLine1':'',
                                                   'AddressLine2':'','AddressLine3':''},
                                   'Node':{'ActivateFlag':'Y','IdentifiedByParentAs':''} };
            editShipContact.OrganizationCode = this.ownerOrg+'-'+this.locationDtl.IdentifiedByParentAs
            editShipContact.PrimaryEnterpriseKey = this.ownerOrg;
            editShipContact.ParentOrganizationCode = this.ownerOrg
            editShipContact.OrganizationName = this.locationDtl.Organization.OrganizationName
            editShipContact.CorporatePersonInfo = this.locationDtl.ShipNodePersonInfo
            editShipContact.Node.IdentifiedByParentAs = this.locationDtl.IdentifiedByParentAs
            var apiOutput = function(result) {
                    if(self.action === 'Modify') {
                        self.gridData.$set(self.index,self.locationDtl)
                    } else if(self.action === 'Create') {
                        self.gridData.push(self.locationDtl)
                    } 
                self.apisuccess = true
                //API Success message times out after 10 seconds
                setTimeout(function(){self.apisuccess = false},Utils.getTimeOut())                 
                
            }
            var errorHandler = function(errorObj) {
                self.apierror = true
                self.errorcode = errorObj.ErrorCode
                self.errordesc = errorObj.ErrorDescription
                  //Error message times out after 10 seconds
                setTimeout(function(){self.apierror = false},Utils.getTimeOut()) 
            }
            $log.debug('Invoking manageShipLocation api')
            Utils.executeDataService("manageShipLocation",apiOutput, editShipContact,errorHandler);*/
            if(self.action === 'Modify') {
                //self.gridData.$set(self.index,self.locationDtl);                
                for(var i=0; i< self.gridData.length; i++){
                  if(self.gridData[i].IdentifiedByParentAs === self.locationDtl.IdentifiedByParentAs){
                      self.index = i;
                      //Cloning the object to avoid reactivity
                      var locationObj = JSON.parse(JSON.stringify(self.locationDtl))
                      self.gridData.$set(self.index,locationObj);
                      break;
                  }
                }
            } else if(self.action === 'Create') {
                //Cloning the object to avoid reactivity
               var createLocObj = JSON.parse(JSON.stringify(self.locationDtl))
                self.gridData.push(createLocObj)
            }  
        },
		getAPIErrorMessage: function() {
			return Utils.getAPIErrorMessage();
		}
        
	},
    
    
    filters: {
        paginate: function(list) {
            return GridUtils.paginate(this.gmeta,list)
        }
    },
  
    computed: {
      totalPages: function() {
        return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
      }
    },
        
	route: {
        canActivate: function(transition) {
            $log.debug('Before Activate checking for permissions')

            if(Utils.hasPermission('GPSVPNOD0001')) {
                transition.next()
            } else {
                //Doesn't have permission
                alert('Insufficient Privilege')
                transition.abort()
            }  
            
        },
		data: function (transition) {
		       var success = function(result) {
                   $log.debug('Location List Loaded')

					transition.next({
						gridData : result.ShipNode
					})
				}
               var input = {'OwnerKey': window.AppInfo.orgcode}
               $log.debug('Inside Route data.. invoking shipLocationList api')
               Utils.executeDataService("shipLocationList", success, input);
		}
        
    },

	beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
	}
</script>