<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying order details.
     ***************************************************************************-->
<template>
    <div>
    <div class="spinner-loading" v-if="$loadingRouteData" >
        <div class="loader"></div>
    </div> 
      <div class="container-fluid CustomHgt" cz-shortcut-listen="true">
          <div class="row ">
                   <div class="col-md-4">
                <div v-breadcrumb="true"></div>
            </div>
       </div>
          <div class="block  clearfix">
     <div >
          <div class="alert alert-danger alert-dismissible" role="alert" v-if="apierror">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}  
          </div>
        </div>
            <div >
          <div class="alert alert-danger alert-dismissible" role="alert" v-if="notValidOrg">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             You Don't have Permission to view this Order
    </div>
        </div>
              <h5 class="pull-left">Order Details</h5>
            <!-- List of actions -->    
              <div class="pull-right" >
                   <span v-if="hasPermission('GPSVPORD0001A01')">
                   <button type="button" class="btn btn-default SecondaryBtn" data-toggle="modal" data-target="#addNotesToOrder" 
                    title="Add & View Comments" data-backdrop="static" v-on:click="addNotesToOrder">Comments <span class="badge btnbadge">{{notesList ? notesList.length :0}}</span></button>
                 </span>
                  <button class="btn btn-default SecondaryBtn" id="acceptButton" data-toggle="modal" data-target="#acceptOrder" 
                                data-backdrop="static"   title="Accept Order" v-on:click="showAlert('accept', $event)" v-bind:disabled="rejectApplied || orderAccepted||notCreated||commited">Accept</button>
                    <button class="btn btn-default SecondaryBtn" data-toggle="modal" data-target="#rejectOrder" 
                              data-backdrop="static"  title="Reject Order" v-on:click="showAlert('reject', $event)" v-bind:disabled="rejectApplied ||orderAccepted||notCreated||commited">Reject</button>
                  
                  <button class="btn btn-default SecondaryBtn"    title="Save Order" v-on:click="showMessage()" v-bind:disabled="rejectApplied" >Save</button>
                  <button class="btn btn-default SecondaryBtn" data-toggle="modal" data-target="#cancelOrder" 
                                data-backdrop="static"   title="Cancel Order" v-on:click="showAlert('cancel', $event)">Cancel</button>
              </div>
          </div>
            <div class="block"   v-if="(getValue(orderHeader,'Extn.HasVendorAccepted') === 'Y') && showAcceptWarning && !commited && !shipped" >
                        <div class="alert alert-info" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    <strong>  Accepted:</strong> This order has been Accepted. 
               </div>
                </div>
        
          <div class="row">
              <div class="col-md-12">
                  <div class="panel panel-default m-t-10">
                      <div class="panel-heading">Order Details
                          <div class="pull-right">
                               <span v-if="hasPermission('GPSVPORD0001A02')">
                  <button class="btn btn-default SecondaryBtn"  v-bind:disabled="rejectApplied||commited||shipped||getCurrentDate()" data-toggle="modal" data-target="#commitAllOrder" title="Commit all orderlines" v-on:click="showAlert('commitall', $event)">Mark As Committed</button>
                 </span>
                              <button  class="btn btn-default SecondaryBtn RemoveList" v-on:click="removeFromWatchList()" v-show="isWatched" title="Remove from watchlist">Remove From Watchlist</button>
                              <button  class="btn btn-default SecondaryBtn AddList" v-on:click="addToWatchList()" v-show="!isWatched" title="Add to watchlist">Add to Watchlist</button>
                          </div>
                      </div>
                                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Order Number</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{ orderHeader.OrderNo}}</span>
                                    </div>
                                </div>
                                 <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Order Date</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left"> {{formatForDisplay(orderHeader.OrderDate)}} </span>
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Status</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{orderHeader.Status}}</span>
                                    </div>
                                </div>
                                 <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Order Type</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{orderHeader.OrderType}}</span>
                                    </div>
                                </div>
                                     </div>
                            <div class="col-md-3">
                                
                                 <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Source ID</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{orderHeader.OrderName}}</span>
                                    </div>
                                </div>
                                <!-- It displays various in case of multiple or just a the date in case of sinlge ReqshipDate-->
                                    <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Req Ship Date</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{checkRequestedDate('ship')}}</span>
                                    </div>
                                </div>
                                <!-- It displays no. of shipments in case of multiple or just a v-link in case of sinlge shipment-->
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Consignments</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left" v-if="zeroShipment"> {{shipmentLength}} </span>
                                        <span class="form-inline-left" v-if="singleShipment"> <a v-link="{ path:'/shipmentdetails',query:{key:shipmentKey}}"> {{shipmentLength}} </a></span>
                                        <span class="form-inline-left" v-if="!singleShipment & !zeroShipment"> <a v-link="{ path:'/shipments',query:{key:orderHeader['OrderNo'],request:'FromOrderDetails'}}"> {{shipmentLength}} </a></span>
                                    </div>
                                </div>
                               
                            </div>
                             <div class="col-md-3">
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Order Value</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{getValue(orderHeader,"PriceInfo.TotalAmount") | numberfilter}} </span>
                                    </div>
                                </div>
                                 <!-- It displays various in case of multiple or just a the date in case of sinlge ReqDeliveryDate-->
                               <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Req Delivery Date</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left"> {{checkRequestedDate('delivery')}} </span>
                                    </div>
                                </div>
                            </div>
                              <div class="col-md-3">
                  <div class="AddressContainer">
                      <!--for old address -->
                     <span v-if="!(orderHeader.CustomAttributes)">
                         
                         <span v-if="personInfoShipToAddress">
                              <addressdetails
                                         :addressdetails= "personInfoShipToAddress"
                                         :addresslabel="'Ship To Address'"
                                         >
                                 </addressdetails>
                             </span>
                         <span v-else>
                              <addressdetails
                                         :addressdetails= "personInfoBillToAddress"
                                         :addresslabel="'Ship To Address'"
                                         >
                                 </addressdetails>
                             </span>
                    </span>
                     <span v-else>
                         <!--for new address with custom attributes,various if boolean 3 is Y otherwise first shipto address-->
                              <span v-if="orderHeader.CustomAttributes.Boolean3==='Y'">
                                  <div>
                                          <h6>Ship To Address</h6> 
                                            <div class="AddressInside">
                                               VARIOUS-Address are shown at OrderLine Level
                                            </div>
                                    </div>
                                  </span>
                              <span v-else>
                                  <div>
                                            <addressdetails
                                         :addressdetails= "getFirstShipToAddress()"
                                         :addresslabel="'Ship To Address'"
                                         >
                                 </addressdetails>
                                    </div>
                                  </span>
                        </span> 
                    
                  </div>
              </div>
                          </div>
                      </div>
                  </div>
              </div>
            
          </div>
          <div class="panel panel-default">
              
          
              
              <div class="panel-heading">Line Items<span class="pull-right">
                   <span v-if="hasPermission('GPSVPORD0001A03')">
                   <button class="btn btn-default SecondaryBtn" v-on:click="createAsn()" v-bind:disabled="rejectApplied||asnDisable" title="Create Asn for selected orderLines">Create ASN</button>
                  </span>     
              </span>
              </div>
                   <div class="clearfix"> </div>
              <div class="panel-body">
                  <div class="table-responsive">
                      <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                          <thead>
                              <tr>
                                <th class="" rowspan="2" style="width: 20px;">
                                      <input type="checkbox" id="checkSelect" @click="selectAll()"> </th>
                                 
                                   <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" @click="sortBy( 'PrimeLineNo')" :class="{active: gmeta.sort.key =='PrimeLineNo'}"  style=
    "width: 70px;">Line No
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['PrimeLineNo'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th>
                                 
                                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" @click="sortBy('Item.ItemID')" :class="{active: gmeta.sort.key == 'Item.ItemID'}" >Item ID
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['Item.ItemID'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th>

                                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" baria-label="" @click="sortBy('Item.ItemShortDesc')" :class="{active: gmeta.sort.key == 'Item.ItemShortDesc'}">Item Description
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['Item.ItemShortDesc'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th>
                                  
                                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" baria-label="" @click="sortBy('LinePriceInfo.UnitPrice')" :class="{active: gmeta.sort.key == 'LinePriceInfo.UnitPrice'}">UOM
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['LinePriceInfo.UnitPrice'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th>    
                                    <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" baria-label="" @click="sortBy('Item.UnitOfMeasure')" :class="{active: gmeta.sort.key == 'Item.UnitOfMeasure'}">Unit Price
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['Item.UnitOfMeasure'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th>
                                  <th @click="sortBy('OrderedQty', true)" :class="{active: gmeta.sort.key == 'OrderedQty'}"> Order Qty
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['OrderedQty'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th>
                                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" @click="sortBy('CommittedQuantity', true)" :class="{active: gmeta.sort.key == 'CommittedQuantity'}" style=" width: 115px;"> 
                                    Committed Qty
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['CommittedQuantity'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th>
                                     <th rowspan="1" colspan="1" @click="sortBy('OrderLineTranQuantity.ShippedQuantity')" :class="{active: gmeta.sort.key == 'OrderLineTranQuantity.ShippedQuantity'}" > Shipped Qty
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['OrderLineTranQuantity.ShippedQuantity'] > 0 ? 
                                      'sort-up' : 'sort-down'" >
                                      </span>
                                  </th>
                                 
                                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" @click="sortBy('Status')" :class="{active: gmeta.sort.key == 'Status'}">Status
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['Status'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                       </th>
                                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('PersonInfoShipTo.ZipCode','order',true)" :class="{active: gmeta.sort.key == 'PersonInfoShipTo.ZipCode'}" v-if="ShipColumns" style=" width: 120px;">Ship To Address
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['PersonInfoShipTo.ZipCode'] > 0 ? 'sort-up' : 'sort-down'" >
							             </span>
                                         </th>
                                  
                                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1">Schedules</th>
                                          
                                   
                                  
                                  
                                 
                                  <th tabindex="0" aria-controls="example" rowspan="1" v-if="hasPermission('GPSVPORD0001A02')">Commit</th>
                              </tr>


                          </thead>
                          <tbody>
                              <tr role="row" class="filter-row">
                                  <td class="center-filter">
                                      <div class="glyphicon glyphicon-filter"></div>
                                  </td>
                                   
                                   <td>
                                 </td>
                                  <td>
                                      <input  type="text" class="form-control" v-model="gmeta.filter.Item.ItemID" title="Enter the Item Id of the orderLine">
                                  </td>
                                  <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.Item.ItemShortDesc" title="Enter the Item Description of the Item in  orderLine">
                                  </td>
                                   <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.Item.UnitOfMeasure" title="Enter the UOM of the Item">
                                  </td>
                                 <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.LinePriceInfo.UnitPrice" title="Enter the Unit Price of the Item">
                                  </td>
                                         <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.OrderedQty" title="Enter the Ordered quantity">
                                  </td>
                                  <td>
                                      <div class="icon-wrapper">
                                          <input type="text" class="form-control" v-model="gmeta.filter.CommittedQuantity" title="Enter the Committed Quantity">
                                      </div>
                                  </td>
                                  
                                  <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.OrderLineTranQuantity.ShippedQuantity" title="Enter the Shipped Quantity">
                                  </td>
                                  <td>
                                  
                                      <input type="text" class="form-control" v-model="gmeta.filter.Status" title="Enter the Order Line Status">
                                  </td>
                                    <td>
                                              <input type="text" class="form-control" v-model="gmeta.filter.PersonInfoShipTo.ZipCode" title="Enter the ZipCode" v-if="ShipColumns">
                                             </td>
                                   <td>
                                  </td>
                                   <td v-if="hasPermission('GPSVPORD0001A02')">
                                  </td>
                              </tr>
                              <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in gridData 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                | gridfilter gmeta.filter columns
                                | paginate " >

                                <td rowspan="1" colspan="1">
                                    <input type="checkbox" v-model="row.framework.checked">
                                    
                                </td>
                                 <!-- <td >{{getValue(row,'PrimeLineNo')}}</td>-->
                                   <td><a  href="" data-target="#orderDetailsLink" data-toggle="modal" data-backdrop="static" v-on:click="orderLineDetailsLink(row)"> {{getValue(row, "PrimeLineNo") }} </a>   </td> 
                                <td>{{getValue(row,'Item.ItemID')}}</td>
                                 <td id="DesRow{{$index}}" class="descriptionCls" v-on:click= "toggleHeight($index,row)"> <i class="fa fa-play" v-if="row.Item.ItemShortDesc.length > 25"></i>   {{getValue(row, "Item.ItemShortDesc")}}   </td> 
                                 <td>{{getValue(row,'Item.UnitOfMeasure')}}</td>
                                 <td style="text-align: right">{{getValue(row,'LinePriceInfo.UnitPrice')}}</td>
                                  <td  style="text-align: right">{{getValue(row, "OrderedQty") | numberfilter }}</td>
                                <td  style="text-align: right">{{getCommmitedQty(row) | quantityfilter}}</td>
                               
                                <td  style="text-align: right">{{getValue(row, "OrderLineTranQuantity.ShippedQuantity") | quantityfilter}}</td>
                                
                                <td>{{getValue(row, "Status")}}</td>
                                  <!-- only if ship to address is various-->
                                  <td v-if="ShipColumns"><a href="" data-toggle="modal" data-target="#addressDetails"  title="Address" v-on:click="getShipToAddress(row)"> {{getValue(row, "PersonInfoShipTo.ZipCode")}}</a></td>
                                   <td>{{getScheduleCount(row) | integerfilter}}</td>
                                 
                                <td>
                                          <span v-if="hasPermission('GPSVPORD0001A02')">
                                              <button type="button" class="btn btn-default commitment" v-bind:disabled="(rejectApplied ||(row.Status === 'Cancelled')) "  data-toggle="modal" data-backdrop="static" data-target="#schedule" title="Manage Commitment" v-on:click="startEdit(row)"><i class="fa fa-list-alt" aria-hidden="true"></i></button>
                                          </span>
                                </td>
                              </tr>
                          </tbody>
                      </table>
                      <div class="m-t-10">
                          <gridpagination 
                              :gmeta="gmeta"
                              :total-pages="totalPages"
                              v-on:setpage="setPage">
                          </gridpagination>
                      </div>

                      </div>
                  </div>
              </div>
          </div>
          <div v-show="gmeta.edit.editing">
            <div class="modal fade" id="schedule" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <schedule
                      :orderline="editingOrderLine"
                      v-on:cancel="cancelEdit(editingOrderLine)"

                      >
                      </schedule>
                    </div>

                </div>
            </div>
          </div>
          <div class="modal fade" id="view_schedule" role="dialog">
              <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">

                  </div>

              </div>
          </div>
    <div v-show="showAlertVar">
      <div class="modal fade" id="acceptOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-content">
              <alertconfirmation
                
                :message="'Are you sure you want to accept?'"           
                v-on:cancel="cancel()"
                v-on:confirm="editOrderLine()"
                >
              </alertconfirmation>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-show="showAlertVar">
      <div class="modal fade" id="rejectOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-content">
              <alertconfirmation
               
                :message="'Are you sure you want to reject?'"           
                v-on:cancel="cancel()"
                v-on:confirm="editOrderLine()"
                >
              </alertconfirmation>
            </div>
          </div>
        </div>
      </div>
    </div>
        
     <div v-show="showAlertVar">
      <div class="modal fade" id="commitAllOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-content">
              <alertconfirmation
               
                :message="'Are you sure you want to commit All?'"           
                v-on:cancel="cancel()"
                v-on:confirm="commitAll()"
                >
              </alertconfirmation>
            </div>
          </div>
        </div>
      </div>
    </div>  
 <!--    <div v-show="showAlertVar">-->
      <div class="modal fade" id="commitOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-content">
              <alertconfirmation
                :message="'Are you sure you want to commit?'"           
                v-on:cancel="cancel()"
                v-on:confirm="commitOrder()"
                >
              </alertconfirmation>
            </div>
          </div>
        </div>
  <!--     </div>-->
    </div>
    <div v-show="showAlertVar">
      <div class="modal fade" id="cancelOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-content">
              <alertconfirmation
                :message="'You will lose your changes.<br> Do you want to Continue?'"           
                v-on:cancel="cancel()"
                v-on:confirm="goBack()"
                >
              </alertconfirmation>
            </div>
          </div>
        </div>
      </div>
    </div> 
     <div v-show="editingOrderDetails">
            <div class="modal fade" id="addNotesToOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                          <!-- Modal content-->
                        <div class="modal-content">
                        <ordercomments
                          :orderdetails="editingOrderDetails"
                          :notesarray="notesList"               
                          v-on:cancel="cancelAddNotes()"
                          v-on:addNotes="saveNotes(editingOrderDetails)"
                          >
                        </ordercomments>
                        </div>

                    </div>
                </div>
            </div> 
          </div>
     <div class="modal fade" id="checkBoxAlert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-content">
              <messagebox
                :message="'Select atleast one order Line '"           
                v-on:confirm="cancel()"
                >
              </messagebox>
            </div>
          </div>
        </div>         
   </div>  
     <div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-content">
              <messagebox
                :message="'No changes to save '"           
                v-on:confirm="cancel()"
                >
              </messagebox>
            </div>
          </div>
        </div>         
   </div>  
    <div class="modal fade" id="checkOrderLines" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-content">
              <messagebox
                :message="'Asn cannot be created in the current status for one or more orderlines'"           
                v-on:confirm="cancel()"
                >
              </messagebox>
            </div>
          </div>
        </div>         
   </div>
         <div class="modal fade" id="checkShipKey" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-content">
              <messagebox
                :message="'Asn cannot be created if one or more orderlines have different Ship To Address'"           
                v-on:confirm="cancel()"
                >
              </messagebox>
            </div>
          </div>
        </div>         
   </div>
         <div >
            <div class="modal fade" id="addressDetails" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <noneditableaddress
                      :address="orderLineShipTo"
                      >
                      </noneditableaddress>
                    </div>

                </div>
            </div>
               </div>
         <div v-show="showOrderLineLink">
            <div class="modal fade" id="orderDetailsLink" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                          <!-- Modal content--> 
                        <div class="modal-content">
                       <orderlinedetails
                          :orderlinedetails="orderLineDetails"
                          :documenttype=orderHeader.DocumentType              
                          v-on:close="closeLink()"                          
                          >
                        </orderlinedetails>
                        </div>

                    </div>
                </div>
            </div> 
          </div>
       <div hidden>
      <input class="hidden" value= {{$route.query.key}}  v-model="OrderDetailsInput.OrderHeaderKey"/>{{$route.query.key | json}}  {{Order | json}} </div>
    </div>
</template>
<script>
  var Vue = require('vue')
  var Utils = require('./../utils/utils.js')
  var GridUtils = require('./../utils/gridutils.js')
  export default {
   props: {
      data: Array,
    },
    data: function () {
      var columns = ['PrimeLineNo','Item.ItemID', 'Item.ItemShortDesc','Item.UnitOfMeasure','LinePriceInfo.UnitPrice','SupplierItem','SupplierItemDesc','ShipNode','ReqDeliveryDate','OrderedQty','CommittedQuantity', 'Extn.OrderLineCommitmentList', 'OrderLineTranQuantity.ShippedQuantity', 'CommitedDate', 'Status','PersonInfoShipTo.ZipCode' , 'Actions']
      var gridData = []
        var gmeta = {}
        var schedules = []
        GridUtils.populateGridMeta(gmeta, columns, true)

      var orderHeader = {}
      var OrderDetailsInput = {}
        var editingOrderLine = this.getDummyOrderLine()
        var watchListInput={}
        var rejectApplied =false
        var isWatched=false
        var showAcceptWarning=false
        var orderAccepted=false
        var notCreated=false
        var showAlertVar=false
        var commited=false
        var action={}
        var selectAllRows = false
        var shipped=false
        var editingOrderDetails={'Notes':{'Note':[]}};
        var notesList=[];
        var asnDisable=false
        var personInfoBillToAddress={};
        var personInfoShipToAddress={};
        var alteredCheck=false
        var shipmentLength = 0
        var singleShipment=true
        var shipmentKey={}
        var errorcode
       var errordesc
       var apierror=false
       var zeroShipment=false
       var ShipColumns=true
        var orderLineShipTo={}
        var showOrderLineLink=false
        var orderLineDetails=this.getDummyOrderLineDetails()
        var ownerOrg = window.AppInfo.orgcode
        var notValidOrg=false
      return {
          isActive: false,
        columns: columns,
        gridData: gridData,
            gmeta: gmeta,
        orderHeader: orderHeader,
        OrderDetailsInput:OrderDetailsInput,
            editingOrderLine: editingOrderLine,
            schedules: schedules,
            watchListInput:watchListInput,
            isWatched:isWatched,
            rejectApplied:rejectApplied,
            showAcceptWarning:showAcceptWarning,
            orderAccepted:orderAccepted,
            notCreated:notCreated,
            showAlertVar:showAlertVar,
            action:action,
            commited:commited,
            selectAllRows: selectAllRows,
            editingOrderDetails:editingOrderDetails,
            notesList:notesList,
            shipped:shipped,
            asnDisable:asnDisable,
            personInfoBillToAddress:personInfoBillToAddress,
            personInfoShipToAddress:personInfoShipToAddress,
            alteredCheck:alteredCheck,
           shipmentLength:shipmentLength,
           singleShipment:singleShipment,
           shipmentKey:shipmentKey,
           errorcode:errorcode,
           errordesc:errordesc,
           apierror:apierror,
          zeroShipment:zeroShipment,
           orderLineShipTo:orderLineShipTo,
           ShipColumns:ShipColumns,
          showOrderLineLink:showOrderLineLink,
          orderLineDetails:orderLineDetails,
          notValidOrg:notValidOrg,
          ownerOrg:ownerOrg
      }
    },
   methods: {
      createAsn: function() {
        var selectedLines = GridUtils.getSelectedRows(this.gmeta, this.gridData)
        var  asnCheck=true
        var  asnPersonInfoCheck=false
        //doesnt allow if orderlines belong to e address
        if(selectedLines.length>0){
        var firstShipToKey= selectedLines[0].ShipToKey
        
               for(var i=1;i<selectedLines.length;i++)      {                     
                         if ( firstShipToKey != selectedLines[i].ShipToKey  )
                                                {
                                                   asnPersonInfoCheck=true ;
                                                   break
                                                }
               }
        }
             if (asnPersonInfoCheck){
                      $('#checkShipKey').modal('show')
                      return
                 }
        //check status of each orderlines and prevents asn if they fail the condition
     selectedLines.forEach(function(temp){
                                if ( (temp.MaxLineStatus >= 3700 &&  temp.MultipleStatusesExist==='N') || (temp.MaxLineStatus >= 3700 &&  temp.MultipleStatusesExist==='Y' && temp.MinLineStatus >= 3700   )     )
                                    {
                                       asnCheck=false ;
                                       return
                                    }
                            } ) 
     if (!asnCheck){
          $('#checkOrderLines').modal('show')
          return
     }
     //atleast one orderline
        if(!selectedLines || selectedLines.length == 0) {
         // alert("select a order line")
            $('#checkBoxAlert').modal('show')
          return
        }
        
        if (typeof(Storage) !== "undefined") {
                // Code for localStorage/sessionStorage.
                var neworderHeader = JSON.parse(JSON.stringify(this.orderHeader))
                delete neworderHeader.OrderLines
                sessionStorage.OrderHeaderObj=JSON.stringify(neworderHeader)
                sessionStorage.OrderLineObj=JSON.stringify(selectedLines)
        } else {
            window.AppInfo.Asn = {}
            var orderHeader = JSON.parse(JSON.stringify(this.orderHeader))
            delete orderHeader.OrderLines
            window.AppInfo.Asn.OrderHeader = orderHeader
            window.AppInfo.Asn.OrderLines = JSON.parse(JSON.stringify(selectedLines))

        }  
        this.$router.go('createasn')
      },
       //for item id greater than 25 chars
         toggleHeight: function($index,row) {
             if(row.Item.ItemShortDesc.length>25){
                    $("#DesRow"+$index).toggleClass("active");
             }
            } ,
       //to select all cehck boxes
      selectAll: function() {
        this.selectAllRows = !this.selectAllRows
        GridUtils.selectAll(this.gmeta, this.gridData, this.selectAllRows)
      },
       //to calcualte the schedule count
      getScheduleCount: function(row) {
        var schedule = this.getValue(row, 'Extn.OrderLineCommitmentList.OrderLineCommitment')
        if(schedule) {
          return schedule.length
        }
        return 0
      },
       //to calcualte committed qty
      getCommmitedQty: function(row) {
        var schedules = this.getValue(row, 'Extn.OrderLineCommitmentList.OrderLineCommitment')
        var qty=0.0
        if(schedules) {
            schedules.forEach(function(temp){
               qty+=parseFloat(temp.CommittedQuantity) 
            })
        }
        return qty
   },        
      getValue: function(data, binding) {
        return Utils.getValue(data,binding)
      },
      setPage: function(pageNumber) {
        GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
      },
       //methods to edit grid lines
      startEdit: function(row) {
        if(!row.Extn) {
            Vue.set(row, 'Extn', {})
        }
        if(!row.Extn.OrderLineCommitmentList) {
            Vue.set(row.Extn, 'OrderLineCommitmentList', {})
        }
        if(!row.Extn.OrderLineCommitmentList.OrderLineCommitment) {
            Vue.set(row.Extn.OrderLineCommitmentList, 'OrderLineCommitment', [])
        }
        this.editingOrderLine = row
        //this.schedules = row.Extn.OrderLineCommitmentList.OrderLineCommitment
        GridUtils.startEdit(this.gmeta, row)
      },
      doneEdit: function(row,alteredcheck) {
        GridUtils.doneEdit(this.gmeta, row)
        row.framework={}
        row.framework.alteredCheck=true
        this.editingOrderLine = this.getDummyOrderLine()
        this.alteredCheck=alteredcheck
      },
      cancelEdit: function(row) {
        GridUtils.cancelEdit(this.gmeta, row, this.columns)
        this.editingOrderLine = this.getDummyOrderLine()
      },
      sortBy: function (key, isNumeric) {
        GridUtils.sortBy(this.gmeta, key, isNumeric)
      },
      getDummyOrderLine: function() {
        var dummyOrderLine = {}
        dummyOrderLine['Extn'] = {}
        dummyOrderLine.Extn['OrderLineCommitmentList'] = {}
        return dummyOrderLine
      },
       
        formatForDisplay:function(serverDate) {
          return Utils.formatForDisplay(serverDate,"filter")
        
        }
         ,
       //function to add the order to watchlist
         addToWatchList:function(event){
       //     event.preventDefault()
            var self = this
           this.watchListInput.OrderHeaderKey= this.orderHeader.OrderHeaderKey
           this.watchListInput.OrganizationCode= this.orderHeader.EnterpriseCode           
           this.watchListInput.OrderNo= this.orderHeader.OrderNo
           this.watchListInput.Status= this.orderHeader.Status 
           if(this.orderHeader.ReqDeliveryDate) {
                this.watchListInput.ReqDeliveryDate= this.orderHeader.ReqDeliveryDate
           }
        if(this.orderHeader.ReqShipDate) {     
            this.watchListInput.ReqShipDate= this.orderHeader.ReqShipDate
        }
           this.watchListInput.TotalAmount= this.orderHeader['PriceInfo']['TotalAmount']
           var success = function(result) {
              self.isWatched=true
        }
      Utils.executeDataService("createWatchedOrder", success, self.watchListInput,self.errorHandler);

         },
       //function to remove the order from watchlist
            removeFromWatchList:function(event){
       //     event.preventDefault()
            var self = this
           this.watchListInput.OrderHeaderKey= this.OrderDetailsInput.OrderHeaderKey
            var success = function(result) {
               self.isWatched=false
                      
        }
      Utils.executeDataService("removeWatchedOrder", success, self.watchListInput,self.errorHandler);

         },

      showAlert:function(action, event){
                                                if(event) {
                                                                var target = event.srcElement || event.target
                                                                if(target && target.hasAttribute('disabled')) {
                                                                                event.preventDefault()
                                                                                event.stopPropagation()
                                                                                return
                                                                }
                                                }
          var self=this
            self.showAlertVar=true
            self.action=action
        }

,      
       //accept or reject order function
      editOrderLine:function(event){
                       var vendorAcceptInput={}
              var self =this
              
              vendorAcceptInput.OrderHeaderKey= this.OrderDetailsInput.OrderHeaderKey
              vendorAcceptInput.OrderNo=this.OrderDetailsInput.OrderNo
              vendorAcceptInput.OrderName=this.OrderDetailsInput.OrderName
              vendorAcceptInput.SellerOrganizationCode=this.OrderDetailsInput.SellerOrganizationCode
              if (self.action==="accept"){
                if ((self.orderHeader.MaxOrderStatus<1100.10000) || (self.orderHeader.MaxOrderStatus===1100.10000 && self.orderHeader.MultipleStatusesExist==='Y') ) {
                 vendorAcceptInput.SendToVendor='N'   
                }
                else 
                {
                         vendorAcceptInput.SendToVendor='Y'
                }
                vendorAcceptInput.Action="ACCEPT" 
               
              }                 
              else 
                  vendorAcceptInput.Action="REJECT_ALL"
                  
                   var success = function(result) {
                                       if (self.action==="accept"){
                                       self.orderHeader.Extn.HasVendorAccepted='Y'
                                       self.orderAccepted=true
                                       self.notesList =result.Notes.Note
                                       self.orderHeader.Status='PO Sent To Vendor'
                                       self.showAcceptWarning=true
                                       setTimeout(function(){ self.showAcceptWarning=false},Utils.getTimeOut())
                                       self.orderHeader.OrderLines.OrderLine.forEach(function(temp){
                                                   temp.Status='PO Sent To Vendor'
                                                } )
                                     }
                                        else  
                                           {
                                            self.orderHeader.OrderLines.OrderLine.forEach(function(temp){
                                                   temp.Status='Rejected'
                                                } ) 
                                            self.orderHeader.Status='Rejected'
                                            self.disable()
                                            self.notesList =result.Notes.Note
                                        } 
              }
            Utils.executeDataService("vp_vendorActions", success,vendorAcceptInput,self.errorHandler);  

           },
       cancel:function(event){
            this.showAlertVar=false
        },
       // disable the buttons on various conditions
        disable:function(){
             var self =this
             self.rejectApplied=true
             self.showAcceptWarning=false
           
         },
       // commits particalar odreline
         commitOrder:function(event){
             
            var tempOrderLines=[]
             var vendorCommitmentInput={
            'OrderNo': '',
            'OrderHeaderKey':'',
            'SellerOrganizationCode':'',
            'OrderLines': {
                       'OrderLine':[{
                               'OrderLineKey':'',
                                'PrimeLineNo':'',
                                'SubLineNo':'',
                                 'OrderedQty':'',
                                 'Extn':{
                                     'OrderLineCommitmentList':{
                                         'OrderLineCommitment':
                                                {
                                             'OrderLineKey':'',
                                             'CommitDeliveryDate':'',
                                             'CommittedQuantity':''
                                                     }
                                                              }
                                        }
                           
                       }]
                        }
                 }
             
             var vendorOrderLines=[]
             var self =this
             vendorCommitmentInput.OrderNo=this.orderHeader.OrderNo,
            vendorCommitmentInput.OrderName=this.orderHeader.OrderName,
             vendorCommitmentInput.OrderHeaderKey=this.orderHeader.OrderHeaderKey,
             vendorCommitmentInput.SellerOrganizationCode=this.orderHeader.SellerOrganizationCode  
             tempOrderLines=this.orderHeader.OrderLines.OrderLine
                        tempOrderLines.forEach(function(tmpOrderLine){
                            if(tmpOrderLine.framework.alteredCheck== true){
                            var vendorOrderLine = {}
                            vendorOrderLine.OrderLineKey = tmpOrderLine.OrderLineKey
                            vendorOrderLine.PrimeLineNo= tmpOrderLine.PrimeLineNo   
                            vendorOrderLine.SubLineNo=tmpOrderLine.SubLineNo
                            vendorOrderLine.OrderedQty=tmpOrderLine.OrderedQty
                            vendorOrderLine.Extn=tmpOrderLine.Extn
                            delete vendorOrderLine.Extn.PastOrderLineCommitmentList
                            vendorOrderLines.push(vendorOrderLine)
                            }
                        });
             vendorCommitmentInput.OrderLines.OrderLine= vendorOrderLines
             var mashupInput={
                 'vp_commitOrderline':vendorCommitmentInput,
                 'completeOrderDetails':this.OrderDetailsInput
             }
             
            var self = this
            var success = function(result) {
                self.orderHeader = result.completeOrderDetails
                 GridUtils.resetEdit(self.gmeta, result.completeOrderDetails.OrderLines.OrderLine)
                 $( "#checkSelect" ).trigger( "click" )
                self.gridData = result.completeOrderDetails.OrderLines.OrderLine
                self.commited=true
                
            }
            
            Utils.executeDataService("commitOrderAggregator",success,mashupInput,self.errorHandler);
      
         },
       //takes back to orderdetails
         goBack:function(event){
             this.showAlertVar=false
             Vue.nextTick(function() {
                setTimeout( function() {
                                history.go(-1)
                            },
                           1000)
             })
         }
         
         ,
       //commits all the lines
         commitAll:function(event){
             
               var vendorCommitmentInput={}
              var self =this
              vendorCommitmentInput.OrderHeaderKey= this.OrderDetailsInput.OrderHeaderKey
              vendorCommitmentInput.OrderName=this.OrderDetailsInput.OrderName
              vendorCommitmentInput.OrderNo=this.OrderDetailsInput.OrderNo
              vendorCommitmentInput.SellerOrganizationCode=this.OrderDetailsInput.SellerOrganizationCode
               var mashupInput={
                 'vp_commitEntireOrder':vendorCommitmentInput,
                 'completeOrderDetails':this.OrderDetailsInput
             }
               var success = function(result) {
                 self.orderHeader = result.completeOrderDetails   
              GridUtils.resetEdit(self.gmeta, result.completeOrderDetails.OrderLines.OrderLine)
              if($( "#checkSelect" ).prop('checked')){
              $( "#checkSelect" ).trigger( "click" )
              }
                self.gridData = result.completeOrderDetails.OrderLines.OrderLine
                self.commited=true     
                     
        }
       Utils.executeDataService("commitEntireOrderAggregator",success,mashupInput,self.errorHandler);
             
         },
       addNotesToOrder: function(){
          this.editingOrderDetails = this.orderHeader;
      },
        saveNotes: function(editingOrderDetails){
             //this.notesList = editingOrderDetails.Notes.Note
         },
        cancelAddNotes: function(){
             
         },
         hasPermission:function(resourceId){
            return Utils.hasPermission(resourceId)
         },
       //function to show respective models
        showMessage:function() {
            if (this.alteredCheck)
                 $('#commitOrder').modal('show')
          else 
              $('#save').modal('show')
                
        }
       ,
     errorHandler : function(errorObj) {
               var self=this
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  //Error message times out after 10 seconds
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
              },
		getAPIErrorMessage: function() {
			return Utils.getAPIErrorMessage();
		},
       //checks requested delivery date and req shipdate and returns date if it is same across all orderlines and various if not
    checkRequestedDate:function(index){
        if(this.orderHeader.CustomAttributes) {
                    if (index ==='ship'){
                          if( this.orderHeader.CustomAttributes.Boolean1 && this.orderHeader.CustomAttributes.Boolean1==='Y')
                              {
                                return 'VARIOUS'
                              }
                             else {
                                 return this.formatForDisplay(this.orderHeader.ReqShipDate)
                             }
                         }
                    else{
                           if(this.orderHeader.CustomAttributes.Boolean2 && this.orderHeader.CustomAttributes.Boolean2==='Y')
                              {
                                return 'VARIOUS'
                              }
                        else{
                             return this.formatForDisplay(this.orderHeader.ReqDeliveryDate)
                        }
                           
                      }
        } else {
                           if (index ==='ship'){
                                     return this.formatForDisplay(this.orderHeader.ReqShipDate)
                           } else if(index ==='delivery'){
                                     return this.formatForDisplay(this.orderHeader.ReqDeliveryDate)
                           }
        }
     },
       //gets shiptoaddress of first orderline
     getFirstShipToAddress:function(){
         this.ShipColumns=false
       return this.gridData[0].PersonInfoShipTo
    },
       // gets shiptoaddress of given row
    getShipToAddress:function(row){
        this.orderLineShipTo=row.PersonInfoShipTo
    },
       /// this will disable commit all if req delivery date is less than current date
    getCurrentDate: function ()
      {
          var date = new Date();
          var current=(date.getFullYear()+'-'+('0' + (date.getMonth()+1)).slice(-2)
                            +'-'+('0' + (date.getDate())).slice(-2))
            if(this.orderHeader.ReqDeliveryDate){
                 var reqDelDate= (this.orderHeader.ReqDeliveryDate.slice(0,10))
                 if (current > reqDelDate){
                    return true 
                 }else{
                     false 
                 }}
            },
     orderLineDetailsLink: function(row){
         this.showOrderLineLink = true;
         this.orderLineDetails = JSON.parse(JSON.stringify(row)); 
         this.orderLineDetails.OrderNo= this.orderHeader.OrderNo;
     },
       closeLink: function(){
             this.orderLineDetails = this.getDummyOrderLineDetails()
         },
     getDummyOrderLineDetails: function() {
             var dummyOrderLineDet = {'PrimeLineNo':'', 
                               'OrderStatuses':{'OrderStatus':[{}]},
                               'Notes':{'Note':[{}]},
                                'Item':{},
                                'LinePriceInfo':{'UnitPrice':''},
                                'OrderLineTranQuantity':{},
                                'Extn':{'OrderLineCommitmentList':{}}
                               }; 
             return dummyOrderLineDet
         }
   }
	   
    ,
    computed: {
        totalPages: function() {
            return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
        }

    }
     ,
    filters: {
        paginate: function(list) {
          return GridUtils.paginate(this.gmeta, list, this.totalPages)
        }
      }
    ,
events:{
    'apply': function(alteredcheck){
        this.doneEdit(this.editingOrderLine,alteredcheck)
    }
},       
    route: {
        canReuse: function (transition) {
             
            if(transition.from.name === 'OrderDetails'){
              return false;
            }
            else{
                    return true;
            }
        },
        
    data: function (transition) {
  
           var self = this
           var success = function(result) {
         var orderHeaderDet= {}
                 orderHeaderDet = result
                 self.isWatched=orderHeaderDet.IsWatchedByUser
                 if(result.Shipments.Shipment){
                                    self.shipmentLength=result.Shipments.Shipment.length
                                    if(self.shipmentLength===1){
                                                  self.shipmentKey=result.Shipments.Shipment[0].ShipmentKey
                                                  self.singleShipment=true  
                                               }
                                      else {
                                                  self.singleShipment=false
                                               }
                               }else 
                                  {        
                                self.zeroShipment=true
                                self.singleShipment=false
                                self.shipmentLength=0
                             }
                 if(orderHeaderDet.IsWatchedByUser==='Y')
                    self.isWatched=true
                 else
                   self.isWatched=false
              
                if(result.Status === "Rejected"){
                   self.disable()}
                   
                if(result.Extn.HasVendorAccepted === 'Y')
                   {self.orderAccepted=true }
                
                if(result.MaxOrderStatus < 1100.10000)
                   {self.notCreated=false} 
                else 
                   {self.notCreated=true}
              var orderLines=result.OrderLines.OrderLine
               orderLines.forEach(function(temp){
                       if(temp.Item.ItemDesc){
                          temp.Item.ItemID=temp.Item.ItemDesc
                       }
                     if(temp.MaxLineStatus >= 1260.10000)
                                    {
                                       self.commited=true ;
                                     return
                                    }
                            } )
               
                
                if (result.MaxOrderStatus >= 3700 )
                   {self.shipped=true }

               if ( (result.MaxOrderStatus >= 3700 &&  result.MultipleStatusesExist==='N') || (result.MaxOrderStatus >= 3700 &&  result.MultipleStatusesExist==='Y' && result.MinOrderStatus >= 3700   )     )
                   {self.asnDisable=true }
               
                GridUtils.resetEdit(self.gmeta, result.OrderLines.OrderLine)
                var noteArr = []
                if(result.Notes.Note) {
                    noteArr = result.Notes.Note
                }
               if (self.ownerOrg=== result.SellerOrganizationCode && result.DocumentType=== '0005' ){
             transition.next({
                    orderHeader: orderHeaderDet,
                    gridData: result.OrderLines.OrderLine,
                    notesList : noteArr,
                    personInfoBillToAddress: orderHeaderDet.PersonInfoBillTo,
                    personInfoShipToAddress:orderHeaderDet.PersonInfoShipTo
                })
               }
               else{
                   self.notValidOrg=true
                   transition.next()
               }
                
              }
           
            var errorHandler = function(errorObj) {
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  //Error message times out after 10 seconds
                  transition.next()
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
              }
           
            
      Utils.executeDataService("completeOrderDetails", success, self.OrderDetailsInput,errorHandler);
    
      }
    },
    beforeDestroy: function() {
      $(this.$el).remove();
      $(this.$el).removeData();
    }
  }
</script>
