<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying order line details
     ***************************************************************************-->
<template>
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="">Order Line Details</h4>
    </div>
    
      <div class="panel-body">
          <div class="panel panel-default m-t-10">
    <div class="panel-heading">
    <span class="OrderlinePad">Line Details - {{orderlinedetails.OrderNo}} , Line Number - {{orderlinedetails.PrimeLineNo}}
    </span>    </div>
              <div class="panel-body CusBody">
                    <div class="">
                            <div class="row col-md-4">
                                
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Item ID</label>
                                    <div class="col-sm-6">
                                         <span class="form-inline-left descriptionCls"  v-bind:class="{ active: isActive }" v-on:click= "toggleHeight()" > <i class="fa fa-play" v-if="orderlinedetails.Item.ItemID && orderlinedetails.Item.ItemID.length >10"></i>{{orderlinedetails.Item.ItemID}} </span>
                                     <!--   <span class="form-inline-left">{{orderlinedetails.Item.ItemID}}</span>-->
                                    </div>
                                </div>
                                           
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Status</label>
                                    <div class="col-sm-6">
                                      <span class="form-inline-left"> {{orderlinedetails.Status}}</span>
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Supplier Item</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{orderlinedetails.Item.SupplierItem}}</span>
                                    </div>
                                </div>
                                   <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Ordered Qty</label>
                                    <div class="col-sm-6">
                                      <span class="form-inline-left"> {{orderlinedetails.OrderedQty}}</span>
                                    </div>
                                </div>
                                 <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Request Delivery Date</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{orderlinedetails.ReqDeliveryDate | datefilter}}</span>
                                    </div>
                                </div>
                              
                                <div class="form-group clearfix m-t-10" v-if=" documenttype === '0005'">
                                    <label for="" class="col-sm-6 control-label ">Schedules</label>
                                    <div class="col-sm-6">
                                     {{getScheduleCount(orderlinedetails.Extn.OrderLineCommitmentList.OrderLineCommitment) | integerfilter}}
                                    </div>
                                </div>
                                  <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Priority</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{orderlinedetails.Extn.PriorityCode}}</span>
                                    </div>
                                </div>
                                
                                
                            </div>
                            <div class="row col-md-4">
                                
                                  <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Item Description</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left descriptionCls"  v-bind:class="{ active: isActive }" v-on:click= "toggleHeight()" > <i class="fa fa-play" v-if="orderlinedetails.Item.ItemShortDesc && orderlinedetails.Item.ItemShortDesc.length >10"></i>{{orderlinedetails.Item.ItemShortDesc}} </span>
                                    </div>
                                </div>
                                 <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Unit Price</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{orderlinedetails.LinePriceInfo.UnitPrice}}</span>
                                    </div>
                                </div>
                                
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Supplier Item Desc</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{orderlinedetails.Item.SupplierItemDesc}}</span>
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Committed Qty</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{orderlinedetails.CommittedQuantity}}</span>
                                    </div>
                                </div>
                                 <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Committed Date</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{getCommmitedDate(orderlinedetails) | datefilter}}</span>
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10" >
                                    <label for="" class="col-sm-6 control-label ">Cost Centre</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{orderlinedetails.Extn.Division}}</span>
                                    </div>
                                </div>
                               <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Mrp Controller</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{orderlinedetails.Extn.MrpController}}</span>
                                    </div>
                                </div>
                            </div>
                             <div class="row col-md-4">
                                <div class="form-group clearfix m-t-10" v-if="documenttype === '0005'">
                                    <label for="" class="col-sm-6 control-label">Project Material ID</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{orderlinedetails.Item.ItemDesc}}</span>
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">UOM</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left"> {{orderlinedetails.Item.UnitOfMeasure}} </span>
                                    </div>
                                </div>
                                 <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Ship Node</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left"> {{orderlinedetails.ShipNode}}</span>
                                    </div>
                                </div>
                                 
                                   <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label">Received Qty</label>
                                    <div class="col-sm-6">
                                      <span class="form-inline-left"> {{orderlinedetails.OrderLineTranQuantity.ReceivedQty}}</span>
                                    </div>
                                </div>
                                 
                                   <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Requested Ship Date</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{orderlinedetails.ReqShipDate | datefilter}}</span>
                                    </div>
                                </div>
                                <div class="form-group clearfix m-t-10">
                                    <label for="" class="col-sm-6 control-label ">Shipped Qty</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left"> {{orderlinedetails.OrderLineTranQuantity.ShippedQuantity | quantityfilter}}</span>
                                    </div>
                                </div>
                                
                               
                                  <div class="form-group clearfix m-t-10" v-if="!(documenttype === '0005')" >
                                    <label for="" class="col-sm-6 control-label ">Schedules</label>
                                    <div class="col-sm-6">
                                        <span class="form-inline-left">{{getScheduleCount(orderlinedetails.Extn.OrderLineCommitmentList.OrderLineCommitment) | integerfilter}}</span>
                                    </div>
                                </div>
                               <!--   <div class="form-group clearfix m-t-10" >
                                    <label for="" class="col-sm-6 control-label ">Delivery Address Code</label>
                                    <div class="col-sm-6">
                                      <!--  <span class="form-inline-left" v-if="Extn && Extn.CustomerKey" ><!-- <!--{{orderlinedetails.Extn.CustomerKey}}</span>-->
                                     <!--    <span class="form-inline-left">{{orderlinedetails.ShipToID}} &nbsp/&nbsp{{orderlinedetails.Extn.CustomerKey}}</span>
                                    </div>
                                </div>-->
                               
                            </div>

                        </div>
          
                    </div>
              
    </div>
                <div role="tabpanel" class="tab-pane table-wrapper-big  active" id="OrderLineItems">
                        <div class="table-responsive">
                       
                            <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
                                <thead>
                                    <tr role="row">
                                        <th></th>
                                       
                                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('StatusDescription')" :class="{active: gmeta.sort.key == 'StatusDescription'}" >Status  
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['StatusDescription'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                          <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('StatusDate')" :class="{active: gmeta.sort.key == 'StatusDate'}" >Status Date
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['StatusDate'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>                                        
                                        
                                          <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ShipNode')" :class="{active: gmeta.sort.key == 'ShipNode'}" >Ship Node  
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ShipNode'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>                                   
                                        
                                        
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ReceivingNode')" :class="{active: gmeta.sort.key == 'ReceivingNode'}" >Receiving Node
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ReceivingNode'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('StatusReason')" :class="{active: gmeta.sort.key == 'StatusReason'}" >Status Reason
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['StatusReason'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('StatusQty',true)" :class="{active: gmeta.sort.key == 'StatusQty'}" >Status Quantity 
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['StatusQty'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                     <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in orderStatusList  | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric " >
                                 <td></td>
                            <!--<td>{{getValue(row, "Status") }} </td>-->
                            <td> {{getValue(row, "StatusDescription")}}    </td>
                            <td> {{formatDate(row,"StatusDate")}}    </td>                                         
                            <td> {{getValue(row, "ShipNode")}}     </td>
                            <td> {{getValue(row, "ReceivingNode")}}     </td>
                            <td> {{getValue(row, "StatusReason")}}     </td>
                            <td>{{getValue(row, "StatusQty") }} </td>
					</tr>
                           </tbody>
                    </table> 
                        </div>
                    </div>
    </div>
    
     <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="close">Close</button>
       
    </div>
                      
  	
</div>
</template>
<script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    
    export default{
        
        props: {
          orderlinedetails: Object,
          documenttype:String 
        },

        data: function () { 
            
            var gmeta = {};
            var columns =['StatusDescription','StatusDate','ShipNode','ReceivingNode','StatusReason','StatusQty'];
            
            GridUtils.populateGridMeta(gmeta, columns, false)

            return {
               gmeta:gmeta,
               isActive: false
            }
        },
        
        filters: {
                paginate: function(list) {
                    return GridUtils.paginate(this.gmeta, list, this.totalPages)
                }
            }
          , 
	  
        methods: {	  
         getValue: function(row, binding) {
            return Utils.getValue(row,binding)
         },

         goBack: function () {
           window.history.go(-1)
         },
        
        sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
        },
            
        formatDate: function(row, binding){
            var date = Utils.getValue(row,binding)
            return Utils.formatForDisplay(date)
        },
            
         close: function() {
            this.$dispatch('close')
         },
           toggleHeight: function() {

               this.isActive = !this.isActive;

            },
        getScheduleCount: function(schedule) {
            //var schedule = this.getValue(row, 'Extn.OrderLineCommitmentList.OrderLineCommitment')
            if(schedule) {
              return schedule.length
            }
            return 0
          },
         getCommmitedQty: function(row) {
            var schedule = this.getValue(row, 'Extn.OrderLineCommitmentList.OrderLineCommitment')
            var qty=0.0
            if(schedule && schedule.length > 0) {
                    var sum = function(a,b) {
                        return Number.parseFloat(a.CommittedQuantity) + Number.parseFloat(b.CommittedQuantity)
                    } 
                    if(schedule.length > 1) 
                    {
                        qty=schedule.reduce(sum)
                    } else {
                        qty=schedule[0].CommittedQuantity
                    }

               return qty     
            }
        return qty
      },
      getCommmitedDate: function(row) {
        var schedule = this.getValue(row, 'Extn.OrderLineCommitmentList.OrderLineCommitment')
        var date
        if(schedule && schedule.length > 0 ) {
                var maxDate = function(a,b) {
                    if(a.CommitDeliveryDate > b.CommitDeliveryDate)  {
                        return a.CommitDeliveryDate
                    } else {
                        return b.CommitDeliveryDate
                    }
                } 
                if(schedule.length > 1) 
                {
                    date=schedule.reduce(maxDate)
                } else {
                    date=schedule[0].CommitDeliveryDate
                }
            
           return date     
        }
        return date
      }    
            
        },  
	  
		  
        beforeDestroy: function() {
            $(this.$el).remove();
            $(this.$el).removeData();
        },
    
    computed: {
    
        orderStatusList: function(){
            var self=this;
            var list=[];
            var filterStatus = function(row) {                
                if(row.Status === '1400') {
                    return false
                } else {
                    return true
                }
            }
            list = self.orderlinedetails.OrderStatuses.OrderStatus.filter(filterStatus)            
            return list;
        }
        }
}

</script>