<!-- ********** Copyright  (c)  IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is add schedules for commitement
     ***************************************************************************-->
<template>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" v-on:click="cancel()">&times;</button>
    <h4 class="modal-title">Manage Commitment: {{getValue(orderline, 'Item.ItemID')}}</h4>
  </div>
  <div class="modal-body">
   <div class="row">
    <div class="col-md-12">
         <div class="alert alert-danger alert-dismissible" role="alert" v-if="errorMessage">
         {{errorMessage}}
          </div>
         <div class="alert alert-danger alert-dismissible" role="alert" v-if="checkSchedules()">
             Ensure that there is no empty committed date or committed quantity in one of the schedules
          </div>
      <form class="form-inline CusCommitment" role="form">
        <br>
        <div class="form-group col-md-3 row">
          <label for="" class="control-label">Order Quantity</label>
          <div class="">
            <span class="form-inline-left">{{getValue(orderline, 'OrderedQty')}}</span>
          </div>
        </div>
        <div class="form-group col-md-5 row">
          <label for="" class="control-label">Committed Quantity</label>
          <div class="">
            <input type="text" class="form-control" value="{{committedQuantity}}" disabled>
          </div>
        </div>
        <div class="form-group col-md-5 row">
          <label for="" class="control-label">Max Committed Date</label>
          <div class="">
            <input type="text" class="form-control" value="{{commitedDate | datefilter}}" disabled>
          </div>
        </div>
      </form>
      <div class="clearfix"></div>
      <hr>
    </div>


    <div class="col-md-12">
      <div class=""> 
        <div class="block"><label class="control-label">Commitment Schedule</label></div>
        <div class="">
            
          <form v-for="schedule in getFilteredCommitments(orderline.Extn.OrderLineCommitmentList.OrderLineCommitment)" class="form-inline Commitmentcls" role="form">
           <div class="col-md-2"> <div class="form-group">
              <label for="text">Sl No</label>
              <span class="form-inline-left">{{$index + 1}}</span>
            </div></div>
            <div class="col-md-4"> <div class="form-group">
              <label for="text">Committed Date</label>
              <input type="text" class="form-control" v-datepicker="schedule.CommitDeliveryDate" allowpastdate="N" usage="filter" readonly="readonly">
            </div></div>
            <div class="col-md-4"> <div class="form-group">
              <label for="text">Quantity</label>
              <input type="text" class="form-control" v-model="schedule.CommittedQuantity" number>
            </div></div>  
                   <div class="col-md-2">
                                    <div class="form-group" v-if="schedule.framework && schedule.framework.IsNew === 'Y'">
                                     
                                       <button type="button" class="btn btn-default removeBtn" v-on:click="orderline.Extn.OrderLineCommitmentList.OrderLineCommitment.$remove(schedule)"><i class="glyphicon glyphicon-remove" title="Remove"></i></button>
                                    </div>
                                </div>
                 <br>
                 <br>
                 <div class="clearfix"></div>
          </form> 
            
            
            
            
            
          <form class="form-inline Commitmentcls bgForm" role="form" v-on:submit.stop.prevent="addNewSchedule()">
            <div class="col-md-4"> <div class="form-group">
              <label for="text">Date</label>
              <input type="text" class="form-control" v-datepicker="newSchedule.CommitDeliveryDate"  allowpastdate="N" usage="datetime" readonly="readonly">
                 <span class="glyphicon glyphicon-calendar form-Date" aria-hidden="true"></span>
                
            </div></div>
            <div class="col-md-4"> <div class="form-group">
              <label for="text">Quantity</label>
              <input type="text" class="form-control" v-model="newSchedule.CommittedQuantity" number>
            </div></div> 
             <div class="col-md-2">
                                    <div class="form-group">
                                     
                                       <button type="submit" class="btn btn-default AddBtn" v-bind:disabled="showAdd()"><i class="glyphicon glyphicon-plus" title="Add"></i></button>
                                    </div>
                                </div> 
           
           <!-- <div class="col-md-2"> <div class="form-group">
                <label>&nbsp;</label>
              <button type="submit" class="btn btn-default btn-primary" v-bind:disabled="showAdd()">Add</button>
            </div></div>-->
         
                        <div class="clearfix"></div>
          &nbsp;
          </form>  

 
      </div>
    </div>

  </div>
</div>
</div>
<div class="modal-footer">
<!--  <div class="help-block">{{errorMessage}}</div>-->
  <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="apply()" v-show="canSave()" v-bind:disabled="checkSchedules()">Apply</button>
  <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="cancel()">Close</button>
</div>

</template>

<script>
  var Vue = require('vue')
  var Utils = require('./../utils/utils.js')
  var GridUtils = require('./../utils/gridutils.js')
  export default {
    props: {
      orderline: Object
    },
    data: function () {
      var errorMessage = ""
      var newSchedule = this.getNewSchedule()
       return {
        errorMessage: errorMessage,
        newSchedule: newSchedule,
      }
    },
    methods: {
      addNewSchedule: function() {
        var extn= this.orderline.Extn
        if(!extn) {
          this.orderline.Extn = {}  
        }
       var schedules = this.getValue(this.orderline,'Extn.OrderLineCommitmentList.OrderLineCommitment')
        if(!schedules) {
          
          this.orderline.Extn.OrderLineCommitmentList = {}
          this.orderline.Extn.OrderLineCommitmentList.OrderLineCommitment= []
          
          schedules = this.getValue(this.orderline, 'Extn.OrderLineCommitmentList.OrderLineCommitment')
        }
      schedules.forEach(function(currentschedule){
          currentschedule.IsActive="Y"
      })          
        schedules.push(this.newSchedule)
        this.newSchedule = this.getNewSchedule()
      },
      getNewSchedule: function() {
        var schedule = {}
        schedule.CommitDeliveryDate = ""
        schedule.CommittedQuantity = 0
        schedule.IsActive="Y"
        schedule.framework = {}
        schedule.framework.IsNew = "Y"
        return schedule
      },
      getValue: function(data, binding) {
        return Utils.getValue(data,binding)
      },
      cancel: function() {
         this.newSchedule = this.getNewSchedule()  
        this.$dispatch('cancel')
      },
      apply: function() {
        this.$dispatch('apply',true)
      },
      isValid: function() {
        var orderQuantity = Number(this.orderline.OrderedQty)
        var valid = (orderQuantity >= this.committedQuantity)
        if(valid) {
          this.errorMessage = ""
        } else {
          this.errorMessage = "Committed quantity is greater than ordered quantity."
        }
        return valid
      },
      getFilteredCommitments: function(commitmentList) {
        return commitmentList.filter(function(commitment) {
            return commitment.IsActive === "Y"
        })  
      },    
      canSave: function() {
        if(!this.isValid()) {
          return false
        }
        // var schedules = this.getValue(this.orderline, 'Schedules.Schedule')
        // if(!schedules) {
        //   return true
        // }
        // for (var i = schedules.length - 1; i >= 0; i--) {
        //   var schedule = schedules[i];
        //   if(!schedule.ExpectedShipmentDate || !schedule.Quantity) {
        //     return false
        //   }
        // }
        return true
        
        
      },
      showAdd: function() {
               
       
        if( this.newSchedule.CommitDeliveryDate && (this.newSchedule.CommittedQuantity>0)) {
          return false
        }
     
        return true
      },
        //to check enpty date and empty input
         checkSchedules:function(){
                    var self=this
                    var failed= false
                    var schedules=self.orderline.Extn.OrderLineCommitmentList.OrderLineCommitment
                    if(schedules) {
                        schedules.forEach(function(schedule){
                             if( (schedule.CommitDeliveryDate === '') || (schedule.CommittedQuantity<=0) || (schedule.CommittedQuantity==='')){
                                 failed=true;
                             }
                             });
                        
                    }
                    return failed;
                }
        
    },
    computed: {
      committedQuantity: function() {
        var schedules = this.getValue(this.orderline, 'Extn.OrderLineCommitmentList.OrderLineCommitment')
        if(!schedules) {
          return 0
        }
        var committedQuantity = 0
        schedules.forEach(function (schedule) {
          committedQuantity += Number(schedule.CommittedQuantity)
        })
        return committedQuantity
      },
     commitedDate:function(){
             var schedule = this.getValue(this.orderline, 'Extn.OrderLineCommitmentList.OrderLineCommitment')
             var maxSchedule
             var date
        if(schedule && schedule.length > 0 ) {
                var maxDate = function(maxObj,currObj) {
                    if(maxObj.CommitDeliveryDate > currObj.CommitDeliveryDate)  {
                        return maxObj
                    } else {
                        return currObj
                    }
                } 
                if(schedule.length > 1) 
                {
                    maxSchedule=schedule.reduce(maxDate,schedule[0])
                    date= maxSchedule.CommitDeliveryDate
                } else {
                    date=schedule[0].CommitDeliveryDate
                }
            
           return date     
        }
        return date
        }
    }
  }
</script>
