<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for searching orders globally
     ***************************************************************************-->
<template>
<div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter Source ID" v-model="orderSearchModel.OrderName" id="searchOrder" @keyup.enter="orderSearch">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" v-on:click.prevent.stop="orderSearch" ><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
    </div>
</div>
</template>
<script>
    var Vue = require('vue')
 var Utils = require('./../utils/utils.js')
var GridUtils = require('./../utils/gridutils.js')
export default{
    
    data :function(){
          var orderSearchModel={
          'OrderName':'',
          'HoldFlag':'Y'
              }
            return{
                orderSearchModel:orderSearchModel,
            }
          },
    methods:{
           orderSearch: function(event) {
	        //event.preventDefault()

	        var self = this
         	var success = function(result) {
         //     self.$router.go('orderlist') 
                if (result.Order){
                      $(searchOrder).val('');
                     if(result.Order.length === 1){
                             self.$router.go({name:'OrderDetails',query:{key:result.Order[0].OrderHeaderKey,autoclear:'true',request:'OrderSearch'}})	  
                     }else {
                        self.$router.go({name:'OrderList',query: {key:self.orderSearchModel.OrderName,autoclear:'true',request:'OrderSearch'}})
                    }
                } 
                else{
                    self.$router.go({name:'OrderList',query: {key:self.orderSearchModel.OrderName,autoclear:'true',request:'OrderSearch'}})
                }
                         
			}
			Utils.executeDataService("orderList",success,self.orderSearchModel);

	      }
    }

}
   
</script>
