footer {
      position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}
html {
    position: relative;
    min-height: 100%;
    padding-bottom: 80px;
}
.footer {
  height: 50px;
}
footer.footer.LoginFooter {
    width: 100%;
}

.modal-content {
    border-radius: 5px;
}
.modal .modal-footer {
    border-radius: 5px;
}