<template>


      
 <div>
    


<div class="divider"></div>
<h4 class="col-md-15 adavanceSearch">{{layoutDesciption}}</h4>

<form class="form-inline form-inlinez" v-on:submit.stop.prevent="addressSearch()">     
<div class="form-group col-md-3">
  <label for="exampleInputEmail1">Delivery Address Code</label>
   <input type="text" class="form-control" placeholder="Delivery Address Code" v-model="addressSearchModel.RootCustomerKey" >
   </div>
   <div class="form-group col-md-3">
  <label for="exampleInputEmail1">Customer Name</label>
   <input type="text" class="form-control" placeholder="Customer Name"   
          v-model="addressSearchModel.Consumer.BillingPersonInfo.FirstName" >
   </div>
   <div class="form-group col-md-3">
  <label for="exampleInputEmail1">City</label>
   <input type="text" class="form-control" placeholder="City" v-model="addressSearchModel.Consumer.BillingPersonInfo.City">
   </div>
   <div class="form-group col-md-3">
  <label for="exampleInputEmail1">Post Code</label>
   <input type="text" class="form-control" placeholder="Post Code" v-model="addressSearchModel.Consumer.BillingPersonInfo.ZipCode">
   </div>
   <div class="form-group col-md-3">
  <label for="exampleInputEmail1">External Customer ID</label>
   <input type="text" class="form-control" placeholder="External Customer ID" v-model="addressSearchModel.ExternalCustomerID">
   </div>     
     
    <div class="form-group col-md-3">
    <button type="submit" id="SearchSubmit" class="btn btn-primary btn-block" title="Search" >
                                        Search
                                    </button>
   </div>
    </form>


     
        <div class="col-md-12 well-sm " >
<h5>Search Result</h5>
<div class="divider"></div>
            
            <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
         <thead>
            <tr role="row">
                 
                   <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('CustomerID')" :class="{active: gmeta.sort.key == 'CustomerID'}" >CustomerID    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['CustomerID'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                       </th>
                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Consumer.BillingPersonInfo.FirstName')" :class="{active: gmeta.sort.key == 'Consumer.BillingPersonInfo.FirstName'}" >FirstName    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Consumer.BillingPersonInfo.FirstName'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                       </th>
                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Consumer.BillingPersonInfo.City')" :class="{active: gmeta.sort.key == 'Consumer.BillingPersonInfo.City'}" >City   
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Consumer.BillingPersonInfo.City'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                        </th>
                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Consumer.BillingPersonInfo.DayPhone')" :class="{active: gmeta.sort.key == 'Consumer.BillingPersonInfo.DayPhone'}" >DayPhone 
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Consumer.BillingPersonInfo.DayPhone'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                         </th>
                    <th></th>
            </tr>
         </thead>
         <tbody>
               <tr></tr>
               <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in customerList 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                | gridfilter gmeta.filter columns datecolumns
                                | paginate " >
                     <!-- <td> 
                         <input type="radio" value='{{getValue(row, "CustomerID")}}' v-model="SelectAddress" />
                         {{getValue(row, "CustomerID")}}     </td> -->
                     <td>{{getValue(row, "CustomerID")}} </td>
                     <td> {{getValue(row, "Consumer.BillingPersonInfo.FirstName")}}     </td>
                     <td> {{getValue(row, "Consumer.BillingPersonInfo.City")}}     </td>
                     <td> {{getValue(row, "Consumer.BillingPersonInfo.DayPhone")}}     </td>
                     <td> <button type="button" v-on:click="addAddress(row)">Add</button></td>
                </tr>
         </tbody>
    </table>
    <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >

</div>  
       <!-- <button class="btn btn-primary btn-lg pull-right" type="button" v-on:click="SaveSubmit('step2')">Next2</button> -->
        
    </div>



</template>
  <script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')

    export default {

     props: {
        description: { type:String },
        id:{ type:String }
     },    


    data: function () {
        
        
        var layoutDesciption=this.description;
        var addressSearchModel = {'CustomerID':'','Consumer':{'BillingPersonInfo':{}}}
        var customerList = []
        var subscribedUserList = []
        var subscribedUser = {'addressType':'','subscribedUsersList':[]}
        
        var selectedpickupcustomerList = []
        var selecteddeliverycustomerList = []
        
    //    this.description
        
                
       var columns =[ 'CustomerID','Consumer.BillingPersonInfo.FirstName','Consumer.BillingPersonInfo.City','Consumer.BillingPersonInfo.DayPhone']
       var gmeta = {}
       GridUtils.populateGridMeta(gmeta, columns, false)
       
                           
        
        var errorcode
        var errordesc
        var apierror=false
        
        return {
          customerList:customerList,    
          layoutDesciption:layoutDesciption,
          addressSearchModel: addressSearchModel,
          columns:columns,
          gmeta:gmeta,
          errorcode:errorcode,
          errordesc:errordesc,
          apierror:apierror,
          subscribedUserList:subscribedUserList,
          subscribedUser:subscribedUser,
            
          selecteddeliverycustomerList:selecteddeliverycustomerList,
          selecteddeliverycustomerList:selecteddeliverycustomerList
          
      }

    },
        
    ready: function(){
          var self=this  
          
      },

    route: {
        data: function (transition) {            
            
        }
    },
    
    filters: {
	   		paginate: function(list) {
            return GridUtils.paginate(this.gmeta,list)
	   	   }
    },

    methods: {
        getValue: function(row, binding) {
          return Utils.getValue(row,binding)
        },
        addAddress: function(customer){
               
          var self= this 
          self.subscribedUserList.push(customer);
          var temp = {'addressType':'','subscribedUsersList':[]}
          temp.addressType= this.id
          temp.subscribedUsersList= self.subscribedUserList
            
       /*   if(this.id ==='pickupAddress'){
                self.selectedpickupcustomerList.push(customer)
                temp.subscribedUsersList = self.selectedpickupcustomerList
          }
          else{
                self.selecteddeliverycustomerList.push(customer)       
                temp.subscribedUsersList = self.selecteddeliverycustomerList
          } */
            
            
          
         
              
          /*    ['addressType':'','subscribedUsersList':[]]
          
          temp.addressType= this.id
          temp.subscribedUsersList.push(customer); */
       
        //  var addressList = []//[{'addressType':'','subscribedUsersList':[]}]
        //  addressList.push(temp)             
           
    //      self.$dispatch('AddressSearchListEvent', addressList );  
                self.$dispatch('AddressSearchListEvent', temp );  
    //      debugger; 
         
        },
        addressSearch: function(){
            var self=this
            // self.subscribedUserList=[]
            var addressListSuccess = function (result){ 
                
                 var list1= result.Customer
                
                 if(!list1) {
                      list1 = []
                  }
                  if(!(list1.constructor === Array)) {
                        list1 = []
                        list1.push(result.Customer)                        
                  }                  
                  
                 self.customerList= list1
                  
            }
            var errorHandler = function(errorObj) {
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  //Error message times out after 10 seconds
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
        } 
        Utils.executeDataService("getCustomerSearchList", addressListSuccess, self.addressSearchModel, errorHandler);          
            
        },
        SaveSubmit: function(){
            var self = this
            self.$dispatch('AddressDetailEventCatch', self.subscribedUserList );  
           // debugger;
        },
         setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
        },
        sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
        },
        
    },
        
     computed: {
         totalPages: function() {
            return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
          }     
    },   
        
    }

    </script>


