<template>
 <div>
  
     <div class="container-fluid CustomHgt">
        <div class="row ">
            <div class="col-md-4">
                <div v-breadcrumb="true"></div>
            </div>
            
        </div>
         <div class="col-md-8">
                <div class="alert alert-danger alert-dismissible" role="alert" v-show="apierror">
                   <button type="button" class="close" @click="apierror=!apierror" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   <strong>API Error:</strong>{{errorcode}} {{errordesc}}.{{getAPIErrorMessage()}}  
               </div>
            </div>
            <!-- this block displays the input validation errors -->
         <div class="block" v-show="haserror">
          <div class="alert alert-danger alert-dismissible" role="alert">
             <button type="button" class="close" aria-label="Close" @click="haserror=!haserror"><span aria-hidden="true">&times;</span></button>
              <strong>Input Error:</strong>{{alertmessage}}. Please fix the error and try again.</div>
			</div> 
          <!-- this block displays the succcessfull message-->
             <div class="block"   v-if="shipment.ShipmentKey" v-show="closeSuccess">
                        <div class="alert alert-info" role="alert">
                            <button type="button" class="close"  aria-label="Close" @click="closeSuccess=!closeSuccess">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            Shipment has been generated successfully. The shipment reference no is <a v-link="{ path:'/shipmentdetails',query:{key:shipment.ShipmentKey}}"> {{shipment.ShipmentNo}}</a>
                        </div>

          </div>
    </div>
     
   <div class="container-fluid">   
    <div class="block  clearfix">
      <h5 class="pull-left">Book Ad-Hoc Logistics</h5>
      <div class="pull-right">
         <button class="btn btn-default Primarytop" v-on:click="SaveSubmit" v-bind:disabled="apiSuccess" title="Click here to save and submit">Save</button>
          
        </div>
    </div>
    <div class="panel panel-default m-t-10 Cusbookad">
       <div class="panel-heading">Consignment Info</div>
       <div class="panel-body">
         <div class="m-t-10"></div>
         <div class="row">
           <div class="col-md-4">
             <div class="form-group clearfix m-t-10 cusFormCtrl">
                <label for="" class="col-sm-6 control-label">Priority</label>
                <div class="col-sm-6">
                <select name="" id="" class="form-control" v-model="AdhocInputModel.PriorityCode" v-bind:disabled="apiSuccess" title="Select Priority">
                 <option  Value="STANDARD">Standard</option>
                  <option  Value="URGENT">Urgent</option>
                </select>
                </div>
              </div>
                <div class="form-group clearfix m-t-10">
                 <label for="" class="col-sm-6 control-label">Order No.</label>
                 <div class="col-sm-6">
                   <input type="text" class="form-control" v-model="AdhocInputModel.OrderNo" v-bind:disabled="apiSuccess"  title="Enter the order number" maxlength="40"  >
                 </div>
               </div>
              <div class="form-group clearfix m-t-10">
                 <label for="" class="col-sm-6 control-label" >Consignment No.</label>
                 <div class="col-sm-6">
                   <input type="text" class="form-control" v-model="AdhocInputModel.References.Reference.Value" v-bind:disabled="apiSuccess" title="Enter the Consignment number" maxlength="12">
                 </div>
               </div>
           </div>
           <div class="col-md-4">
            <div class="pull-right m-r-4">   
                      <button class="btn btn-primary PrimaryBtn"  v-on:click="XtoogleSearchModel('addresssearch','pickup')" v-bind:disabled="apiSuccess" title="Click here to search address" data-toggle="modal" data-target="#inv-browse-modal-address">Select Address</button>
                       <button class="btn btn-primary PrimaryBtn " v-on:click="XtoogleModel('addresslocation','pickup')" v-bind:disabled="apiSuccess" title="Click here to add address" data-toggle="modal" data-target="#inv-browse-modal-big">New Address</button>
     </div>
               <div class="clearfix"></div>
               <div class="AddressContainer">
              <addressdetails
                                 :addressdetails= "pickupAddress"
                                 :addresslabel="'Pick-Up Address'"
                                 >
                         </addressdetails>
    </div>
           </div>
           <div class="col-md-4">
               <div class="pull-right m-r-4">  
                       <button class="btn btn-primary PrimaryBtn"  v-on:click="XtoogleSearchModel('addresssearch','delivery')" v-bind:disabled="apiSuccess" title="Click here to search address" data-toggle="modal" data-target="#inv-browse-modal-address">Select Address</button>
                      <button class="btn btn-primary PrimaryBtn " v-on:click="XtoogleModel('addresslocation','delivery')" v-bind:disabled="apiSuccess"  title="Click here to add address" data-toggle="modal" data-target="#inv-browse-modal-big">New Address</button>
                    </div>
               <div class="clearfix"></div>
                     <div class="AddressContainer">
       
                  <addressdetails
                                 :addressdetails= "deliveryAddress"
                                 :addresslabel="'Delivery Address'"
                                 >
                         </addressdetails>
   
    </div>
           </div>
         </div>
       <div class="m-t-10"></div>
       </div>
     </div>
   
      </div>
      <div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">Container Details 
           <span class="pull-right">
           
             <button id="add" class="btn btn-default PrimaryBtn addbtn" v-on:click="Add()" v-bind:disabled="apiSuccess"  title="Click here to add new container">New</button>
                 <button id="remove" class="btn btn-default PrimaryBtn removebtn" v-on:click="remove()" v-bind:disabled="apiSuccess" title="Click here to remove selected container">Delete</button>
           </span>
         </div>
         
      <div class="panel-body">
      <div class="row">
          <div class="col-sm-12">
            <div class="table-wrapper CusbookTable">
            
                <div class="">
  
                     <div class="fixed-table-container AdhocContainer ">
                      
                        <div class="fixed-table-body">
                            <div class="fixed-table-loading" style="top: 41px; display: none;">Loading, please wait...</div>
                              <table id="tableEdit" class="table dataTable table-hover">
                                  <thead>
                                 
          <tr> 
                                            <th rowspan="2" style="text-align: center; vertical-align: middle; width: 36px;"><input type='checkbox' id='select-all' /></th>
                                            <th rowspan="2">Sl. No</th> 
                                            <th rowspan="2">Container Type</th>
                                             <th colspan="4" class="text-center">Dimension


                                            <th rowspan="2">Cubic Volume</th> 
                                            <th rowspan="2">Weight</th> 
                                            <th rowspan="2">Weight UOM</th>
                                            <th rowspan="2">No. of Containers</th> 
                                            </tr>
                                            <tr>
                                            <th style="width: 100px;">Length</th> 
                                            <th style="width: 100px;">Width </th> 
                                            <th style="width: 100px;">Height</th> 
                                            <th style="width: 100px;">UOM</th>

                                            </tr> 
                                  </thead>
                                   <tbody>
                                   
                                  </tbody>
                                
                                 </table>
                        </div>
                        <div class="fixed-table-pagination" style="display: none;"></div>
                    </div>
                </div>
                
                
                
 </div>

        </div>
      </div>
    </div>
   </div>
      </div>


       <div class="modal fade" id="inv-browse-modal-big" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" >
       <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
              <component :is="Adhocmodel" :type="addressType"></component>
         </div>
       </div>
    </div>
     
     <div class="modal fade" id="inv-browse-modal-address" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" >
       <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
                <component :is="AdhocmodelSearch" :type="searchAddressType"></component>
                            </div>
         </div>
       </div>
    </div>

</template>

<script>
    var Utils = require('./../utils/utils.js')
    var AddressLocation = require('./AddAddressLocation.vue') //NotesAndCommentAdhocLogistic
    var AddressSearch = require('./SearchAddress.vue') //AddressSearch
    export default {
       props: {
     
       },
       data: function() {
          var count = 1;
          var containerchecklist=[];
          var Adhocmodel=""
          var AdhocmodelSearch=""
          var modelState = false;
          containerchecklist.length=0;
         var deliveryAddress
         var pickupAddress
         var addressType={}
         var searchAddressType={}
         var reference=[]
         var shipment={}
         var searchedAddress={} 
          var commonCdContainerTypeList=[]
          var alertmessage={}
          var apiSuccess=false
         var haserror = false
         var receivingNode={}
         var closeSuccess=true
        //reference=this.AdhocInputModel.References.Reference
           var errorcode
       var errordesc
       var apierror=false        
          var AdhocInputModel = {
            'OrderNo': '',
              'PriorityCode':'STANDARD',
            'ReceivingNode':'',
            'References':{
                'Reference':{
                  'Value' :'' 
                }
            },
            'Containers': {
                
            },
               'OrderLines':{
                 'OrderLine':{
                  'ShipNode':'AL_N1',
                   'ReceivingNode':''
                 }
               },
	        'AdditionalAddresses':{
                'AdditionalAddress':{
                'PersonInfo':''
               }
            }
             
            }
          
           return {
              containerchecklist:containerchecklist,
              Adhocmodel:Adhocmodel,
              modelState:modelState,
              AdhocInputModel:AdhocInputModel,
             deliveryAddress:deliveryAddress,
            pickupAddress:pickupAddress,
            addressType:addressType,
            reference:reference,
            errorcode:errorcode,
             errordesc:errordesc,
             apierror:apierror,
               shipment:shipment,
               searchedAddress:searchedAddress,
               AdhocmodelSearch:AdhocmodelSearch,
               searchAddressType:searchAddressType,
               commonCdContainerTypeList:commonCdContainerTypeList,
               haserror:haserror,
                alertmessage: alertmessage,
               apiSuccess:apiSuccess,
               receivingNode:receivingNode,
               closeSuccess:closeSuccess,
               count:count
          }
         }  ,
        //initial data load
	route: {
		data: function (transition) {
		
                      	var success = function(result) {
                          transition.next({
                          commonCdContainerTypeList:result.CommonCode
                    })
                        }
                 	Utils.executeDataServicePromise("containerTypeList",success,null,this.errorHandler)   
	 }
        }
  ,
     
       components: {
           'addresslocation': AddressLocation,
           'addresssearch':AddressSearch
       },
       ready: function(){
            var self = this;
           	$("#select-all").change(function() {
			var status = this.checked;
			$('.checkbox').each(function() {
				this.checked = status;
			});
		});
            $("#inv-browse-modal-big").on("hidden.bs.modal", function () {
             // put your default event here
                  self.Adhocmodel="";
               });
           $("#inv-browse-modal-address").on("hidden.bs.modal", function () {
             // put your default event here
                  self.AdhocmodelSearch="";
               });
           
           $(document).on('click', '.txtcheckbox', function(){
			if (this.checked == false) {
				$("#select-all")[0].checked = false; 
				
			}
	}); 
           
    $(document).on('change','.changeOthAttrs' , function(){
            var i = $(this).closest("tr").find("td:eq(1)").text();
            var noOfCartons = $("#txtNoOfCartons" + i + "").val();
            var weight = $("#txtWeight" + i + "").val();
            var containerType = $("#txtContainerType" + i + "").val();
            var intPatt = /^([1-9]\d?)$/
            var floatPatt= /^([1-9]\d{0,3})(\.\d{1,2})?$/
           if(weight !== "" && floatPatt.test(weight)){
                $("#txtWeight" + i + "").css("border-color","#ccc")    
                $("#txtWeight" + i + "").focus(function() {
                    $(this).css("border-color","#66afe9") 
                });
                self.haserror = false
                
            } 
            if(containerType !== ""){
                $("#txtContainerType" + i + "").css("border-color","#ccc")    
                $("#txtContainerType" + i + "").focus(function() {
                    $(this).css("border-color","#66afe9") 
                });
                self.haserror = false
            } 
             if(noOfCartons !== "" && intPatt.test(noOfCartons) ){
                $("#txtNoOfCartons" + i + "").css("border-color","#ccc")    
                $("#txtNoOfCartons" + i + "").focus(function() {
                    $(this).css("border-color","#66afe9") 
                });
                self.haserror = false
            } 
        
    });
   /*Calculate the Volume based on change in dimensions and also reset the border color for columns */	

		$(document).on('change','.changeInDim' , function(){
            var i = $(this).closest("tr").find("td:eq(1)").text();
            var attrName = $(this).id
            var length = $("#Container_Length" + i + "").val();
            var height = $("#Container_Height" + i + "").val();
            var width = $("#Container_Width" + i + "").val();
            var haslength = true
            var haswidth = true
            var hasheight = true
            
            if(length==undefined || length==null || length==""){
              length = 0;
              haslength = false    
            } else {
                $("#Container_Length" + i + "").css("border-color","#ccc") 
                $("#Container_Length" + i + "").focus(function() {
                    $(this).css("border-color","#66afe9") 
                });
                self.haserror = false
            } 
            if(height==undefined || height==null || height==""){
                height = 0;
                hasheight = false
            } else {
                $("#Container_Height" + i + "").css("border-color","#ccc")    
                $("#Container_Height" + i + "").focus(function() {
                    $(this).css("border-color","#66afe9") 
                });
                self.haserror = false
            } 
            if(width==undefined || width==null || width==""){
                width = 0;
                haswidth = false
            } else {
                $("#Container_Width" + i + "").css("border-color","#ccc")    
               $("#Container_Width" + i + "").focus(function() {
                    $(this).css("border-color","#66afe9") 
                });
                self.haserror = false
            } 
            var volume
            if(!haslength && !haswidth && !hasheight) {
                volume = 0
            } else {
                //Volume 
                var vollength = length/100
                var volheight = height/100
                var volwidth = width/100
                volume = (haslength ? vollength : 1) * (hasheight ? volheight : 1)  * (haswidth ? volwidth : 1);
            }
            //var volume = length * width * height
            var fixedVolume = volume.toFixed(3);   
            var volumeStr = fixedVolume + " Cubic Meters"
            $("#cubic_volume" + i + "").html(volumeStr);
		
		}); 
           
  
      },
       methods: {
              getValue: function(row, binding) {
                  return Utils.getValue(row,binding)
              },
             
              XtoogleModel: function(modelname,type){
                  if(type==='pickup')
                      this.addressType="pickup"
                 else 
                     this.addressType="delivery"
                  this.Adhocmodel = modelname;
              },
               XtoogleSearchModel: function(modelname,type){
                  if(type==='pickup')
                      this.searchAddressType="pickup"
                 else 
                     this.searchAddressType="delivery"
                  this.AdhocmodelSearch = modelname;
              },           

            // to remove the selected checkbox
              remove: function() {
                  var self =this
                  if ($('.checkbox:checked').length){
                  $('#tableEdit tbody input:checked').each(function() {

                      $("#"+$(this)[0].id).remove();
                 //     s--;
                      self.count=self.count-1
                  
                  });
                  }
                  else {   var self =this
                            self.alertmessage= 'Select at least one Container';
                            self.haserror = true;
                            setTimeout(function(){ self.haserror = false},Utils.getTimeOut())
                      }
              },
           //function to add new line to grid
              Add: function() {
                  var lastRow = $("#tableEdit tbody tr:last-child")[0];
                  var lastRowId = null;
                  var newRowIndex = 1;
                  if(lastRow != undefined) {
                      lastRowId = lastRow.id.substring(4);
                      newRowIndex = parseInt(lastRowId) + 1;
                   }
                 $("#tableEdit tbody").append( this.getNewRow(newRowIndex, 'test') );
                /* Adding the container type combobox dynamically */
				var select = document.createElement("select");
				select.setAttribute("class", "select-style changeOthAttrs form-control");
				select.setAttribute("id", 'txtContainerType'+newRowIndex+"");
                select.setAttribute("name", 'Container_Type');                          
				var option1 = document.createElement("option");
						option1.value = "";
						option1.text = "";
						
					select.add(option1);
                    var i;
					for (i = 0; i < this.commonCdContainerTypeList.length; i++) {
				
					var option = document.createElement("option");
						option.value = this.commonCdContainerTypeList[i].CodeValue;
						option.text = this.commonCdContainerTypeList[i].CodeValue;
						
						select.add(option);
				    }
                  
                  $("#selectV"+newRowIndex+"").append(select);
                 //  	s++;
                  this.count=this.count+1
                  
              },
           // to pass the input to createadhoclogistics
              SaveSubmit: function() {
                  
                  var oValidationErrorlist = [];
                  var oMappedValues = [];
                  var containerList=[];
                  var self = this
                  $('#tableEdit tbody tr').each(function() {
                     var trow = this;
                     var tdinputlist = trow.querySelectorAll('input[type="text"],select');  
                     var temp = {};
                     for (var index = 0; index < tdinputlist.length; index++) {
                         tdinputlist[index].classList.remove('invalid');
                         if(tdinputlist[index].value == "")
                            oValidationErrorlist.push(trow.id + '||' + tdinputlist[index].name )
                         temp[tdinputlist[index].name] = tdinputlist[index].value;
                      }  
                      oMappedValues.push(temp);
                  });
                         this.AdhocInputModel.PersonInfoBillTo=this.deliveryAddress
                      this.AdhocInputModel.AdditionalAddresses.AdditionalAddress.PersonInfo=this.pickupAddress
                      //collecting the values from dom
                        for (var index = 0; index < oMappedValues.length; index++) {
                                    var container={}
                                  container.ContainerWidth=oMappedValues[index].Container_Width ;
                                  container.ContainerType =oMappedValues[index].Container_Type;
                                  container.ContainerLength=oMappedValues[index].Container_Length;
                                  container.ContainerHeight=oMappedValues[index].Container_Height;
                                  container.ContainerNo=oMappedValues[index].Container_Counts;
                                  container.ContainerLengthUOM ='CM' ;
                                  container.ContainerWidthUOM = 'CM';
                                  container.ContainerHeightUOM = 'CM';
                                   container.ContainerGrossWeightUOM = 'KG';
                                   container.ContainerGrossWeight =oMappedValues[index].Container_Weight; 
                                 container.ContainerVolume=
                                 (oMappedValues[index].Container_Width * oMappedValues[index].Container_Length * oMappedValues[index].Container_Height)
                                  containerList.push(container);
                        }
                       this.AdhocInputModel.Containers.Container=containerList
                       this.AdhocInputModel.ReceivingNode=this.receivingNode
                       this.AdhocInputModel.OrderLines.OrderLine.ReceivingNode=this.receivingNode
                       var k=1;
			  // if(s>1){
                  if(this.count>1){
				//k=s-1;
                      k=this.count-1;
			  }else {
                this.alertmessage= 'No Container Details Provided';
                this.haserror = true
                setTimeout(function(){self.haserror = false},Utils.getTimeOut())
                return false;
            }
                  // validations 
            for ( var i = 1; i <= k; i++) {
                    
			     if(($("#txtContainerType" + i + "").length) > 0){
                 
                  if(($("#txtContainerType" + i + "").val()!=undefined
					&& $("#txtContainerType" + i + "").val()!="")
					&& ($("#txtNoOfCartons" + i + "").val()!=undefined
					&& $("#txtNoOfCartons" + i + "").val()!="")
                    && ($("#Container_Width" + i + "").val()!=undefined
					&& $("#Container_Width" + i + "").val()!="")
                    && ($("#Container_Length" + i + "").val()!=undefined
					&& $("#Container_Length" + i + "").val()!="")
                    && ($("#Container_Height" + i + "").val()!=undefined
					&& $("#Container_Height" + i + "").val()!="")
                    && ($("#txtWeight" + i + "").val()!=undefined
					&& $("#txtWeight" + i + "").val()!="")
					){
				 var container = {}
                  container.ContainerType = $("#txtContainerType" + i + "").val();
                  container.ContainerWidth= $("#Container_Width" + i + "").val();
                  container.ContainerLength=$("#Container_Length" + i + "").val();
                  container.ContainerHeight=$("#Container_Height" + i + "").val();
 				  container.ContainerNo=$("#txtNoOfCartons" + i + "").val();
                   if(this.haserror) {
                       this.haserror = false 
                    }         
                   var intPatt = /^([1-9]\d?)$/
                   var floatPatt= /^([1-9]\d{0,3})(\.\d{1,2})?$/
                   
                   var isInt = intPatt.test(container.ContainerNo)
                   if(!isInt) {
                       this.alertmessage= 'No. of Containers Has To Be a Positive Integer Less Than 100';
                       this.haserror = true
                      $("#txtNoOfCartons" + i + "").focus();
                       $("#txtNoOfCartons" + i + "").css("border-color","red");
                       return false;
                   } else {
                      if(this.haserror) {
                       this.haserror = false 
                     } 
                   }
                 var isValidDim = floatPatt.test(container.ContainerLength)
                  if(!isValidDim) {
                       this.alertmessage= 'Container Length Is Invalid. Please Ensure that Container Length is a Positive Decimal Number less than or equal to 9999.99 with a maxmium precision of 2 decimals';
                       this.haserror = true
                      $("#Container_Length" + i + "").focus();
                       $("#Container_Length" + i + "").css("border-color","red");
                       return false;
                  } else {
                    if(this.haserror) {
                       this.haserror = false 
                    }                       
                  } 
                 isValidDim = floatPatt.test(container.ContainerWidth)
                  if(!isValidDim) {
                       this.alertmessage= 'Container Width Is Invalid. Please Ensure that Container Width is a Positive Decimal Number less than or equal to 9999.99 with a maxmium precision of 2 decimals';
                       this.haserror = true
                       $("#Container_Width" + i + "").focus();
                       $("#Container_Width" + i + "").css("border-color","red");
                      return false;
                  } else {
                    if(this.haserror) {
                       this.haserror = false 
                    }                       
                  } 
                 isValidDim = floatPatt.test(container.ContainerHeight)
                  if(!isValidDim) {
                       this.alertmessage= 'Container Height Is Invalid. Please Ensure that Container Height is a Positive Decimal Number less than or equal to 9999.99 with a maxmium precision of 2 decimals';
                       this.haserror = true
                      // $('#InvalidInput').modal('show');
                       $("#Container_Height" + i + "").focus();
                       $("#Container_Height" + i + "").css("border-color","red");
                       
                      return false;
                  } else {
                    if(this.haserror) {
                       this.haserror = false 
                    }                       
                  }                              
				  container.ContainerLengthUOM = 'CM';
				  container.ContainerWidthUOM = 'CM';
				  container.ContainerHeightUOM = 'CM';
				   container.ContainerGrossWeight = $("#txtWeight" + i + "").val();
                 isValidDim = floatPatt.test(container.ContainerGrossWeight)
                  if(!isValidDim) {
                       this.alertmessage= 'Container Weight Is Invalid. Please Ensure that Container Weight is a Positive Decimal Number less than or equal to 9999.99 with a maxmium precision of 2 decimals';
                       this.haserror = true
                      $("#txtWeight" + i + "").focus();
                       $("#txtWeight" + i + "").css("border-color","red");
                       
                       return false;
                  } else {
                      if(this.haserror) {
                          this.haserror = false
                      }
                  }                             
				    container.ContainerGrossWeightUOM = 'KG';
  		}else{
                if($("#txtContainerType" + i + "").val()==undefined
                        || $("#txtContainerType" + i + "").val() ==""){
                   this.alertmessage= 'Container type cannot be blank';
                    this.haserror = true
                   $("#txtContainerType" + i + "").focus();
                    $("#txtContainerType" + i + "").css("border-color","red")
                    return false;

                }else if($("#Container_Length" + i + "").val()==undefined
					|| $("#Container_Length" + i + "").val() ==""){
                    this.alertmessage= 'Container Length cannot be blank';
                    this.haserror = true
                   $("#Container_Length" + i + "").focus();
                    $("#Container_Length" + i + "").css({"border-color":"red"})
                    return false;
                }else if($("#Container_Width" + i + "").val()==undefined
					|| $("#Container_Width" + i + "").val() ==""){
                    this.alertmessage= 'Container Width cannot be blank';
                    this.haserror = true
                    $("#Container_Width" + i + "").focus();
                    $("#Container_Width" + i + "").css({"border-color":"red"})
                    return false;
                }else if($("#Container_Height" + i + "").val()==undefined
					|| $("#Container_Height" + i + "").val() ==""){
                    self.alertmessage= 'Container Height cannot be blank';
                    self.haserror = true
                    $("#Container_Height" + i + "").focus();
                    $("#Container_Height" + i + "").css({"border-color":"red"})
                    return false;
                }else if($("#txtWeight" + i + "").val()==undefined
					|| $("#txtWeight" + i + "").val() ==""){
                    this.alertmessage= 'Container Weight cannot be blank';
                    this.haserror = true
                    $("#txtWeight" + i + "").focus();
                    $("#txtWeight" + i + "").css({"border-color":"red"})
                    return false;
                }  
                else{
                    this.alertmessage= 'No. of Containers cannot be blank';
                    this.haserror = true
                    $("#txtNoOfCartons" + i + "").focus();
                    $("#txtNoOfCartons" + i + "").css({"border-color":"red"})
                   return false;
                }
			
             }
				
			
			} 
           
			
		}   
                  var success = function(result) {
                         self.shipment = result
                         self.apiSuccess=true
                    }
                  //to validate delivery address and pickupaddress
                 if ( self.deliveryAddress != undefined && self.pickupAddress != undefined ){
                         Utils.executeDataService("createAdhocLogistics",success,this.AdhocInputModel,self.errorHandler)
                             }
                  else {
                      self.alertmessage= 'Add Delivery Address and PickUp Address';
                      self.haserror = true;
                      
                     }
                      
                 
              },
     errorHandler : function(errorObj) {
               var self=this
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  //Error message times out after 10 seconds
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
              },
           
      ValidationErrorDisplay: function(inputlist) {
                
                   var sTrID = "";
                   var sInputName="";
                   for (var index = 0; index < inputlist.length; index++) {
                       var temp = inputlist[index].split('||');
                       sTrID = temp[0];
                       sInputName = temp[1];
                       $('#tableEdit tbody tr[id="'+sTrID+'"] td input[name="'+sInputName+'"]')[0].classList.add('invalid');
                   }
                  
              },
			  getAPIErrorMessage: function() {
				return Utils.getAPIErrorMessage();
			   },
           //method to add ne row
              getNewRow: function(index, newObject) {
                 
                 var sRowRefernceTitle = 'row_'+index;
                 if(newObject == null || newObject == undefined)
                     return null;
                 
                 var template = '<tr id="'+ sRowRefernceTitle +'">' +
                                '  <td class="bs-checkbox" style="text-align: center; vertical-align: middle; width: 36px;">' +       '    <input type="checkbox" class="checkbox" id="'+ sRowRefernceTitle +'" v-bind:disabled="apiSuccess" title="Click here to select row"></td>' +
                                '  <td style="text-align: center; vertical-align: middle; ">'+ index +'</td>'
                                 +
                                '  <td id="selectV'+index+'"></td>'
                                 +
                                '  <td style="text-align: center; "> <input  class="changeInDim form-control" type="text" class="form-control" name="Container_Length" id="Container_Length'+index+'" v-bind:disabled="apiSuccess" title="Enter container length"/> </td>' +
                                '  <td style="text-align: center; "> <input type="text" class="changeInDim form-control" name="Container_Width" id="Container_Width'+index+'" v-bind:disabled="apiSuccess" title="Enter container width"/>  </td>' +
                                '  <td style="text-align: center; "> <input type="text" class="changeInDim form-control" name="Container_Height" id="Container_Height'+index+'" v-bind:disabled="apiSuccess" title="Enter container height" />  </td>' +
                                '<td style="text-align: center; ">Centimeter</td>' +
                     
                                '  <td style="text-align: center; " id="cubic_volume'+index+'" title="Volume of the container"> </td>' +
                        
                                '  <td style="text-align: center; "> <input type="text" class="changeOthAttrs form-control" name="Container_Weight"  id="txtWeight'+index+'" v-bind:disabled="apiSuccess" title="Enter container weight"/> </td>' +
                      '<td style="text-align: center; ">Kilogram</td>' +
                                '  <td style="text-align: center; "> <input type="text" class="changeOthAttrs form-control"  name="Container_Counts" id="txtNoOfCartons'+index+'" v-bind:disabled="apiSuccess" title="Enter number of containers" /> </td>' +
                              
                                '</tr>';
                 return template;
                 
             }
            
        },
      computed: {
          getTestOption: function () {
                return "Smaple Test";
            },
      },
       watch: {
    
      },
      events: {
           // event to catch the adress object coming from add address module 
           AddressEventCatch: function(event){
          var self=this;
           event.preventDefault;
               if(event.Type==="delivery"){
                    self.deliveryAddress=event
                    
                    //console.log(event)
               }else
                   {
                    self.pickupAddress=event
                     // console.log(event)
                   }
             }        ,
          // event to catch the adress object coming from adress search module
       AddressSearchCatch: function(event){
          var self=this;
           event.preventDefault;
               if(event.Type==="delivery"){
                    self.deliveryAddress = event.Consumer.BillingPersonInfo
                    if(!(event.ExternalCustomerID==='')){
                     self.receivingNode=event.ExternalCustomerID 
                    }
               }else
                   {
                    self.pickupAddress=event.Consumer.BillingPersonInfo
                }
             }
       
       }
    }
        
   
        
</script>

