<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying list of alerts and search alerts based on given criteria
     ***************************************************************************-->

<template>
    <div>
            <div class="container-fluid CustomHgt">
              <div class="row ">
                <div class="col-md-4">
                    <div v-breadcrumb="true"></div>
                </div>
                <div class="col-md-8">
                  <div class="alert alert-danger alert-dismissible hidden" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong> Message Title:</strong>  A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
                </div>
              </div>
             </div>
      
    <div class="container-fluid" >
         <div class="block"  v-if="apierror" >
          <div class="alert alert-danger" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}  
          </div>
        </div>
        <div class="block  clearfix">
            <h5 class="pull-left">Alerts</h5>     
        </div>
        
        <div class="clearfix"></div>
        
        <div class="panel panel-default">
            <div class="panel-heading">  
                               
                <div class="col-md-5  cal-box">Show
                    <select class="select-style form-control" v-model="alertSearchType" >
                        <option value="" >My Alerts</option>
                        <option value="all" >All</option>                        
                    </select>
                    
                    <button class="btn btn-default" @click="showSearch=!showSearch">
                        <div class=""><i class="fa fa-search-plus" aria-hidden="true"></i></div>
                    </button>   

                </div> 
                
                <div class="pull-right" v-if="checkedInboxKeys.length == 0">
                    <ul class="list-inline list-unstyled">
                        <li>
                            <span v-if="hasPermission('GPSSPALR0001A01')">
                                <button class="btn btn-default SecondaryBtn" data-toggle="modal" data-backdrop="static" data-target="#showalertmessage"  v-on:click="displayAlertMessageBox()" :disabled="!showbutton">Assign to Self</button>
                            </span>
                        </li>
                        <li>
                            <span v-if="hasPermission('GPSSPALR0001A02')">
                                <button class="btn btn-default SecondaryBtn" data-toggle="modal" data-backdrop="static" data-target="#showalertmessage" v-on:click="displayAlertMessageBox()" :disabled="alertSearchModel.ActiveFlag === 'N'">Assign to User</button>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="pull-right" v-else>
                    <ul class="list-inline list-unstyled">
                        <li>
                            <span v-if="hasPermission('GPSSPALR0001A01')">
                            <button class="btn btn-default SecondaryBtn" v-on:click="assignToSelfOrUser('self')" :disabled="alertSearchModel.ActiveFlag === 'N' || (alertSearchModel.User.Loginid === getUserId())">Assign to Self</button>
                            </span>
                        </li>
                        <li>
                            <span v-if="hasPermission('GPSSPALR0001A02')">
                            <button class="btn btn-default SecondaryBtn" data-toggle="modal" data-backdrop="static" data-target="#assignalerttouser" v-on:click="startAssignAlertToUser" :disabled="alertSearchModel.ActiveFlag === 'N'">Assign to User</button>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="clearfix"></div>
            <validator name="alertform">
            <form v-show="showSearch" v-on:submit.prevent.stop="alertSearch" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="adavanceSearch">Advanced Search <span class="pull-right">  <button type="button" class="btn btn-primary SecondaryBtn Clearbtn" title="Clear" v-on:click="resetAll()">
                                        Clear Form
                                    </button></span></h4>
                          <div class="col-md-3">
                                <div class="form-group">
                                    <label for="alertId">Alert ID</label>
                                    <input type="test" class="form-control" placeholder="Alert ID" v-model="alertSearchModel.InboxKey" title="Enter the Unique Identifier for the Alert">
                                </div>
                         </div>
                         
                        <div class="col-md-3">           
                            <div class="form-group">
                                <label for="exceptionType">Alert Type</label>
                                 <select class="form-control" v-model="alertSearchModel.ExceptionType" title="Select a Alert Type">
                                    <option value="" >All</option>
                                    <option value={{exception.ExceptionType.ExceptionType}} v-for="exception in orgExceptionTypeList">{{exception.ExceptionType.ExceptionTypeDescription}}</option>                        
                                </select>
                            </div>
                        </div>
                        
                        
                        <div class="col-md-3">           
                            <div class="form-group">
                                <label for="alertStatus">Alert Status</label>
                                 <select class="form-control" v-model="alertSearchModel.ActiveFlag" title="Select a Alert Status">
                                    <option value="Y" >Active</option>
                                    <option value="N" >Inactive</option>
                                    <option value="" >All</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="orderNo">Order Number</label>
                                <input type="email" class="form-control" placeholder="Order Number" v-model="alertSearchModel.OrderNo" title="Enter the Order Number associated with the Alerts">
                            </div>
                        </div>
                   
                         <div class="col-md-3">
                            <div class="form-group">
                                <label for="orderNo">Source ID</label>
                                <input type="email" class="form-control" placeholder="Source ID" v-model="alertSearchModel.InboxReferencesList.InboxReferences.Value" title="Enter the Source System Order Number associated with the Alerts">
                            </div>
                        </div>
                        
                        <div class="col-md-3">        
                            <div class="form-group">
                                <label for="assignedToUser">Assigned To User</label>
                                <select class="form-control" v-model="alertSearchModel.User.Loginid" title="Select a Assigned User">
                                    <option value="" ></option>
                                    <option value={{user.Loginid}} v-for="user in userList">{{user.Username}}</option>                        
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-3">
                            <label for="lastraisedon">Last Raised On</label>
                              <div class="row CusDateContainer" >
                              <div class="col-md-6">
                             <input type="text" class="form-control" id="FromLastOccurredOn" placeholder="From Date" v-datepicker="alertSearchModel.FromLastOccurredOn" usage="datetime" timeofday="begin" title="Date(From) range for the Alerts when its raised" fieldname="LastOccurredOn" allowfuturedate="N">
                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                                  <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p>
                                </div>
                              <div class="col-md-6">
                               <input type="text" class="form-control" id="ToLastOccurredOn" placeholder="To Date" v-datepicker="alertSearchModel.ToLastOccurredOn" timeofday="end" usage="datetime" title="Date(To) range for the Alerts when its raised" fieldname="LastOccurredOn" allowfuturedate="N">
                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                                  <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p>
                                    </div>
                                </div>
                        </div>
                        
                        <div class="col-md-3">        
                            <div class="form-group">
                                <label for="queue">Queue</label>
                                <select class="form-control" v-model="alertSearchModel.Queue.QueueId" title="Select a Subscribed Queue">
                                    <option value="" >All</option>
                                    <option value={{queue.QueueId}} v-for="queue in alertsQueueList ">{{queue.QueueName}}</option>                        
                                </select>
                            </div>
                        </div>
                        
                         <div class="col-md-3">
                         <!--  <div class="form-group">
                                <label for="priority">Priority</label>
                                <input type="number" class="form-control" id="priority" min="0" placeholder="Priority"  v-model="alertSearchModel.Priority" v-validate:priority="{ min:0, max: 500}" title="Select or Enter the Alert Priority">                               
                                <p class="help-block" v-if="$alertform.priority.min || $alertform.priority.max">{{getMessage('POSITIVE_NUM') }}</p>
                            </div> -->
                              <div class="form-group">
                                <label for="priority">Priority</label>
                                 <select class="form-control" v-model="alertSearchModel.Priority" title="Select a Alert Type">
                                    <option value="" >All</option>
                                    <option value={{prioritylist[index]}} v-for="(index,row) in prioritylist">{{prioritylist[index]}}</option>                        
                                </select>
                            </div>
                        </div>
                                           
                         <div class="col-md-3">
                           <div class="form-group">
                                <label for="maxRecords">Maximum Records Fetched</label>
                                <input type="text" class="form-control" id="maxrecords" placeholder="Maximum Records"  v-model="alertSearchModel.MaximumRecords" autocomplete="off"   min="1" max="500" v-validate:maxrecords="{ required:true, min:1, max: 500 , customMaxValidator:true }" title="Enter the Maximum number of records to be retrieved">
                                <p class="help-block" v-if="$alertform.maxrecords.required || $alertform.maxrecords.min || $alertform.maxrecords.max || $alertform.maxrecords.customMaxValidator">{{getMessage('MAX_RECORDS') }}</p>
                            </div>
                        </div>
                      
                         <div class="clearfix"></div>
                        <div class="col-md-2 pad-left-10 pull-right">
                           <button type="submit"  class="btn btn-primary btn-block">
                                Search
                            </button>
                        </div>
                          </div> 
                 
                </div>
            </form>  
    </validator>
            <div class="panel-body">
   
            
            <div class="table-responsive">
                <table id="" class="table table-striped table-hover" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
  
                     <thead>
                        <tr role="row">
                            <th class="" style="width: 20px;"><input type="checkbox" v-model="checkAllCheckbox" id="all">  </th>
                                                        
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"       @click="sortBy('InboxKey')" :class="{active: gmeta.sort.key == 'InboxKey'}" title="Unique Identifier of Alerts">Alert ID   
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['InboxKey'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                            
                                            
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"       @click="sortBy('Description')" :class="{active: gmeta.sort.key == 'Description'}" title="Description of the Alerts">Description   
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Description'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                            
                            
                            
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"       @click="sortBy('Status')" :class="{active: gmeta.sort.key == 'Status'}" title="Status of the Alerts">Status  
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Status'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                            
                                                        
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"       @click="sortBy('Queue.QueueName')" :class="{active: gmeta.sort.key == 'Queue.QueueName'}" title="Assigned Queue for the Alerts">Queue
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Queue.QueueName'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                            
                            
                                                        
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"       @click="sortBy('OrderNo')" :class="{active: gmeta.sort.key == 'OrderNo'}" title="Sterling Order Number associated with the Alerts">Order Number   
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderNo'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                            
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Order.OrderName')" :class="{active: gmeta.sort.key == 'Order.OrderName'}" title="Source System Order Number">Source ID     
                            <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Order.OrderName'] > 0 ? 'sort-up' : 'sort-down'">
                             </span>
                             </th>
                            
                                                        
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"       @click="sortBy('AssignedToUserId')" :class="{active: gmeta.sort.key == 'AssignedToUserId'}" title="Assigned User for the Alerts">Assigned To  
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['AssignedToUserId'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                            
                                                        
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"       @click="sortBy('LastOccurredOn')" :class="{active: gmeta.sort.key == 'LastOccurredOn'}" title="Occurrence Date & Time of the Alerts">Last Raised On  
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['LastOccurredOn'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                            
                                                         
                             <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"       @click="sortBy('Priority')" :class="{active: gmeta.sort.key == 'Priority'}" title="Priority of the Alerts">Priority  
                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Priority'] > 0 ? 'sort-up' : 'sort-down'">
                                 </span>
                            </th>
                            
                        </tr>
                    </thead>
                    
                    <tbody v-if="$loadingRouteData || showMask" class="table-spinner"><tr class="loader"></tr></tbody>   
                    <tbody v-if="!$loadingRouteData && !showMask">
                        <tr class="filterIndex">
                            <th class="center-filter">
                                <div class="glyphicon glyphicon-filter"></div>
                            </th>
                                                         
                            <td> <input type=text class="form-control" v-model="gmeta.filter.InboxKey" title="Unique Identifier of Alerts"> </td>
                            <td> <input type=text class="form-control" v-model="gmeta.filter.Description" title="Description of the Alerts"> </td>                            
                            <td> <input type=text class="form-control" v-model="gmeta.filter.Status" title="Status of the Alerts"> </td>
                            <td> <input type=text class="form-control" v-model="gmeta.filter.Queue.QueueName" title="Assigned Queue for the Alerts"> </td>
                            <td> <input type=text class="form-control" v-model="gmeta.filter.OrderNo" title="Sterling Order Number associated with the Alerts"> </td> 
                            <td> <input type="text" class="form-control" v-model="gmeta.filter.Order.OrderName" title="Source System Order Number"> </td>
                            <td> <input type=text class="form-control" v-model="gmeta.filter.AssignedToUserId" title="Assigned User for the Alerts"> </td>
                            <td> <input type=text class="form-control" v-model="gmeta.filter.LastOccurredOn" title="Occurrence Date & Time of the Alerts"> </td>
                            <td> <input type=text class="form-control" v-model="gmeta.filter.Priority" title="Priority of the Alerts"> </td>
                        </tr>
                         <tr v-show="!gridData"><td colspan="10" >  <span class="noRecordCtrl"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 40px;"></i><br>No Results Found</span></td>                                      </tr>
                            
                            <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in gridData 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                               | gridfilter gmeta.filter columns datecolumns
                               | paginate " >
						      
                            <td> <input type="checkbox" class="filtercheckbox" id="{{row.InboxKey}}" value="{{row.InboxKey}}" v-model="checkedInboxKeys">     </td>
                            <td v-if="hasPermission('GPSSPORD0001')"><a v-link="{ path: '/alertdetails',query:{key:row['InboxKey']}}"> {{getValue(row, "InboxKey")}}  </a>   </td>
                            <td v-else > {{getValue(row, "InboxKey")}} </td>
                            <td> {{getValue(row, "Description")}}     </td>
                            <td> {{getValue(row, "Status")}}     </td>
                            <td> {{getValue(row, "Queue.QueueName")}}     </td>
                            <td><a v-link="{ path: '/orderdetails',query:{key:row['OrderHeaderKey'],orderNo:row['OrderNo']}}"> {{getValue(row, "OrderNo")}}  </a>   </td>                            
                            <td> {{getValue(row, "Order.OrderName")}}     </td>
                            <td> {{getValue(row, "AssignedToUserId")}}     </td>
                            <td> {{getValue(row, "LastOccurredOn") | datefilter}}     </td>
                            <td> {{getIntValue(row, "Priority")}}     </td>
				        </tr>
                    </tbody>
                </table>
                
                    
                 <div class="m-t-10">
                    <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >
                </div>
            </div>
          </div>
        </div>
       </div>
        
        <div v-show="showAssignAlerts">
            <div class="modal fade" id="assignalerttouser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-content">
                            <assignalerttouser
                              :assignexception="assignException"
                              :userlist="userList"                              
                              v-on:cancel="cancelAlertAssignment()"
                              v-on:assign="assignToSelfOrUser('user')"
                              >
                            </assignalerttouser>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
        <div v-show="showAlertMessage">
            <div class="modal fade" id="showalertmessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                <div class="modal-content">
                            <errorbox                              
                              :message="'No Records are selected'"   
                               v-on:confirm="ok()"
                              >
                            </errorbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
        <input class="hidden" value= {{$route.query.request}}  v-model="Inbox.Request " />
        <input class="hidden" value= {{$route.query.orderno}}  v-model="Inbox.OrderNo " />
        <input class="hidden" value= {{$route.query.key}}  v-model="Inbox.InboxKey " />
        
        <!--<input class="hidden" value={{$route.query.Qname}}  v-model="alertSearchModel.Queue.QueueName" />
         <input class="hidden" value= {{$route.query.user}}  v-model="alertSearchModel.User.Loginid " /> -->
    </div>
</template>
<script>
	var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    var VueValidator = require('vue-validator')
    Vue.use(VueValidator)
    var Logger = require('./../utils/loggerUtils.js')
    var $log = Logger.getInstance('Alerts')

	export default {
	
	   props: {
            data: Array,
            height: Number,	
	        },
            
                      
	   data: function () {
            var filterKey="Y";
            var alertSearchModel = {
                'InboxKey': '',
                'MaximumRecords': '100',
                'ExceptionType': '',
                'OrderNo': '',
                'LastOccurredOn':'',
                'Priority': '',
                'ActiveFlag':'Y',
				'SubscribedQueues': 'Y',
                'ActiveFlagQryType': 'EQ',
                'Queue': {'QueueId':''},
                'User': {'Loginid':''},
                'InboxReferencesList':{'InboxReferences':{'Value':'', 'Name':''}}                             
            };
           
        var alertSearchType='';
        var showMask = false;
        var checkedInboxKeys=[];
        var columns =  ['InboxKey','Description','ExceptionType','Queue.QueueName','Status','OrderNo','Order.OrderName','AssignedToUserId','LastOccurredOn','Priority']
        var gmeta = {};
        var showSearch =false;
        GridUtils.populateGridMeta(gmeta, columns, false)

	  	var gridData = [];
        var queueList = [];
        var orgExceptionTypeList = {'OrgExceptionType':{'ExceptionType':''}};
        var userList = [];
        var prioritylist =[]   
        var Inbox= {'User' : {'Loginid' :''}};
        var checkAll=false;
        var assignException = {'AssignToUserId':''};        
        var showAssignAlerts = false;
        var showAlertMessage = false;
        var datecolumns=['LastOccurredOn'];         
        var showbutton = false;
        var checkAllCheckbox=false;
        var manualTrigger=false;
        var isWatchTriggered = true;
        var errorcode;
        var errordesc;
        var apierror=false;
        
	    return {
            alertSearchModel:alertSearchModel,
            columns: columns,
            userList:userList,
            prioritylist:prioritylist,
            assignException:assignException,
            orgExceptionTypeList:orgExceptionTypeList,
            gridData: gridData,
            queueList: queueList,
            showSearch: showSearch,    
            gmeta: gmeta,
            alertSearchType:alertSearchType,
            Inbox:Inbox,
            checkedInboxKeys:checkedInboxKeys,
            showAssignAlerts:showAssignAlerts,
            checkAll:checkAll,
            showAlertMessage:showAlertMessage,
            datecolumns:datecolumns,
            showMask:showMask,
            showbutton:showbutton,
            checkAllCheckbox:checkAllCheckbox,
            manualTrigger:manualTrigger,
            errorcode:errorcode,
            errordesc:errordesc,
            apierror:apierror,
            isWatchTriggered:isWatchTriggered
	       }
        },

	    route: {
		  data: function (transition) {
		       var self = this
		        /*var loadQueue = function(result) {
                    var loadUserList = function(userListResult){
                        var loadExceptionTypeList = function(exceptionTypeResult) {
                            var success = function(alertresult) {
                                transition.next({
                                    gridData : alertresult.Inbox,
                                    queueList : result.Queue,
                                    exceptionTypeList : exceptionTypeResult.ExceptionType,
                                    userList: userListResult.User
                                })
                            }
                            
                            if(self.Inbox.Request === 'Order'){
                                var Inbox = {'Order':{'OrderHeaderKey':''}}
                                Inbox.Order.OrderHeaderKey = self.Inbox.InboxKey;
                                Utils.executeDataService("getExceptionForOrder", success, Inbox);
                            }else{
                                self.alertSearchModel.User.Loginid = window.AppInfo.loginid;
                            Utils.executeDataService("alertList", success, self.alertSearchModel);
				        }  
				        }  
                        Utils.executeDataService("exceptionTypeList", loadExceptionTypeList, self.exceptionTypeList);
                    }
                    Utils.executeDataService("userList", loadUserList, self.User); 
                }                 
		        Utils.executeDataService("queueList", loadQueue, self.Queue);*/ 
               
               var mashupInput={ 'queueList': self.Queue,
                                 'userList': self.User,
                                 'orgExceptionTypeList': self.orgExceptionTypeList
                               }
               
               var loadAlertDetails = function(result) {
                   if(self.alertSearchModel.MaximumRecords===''){
                       self.alertSearchModel.MaximumRecords='100'
                   }
                    var success = function(alertresult) {
                        transition.next({
                            gridData : alertresult.Inbox,
                            queueList : result.queueList.Queue,
                            orgExceptionTypeList : result.orgExceptionTypeList.OrgExceptionType,
                            userList: result.userList.User
                        })
                         
                        for(var i=0; i< self.orgExceptionTypeList.length; i++){
                            var priority= parseInt(self.orgExceptionTypeList[i].Priority)
                            if(self.prioritylist.indexOf(priority)<0){
                                self.prioritylist.push(priority)
                            }
                        }
                        self.prioritylist.sort()                        
                    }
                    var errorHandler = function(errorObj) {
                          self.apierror = true
                          self.errorcode = errorObj.ErrorCode
                          self.errordesc = errorObj.ErrorDescription
                          self.trackDisable = true
                           self.showMask=false;
                          transition.next()
                          //Error message times out after 10 seconds
                          setTimeout(function(){self.apierror = false},Utils.getTimeOut())
                    }
                    if(self.Inbox.Request === 'Order'){
                        self.alertSearchType ='all';
                        self.isWatchTriggered = false;                        
                        self.alertSearchModel.OrderNo = self.Inbox.OrderNo;
                        //var Inbox = {'Order':{'OrderHeaderKey':''}}
                        //Inbox.Order.OrderHeaderKey = self.Inbox.InboxKey;
                        $log.info('Getting alerts related to order by calling getExceptionList api '+JSON.stringify( self.alertSearchModel))
                        Utils.executeDataService("alertList", success, self.alertSearchModel, self.errorHandler);
                    }
                    else if(self.$route.query.user && self.$route.query.user === 'All')
                    {
                        self.alertSearchModel.User.Loginid = '';                        
                        if(self.$route.query.Qname) {
                            self.alertSearchModel.Queue.QueueId= self.$route.query.Qname;
                        }
                        self.alertSearchType = 'all'
                        $log.info('Getting alerts by calling getExceptionList api for all user '+JSON.stringify(self.alertSearchModel))
                        Utils.executeDataService("alertList", success, self.alertSearchModel, self.errorHandler);
                    }
                    else
                    {
                        self.alertSearchModel.User.Loginid = window.AppInfo.loginid;
                        self.alertSearchType = '';                        
                        if(self.$route.query.Qname) {
                            self.alertSearchModel.Queue.QueueId= self.$route.query.Qname;
                        }
                        $log.info('Getting alerts by calling getExceptionList api '+JSON.stringify(self.alertSearchModel))
                        Utils.executeDataService("alertList", success, self.alertSearchModel, self.errorHandler);
                    }                     
               }
               $log.info('Getting alert list details by calling alertscreenload aggregator '+JSON.stringify(self.mashupInput))
               Utils.executeDataService("alertscreenload", loadAlertDetails, self.mashupInput, self.errorHandler);
               
		  }
          
        },	
        
        filters: {
	   	   paginate: function(list) {
            return GridUtils.paginate(this.gmeta, list)
	   	   }
        },   
        
        methods: {
            getValue: function(row, binding) {
                return Utils.getValue(row,binding)
            },
            setPage: function(pageNumber) {
                this.checkAll=false
                this.checkAllCheckbox=false
                this.manualTrigger=false                
                GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
            },
            sortBy: function (key, numeric) {
              GridUtils.sortBy(this.gmeta, key, numeric)
            },
            
            /*formatDate: function(row, binding){
                var date = Utils.getValue(row,binding)
                return Utils.formatForDisplay(date)
            },*/
      
            getIntValue: function(row, binding){
                var priority = Utils.getValue(row,binding)
                return Math.round(priority)
            },
            
            alertSearch: function(event) {
                event.preventDefault()	 
                var invalidDates = $(".invalid").length

               if(this.$alertform.valid && invalidDates === 0) {
                   var self = this	
                   if(self.alertSearchModel.MaximumRecords===''){
                       self.alertSearchModel.MaximumRecords='100';
                    }
                if(self.alertSearchModel.InboxReferencesList.InboxReferences.Value){
                    self.alertSearchModel.InboxReferencesList.InboxReferences.Name = "Source ID";                    
                }else{
                    self.alertSearchModel.InboxReferencesList.InboxReferences.Name = "";
                }
                        var success = function(result) {       
                            self.gridData = result.Inbox 
                            self.showSearch=false;
                            self.showMask=false;
                        if((self.alertSearchModel.User.Loginid === '')){                    
                            self.alertSearchType ='all';
                            self.isWatchTriggered = false;
                        }else{
                            self.alertSearchType ='';
                            self.isWatchTriggered = false;
                        }
                         } 

                if(!(self.alertSearchModel.User.Loginid === window.AppInfo.loginid)){                    
                    if(self.alertSearchModel.ActiveFlag==='N'){
                        self.showbutton = false;    
                    }else{
                        self.showbutton = true;
                    }                    
                }else if(self.alertSearchModel.ActiveFlag==='N'){
                    self.showbutton = false;
                }else{
                    self.showbutton = false;
                }
                   
                    self.showMask=true

			    Utils.executeDataService("alertList", success, self.alertSearchModel, self.errorHandler);  
               }
                GridUtils.clearMetaPagination(this.gmeta, this.columns);
	       },
            
           assignToSelfOrUser: function(selfOrUser){
               var self = this;
               var input = {};               
               if(selfOrUser==='self'){
                   self.assignException.AssignToUserId = window.AppInfo.loginid;
               }
               input.ExceptionList = {}
               input.ExceptionList.Exception = []
               var selectedExceptions = input.ExceptionList.Exception
               for(var i=0; i< self.checkedInboxKeys.length; i++){
                   var selectedException = {};
                   selectedException.InboxKey = self.checkedInboxKeys[i];
                   selectedException.AssignToUserId = self.assignException.AssignToUserId;
                   selectedExceptions.push(selectedException);
                }               
                    var success = function(result) {
                        for(var i=0; i< self.gridData.length; i++){
                           
							if(self.checkedInboxKeys.indexOf(self.gridData[i].InboxKey) > -1 ){
                                self.gridData[i].AssignedToUserId=self.assignException.AssignToUserId
							                                
                                if(selfOrUser !='self' && self.alertSearchType !='all'){
                                  self.gridData.$remove(self.gridData[i])    
                                }                                                                  
                            }
						}
                   self.checkedInboxKeys = [];                   
                }			   
                Utils.executeDataService("assignAlertsList", success, input, self.errorHandler);
           },
            
            startAssignAlertToUser: function(event){
                var self = this;
                self.assignException = {'AssignToUserId':''};              
                if(self.checkedInboxKeys.length > 0 ){ 
                      self.showAssignAlerts=true;               
                }else{
                    self.showAssignAlerts=false; 
                        event.stopPropagation();
                    }
            },
            
            cancelAlertAssignment:function(){
                this.assignedToUserId=null;
            },
            
            ok:function(){
                this.showAlertMessage=false;
                this.showAssignAlerts=false;  
            },
            
            displayAlertMessageBox:function(){
                this.showAlertMessage=true;
            },
            getMessage: function(errorMessageId) {
                return Utils.getErrorMessage(errorMessageId)      
	        },
            
            getUserId: function(){
                return window.AppInfo.loginid;
            },
            
             hasPermission:function(resourceId){                 
                return Utils.hasPermission(resourceId)
            },
			 getAPIErrorMessage: function() {
				return Utils.getAPIErrorMessage();
			 },			
            
            errorHandler : function(errorObj) {
              var self = this;
              self.apierror = true
              self.showMask=false;
              self.errorcode = errorObj.ErrorCode
              self.errordesc = errorObj.ErrorDescription
              transition.next();
              //Error message times out after 10 seconds
              setTimeout(function(){self.apierror = false},Utils.getTimeOut())                 
            },
            
            resetAll: function(){
                this.alertSearchModel = this.getNewAlertSearchModel();                
            },
            
            getNewAlertSearchModel: function(){
                var self = this;
                var newAlertSearchModel = {
                    'InboxKey': '',
                    'MaximumRecords': '100',
                    'ExceptionType': '',
                    'OrderNo': '',
                    'LastOccurredOn':'',
                    'Priority': '',
                    'ActiveFlag':'Y',
                    'SubscribedQueues': 'Y',
                    'ActiveFlagQryType': 'EQ',
                    'Queue': {'QueueId':''},
                    'User': {'Loginid':''},
                    'InboxReferencesList':{'InboxReferences':{'Value':'', 'Name':''}}
                };
                
                if(self.alertSearchType === 'all'){                     
                    newAlertSearchModel.User.Loginid = '';                    
                }else{                    
                    newAlertSearchModel.User.Loginid = window.AppInfo.loginid;                    
                }
                return newAlertSearchModel;
            }
        },
        
        watch:{
            alertSearchType: function(alertSearchType){
                var self = this;                 
                if(self.isWatchTriggered){                    
                var success = function(result) {       
                    self.gridData = result.Inbox 
                    self.showSearch=false
                 }
                
                   if(self.alertSearchModel.MaximumRecords===''){
                       self.alertSearchModel.MaximumRecords='100';
                   }
                
                if(alertSearchType==='all'){
                    self.showbutton = true;
					self.alertSearchModel.User.Loginid='';
                        /*self.alertSearchModel.ActiveFlag='Y';
                    self.alertSearchModel.ActiveFlagQryType='EQ';
                        self.alertSearchModel.SubscribedQueues = 'Y';*/

                }else{
                    self.showbutton = false;
                    self.alertSearchModel.User.Loginid=window.AppInfo.loginid;
                        //self.alertSearchModel.ActiveFlag='Y';
                }                
                Utils.executeDataService("alertList", success, self.alertSearchModel, self.errorHandler);              
                }else{
                    self.isWatchTriggered = true;
                }                              
            },
            
            checkedInboxKeys: function(oldvalue,newValue){
             
              if((oldvalue.length) != (newValue.length)){
                  this.manualTrigger=true;
                  this.checkAllCheckbox=false;
              }             
                   
            },
            
            checkAllCheckbox: function(newValue){
             
                if(newValue){    
                   var classNames = document.getElementsByClassName('filtercheckbox');
                   this.checkAll=true;
                   this.manualTrigger=false;
                   this.checkedInboxKeys.length=0; 
                   this.checkedInboxKeys.splice(0,this.checkedInboxKeys.length); 
                   for (var i=0; i<classNames.length; i++){
                     this.checkedInboxKeys.push(classNames[i].id);   
                   }
                } else if(!this.manualTrigger) {
                    
                       this.checkAll=false;
                       this.checkedInboxKeys.length=0; 
                       this.checkedInboxKeys.splice(0,this.checkedInboxKeys.length);    
                    
                } else {
                    this.manualTrigger=false;
                }
                
                // console.log(this.checkedInboxKeys);
            }
            
            
        },
        
        validators:{
            customMaxValidator:function(val){
                return /^([1-9]\d*)$/.test(val);
            }  

       },
        
       computed: {
    
            alertsQueueList: function(){
                var self=this;
                var list=[];
                var filterByGroupName = function(row) {                
                    if(row.QueueGroup === 'ALERTS') {
                        return true
                    } else {
                        return false
                    }
                }
                list = self.queueList.filter(filterByGroupName)            
                return list;
            },
           
           totalPages: function() {
              return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
            }
        },
        
	   beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
    }
</script>
