<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying order details
     ***************************************************************************-->
<template>
<br>

<div>
      <div class="panel panel-default m-t-10">
                    <div class="panel-heading">Order Confirmation
                    </div>
                    <div class="panel-body HeaderContainer">
                    <br>
                    <div class="row">    
                     <div class="form-group col-md-3">
                         <label>Order No: <a v-link="{ path: '/orderdetails',query:{key:orderObj['OrderHeaderKey'],orderNo:orderObj['OrderNo']}}">{{orderObj.OrderNo}} </a>has been created successfuly</label>
                       
                          </div>
                      <div class="form-group col-md-3">
                         
                    <!-- <button class="btn btn-primary btn-lg pull-right" type="button" v-on:click="navigate">New Order</button> -->
                        
                     </div>    
                        

                      
    </div>
        
                        
<div class="clearfix"></div>        
<br>
                    </div>
                    </div>


                    
    </div>
    
                    <div class="clearfix"></div>
              
</template> 
<script>
    var Utils = require('./../utils/utils.js')
    var Vue = require('vue')

    export default {
       props: {
          
       },
     
       data: function() {
      
           var orderObj= {};
        
          return {
              orderObj:orderObj
          }
       } ,
       components: {
          
          
       },
       ready: function(){
           var self = this;
           
     
       },
       methods: {
         navigate: function() {
             this.$router.go({name:'createorder', replace: true})
         }
        },
       computed: {
       
       },
        watch: {
  
       },
      events: {
           //Event dispatched from CreateOrder.vue
           ConfirmedOrdDetailsEvent: function(event){
             event.preventDefault;
             var self= this
             self.orderObj= event
           }
          
          
       }
    }
</script>



