<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- This is vue component for displaying order status summary -->

<template>
        <div class="box panel panel-default">
	       <div class="panel-heading">
                                <h5>Order Status Summary</h5>
                                <div class="pull-right">
                                     
                                    <select class="select-style form-control" v-model="documentType"> 
                                        <!--<option value="" >Select an option</option>--> 
                                        <option v-for="doc in documentList" v-bind:value="doc.CodeValue">{{doc.CodeShortDescription}}</option>                                 

                                        <!--<option value="0001" >Sales Order</option> 
                                        <option value="0003" >Return Order</option>                                         
                                        <option value="0005" >Purchase Order</option>
                                        <option value="0006" >Transfer Order</option> -->
                                </select>

                                </div>
                            <div class="form-group">
                          
                            </div>
                                </div>

             <div class="clearfix"></div>
             <div class="panel-body CusAbs">
             <div class="AlertBody">
                  <div v-if="showMask" class="spinner-loading absolution">
                        <div class="loader"></div>
                    </div>                 
                <div class=""  id="orderSummary"  v-if="gridData && hasPermission('GPSSPORD0001') && !showMask">
                      
						  <ul class='list-unstyled list-inline Order_summary col-md-6'  role="row"  v-for="row in gridData"> <li class="QueueCls">{{getValue(row, "StatusDescription")}}</li>
						  <li><a v-link="{ path: '/orderlist',query:{Status:row['Status'].trim(),DocType:documentType,RequestFrom:'Index'}}">
						  <span class='AlertBadge'>{{getValue(row, "NoOfOrders")}}</span></a></li>
						  </ul>
                </div>                
                  <div class="" v-if="!hasPermission('GPSSPORD0001')">  <label for="" class="col-sm-6 control-label">You Do Not Have Access to this Data.</label></div>
                 
                 <div class="" v-if="hasPermission('GPSSPORD0001') && !showMask && (!gridData || !gridData.length>0)">  <label for="" class="col-sm-6 control-label">No Orders Present</label></div>
                 
                 <!--<div class="" v-if="hasPermission('GPSSPORD0001') && showSelectMessage">  <label for="" class="col-sm-6 control-label">Select an option</label></div>-->
               
                 </div>
                   <div class="clearfix"></div>
                   <div  class="last_update UpdateCtrl" v-if="gridData && hasPermission('GPSSPORD0001') && !showMask">Last Updated:{{getDateTime()}}</div> 
                 </div>
                </div>
            
     
</template>

<script>
	
    var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    export default{

	  data: function () {
    
   
       var showSelectMessage = false;
          var showMask = false;
       var gridData = []
       var documentType = '0005';
		var documentList = []
		
	    return {
          
	    gridData: gridData,
            documentType:documentType,
            showSelectMessage:showSelectMessage,
            showMask:showMask,
            documentList:documentList
	       }
      }
  ,
  
  ready: function(){
            var self=this  
            var input = {'DocumentType':'0005'};
            self.showSelectMessage = false;
            self.showMask = true       
            var documentSuccess = function(documentresult) {
                var success = function(result){
                        self.gridData = result.OrsSummary
                        self.documentList = documentresult.CommonCode
                        self.showMask = false
                }
                Utils.executeDataService("ordersummary", success, input);
            }
            Utils.executeDataService("getdocumenttypelist", documentSuccess, self.DocumentType);                  
             
  },
		
  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },
      getDateTime: function() {
          if(this.gridData) {
            var serverdate= Utils.getValue(this.gridData[0],"UpdatedDate")
            return Utils.formatDateTime(serverdate)
          } else {
              return ""
          }
      },
      hasPermission: function(resourceId) {
          return Utils.hasPermission(resourceId)
      }
  },
        
    watch:{
        documentType: function(documentType){  
            var self = this	
            var input={'DocumentType':''};
            self.showSelectMessage = false;
            
            self.showMask = true
            if(documentType === '') {
                self.showSelectMessage = true
                self.gridData = []
            } else {
                var success = function(result) {
                    self.gridData = result.OrsSummary               
                    self.showMask = false
                }
                input.DocumentType = documentType;
                if(self.hasPermission('GPSSPORD0001')) {
                    Utils.executeDataService("ordersummary", success, input);        
                }
            }
            
        }
    },
  

	beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
    }
 
</script>