<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- This is vue component for displaying YTD Order Summary-->
 <template>
            <div class="panel-heading">
                                <h5>YTD Order Summary</h5>  
            
                <div class="pull-right">
                                     
                                    <select class="select-style form-control" v-model="documentType"> 
                                       <option v-for="doc in documentTypeList" v-bind:value="doc.CodeValue">{{doc.CodeShortDescription}}</option>                                 
                                      
                                </select>

                                </div>
             </div>
                            <div class="clearfix"></div>
                            <div class="panel-body" >
                                <div class="row no-gutters" v-if="hasPermission('GPSSPDASH0001A01')">
                                    <div class="col-xs-6">
                                        <div class="status-pills text-center">
                                                <div class="status-number ">
                                                    {{getValue(overallYTDOrderSummary,"NoOfOrders") | integerfilter}}
                                                    <p>Total</p>
                                                </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 last">
                                        <div class="status-pills text-center">
                                                <div class="status-number">
                                                    {{getValue(overallYTDOrderSummary,"TotalAmount") | numberfilter}}
                                                    <p>Total Value (AUD)</p>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                     <div class="last_update">Last Updated: {{getDateTime(updatedDate)}}</div>
                                </div>
                                 <div class="row" v-else><div class="col-xs-6"><p>You Do Not Have Access to this Data.</p>
     </div>
     </div>
                                </div>
</template>

<script>
	
    var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    export default{

	  data: function () {
      var columns =['DocumentType','NoOfOrders','Status']
      var gmeta = {}
      GridUtils.populateGridMeta(gmeta, columns, false)
 
       var gridData = []
       var documentTypeList={};
       var overallYTDOrderSummary= {};  
       var documentType='0005'
       var updatedDate= ''
       
       var date = new Date();
       var year= date.getFullYear();
       var input = {'Year': year ,'DocumentType':'0005'}
	    return {
	    	columns: columns,
	        gridData: gridData,
            documentTypeList: documentTypeList,
            gmeta: gmeta,
            updatedDate:updatedDate,
            overallYTDOrderSummary:overallYTDOrderSummary,
            documentType:documentType,
            year:year,
            date:date,
            input:input
	       }
      }
  ,
  
  ready: function(){
            var self=this  
            var docInput = {'DocumentType': self.documentType};
                       
            var mashupInput={ 'ytdordersummary': self.input,
                             'getdocumenttypelist': docInput                             
                           }
            
			Utils.executeSinglePageDataService("dashYTDOrderSummary", mashupInput).then(function(ytdordersummaryresult){
			
			if(!(ytdordersummaryresult.constructor=== Array) && !ytdordersummaryresult){
								if(ytdordersummaryresult.charAt(0) === '<'){
							    window.location.href = window.AppInfo.contextroot+"/login.jsp";
							}
			}

            var tempArray = ytdordersummaryresult.ytdordersummary.OrderSummary;
            self.updatedDate = ytdordersummaryresult.ytdordersummary.UpdatedDate;
            if(tempArray && tempArray.length > 0) {
				self.overallYTDOrderSummary = tempArray[0]
			} 
               
            self.documentTypeList=  ytdordersummaryresult.getdocumenttypelist.CommonCode   
        });
     
  },
		
  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },

      formatForDisplay:function(serverDate) {
          return Utils.formatForDisplay(serverDate)
      },
       sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
      },
      getDateTime: function(serverdate) {
        return Utils.formatDateTime(serverdate)
      
      },
      hasPermission: function(resourceId) {
         return Utils.hasPermission(resourceId)
      }
  
  },
        
      watch:{
        documentType: function(documentType){  
            var self = this	
           
            if(documentType === '') {               
                self.overallYTDOrderSummary = []
            } else {
                var success = function(result) {
                    self.overallYTDOrderSummary = result.OrsSummary               
                    var tempArray = result.OrderSummary;
                    self.updatedDate = result.UpdatedDate;
                    if(tempArray && tempArray.length > 0) {
                        self.overallYTDOrderSummary = tempArray[0]
                    } 
                    else{
                        var obj= {'NoOfOrders': '0','TotalAmount':'0.00'}; 
                        self.overallYTDOrderSummary = obj                                         
                    } 
                   
                }
                self.input.DocumentType = documentType;
                    Utils.executeDataService("ytdordersummary", success, self.input);                        
            }
            
        }
    },        
        
	beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
    }
 
</script>