<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- This is vue component for displaying watch list in dashboard.-->
<template>
     <div class="">
  <div class="panel panel-default">
<div class="panel-heading">
                        <h5>My Watchlist</h5>
                        <div class="text-right">
                            <button type="button" class="btn btn-default SecondaryBtn removebtn" v-on:click="Remove()" title="Remove from Watchlist">Remove From Watchlist</button>
                        </div>
                    </div>
                <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive table-fixed">
                <table class="table table-striped table-hover" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" Id="WatchListCtrl">
                  <thead>
                    <tr role="row">
                     <th style="text-align: center; width: 30px;"> <input type='checkbox'  id='select-all' v-on:click="RemoveTrAll"/> </th>
                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrderNo')" :class="{active: gmeta.sort.key == 'OrderNo'}" >Order No  
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderNo'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                      </th>
                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrderName')" :class="{active: gmeta.sort.key == 'OrderName'}" >Source ID     
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderName'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                      </th>
                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Status')" :class="{active: gmeta.sort.key == 'Status'}" >Status    
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Status'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                      </th>
                      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ReqDeliveryDate')" :class="{active: gmeta.sort.key == 'ReqDeliveryDate'}" >Req Delivery Date    
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ReqDeliveryDate'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                      </th>  </tr>
                  </thead>
                  <tbody>
                    <tr id="SearchControl">
                      <th class="center-filter">
                        <div class="glyphicon glyphicon-filter"></div>
                      </th>
                      <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.OrderNo" title="Enter OrderNumber">
                      </td>
                       <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.OrderName" title="Enter SourceId">
                      </td>
                      <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.Status" title="Enter Status">
                      </td>
                      <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.ReqDeliveryDate" title="Enter Requested DeliveryDate">
                      </td>
                     
                     
                    </tr> 
                    <tr v-show="!gridData" id="norecords"><td colspan="5">
                    <!--<img class="norecord" :src=pathImage>-->
                    <span class="noRecordCtrl HightCtrl"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 40px;"></i><br>No Results Found</span>
                    </td></tr>
         
                    <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                      v-for=" row in gridData 
                      | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                      | gridfilter gmeta.filter columns datecolumns
                      " id="{{getValue(row, 'OrderHeaderKey')}}">
					  <td><input type='checkbox' class='checkbox' id='txtcheckbox-{{$index}}' value="{{getValue(row, 'OrderHeaderKey')}}" v-on:click="RemoveTr"/></td>
                      
                      <td><a v-link="{ path: '/orderdetails',query:{key:row['OrderHeaderKey'],orderNo:row['OrderNo']}}"> {{getValue(row, "OrderNo")}}  </a>   </td>
                   <td> {{getValue(row, "OrderName")}}     </td>
                      <td>{{getValue(row, "Status") }} </td>
                     <td> {{getValue(row, "ReqDeliveryDate") | datefilter}}     </td>   
                   </tr>
                  </tbody>
                </table>
               
              </div>
            </div>
          </div>
        </div>
        <div v-show="showAlertMessage">
            <div class="modal fade" id="showalertmessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-content">
                            <errorbox                              
                              :message="'No Records are selected'"   
                               v-on:confirm="ok()"
                              >
                            </errorbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</div>
</template>
<script>

    var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    export default{

	  data: function () {
    
   
     
	
     var orderSearchModel = {
            'OrderNo': '',
			'OrderName':'',
            'DocumentType':'0005',
			'SellerOrganizationCode':'Vendor1',
			'IsWatchedByUser':'Y',
            'OrderDate':'',
            'OrderLine': {
                  'Item': {
                     ItemID:'',
                     ItemShortDesc:'',
                   }
            },
            'ReqShipDate':'' ,
            'MaximumRecords': '5'
         }
      
      var columns =[ 'OrderNo','OrderName','Status','ReqDeliveryDate']
      var gmeta = {}
      GridUtils.populateGridMeta(gmeta, columns, false)
 
       var gridData = []
       var documentData = []
        var showAlertMessage = false;
       var orderCount=0
       var action={}
		var datecolumns=['ReqDeliveryDate']
    var pathImage=window.AppInfo.contextroot+"/images/NoRecordFound.png"
	    return {
           orderSearchModel:orderSearchModel,
	    	columns: columns,
	        gridData: gridData,
            gmeta: gmeta,
            action:action,
            datecolumns:datecolumns,
            pathImage:pathImage,
            orderCount:orderCount,
            showAlertMessage:showAlertMessage
   
	       }
      }
  ,
  
  ready: function(){
            var self=this
			
			$("#select-all").change(function() {
		
			var status = this.checked;
			$('.checkbox').each(function() {
				this.checked = status;
			});
		});

			Utils.executeSinglePageDataService("getUserWatchlist", "").then(function(orderresult){
						if(!(orderresult.constructor=== Array) && !orderresult){
								if(orderresult.charAt(0) === '<'){
							    window.location.href = window.AppInfo.contextroot+"/login.jsp";
							}
						}

                           var tempArray =orderresult.Order;
						   self.gridData = tempArray;
                         
                                  });
             
             
			

		},
		
  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },
     RemoveTr:function (){
         $('#WatchListCtrl tr').filter(':has(:checkbox:checked)').each(function() {
          var self = $(this);

          self.closest("tr").addClass('hilight');
   
       
      
    });
           $('#WatchListCtrl tr').filter(':has(:checkbox:unchecked)').each(function() {
          var self = $(this);

          self.closest("tr").removeClass('hilight');
        
       
      
    });

      },
       RemoveTrAll:function (){
         $('#WatchListCtrl tr').filter(':has(:checkbox:checked)').each(function() {
           var self = $(this);

          self.closest("tr").removeClass('hilight');     
      
    });
           $('#WatchListCtrl tr').filter(':has(:checkbox:unchecked)').each(function() {
         var self = $(this);

         self.closest("tr").addClass('hilight');
    });
       },

      
      formatForDisplay:function(serverDate) {
          return Utils.formatForDisplay(serverDate)
      },
       sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
      },
      
      ok:function(){
        this.showAlertMessage=false;                        
      },
      
	  Remove: function(){
	  		var self = this;
		if ($('.checkbox:checked').length) {
            this.orderCount=this.orderCount+$('.checkbox:checked').length
			$('.checkbox:checked').each(function() {
				
			var watchListInput={};
           watchListInput.OrderHeaderKey= $(this).val();
            var success = function(result) {
			     for(var i=0;i<self.gridData.length;i++){
                      if(self.gridData[i].OrderHeaderKey===watchListInput.OrderHeaderKey){
                                      self.gridData.$remove(self.gridData[i])
                      }
                 }
			}
      Utils.executeDataService("removeWatchedOrder", success, watchListInput);
			});
			
          if(this.orderCount===this.gridData.length){
              $('#norecords').show();
          }
				
			$('input:checkbox').removeAttr('checked');
            
		} else {
            this.showAlertMessage=true;
			//$('#showalertmessage').modal('show');
            $('#showalertmessage').modal({backdrop: 'static',keyboard: false})
		}
	  }
      
  
  },
  

	beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
    }
$(document).ready(function() {
	
/*		$(document).on('click', '#txtcheckbox', function(){
  			 if (this.checked == false) {
				$("#select-all")[0].checked = false; 
				
			}
		}); */
    });
    
   


</script>
