<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- This is vue component for displaying Alert Summary-->
    <template>
<div class="box panel panel-default">
	<div class="panel-heading">

                                <h5> Alert Summary
                                    </h5> <div class="pull-right"><span class="RoundBadge"></span><span class="badgeText">All Alerts</span>
                                  <span class="RoundBadge red"></span><span class="badgeText">My Alerts</span> </div>
                                </div>

                          <div class="clearfix"></div>
                            <div class="panel-body AlertBody">
                          <div v-if="ShowMask" class="spinner-loading absolution">
    <div class="loader"></div>
    </div>
                                                 <div class="" v-if="(!gridData || !gridData.length>0)">  <label for="" class="col-sm-6 control-label">No Alerts Present</label></div>
                                
                                <div class="" v-if="!$loadingRouteData && !ShowMask && hasPermission('GPSSPALR0001')"  id="alerts">
                               
						  <ul class='list-unstyled list-inline Order_summary col-md-6'  role="row"  v-for="row in gridData">
                              <li class="QueueCls">{{getValue(row, "QueueName")}}</li>
                             
                              <li v-if="row.QueueGroup === 'EXCEPTIONS' ">
                                  <ul class="pull-right list-unstyled list-inline">
                                    <li><a  v-link="{ path: '/exceptionlist',query:{Qname:row['QueueKey'], user: 'All', RequestFrom: 'Summary' }}" >                              
                                        <div class='AlertBadge'>{{getValue(row, "NumberOfAlerts")}}</div></a>
                                    </li>

                                    <li><a v-link="{ path: '/exceptionlist',query:{Qname:row['QueueKey'], RequestFrom: 'Summary' }}">
                                        <div class=' AlertBadge labelclr'>{{getValue(row, "NumberOfAlertsAssigned")}}</div></a>
                                    </li>
                                  </ul>
                              </li>
                                <li v-else>
                                  <ul class="pull-right list-unstyled list-inline">
                                    <li><a  v-link="{ path: '/alertlist',query:{Qname:row['QueueId'], user: 'All' }}" >                              
                                        <div class='AlertBadge'>{{getValue(row, "NumberOfAlerts")}}</div></a>
                                    </li>

                                    <li><a v-link="{ path: '/alertlist',query:{Qname:row['QueueId'] }}">
                                        <div class=' AlertBadge labelclr'>{{getValue(row, "NumberOfAlertsAssigned")}}</div></a>
                                    </li>
                                  </ul>
                              </li>
                              
                        </ul>                        
        </div>
                <div class="" v-else>  <label for="" class="col-sm-6 control-label">You Do Not Have Access to this Data.</label></div>
        </div>
	</template>
	<script>
	
    var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    export default{

	  data: function () {
    
   
      
      var columns =[ 'OrderNo','OrderName','Status','ReqDeliveryDate']
      var gmeta = {}
      var showSearch =false
      GridUtils.populateGridMeta(gmeta, columns, false)
 
       var gridData = []
       var documentData = []
     
       var showIcons=false
       var action={}
        var ShowMask = true
		
	    return {
          
	    	columns: columns,
	        gridData: gridData,
            showSearch: showSearch,
            gmeta: gmeta,
            action:action,
            ShowMask:ShowMask
	       }
       
      }
  ,
  
  ready: function(){
            var self=this
                var errorHandler = function(errorArrObj) {
                    self.ShowMask = false;
                }
            	Utils.executeSinglePageDataService("alertsummary", "",errorHandler).then(function(alertresult){
                          var tempArray =alertresult.Queue;
                            if(!tempArray) {
                                tempArray = []
                            }
                            if(!(tempArray.constructor === Array)) {
                                tempArray = []
                                tempArray.push(alertresult.Queue)
                            }
                            tempArray.forEach(function (alertObj,index) {
                                if(alertObj && alertObj.QueueGroup === 'ALERTS') {
                                    self.gridData.push(alertObj)       
                                }   
                            });
						   //self.gridData = tempArray;
		                   self.ShowMask = false;
                          });
                  	Utils.executeSinglePageDataService("exceptionsummary", "",errorHandler).then(function(exceptionresult){
                          var tempArray =exceptionresult.Queue;
                            if(!tempArray) {
                                tempArray = []
                            }
                            if(!(tempArray.constructor === Array)) {
                                tempArray = []
                                tempArray.push(exceptionresult.Queue)
                            }
                            tempArray.forEach(function (exceptionObj,index) {
                                if(exceptionObj && exceptionObj.QueueGroup === 'EXCEPTIONS') {
                                    self.gridData.push(exceptionObj)       
                                }   
                            });
						   //self.gridData = tempArray;
		                   self.ShowMask = false;
                          });

		},
		
  methods: {
       hasPermission:function(resourceId){
            return Utils.hasPermission(resourceId)
         } ,
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },

      formatForDisplay:function(serverDate) {
          return Utils.formatForDisplay(serverDate)
      },
       sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
      }
    },
  	beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
    }
 
</script>