<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- This is vue component for displaying YTD Order Summary-->
 <template>
 


     <div class="block" id="errorBlock">
                 {{errorElement}}
               </div>



</template>

<script>
	
    var Vue = require('vue')
	var Utils = require('./../utils/utils.js')

    export default{

	  data: function () {
   
        var errorcode=''
        var errordesc=''
        var apierror=false
        var DashboarError = Utils.DashboarError
                  
	    return {
	    	errorcode:errorcode,
            errordesc:errordesc,
            apierror:apierror,
            DashboarError:Utils.DashboarError,
           }
      }
  ,
  
  ready: function(){
            var self=this  
           
     
  },
		
  methods: {
   
      getErrorStatement : function (responseText){
          
          var errorArrObj = responseText
          var errorArr = []
          if(errorArrObj.errors) {
                errorArr = errorArrObj.errors
          }
          var errorObj = {'ErrorCode' : '', 'ErrorDescription': '', 'HttpCode': '', 'MashId':''}
          if(errorArr && errorArr.length > 0) {
                errorObj.ErrorCode = errorArr[0].ErrorCode
                errorObj.ErrorDescription = errorArr[0].ErrorDescription
                errorObj.HttpCode = errorArr[0].httpcode
                errorObj.MashId = errorArrObj.MashId
          }
          return errorObj;
          
      }
  
  },

  watch:{
  
    DashboarError : function(NewValue){ 
       var self = this;
       for (var i in NewValue) {
          var errorObj = self.getErrorStatement(NewValue[i]);
          var template = "<div class='alert alert-danger' role='alert'>"
                      + "<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>" 
                      + "<strong>API Error:</strong> " + errorObj.ErrorCode + " " + errorObj.ErrorDescription + " in "+ errorObj.MashId + ". This could be due to incorrect configuration or improper input. Please fix the error and try again."
                      + "</div>";
          $("#errorBlock").append(template);
       }
        Utils.DashboarError.length=0;
    }  
  
  },
        
	beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
    }
 
</script>