<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying order details.
     ***************************************************************************-->
<template>
<div>
<div>
    <div>
    <div class="spinner-loading" v-if="$loadingRouteData || showMask" >
        <div class="loader"></div>
    </div> 
      <div class="container-fluid CustomHgt" cz-shortcut-listen="true">
          <div class="row ">
                   <div class="col-md-4">
                <div v-breadcrumb="true"></div>
            </div>
       </div>
          <div class="block  clearfix">
     <div >
          <div class="alert alert-danger alert-dismissible" role="alert" v-if="apierror">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}  
          </div>
        </div>
       <div class="block" v-show="haserror">
          <div class="alert alert-danger alert-dismissible" role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="haserror=!haserror"><span aria-hidden="true">&times;</span></button>
              <strong>Input Error:</strong>{{alertmessage}}. Please fix the error and try again.</div>
     </div> 
               <div class="alert alert-danger alert-dismissible" role="alert" v-if="NotCT">
            <button type="button" class="close" aria-label="Close" @click="NotCT=!NotCT" >&times;</button>
            <strong>Input Error:</strong> Only CT Nodes Can Be Selected 
          </div>
                <div>
              <h5 class="pull-left">Order Details</h5>
                  </div>
 
              <span class="pull-right">
                    <button type="button" class="btn btn-default SecondaryBtn" data-toggle="modal"  
                            title="Cancel" v-on:click="showAlertConfirm()" data-toggle="modal" data-target="#cancelMsg" data-backdrop="static" >Cancel</button>  
                  <button type="button" class="btn btn-default Primarytop" data-toggle="modal"  
                            title="Confirm Draft Order"  v-on:click="confirmDraftOrder()" v-if="orderHeader.Status==='Draft Order Created'">Confirm Order</button>
                    <button type="button" class="btn btn-default Primarytop" data-toggle="modal"  
                            title="Save"  v-on:click="submit()">Save</button>
                </span>
            <!-- List of actions -->    
              </div>
          <div class="clearfix"></div>
                 <div class="row">
              <div class="col-md-6">
                  <div class="panel panel-default m-t-10">
                      <div class="panel-heading">Header Details
                      </div>
                                    <div class="panel-body HeaderContainer">
                        <div class="col-md-12">
                            <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Primary" aria-controls="Primary" role="tab" data-toggle="tab">Primary Info</a></li>
    <li role="presentation"><a href="#Secondary" aria-controls="Secondary" role="tab" data-toggle="tab">Additional Info</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content Custab">
    <div role="tabpanel" class="tab-pane active" id="Primary">
        <div class="row">
                           <li class="list-group-item col-md-4"><label class="col-sm-6">Order Number</label><span class="col-sm-6 row">{{orderHeader.OrderNo}}</span></li>
                           <li class="list-group-item col-md-4"><label class="col-sm-6">Source ID</label><span class="col-sm-6 row">{{orderHeader.OrderName}}</span></li>
                           <li class="list-group-item col-md-4"><label class="col-sm-6">Status</label><span class="col-sm-6 row">{{orderHeader.Status}}</span></li>
                             <!--    <li class="list-group-item col-md-4"><label class="col-sm-6">Order Value</label><span class="col-sm-6 row">{{getValue(orderHeader,"PriceInfo.TotalAmount") | numberfilter}} </span></li>-->
                          

                             <div class="clearfix"></div>
                                </div>

                                 <div class="row">
                                <!--  <li class="list-group-item col-md-4"><label class="col-sm-6">Document Type</label><span class="col-sm-6 row">{{getValue(orderHeader,"DocumentDescription")}}</span></li>-->
                            <li class="list-group-item col-md-4 "><label class="col-sm-6">Order Stream</label><span class="col-sm-6 row">{{orderHeader.DepartmentCode}}</span></li>
                            <li class="list-group-item col-md-4 "><label class="col-sm-6">Cost Centre</label>
                                 <span class="col-sm-6 row" v-if="orderHeader.Division">{{orderHeader.Division}}</span>
                                <span class="col-sm-6 row" v-if="(!(orderHeader.Division) && orderHeader.CustomAttributes && (orderHeader.CustomAttributes.Boolean4 ==='Y')) ">{{getVariousString()}}</span>
                                 <span class="col-sm-6 row" v-if="(!(orderHeader.Division)&& orderHeader.CustomAttributes && (orderHeader.CustomAttributes.Boolean4 ==='N')) ">{{gridData[0].Extn.Division}}</span>
                             </li>
                                     <li class="list-group-item col-md-4 "><label class="col-sm-6">Order Date</label><span class="col-sm-6 row">{{formatForDisplay(orderHeader.OrderDate)}} </span></li>
                              <div class="clearfix"></div>
                              </div>

                                
                               <div class="row">
                    
                         <!--       <li class="list-group-item col-md-4"><label class="col-sm-6">Vendor</label><span class="col-sm-6 row">{{orderHeader.VendorName}}</span></li>-->
                             <li class="list-group-item col-md-4 "><label class="col-sm-6">Source System</label><span class="col-sm-6 row">{{orderHeader.EntryType}}</span></li>
                             
                              <div class="clearfix"></div>
                                </div>
</div>
    <div role="tabpanel" class="tab-pane" id="Secondary">
       <div class="row">
                             
                             <li class="list-group-item col-md-4 "><label class="col-sm-6">Req Delivery Date</label><span class="col-sm-6 row">{{checkRequestedDate('delivery')}} </span></li>
                                           
                             <li class="list-group-item col-md-4 "><label class="col-sm-6">Req Ship Date</label><span class="col-sm-6 row">{{ checkRequestedDate('ship')}}</span></li>
                          <li class="list-group-item col-md-4 "><label class="col-sm-6">Delivery Address Code</label>
                                <span class="col-sm-6 row" v-if="orderHeader.ShipToID">{{orderHeader.ShipToID}}</span>
                                <span class="col-sm-6 row" v-if="(!(orderHeader.ShipToID) && orderHeader.CustomAttributes && (orderHeader.CustomAttributes.Boolean3 ==='Y')) ">{{getVariousString()}}</span>
                                 <span class="col-sm-6 row" v-if="(!(orderHeader.ShipToID)&& orderHeader.CustomAttributes && (orderHeader.CustomAttributes.Boolean3 ==='N')) ">{{gridData[0].ShipToID}}</span>
                              </li>
                              <div class="clearfix"></div>
                              </div>
                                    <div class="row">
                                     
                             <li class="list-group-item col-md-4 "><label class="col-sm-6">Order Type</label><span class="col-sm-6 row">{{orderHeader.OrderType}}</span></li>
                            <li class="list-group-item col-md-4 "><label class="col-sm-6">Priority</label>
                                  <span class="col-sm-6 row" v-if="orderHeader.PriorityCode">{{orderHeader.PriorityCode}}</span>
                                <span class="col-sm-6 row" v-if="(!(orderHeader.PriorityCode) && orderHeader.CustomAttributes && (orderHeader.CustomAttributes.Boolean5 ==='Y')) ">{{getVariousString()}}</span>
                                 <span class="col-sm-6 row" v-if="(!(orderHeader.PriorityCode)&& orderHeader.CustomAttributes && (orderHeader.CustomAttributes.Boolean5 ==='N')) ">{{gridData[0].Extn.PriorityCode}}</span>
                            </li>
                             <li class="list-group-item col-md-4"><label class="col-sm-6">Project Number</label><span class="col-sm-6 row">{{orderHeader.SearchCriteria1}}</span></li>   
                           
                             <div class="clearfix"></div>
                             </div>
                             <div class="row">
                               
                             <li class="list-group-item col-md-4"><label class="col-sm-6">Contact Details</label><span class="col-sm-6 row">{{orderHeader.SearchCriteria2}}</span></li>
                                 <li class="list-group-item col-md-4 "><label class="col-sm-6">Document Type</label><span class="col-sm-6">{{getValue(orderHeader,"DocumentDescription")}}</span></li>
                              <div class="clearfix"></div>
                             </div>

    </div>
      
      <div class="clearfix"></div>
   
  </div>

</div>
             
   
                            
    </div>
                                     <div>        

       
        
    </div>
                            </div>
                      
                          </div>
                 </div> 
                 <div class="col-md-6">
                     <div class="panel panel-default m-t-10">
                    <div class="panel-heading">Address Details
                    </div>
          
    <div class="panel-body HeaderContainer">        
<div class="">
  
 <div class="col-md-6 panel-body">
                   <div class="SelectAdd">
                     
                       
     <h6 class="pull-left">From Address
    <span class="pull-right"> 
   <div class="form-group pull-right">    

                       <button class="btn btn-default ScondaryBtn AddSearchCtrl AddSearchCtrl2 " v-on:click="XtoogleModel('addresssearchtpl','pickup')" data-toggle="modal" data-backdrop="static" data-target="#inv-browse-modal-searchadd">Select</button>

     </div>
    
    </span>
    
    </h6>
   <div class="clearfix"></div>                   
                       
                       
                       
                       
                   <div class="AddressInside NewCtrl">
 
                       
    <ul class="list-unstyled AddCtrl">
      <li v-for="address in selectFromList">  
         
          <div class="pull-left">                 
  <p>{{address.Shipnode.ShipNodePersonInfo.FirstName}}  {{address.Shipnode.ShipNodePersonInfo.LastName}}</p>
  <p>{{address.Shipnode.ShipNodePersonInfo.City}} </p>              
  <p>{{address.Shipnode.ShipNodePersonInfo.State}}</p>
   <p>{{address.Shipnode.ShipNodePersonInfo.ZipCode}}</p>
  </div>
  <div class="pull-right" v-if="address.Shipnode.ShipNodePersonInfo.framework">
  <button type="button" class="btn btn-sm btn-danger" v-on:click="selectFromList.$remove(address)"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
  <div class="clearfix"></div>
        
      </li> 
        
                     
    </ul>
    
    </div>
                   </div>
                              </div>

                              <div class="col-md-6 panel-body">
        <div class="SelectAdd">
                   <h6 class="pull-left">Ship To Address
                       <span class="pull-right">
     
<div class="form-group">  
                       <button class="btn btn-default ScondaryBtn AddSearchCtrl AddSearchCtrl2 " data-toggle="modal" data-backdrop="static" data-target="#inv-browse-modal-searchadd" v-on:click="XtoogleModel('addresssearchtpl','delivery')" >Select</button>
                       <button class="btn btn-default ScondaryBtn AddSearchCtrl AddSearchCtrl2 " data-toggle="modal" data-backdrop="static" data-target="#inv-browse-modal-tinyurl" v-on:click="XtoogleModelAddress('addresslocation','delivery')" v-if="(orderHeader.DocumentType=== '0001')" >New</button>  
    </div>
  
        
    </span>
    
    </h6>
                       <div class="clearfix"></div>
                       
                        
                   
                   <div class="AddressInside NewCtrl">
                      
                       
                        <ul class="list-unstyled AddCtrl">
      <li v-for="address in selectToList">  
         
          <div class="pull-left">
                     
          <p>{{address.PersonInfoShipTo.FirstName}} {{address.PersonInfoShipTo.LastName}}</p>
          <p>{{address.PersonInfoShipTo.City}}</p>              
          <p>{{address.PersonInfoShipTo.State}}</p> 
           <p>{{address.PersonInfoShipTo.ZipCode}}</p>    
          </div>
          <div class="pull-right" v-if="address.PersonInfoShipTo.framework">
          <button type="button" class="btn btn-sm btn-danger" v-on:click="selectToList.$remove(address)"><i class="fa fa-times" aria-hidden="true"></i></button>
          </div>
          <div class="clearfix"></div>
        
      </li> 
                     
    </ul>
    </div>
                   </div>
                              </div>
                              <div class="clearfix"></div>
</div>
    </div>
  </div>   
  </div>            
                      </div>

          <div class="panel panel-default">
              
          
              
              <div class="panel-heading">Line Items<span class="pull-right">
                 <span class="pull-right">
                         <button class="btn btn-default PrimaryBtn addbtn" type="button" data-toggle="modal"                                     data-target="#inv-browse-modal-little" v-bind:disabled="orderHeader.Modifications && 
                         (checkModifications('ADD_LINE',orderHeader.Modifications.Modification)!= 'Y')" >Add Items</button>
                           </span>
                
              </span>
              </div>
                   <div class="clearfix"> </div>
              <div class="panel-body">
                  <div class="table-responsive">
                      <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                          <thead>
                              <tr>
                             <!--   <th class="" rowspan="2" style="width: 20px;">
                                     </th>
                                 -->
                                   <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" @click="sortBy( 'PrimeLineNo')" :class="{active: gmeta.sort.key =='PrimeLineNo'}"  style=
    "width: 53px;">Line No.
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['PrimeLineNo'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th>
                                 
                                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" @click="sortBy('Item.ItemID')" :class="{active: gmeta.sort.key == 'Item.ItemID'}" >Item ID
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['Item.ItemID'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th>

                                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" baria-label="" @click="sortBy('Item.ItemShortDesc')" :class="{active: gmeta.sort.key == 'Item.ItemShortDesc'}">Item Description
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['Item.ItemShortDesc'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th>
                                     
                                 <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Item.UnitOfMeasure','order')" :class="{active: gmeta.sort.key == 'Item.UnitOfMeasure'}" style="width: 100px;">UOM  
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Item.UnitOfMeasure'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>   
                                   <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" @click="sortBy('Status')" :class="{active: gmeta.sort.key == 'Status'}" style="width: 100px;">Status
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['Status'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                       </th>
                                
                                    <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" baria-label="" @click="sortBy('Extn.Division')" :class="{active: gmeta.sort.key == 'Extn.Division'}" style="width: 135px;">Cost Center
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['Extn.Division'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th>
                                  <th @click="sortBy('OrderedQty', true)" :class="{active: gmeta.sort.key == 'OrderedQty'}" style="width: 90px;"> Order Qty
                                      <span class="fa fa-sort pull-right" :class="gmeta['sort']['sortorder']['OrderedQty'] > 0 ? 'sort-up' : 'sort-down'">
                                      </span>
                                  </th>
                                  <th  style="width: 70px;"> Priority
                                      <span class="fa fa-sort pull-right" >
                                      </span>
                                  </th>
                                 <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1">Ship From Address
                                        <span class="fa fa-sort pull-right" >
							             </span>
                                 </th>
                                 
                                
                                 <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" >Ship To Address
                                        <span class="fa fa-sort pull-right"  >
							             </span>
                                         </th>
                                  <th></th>
                              </tr>


                          </thead>
                          <tbody>
                              <tr role="row" class="filter-row">
                                <!--    <td class="center-filter">
                                      <div class="glyphicon glyphicon-filter"></div>
                                  </td>
                                    -->
                                   <td>
                                   <div class="glyphicon glyphicon-filter"></div>
                                  </td>
                                  <td>
                                      <input  type="text" class="form-control" v-model="gmeta.filter.Item.ItemID" title="Enter the Item Id of the orderLine">
                                  </td>
                                  <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.Item.ItemShortDesc" title="Enter the Item Description of the Item in  orderLine">
                                  </td>
                                   <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.Item.UnitOfMeasure" title="Enter the UOM of the Item">
                                  </td>
                                  <td>
                                  
                                      <input type="text" class="form-control" v-model="gmeta.filter.Status" title="Enter the Order Line Status">
                                  </td>
                                 <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.Extn.Division" title="Enter the Cost Centre">
                                  </td>
                                 <td>
                                      <input type="text" class="form-control" v-model="gmeta.filter.OrderedQty" title="Enter the Ordered quantity">
                                  </td>
                                  <td>
                                   <!--  <input type="text" class="form-control" v-model="gmeta.filter.Extn.PriorityCode" title="Enter the Priority from which the Order Line">-->
                                  </td> 
                                  <td>
                                   <!--  <input type="text" class="form-control" v-model="gmeta.filter.ShipNode" title="Enter the ShipNode from which the Order Line is being shipped">-->
                                  </td>
                                  
                                   <td>
                                             <!-- <input type="text" class="form-control" v-model="gmeta.filter.PersonInfoShipTo.ZipCode" title="Enter the ZipCode" v-if="ShipColumns-->
                                             </td>
                                  <td></td>
                              </tr>
                              <tr id="Row{{$index}}" role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" (index,row) in gridData 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                | gridfilter gmeta.filter columns
                                | paginate " >

                                <td >{{getValue(row,'PrimeLineNo')}}</td>
                                <td>{{getValue(row,'Item.ItemID')}}</td>
                                 <td id="DesRow{{$index}}" class="descriptionCls" v-on:click= "toggleHeight($index,row)"> <i class="fa fa-play" v-if="row.Item.ItemShortDesc.length > 25"></i>   {{getValue(row, "Item.ItemShortDesc")}}   </td> 
                                 <td>{{getValue(row,'Item.UnitOfMeasure')}}</td>
                                  <td>{{getValue(row, "Status")}}</td>
                                 <td>
                                 <div class="input-group" v-bind:disabled="row.Modifications && 
                                                                           (checkModifications('OTHERS',row.Modifications.Modification)!= 'Y')">
                                      <input type="text" class="txtAttr form-control h-auto" v-model="row.Extn.Division" maxlength="6" id="Costcentre{{$index}}"  v-on:change="changedAttribute(row,'costcenter')"  > 
                                      <span class="input-group-btn">
                                                         <button data-toggle="modal" data-target="#inv-browse-modal-costcenter" class="btn btn-secondary" type="button"  v-on:click= "getRow(row,index)" v-bind:disabled="row.Modifications &&(checkModifications('OTHERS',row.Modifications.Modification)!= 'Y')"><i class="glyphicon glyphicon-search"></i></button>
                                      </span>
                                </div> </td>
                                 <td  style="text-align: right">
                                     <input type="number" id="Quantity{{$index}}" class="txtAttr form-control h-auto" v-model="row.OrderedQty"  v-bind:disabled="row.Modifications &&(checkModifications('ADD_QUANTITY',row.Modifications.Modification)!= 'Y')" v-on:change="changedAttribute(row,'quantity')">  </td>
                                 <td  style="text-align: right">
                                 <select  class="txtAttr form-control" id="prioritycode" v-model="row.Extn.PriorityCode" v-bind:disabled="row.Modifications &&(checkModifications('OTHERS',row.Modifications.Modification)!= 'Y')" v-on:change="changedAttribute(row,'prioritycode')">
                                      <option v-for="priority in priorityList " v-bind:value="priority.CodeValue">
                                         {{priority.CodeName}}</option>
                                  </select>
                                 </td>
                                 <td>
                                     <div class="input-group" >
                                       <span v-if="row.Shipnode" >{{getValue(row,"Shipnode.ShipNodePersonInfo.FirstName")}} 
                                            {{getValue(row,"Shipnode.ShipNodePersonInfo.State")}} {{getValue(row,"Shipnode.ShipNodePersonInfo.ZipCode")}} </span>
                                             <span class="input-group-btn SearchAddress">
                                                                       <button data-toggle="modal" data-target="#ord-browse-modal-selectaddress" data-backdrop="static" class="btn btn-secondary" type="button" v-on:click="setAddressList('pickup',row,index)" v-bind:disabled="row.Modifications &&(checkModifications('SHIP_NODE',row.Modifications.Modification) != 'Y')"><i class="glyphicon glyphicon-search" ></i></button>
                                          </span>
                                            </div> 
                                     
                                 </td>
                                
                               <td >
                                <div class="input-group" >
                                   <span>{{row.PersonInfoShipTo.FirstName}} {{row.PersonInfoShipTo.State}} {{row.PersonInfoShipTo.ZipCode}}</span>  
                                             <span class="input-group-btn SearchAddress">
                                                                               <button data-toggle="modal" data-target="#ord-browse-modal-selectaddress" data-backdrop="static" class="btn btn-secondary" type="button" v-on:click="setAddressList('delivery',row,index)" v-bind:disabled="row.Modifications &&(checkModifications('SHIPTO',row.Modifications.Modification) != 'Y')"><i class="glyphicon glyphicon-search" ></i></button>
                                          </span>
                                          </div>
                               </td>
                                  <td >
                                   <div class="col-md-2"  v-if="row.framework && row.framework.isNew">
                                    <div class="form-group" >
                                     
                                       <button type="button" class="btn btn-default removeBtn" v-on:click="adjustPrimaryLineNo(row)"><i class="glyphicon glyphicon-remove" title="Remove"></i></button>
                                    </div>
                                </div>
                                      </td>
                              </tr>
                          </tbody>
                      </table>
                      <div class="m-t-10">
                          <gridpagination 
                              :gmeta="gmeta"
                              :total-pages="totalPages"
                              v-on:setpage="setPage" >
                          </gridpagination>
                      </div>

                      </div>
                  </div>
             
     </div>
       </div>
       </div>
     
     <div >
            <div class="modal fade" id="addressDetails" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <noneditableaddress
                      :address="orderLineShipTo"
                      >
                      </noneditableaddress>
                    </div>

                </div>
            </div>
       </div>
   </div>

     <div class="modal fade" id="inv-browse-modal-costcenter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog modal-md" role="document">
         <div class="modal-content">
              <component is="costcenterlookup" ></component>
         </div>
       </div>
    </div>
    <div class="modal fade" id="inv-browse-modal-little" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
              <component is="itemsearch" :itemid="itmid" :orderobj="orderHeader" ></component>
         </div>
       </div>
    </div>
           
    <div class="modal fade" id="inv-browse-modal-searchadd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
              <component :is="addSearchModel" :type="addressType" :ordertype="orderType"></component>
         </div>
       </div>
    </div>
          
    <div class="modal fade" id="inv-browse-modal-tinyurl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
              <component :is="addAddSearchModelModel" :type="addressAddType"></component>
         </div>
       </div>
    </div>
    <div class="modal fade" id="ord-browse-modal-selectaddress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
              <component is="selectaddress" :adrlist="selectAdrList"   ></component>
         </div>
       </div>
    </div>
      <div v-show="showAlertVar">
      <div class="modal fade" id="cancelMsg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" >
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-content">
              <alertconfirmation
                :message="'Are you sure you want to cancel?<br>You will lose all your changes!!'"
                 v-on:cancel="cancel()"
                v-on:confirm="goBackToDetails()"
                >
              </alertconfirmation>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
  <!-- <input  value="{{$route.query.key}}"  type="hidden" v-model="Order.OrderHeaderKey" />-->
        
</template>
<style>
    .haserror {
        border-color: red
    }
</style>
<script>
  var Vue = require('vue')
  var Utils = require('./../utils/utils.js')
  var GridUtils = require('./../utils/gridutils.js')
  var SearchCostCenter = require('./SearchCostCenter.vue')
   var SearchItem = require('./SearchItemDetails.vue')
   var AddressSearchTpl = require('./SearchAddressOrder.vue')
    var AddressLocation = require('./AddAddressLocation.vue')
    var SelectAddress = require('./SelectAddressEditLookup.vue')
  export default {
   props: {
      data: Array,
    },
    data: function () {
      var columns = ['PrimeLineNo','Item.ItemID', 'Item.ItemShortDesc','Item.UnitOfMeasure','Extn.Division','Extn.PriorityCode','ShipNode','OrderedQty', 'Status','PersonInfoShipTo.ZipCode']
        var gmeta = {}
        GridUtils.populateGridMeta(gmeta, columns, true)
        var orderHeader={}
         var gridData = [] // orderHeader.OrderLines.OrderLine
       // var ShipColumns=true
        var orderLineShipTo={}
         var selectAllRows = false
     //    var personInfoBillToAddress={}      //orderHeader.PersonInfoBillTo
      //  var personInfoShipToAddress= {}      //orderHeader.PersonInfoShipTo
        var errorcode
         var errordesc
         var apierror=false
         var priorityList=[]
         var rowLevelShipToAdd={}
         var addressIdentifier
         var index
        var addSearchModel = ""
        var addAddSearchModelModel= ""
        var addressType = ""
        var addressAddType = ""
        var selectAdrList= []
        var selectToList=[]
        var selectFromList=[]
        var newindex = 0
        var deliveryCustid=0
        var alertmessage={}
       var haserror = false
       var showAlertVar=false
        var showMask = false
        var modifiedRow={}
        var modifiedArray=[]
        var orderType=""
        var NotCT=false
           return {
        isActive: false,
        columns: columns,
        gridData: gridData,
        gmeta: gmeta,
        orderHeader:orderHeader,
        orderLineShipTo:orderLineShipTo,
        selectAllRows:selectAllRows,
        errorcode:errorcode,
        errordesc:errordesc,
        apierror:apierror,
        priorityList:priorityList,
        rowLevelShipToAdd:rowLevelShipToAdd,
        addressIdentifier:addressIdentifier,
        index:index,
         addSearchModel:addSearchModel,
        addAddSearchModelModel:addAddSearchModelModel,  
        addressType:addressType,  
        addressAddType:addressAddType,
        selectAdrList: selectAdrList,
        selectToList:selectToList,
        selectFromList:selectFromList,
        newindex:newindex,
        deliveryCustid:deliveryCustid,
        alertmessage:alertmessage,
         haserror: haserror,
        showAlertVar:showAlertVar,
        showMask:showMask,
       modifiedRow:modifiedRow,
        modifiedArray:modifiedArray,
        orderType:orderType,
        NotCT:NotCT
      
       }
    },
   methods: {
        toggleHeight: function($index,row) {
             if(row.Item.ItemShortDesc.length>25){
                    $("#DesRow"+$index).toggleClass("active");
             }
            } ,
      selectAll: function() {
        this.selectAllRows = !this.selectAllRows
        GridUtils.selectAll(this.gmeta, this.gridData, this.selectAllRows)
      },
       getValue: function(data, binding) {
        return Utils.getValue(data,binding)
      },
      setPage: function(pageNumber) {
        GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
        this.validatePageData(pageNumber)

      },
     formatForDisplay:function(serverDate) {
          return Utils.formatForDisplay(serverDate,"filter")
        
        } ,
     checkRequestedDate:function(index){
        if(this.orderHeader.CustomAttributes) {
                    if (index ==='ship'){
                          if( this.orderHeader.CustomAttributes.Boolean1 && this.orderHeader.CustomAttributes.Boolean1==='Y')
                              {
                                return 'VARIOUS'
                              }
                             else {
                                 return this.formatForDisplay(this.orderHeader.ReqShipDate)
                             }
                         }
                    else{
                           if(this.orderHeader.CustomAttributes.Boolean2 && this.orderHeader.CustomAttributes.Boolean2==='Y')
                              {
                                return 'VARIOUS'
                              }
                        else{
                             return this.formatForDisplay(this.orderHeader.ReqDeliveryDate)
                        }
                           
                      }
        } else {
                           if (index ==='ship'){
                                     return this.formatForDisplay(this.orderHeader.ReqShipDate)
                           } else if(index ==='delivery'){
                                     return this.formatForDisplay(this.orderHeader.ReqDeliveryDate)
                           }
        }
     },
  errorHandler : function(errorObj) {
               var self=this
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  //Error message times out after 10 seconds
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
              },
     getAPIErrorMessage: function() {
		return Utils.getAPIErrorMessage();
	 },
    getVariousString:function(){
        return Utils.getVariousString();
    },
    sortBy: function (key,grid,numeric) {
             GridUtils.sortBy(this.gmeta, key, numeric)
   },
    setIndex:function(pageindex,row){
        var pageNo = this.gmeta.pagination.currentPage
        var rowsPerPage=this.gmeta.pagination.itemsPerPage
         this.index=pageNo * rowsPerPage + pageindex  
       },
    setCostCenter:function(event){
        var rowsPerPage=this.gmeta.pagination.itemsPerPage
        var i = this.index 
       
        if(i >= rowsPerPage ) {
            
             i=this.index % rowsPerPage
         }
         this.modifiedRow.Extn.Division=event
          this.changedAttribute(this.modifiedRow,'costcenter')
         this.haserror = false
          $("#Costcentre"+i+"").css("border-color","#ccc") 
                $("#Costcentre"+i+"").focus(function() {
                    $(this).css("border-color","#66afe9") 
                });
      
         },
    adjustPrimaryLineNo:function(event){
            this.gridData.$remove(event)  
        for( var i=0;i<this.gridData.length;i++)
            {
                var j=i+1
               this.gridData[i].PrimeLineNo=j
            }
     },
      validatePageData:function(pageNo) {
          var rowsPerPage=this.gmeta.pagination.itemsPerPage
          var startIndex = rowsPerPage * pageNo
          var endIndex = startIndex + rowsPerPage
          endIndex = endIndex > this.gridData.length ? this.gridData.length : endIndex
          for (var j = startIndex; j< endIndex; j++) {
              var i = j % rowsPerPage
            if(($("#Costcentre" + i + "").val()!=undefined
					&& $("#Costcentre" + i + "").val()!="")
					&& ($("#Quantity" + i + "").val()!=undefined
					&& $("#Quantity" + i + "").val()!="")
                    ) {
                    var line = {}
                     line.Quantity= $("#Quantity" + i + "").val();
                   // line.Quantity= self.gridData[j].OrderedQty;
                     if(this.haserror) {
                       this.haserror = false 
                    }         
                   var floatPatt= /^(0|[1-9]\d{0,6})(\.\d{1,2})?$/
                   var isValidDim = floatPatt.test(line.Quantity)
                  if(!isValidDim) {
                       this.alertmessage= 'Quantity Is Invalid. Please Ensure that Quantity is a Positive Decimal Number less than or equal to 9,99,999.99 with a maxmium precision of 2 decimals';
                       this.haserror = true
                       $("#Quantity" + i + "").focus();
                       $("#Quantity" + i + "").css("border-color","red");
                       
                       //setTimeout(function(){self.haserror = false},7000)
                       return false;
                  } else {
                    if(this.haserror) {
                       this.haserror = false 
                    }                       
                  } 
           } else{
               if($("#Costcentre"+i+"").val()== undefined
					|| $("#Costcentre"+i+"").val() == ""){
                    this.alertmessage= 'Cost Centre cannot be blank';
                    this.haserror = true
                    $("#Costcentre"+i+"").focus();
                    $("#Costcentre"+i+"").css({"border-color":"red"});
                    return false;
                }  
                else{
                   this.alertmessage= 'Quantity cannot be blank';
                    this.haserror = true
                    $("#Quantity" + i + "").focus();
                    $("#Quantity" + i + "").css({"border-color":"red"})
                    return false;
                }
           }
              
          }
          return true;
      },   
       submit:function(){
           var self =this
           var pageNo = self.gmeta.pagination.currentPage
           var bool = true
           bool = self.validatePageData(pageNo)
           if(bool) {
             for ( var j = 0; j<self.gridData.length; j++) {
                if(self.gridData[j].OrderedQty === "" || self.gridData[j].Extn.Division === "") {
                    bool = false
                    this.alertmessage= 'Cost Centre and Ordered Quantity are mandatory. Please fix the Errors and Submit Again';
                    this.haserror = true                
                } else if(self.gridData[j].OrderedQty != "") {
                   var floatPatt= /^(0|[1-9]\d{0,6})(\.\d{1,2})?$/
                   var isValidDim = floatPatt.test(self.gridData[j].OrderedQty)
                      if(!isValidDim) {
                           this.alertmessage= 'Quantity Is Invalid. Please Ensure that Quantity is a Positive Decimal Number less than or equal to 9999.99 with a maxmium precision of 2 decimals';
                            this.haserror = true    
                          bool = false
                      }
                }
             }
               
           }
           if( bool === false ) {
               return false
           } 
           
     
            var success = function(result) {
                   self.$router.go({name:'orderdtl',query: {key:self.orderHeader.OrderHeaderKey,orderNo:self.orderHeader.OrderNo,RequestFrom:'EditOrder'}})
                     self.showMask=false
                
         		}
            var errorHandler = function(errorObj) {
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  self.showMask=false
                  //Error message times out after 10 seconds
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
                  
              }            
            var input={
                       'OrderHeaderKey':'',
                       'OrderLines':{
                                'OrderLine':[]
                            }
            }
            input.OrderHeaderKey=this.orderHeader.OrderHeaderKey
            input.OrderName=this.orderHeader.OrderName
            input.EntryType=this.orderHeader.EntryType
            input.OrderType=this.orderHeader.OrderType
            this.gridData.forEach(function(orderLine){
                            var inputOrderLine = {}
                            if(orderLine.framework.isChanged === true){
                            inputOrderLine.PrimeLineNo= orderLine.PrimeLineNo
                            inputOrderLine.OrderLineKey=orderLine.OrderLineKey
                            inputOrderLine.SubLineNo=orderLine.SubLineNo
                            inputOrderLine.OrderedQty=orderLine.OrderedQty
                            inputOrderLine.Item={}
                            inputOrderLine.Item.ItemID=orderLine.Item.ItemID
                            inputOrderLine.Item.ItemShortDesc=orderLine.Item.ItemShortDesc
                            inputOrderLine.Item.UnitOfMeasure=orderLine.Item.UnitOfMeasure
                            inputOrderLine.Extn={}
                            inputOrderLine.Extn.Division=orderLine.Extn.Division
                            inputOrderLine.Extn.PriorityCode=orderLine.Extn.PriorityCode
                            inputOrderLine.Extn.CustomerKey=orderLine.Extn.CustomerKey
                            inputOrderLine.PersonInfoShipTo=orderLine.PersonInfoShipTo
                            inputOrderLine.ShipToID=orderLine.ShipToID
                            inputOrderLine.ShipNode=orderLine.ShipNode
                            inputOrderLine.ReceivingNode=orderLine.ReceivingNode
                            inputOrderLine.Shipnode={}
                            inputOrderLine.Shipnode.ShipNode=orderLine.Shipnode.ShipNode
                            input.OrderLines.OrderLine.push(inputOrderLine)
                            }
                            });
           self.showMask=true
           Utils.executeDataService("manageOrder",success,input,errorHandler);
       }
      ,
      XtoogleModel: function(modelname,type){
                  if(type ==='pickup')
                      this.addressType="pickup"
                 else 
                     this.addressType="delivery"
                 
                  this.addSearchModel = modelname;
                 this.orderType=this.orderHeader.OrderType
        },
        XtoogleModelAddress: function(modelname,type){
                     this.addressAddType="delivery"
                     this.addAddSearchModelModel = modelname;
        },
       setAddressList: function(addressType, row, idx) {
            var adrData= {'addType':'','selectedCustomer':'', 'selectAdrList':[] }
            adrData.addType= addressType
           // this.newindex=idx
            this.getRow(row,idx)
           // this.setIndex(idx,row)
            if(addressType === 'pickup'){
                for(var i=0;i<this.selectFromList.length;i++){
                    adrData.selectAdrList[i] = {}
                  adrData.selectAdrList[i].PersonInfo = this.selectFromList[i].Shipnode.ShipNodePersonInfo   
                  adrData.selectAdrList[i].Customer = this.selectFromList[i].ShipNode
                  adrData.selectAdrList[i].Node = this.selectFromList[i].ShipNode
                }
                if(row.Shipnode){
                    if(row.Shipnode.ShipNodePersonInfo) {
                        adrData.selectedCustomer= row.Shipnode.ShipNodePersonInfo.PersonInfoKey    
                    }
                }
            } else {
                for(var i=0;i<this.selectToList.length;i++){
                    adrData.selectAdrList[i] = {}
                    adrData.selectAdrList[i].PersonInfo = this.selectToList[i].PersonInfoShipTo
                    adrData.selectAdrList[i].Customer = this.selectToList[i].ShipToID
                    if(this.selectToList[i].Extn && this.selectToList[i].Extn.CustomerKey){
                        adrData.selectAdrList[i].CustomerKey=this.selectToList[i].Extn.CustomerKey
                     }
                   if(this.selectToList[i].ReceivingNode){
                        adrData.selectAdrList[i].Node = this.selectToList[i].ReceivingNode
                    }
                    
                }
                if(row.PersonInfoShipTo){
                    adrData.selectedCustomer = row.PersonInfoShipTo.PersonInfoKey
                }
                
            }
           this.$broadcast('SelectedAddressEvent',adrData);
       },
    checkDuplicate:function(type,key){
          if(type==='ShipToID')
          {
            var temp=false 
              for(var i=0;i<this.selectToList.length;i++){
                  if(this.selectToList[i].ShipToID){
                   if (key===this.selectToList[i].ShipToID){
                               temp= true
                   }
                  }
                }
                return temp 
          }
           else if (type==='ShipToKey'){
            var temp=false 
              for(var i=0;i<this.selectToList.length;i++){
                  if (key===this.selectToList[i].ShipToKey){
                               temp= true
                    }
                 }
                return temp 
           }else
              {
                   var temp=false 
                  for(var i=0;i<this.selectFromList.length;i++){
                           if (key===this.selectFromList[i].ShipNode){
                               temp= true
                           }
                   }
                               return temp
              }
           },
     checkModifications:function(modType,modificationLines){
         var temp = 'N'
        for(var i=0;i<modificationLines.length;i++){
                           if (modType === modificationLines[i].ModificationType){
                               temp= modificationLines[i].ModificationAllowed
                               return temp
                           }
                   }
                return temp               
     },
     showAlertConfirm:function(){
                    this.showAlertVar=true

                },
    cancel:function(){

                },
    goBackToDetails:function(){
                //    this.cancelMsg=true
                    Vue.nextTick(function() {
                setTimeout( function() {
                                history.go(-1);
                            },
                           1000)
                })},
      /* getLineNo: function(PrimeLineNum){
           this.PrimeLineNo=PrimeLineNum
           console.log(PrimeLineNo)
       },*/
       getRow:function(row,id){
           this.setIndex(id)
           this.modifiedRow=row
       },
       changedAttribute:function(row,modifier){
          if(modifier==='costcenter') {
              row.framework.isChanged=true
              row.framework.Division =true
          }
           else if (modifier==='quantity'){
               row.framework.isChanged=true
             //  row.framework.OrderedQty=true
           }
           else if (modifier==='prioritycode'){
               row.framework.isChanged=true
               row.framework.PriorityCode=true
           }
           else if (modifier==='shipto'){
               row.framework.isChanged=true
               row.framework.ShipTo=true
           }
           else
           {
               row.framework.isChanged=true
               row.framework.ShipFrom=true
           }
      
        },
       confirmDraftOrder:function(){
           var self=this
                    var success = function(result) {
                               self.$router.go({name:'orderdtl',query: {key:self.orderHeader.OrderHeaderKey,orderNo:self.orderHeader.OrderNo,RequestFrom:'EditOrder'}})
                     self.showMask=false
                  		}
                    var input={
                       'OrderHeaderKey':'',
                       'OrderLines':{
                                'OrderLine':[]
                            }
            }
            input.OrderHeaderKey=self.orderHeader.OrderHeaderKey
            Utils.executeDataService("GpsConfirmDraftOrder",success,input,self.errorHandler);
       }
  },
 computed: {
        totalPages: function() {
            return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
        }

    }
     ,
    filters: {
        paginate: function(list) {
          return GridUtils.paginate(this.gmeta, list, this.totalPages)
        }
      },
route: {
       data: function (transition) {
           var self = this;
           var Order= {
               'OrderHeaderKey':''
           }
           var priorityInput={}
            Order.OrderHeaderKey = self.$route.query.key
           var loadPriority=function(priority){    
                 self.priorityList=priority.CommonCode
               } 
            
           	var success = function(result) {
                           self.orderHeader=result
                            self.gridData = result.OrderLines.OrderLine
                     for(i=0;i<result.OrderLines.OrderLine.length;i++){
                          Vue.set(self.gridData[i],"framework",{})
                          var clonedLineObj = JSON.parse(JSON.stringify(result.OrderLines.OrderLine[i]))
                         if(result.OrderLines.OrderLine[i].PersonInfoShipTo){ 
                             if(result.OrderLines.OrderLine[i].ShipToID){
                             if(! (self.checkDuplicate('ShipToID',result.OrderLines.OrderLine[i].ShipToID))){
                                      self.selectToList.push(clonedLineObj)
                                } 
                               }
                             else
                             {
                             if(result.OrderLines.OrderLine[i].ShipToKey){
                                 if(! (self.checkDuplicate('ShipToKey',result.OrderLines.OrderLine[i].ShipToKey))){
                                      self.selectToList.push(clonedLineObj)
                                } 
                               }
                                }
                             }
                         if(result.OrderLines.OrderLine[i].ShipNode){
                             if( ! (self.checkDuplicate('From',result.OrderLines.OrderLine[i].ShipNode))){
                                    self.selectFromList.push(clonedLineObj)
                             }
                         }
                      }      
                        
       	}
            
            var errorHandler = function(errorObj) {
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  self.showMask=false
                  transition.next()
                  //Error message times out after 10 seconds
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
                  
              }
            return Promise.all([
                        Utils.executeDataServicePromise("editOrderDetails",success,Order,self.errorHandler),
                        Utils.executeDataServicePromise("GpsPriorityCodeList",loadPriority,priorityInput,self.errorHandler)        
                    ]) 
			
   	
    	}
	  },
      
       components: {
          'itemsearch': SearchItem,
           'costcenterlookup': SearchCostCenter,
            'addresssearchtpl': AddressSearchTpl,
          'addresslocation': AddressLocation,
           'selectaddress' : SelectAddress,
          
       },
      ready: function(){
              var self=this
           	$(document).on('change','.txtAttr' , function(){
             var floatPatt=/^(0|[1-9]\d{0,6})(\.\d{1,2})?$/
           var rowId = $(this).closest("tr").attr('id');
            var i = rowId.substring(3)
         var qty = $("#Quantity"+i+"").val();
           if(qty !== "" && floatPatt.test(qty)){
               self.haserror = false 
               
               $("#Quantity" + i + "").css("border-color","#ccc")    
                $("#Quantity" + i + "").focus(function() {
                    $(this).css("border-color","#66afe9") 
                });
                
                
            } 
           	});
          
       },
      events: {
            ItemSearchCatch: function(event){
                
                    event.preventDefault;
                      var self= this
                      var highestIndex = self.gridData.length
                   for(var j=0; j< event.length; j++) {
                      event[j].PrimeLineNo=++highestIndex
                      Vue.set(event[j],"framework",{})
                      Vue.set(event[j].framework,"isNew","true")
                      Vue.set(event[j].framework,"isChanged",true)
                      Vue.set(event[j].framework,"ShipTo",true)
                      Vue.set(event[j].framework,"ShipFrom",true)
                      Vue.set(event[j].framework,"PriorityCode",true)
                      Vue.set(event[j],"Shipnode",{})
                      Vue.set(event[j].Shipnode,"ShipNodePersonInfo",self.selectFromList[0].Shipnode.ShipNodePersonInfo)
                      event[j].ShipNode=self.selectToList[0].ShipNode
                      event[j].ShipToID= self.selectToList[0].ShipToID
                      event[j].PersonInfoShipTo=self.selectToList[0].PersonInfoShipTo

                    }

                    self.gridData= self.gridData.concat(event)
           },
           CostCenterCatch: function(event){
                   event.preventDefault;
                   
                   var self= this;
                  self.setCostCenter(event)
           },
           AddressEventCatch: function(event){
                                    var self=this;
                                    event.preventDefault;
                                      var temp= { 
                                            'PersonInfoShipTo':'',
                                               'Shipnode':{   'ShipNode': '',
                                                             'ShipNodePersonInfo':{}
                                                          }
                                      }
                                        temp.ShipToID= "CUST"+ self.deliveryCustid
                                        self.deliveryCustid++
                                        temp.PersonInfoShipTo=event
                                        temp.PersonInfoShipTo.framework={
                                                                          'new':{}
                                                                         }
                                                                          
                                        temp.PersonInfoShipTo.PersonInfoKey=temp.ShipToID
                                        self.selectToList.push(temp)
             }       ,
       AddressSearchListEvent: function(event){
                              var self=this;
                               event.preventDefault
                                if(event.addressType==='pickup'){
                                                 for(var i=0;i<event.subscribedUsersList.length;i++){
                                                     var tempPickupObj= { 
                                                                'PersonInfoShipTo':'',
                                                                   'Shipnode':{
                                                                                'ShipNode': '',
                                                                                 'ShipNodePersonInfo':{}
                                                                              }
                                                          }
                                        tempPickupObj.ShipNode=event.subscribedUsersList[i].ExternalCustomerID
                                        tempPickupObj.Shipnode.ShipNodePersonInfo=JSON.parse(JSON.stringify(event.subscribedUsersList[i].Consumer.BillingPersonInfo))
                                        tempPickupObj.Shipnode.ShipNodePersonInfo.framework={}
                                     if(!(self.checkDuplicate('From',tempPickupObj.ShipNode))) {    
                                                             self.selectFromList.push(tempPickupObj)
                                                          }
                                                   }
                                } else  {
                                       
                                      for(var i=0;i<event.subscribedUsersList.length;i++){
                                                           var tempShipToObj={ 
                                                                'PersonInfoShipTo':'',
                                                                   'Shipnode':{
                                                                                    'ShipNode': '',
                                                                                    'ShipNodePersonInfo':{}
                                                                              },
                                                               'Extn':{
                                                                      'CustomerKey':''
                                                                  }
                                                          }
                                                           tempShipToObj.ShipToID=event.subscribedUsersList[i].CustomerID
                                                           tempShipToObj.ReceivingNode=event.subscribedUsersList[i].ExternalCustomerID
                                                           tempShipToObj.Extn.CustomerKey=event.subscribedUsersList[i].CustomerKey
                                                            tempShipToObj.ShipToKey = event.subscribedUsersList[i].Consumer.BillingPersonInfo.PersonInfoKey
                                                            tempShipToObj.PersonInfoShipTo=JSON.parse(JSON.stringify(event.subscribedUsersList[i].Consumer.BillingPersonInfo))
                                                            tempShipToObj.PersonInfoShipTo.framework={}                                                           
                                                    if(self.orderHeader.OrderType == 'MATERIAL_RESERVATION'){
                                                        if(self.orderHeader.DocumentType ==='0006'){
                                                             if(event.subscribedUsersList[i].Extn.CustomerNodeType === 'CT'){
                                                       //     console.log(tempShipToObj.ShipToID)                 
                                                                    if(!(self.checkDuplicate('ShipToID',tempShipToObj.ShipToID))) {                                                                                     self.selectToList.push(tempShipToObj)
                                                                        }
                                                              } else{
                                                                    self.NotCT= true
                                                                }
                                                             }else
                                                                 if(!(self.checkDuplicate('ShipToID',tempShipToObj.ShipToID))) {                                                                                     self.selectToList.push(tempShipToObj)
                                                                        }
 
                                                        }
                                                   else{
                                                        if(!(self.checkDuplicate('ShipToID',tempShipToObj.ShipToID))) {                     self.selectToList.push(tempShipToObj)
                                                        }
                                                       
                                                   }
                                            }
                                                 
                                    }
        }
          ,
         modifiedaddress: function(msg){
                           msg.preventDefault;
                           var self= this

                           if(msg.addType === 'pickup'){
                               self.modifiedRow.ShipNode= msg.addObj.Customer
                                    if(!self.modifiedRow.Shipnode) {
                                        var temp={}
                                         Vue.set(self.modifiedRow,"Shipnode",temp)
                                     }
                                     self.modifiedRow.Shipnode.ShipNode=msg.addObj.Customer
                                    self.modifiedRow.Shipnode.ShipNodePersonInfo=msg.addObj.PersonInfo 
                                     self.changedAttribute(self.modifiedRow,'shipfrom')
                               
                           } else{   
                                   if(msg.addObj.PersonInfo.framework && msg.addObj.PersonInfo.framework.new){
                                                self.modifiedRow.ReceivingNode =''   
                                                 self.modifiedRow.ShipToID =''
                                          }
                                         else{
                                              if(msg.addObj.Node){
                                                  self.modifiedRow.ReceivingNode = msg.addObj.Node 
                                              }
                                                   self.modifiedRow.Extn.CustomerKey=msg.addObj.CustomerKey
                                                   self.modifiedRow.ShipToID = msg.addObj.Customer 
                                         }
                                       
                                   self.modifiedRow.PersonInfoShipTo= msg.addObj.PersonInfo
                                   self.changedAttribute(self.modifiedRow,'shipto')
                                            
                           }

         }  
      } ,
    beforeDestroy: function() {
      $(this.$el).remove();
      $(this.$el).removeData();
    }
  }
</script>
