<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This is a list component for displaying the list of Exceptions
        for a logged in User. This is also has a child component for 
        reporcessing the exceptions
     ***************************************************************************-->

<template>
    <div>
        <div id="header"></div>
        <div class="container-fluid CustomHgt">
            <div class="row ">
                <div class="col-md-4">
                  <div v-breadcrumb="true"></div>
                </div>
                <div class="col-md-8">
                    <div class="alert alert-danger alert-dismissible hidden" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong> Message Title:</strong> A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" cz-shortcut-listen="true">
            <div class="block"  v-if="apierror" >
              <div class="alert alert-danger" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}  
              </div>
            </div>            
                                
            <div class="block  clearfix">
                <h5 class="pull-left">Exceptions</h5>
            </div>
            <div class="panel panel-default">
                   
                <div class="panel-heading">
                    <div class="col-md-5  cal-box">
                        Show
                        <select class="select-style form-control">
                            <option selected="All">All</option>
                        </select>
                        <button class="btn btn-default" @click="showSearch=!showSearch">
                        <div class=""><i class="fa fa-search-plus" aria-hidden="true"></i></div>
                    </button> 
                    </div>
                    <div class="pull-right">
                        <ul class="list-inline list-unstyled">
                        
                            <li v-if="checkedErrId.length > 0" ><div class="" >
                        <button type="button" class="btn btn-default SecondaryBtn" v-on:click="reprocess" :disabled="!enablebtn" > Reprocess </button>  
                    </div></li>
                            <li v-else="">  <div class=""  >
                        <button  class="btn btn-default SecondaryBtn" v-on:click="displayAlertMessageBox()" data-toggle="modal" data-target="#showalertmessage" > Reprocess </button>  
                    </div></li>
                            <li v-if="checkedErrId.length > 0"> <div class="text-right"  >
                        <button type="button" class="btn btn-default SecondaryBtn" v-on:click="ignore" :disabled="!enablebtn" > Ignore  </button>  
                    </div></li>
                            <li v-else="" > <div class="text-right" >
                        <button  class="btn btn-default SecondaryBtn" v-on:click="displayAlertMessageBox()" data-toggle="modal" data-target="#showalertmessage" > Ignore </button>  
                    </div></li>
                        
                    </ul>
              </div>

                </div> 
                
          
                
                
                <div class="clearfix">
                <validator name="expformvalidation">
                <form  v-show="showSearch" v-on:submit.prevent.stop="exceptionAdvSearch" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="adavanceSearch">Advanced Search <span class="pull-right">  <button type="button" class="btn btn-primary SecondaryBtn Clearbtn" title="Clear" v-on:click="resetAll()">
                                        Clear Form
                                    </button></span></h4>
                          <div class="col-md-3">
                                <div class="form-group">
                                    <label for="servicename">Service Name</label>
                                    <input autocomplete="off" type="text" class="form-control" placeholder="Service Name" v-model="exceptionSearchModel.FlowName">
                                </div>
                         </div>
                         
                        <div class="col-md-3">           
                            <div class="form-group">
                                <label for="errorcode">Error Code</label>
                                 <input type="text" autocomplete="off" class="form-control" placeholder="Error Code" v-model="exceptionSearchModel.ErrorCode">
                            </div>
                        </div>
                        
                        
                        <div class="col-md-3">           
                            <div class="form-group">
                                <label for="exceptionstate">Exception State</label>
                                 <select class="form-control" v-model="exceptionSearchModel.State">
                                    <option value="Initial" >Initial</option>
                                    <option value="Saved" >Saved</option>
                                    <option value="Modified" >Modified</option>
                                    <option value="PendingReprocess" >PendingReprocess</option>
                                    <option value="Ignored" >Ignored</option>
                                    <option value="Fixed" >Fixed</option>
                                </select>
                            </div>
                        </div>
                        
                        
                        
                        <div class="col-md-3">        
                            <div class="form-group">
                                <label for="queue">Queue</label>
                                <select class="form-control" v-model="exceptionSearchModel.Queue.QueueKey">
                                    <option value="" >All</option>
                                    <option value={{queue.QueueKey}} v-for="queue in exceptionQueueList">{{queue.QueueName}}</option>                        
                                </select>
                            </div>
                        </div>
                        
                                           
                        <div class="col-md-3">
                           <div class="form-group">
                                <label for="maxrecords">Maximum Records Fetched</label>
                                <input type="text" class="form-control" placeholder="Maximum Records" id="expmaxrecords" v-model="exceptionSearchModel.MaximumRecords" autocomplete="off"   min="1" max="500"  v-validate:expmaxrecords="{ required:true, min:1, max: 500, customMaxValidator:true}">
                                <p class="help-block" v-if="$expformvalidation.expmaxrecords.required || $expformvalidation.expmaxrecords.min || $expformvalidation.expmaxrecords.max || $expformvalidation.expmaxrecords.customMaxValidator">{{getMessage('MAX_RECORDS') }}</p>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-3 ">
                            <label for="lastraisedon">Last Raised On</label>
                              <div class="row CusDateContainer" >
                              <div class="col-md-6">
                             <input type="text" class="form-control" id="FromCreatets" placeholder="From Date" v-datepicker="exceptionSearchModel.FromCreatets" usage="datetime" timeofday="begin" fieldname="Createts" allowfuturedate="N">
                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                                  <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p>
                                </div>
                              <div class="col-md-6">
                               <input type="text" class="form-control" id="ToCreatets" placeholder="To Date" v-datepicker="exceptionSearchModel.ToCreatets" timeofday="end" usage="datetime" fieldname="Createts" allowfuturedate="N">
                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                                  <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p>
                                    </div>
                                </div>
                            </div>
                       
                      <div class="clearfix"></div>
                        <div class="col-md-2 pad-left-10 pull-right">
                            <Button class="btn btn-primary btn-block">
                                Search
                            </Button>
                        </div>
    </div>
                    <div class="clearfix"></div>
                </div>
            </form>  
       </validator>
    </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                                    <!-- Defining Tableheader columns,and passing the bindings for sorting   -->
                                    <thead>
                                        <tr role="row">
                                            <th class="" style="width: 20px;"><input type="checkbox" v-model="checkAllboxes" id="all">  </th>
                                            
                                            <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ErrorTxnId',true)" :class="{active: gmeta.sort.key == 'ErrorTxnId'}" >Error Id      
                                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ErrorTxnId'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                            </th>
                                            <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('FlowName')" :class="{active: gmeta.sort.key == 'FlowName'}">Service Name
                                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['FlowName'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                            </th>
                                            <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('Queue.QueueId')" :class="{active: gmeta.sort.key == 'Queue.QueueId'}">Queue Id
                                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Queue.QueueId'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                            </th>
                                             <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('Createts')" :class="{active: gmeta.sort.key == 'Createts'}">Created On
                                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Createts'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                            </th>
                                            <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('State')" :class="{active: gmeta.sort.key == 'State'}">Status
                                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['State'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                            </th>
                                            <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ErrorCode')" :class="{active: gmeta.sort.key == 'ErrorCode'}">Error Code
                                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ErrorCode'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                            </th>  
                                            <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ErrorString')" :class="{active: gmeta.sort.key == 'ErrorString'}">Error Message
                                                <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ErrorString'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                            </th>  
                                        </tr>
                                    </thead>
                                    <tbody v-if="$loadingRouteData || showMask" class="table-spinner"><tr class="loader"></tr></tbody>
                                    <tbody v-if="!$loadingRouteData && !showMask">
                                        <!-- defining v-model for filter inputs across columns   -->
                                        <tr>
                                           
                                             <th class="center-filter">
                                                <div class="glyphicon glyphicon-filter"></div>
                                            </th>
                                            <td> <input type=text class="form-control" v-model="gmeta.filter.ErrorTxnId"> </td>
                                            <td> <input type=text class="form-control" v-model="gmeta.filter.FlowName"> </td>
                                            <td> <input type=text class="form-control" v-model="gmeta.filter.Queue.QueueId"></td>
                                            <td><input type=text class="form-control" v-model="gmeta.filter.Createts"></td>
                                            <td> <input type=text class="form-control" v-model="gmeta.filter.State"> </td>
                                            <td><input type=text class="form-control" v-model="gmeta.filter.ErrorCode"></td>
                                            <td><input type=text class="form-control" v-model="gmeta.filter.ErrorString"></td>
                                        </tr>
                                        <!--  v-for loop which loops through the result json and maps it to grid coulmns   -->
                                        <tr  role="row" class="odd" 
                                            v-for=" row in gridData 
                                                   | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                                   | gridfilter gmeta.filter columns datecolumns
                                                   | paginate " >
                                            <td> <input type="checkbox" class="filtercheckbox" id="{{row.ErrorTxnId}}" value="{{row.ErrorTxnId}}"  v-model="checkedErrId" v-bind:checked="checkAll" ></td>
                                            <td><a v-link="{  name: 'expdtl',params:{ErrorTxnId:row['ErrorTxnId']}}">{{getValue(row, "ErrorTxnId")}} </a>    </td>
                                            <!--td> <a  href="#" data-toggle="modal" data-target="#editLocationDtl" v-on:click="startLocationDetail(row,$index)" >{{getValue(row, "ErrorTxnId")}}</a></td-->
                                            <td> {{getValue(row, "FlowName")}} </td>
                                            <td> {{getValue(row, "Queue.QueueId")}} </td>
                                            <td> {{formatDate(row, "Createts")}} </td>
                                            <td> {{getValue(row, "State")}} </td>
                                            <td> {{getValue(row, "ErrorCode")}} </td>
                                            <td> {{getValue(row, "ErrorString")}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="m-t-10">
                                    <div class="m-t-10">
                                        <gridpagination 
                                                        :gmeta="gmeta"
                                                        :total-pages="totalPages"
                                                        v-on:setpage="setPage">
                                        </gridpagination >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
            
            
             <div v-show="showAlertMessage">
                <div class="modal fade" id="showalertmessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                    <div class="modal-content">
                                <errorbox                              
                                  :message="'No Records are selected'"   
                                   v-on:confirm="ok()"
                                  >
                                </errorbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<!-- Vue Script Starts-->
<script>
	var Vue = require('vue')
    var VueValidator = require('vue-validator')
    Vue.use(VueValidator)
	var Utils = require('./../utils/utils.js')
	var GridUtils = require('./../utils/gridutils.js')
    var Logger = require('./../utils/loggerUtils.js')
    var $log = Logger.getInstance('Exceptions')
    
	export default {
        props: {
            data: Array,
            height: Number,
	   },
        
	  data: function () {
        var queueList = []
        var columns =   ['ErrorTxnId','FlowName','Queue.QueueId','Createts','State','ErrorCode','ErrorString']
        var gmeta = {}
        var showSearch = true
        GridUtils.populateGridMeta(gmeta, columns, false)
	  	var gridData = []
        var checkedErrId=[]
        var exceptionSearchModel = {'FlowName':'','State':'Initial','ToCreatets':'','FromCreatets':'',
                                 'CreatetsQryType':'BETWEEN','MaximumRecords':'100','Queue':{'QueueKey':''}}
        var enablebtn = true 
        var datecolumns=['Createts']
        var showAlertMessage = false;
        var checkAllboxes=false;  
        var checkAll=false;  
        var manualTrigger=false; 
        var showMask = false;
        var apierror=false;
        
        return {
	    	columns: columns,
	        gridData: gridData,   
            gmeta: gmeta,
            checkedErrId:checkedErrId,
            showSearch:showSearch,
            exceptionSearchModel:exceptionSearchModel,
            queueList:queueList,
            enablebtn :enablebtn,
            datecolumns:datecolumns,
            showAlertMessage:showAlertMessage,
            checkAllboxes:checkAllboxes,
            checkAll:checkAll,
            manualTrigger:manualTrigger,
            showMask:showMask,
            apierror:apierror
	       }
      },
    methods: {	  
        getValue: function(row, binding) {
          return Utils.getValue(row,binding)
        },
        getMessage: function(errorMessageId) {
        return Utils.getErrorMessage(errorMessageId)      
        },   
        
           
        // Method to sort columns
        sortBy: function (key, numeric) {
            GridUtils.sortBy(this.gmeta, key, numeric)
        },
        // Method to set pagination
        setPage: function(pageNumber) {
             this.checkAllboxes=false
            this.checkAll=false
            this.manualTrigger=false
            GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
        },
        
        formatDate: function(row, binding){
                var date = Utils.getValue(row,binding)
                return Utils.formatForDisplay(date)
        },
           
        // Method to process advance search
        exceptionAdvSearch: function(event) {
             event.preventDefault()	 
             var invalidDates = $(".invalid").length
             
             if(this.$expformvalidation.valid && invalidDates === 0){     
                 
             if(this.exceptionSearchModel.State === 'Ignored' || this.exceptionSearchModel.State === 'Fixed' || this.exceptionSearchModel.State ==='PendingReprocess') {
                 this.enablebtn=false
             } else {
                 this.enablebtn=true
             }
             var self = this	
             var success = function(result) {       
                self.gridData = result.IntegrationError 
                self.showSearch=false
                self.showMask=false
             }               
            
             if(self.exceptionSearchModel.MaximumRecords===''){
                 self.exceptionSearchModel.MaximumRecords='100';
             }
             self.showMask=true     
			 Utils.executeDataService("getExceptionList", success, self.exceptionSearchModel, self.errorHandler);  
                  } 
	       },
          
        // Method to process Ingnore Action   
        ignore:function() { 
            
            for(var i=0; i<this.checkedErrId.length;i++) {
                var inputErr = {'ErrorTxnId':this.checkedErrId[i]}
                
                var success = function(result) {                     
			    }
                   $log.info('Input request to ignoreexception'+JSON.stringify(inputErr))
                    Utils.executeDataService("ignoreIntegrationError",success, inputErr, this.errorHandler);
            }
              
            for(var j=this.gridData.length-1; j>=0; j--) {
                        if(this.checkedErrId.includes(this.gridData[j].ErrorTxnId)) {
                                this.gridData.splice(j,1)
                          
                        }
                      
             } 
            this.checkedErrId = []
            this.checkAllboxes = false            
                       
            if(this.gridData.length === 0){
               this.enablebtn= false
	    }
            
   
        },
        reprocess:function() { 
            var self=this
            for(var i=0; i<self.checkedErrId.length;i++) {
                var inputErr = {'ErrorTxnId':self.checkedErrId[i]}
                
                var success = function(result) {
                  
			    }
                  $log.info('Input request to reprocessexception'+JSON.stringify(inputErr))
                    Utils.executeDataService("reprocessIntegrationError",success, inputErr, self.errorHandler);
            }
           for(var j=this.gridData.length-1; j>=0; j--) {
                        if(this.checkedErrId.includes(this.gridData[j].ErrorTxnId)) {
                                this.gridData.splice(j,1)
                          
                        }
                      
             }
              
              self.checkedErrId = []
            self.checkAllboxes = false            
                       
            if(self.gridData.length === 0){
               self.enablebtn= false
	    }
            
   
        },
         ok:function(){
              this.showAlertMessage=false;               
         },
            
         displayAlertMessageBox:function(){
              this.showAlertMessage=true;
         },
         errorHandler: function(errorObj) {
              var self= this
              self.apierror = true
              self.errorcode = errorObj.ErrorCode
              self.errordesc = errorObj.ErrorDescription
              self.showMask=false
              
              //Error message times out after 10 seconds
              setTimeout(function(){self.apierror = false},Utils.getTimeOut())
         },
         getAPIErrorMessage: function() {
				return Utils.getAPIErrorMessage();
		},	
           
        resetAll: function(){
            this.exceptionSearchModel = this.getNewExceptionSearchModel();                
        },
            
        getNewExceptionSearchModel: function(){
            var self = this;
            var newExceptionSearchModel = {'FlowName':'','State':'Initial','ToCreatets':'','FromCreatets':'',
                                 'CreatetsQryType':'BETWEEN','MaximumRecords':'100','Queue':{'QueueKey':''}};
            return newExceptionSearchModel;
        }
           
	},
    
    filters: {
        paginate: function(list) {
            return GridUtils.paginate(this.gmeta,list)
        }
    },
        
	route: {
    
      activate: function (transition) { 
        
          
          if(transition.from.name !== "expdtl") {
              if (typeof(Storage) !== "undefined" && (!(sessionStorage.spretainresult == undefined) && sessionStorage.spretainresult === 'Y') ) {
                        //Clearing up the session storage so that the data is not retained
                        sessionStorage.removeItem('spretainresult')
                        sessionStorage.removeItem('spExceptionList')
                        sessionStorage.removeItem('spExceptionQueueList')
                       /* if(transition.from.name === 'home') {
                            sessionStorage.removeItem('spExceptionSearchModel')
                        }*/
                }
              if(typeof(Storage) !== "undefined" && this.$route.query.RequestFrom === 'Summary') {
                    sessionStorage.removeItem('spExceptionSearchModel')
                } 
                
            }          
         transition.next();
       
      },
      
      deactivate: function (transition) {
                      
        if (typeof(Storage) !== "undefined") { 
          sessionStorage.spExceptionSearchModel =  JSON.stringify(this.exceptionSearchModel)

         }
          
          if(transition.to.name === 'expdtl') {
            sessionStorage.spretainresult = 'Y'  
            sessionStorage.spExceptionList = JSON.stringify(this.gridData)
            sessionStorage.spExceptionQueueList = JSON.stringify(this.queueList)
          }
       
       transition.next();
      },
      
    
		data: function (transition) {
                var self= this    
                 if ((typeof(Storage) !== "undefined") && (!(sessionStorage.spExceptionSearchModel == undefined)) ) { 
                   this.exceptionSearchModel =  JSON.parse(sessionStorage.spExceptionSearchModel);
                 }
              
               if (typeof(Storage) !== "undefined" && (!(sessionStorage.spretainresult == undefined) && sessionStorage.spretainresult === 'Y') ) {
                   self.gridData =  JSON.parse(sessionStorage.spExceptionList);
                   self.queueList =  JSON.parse(sessionStorage.spExceptionQueueList)
                   self.showSearch=false

                   sessionStorage.removeItem('spretainresult')
                   sessionStorage.removeItem('spExceptionList')
                   sessionStorage.removeItem('spExceptionQueueList')
                   transition.next()
               } else {
                        var success = function(queueresult){

                           var loadException = function(result) {
                                transition.next({
                                    gridData : result.IntegrationError,
                                    queueList : queueresult.Queue
                                })
                            }
                            if(self.$route.query.Qname) {
                                self.exceptionSearchModel.Queue.QueueKey = self.$route.query.Qname;
                                self.showSearch = false
                                Utils.executeDataService("getExceptionList",loadException, self.exceptionSearchModel, errorHandler);

                            } else {
                                var arr = []
                                transition.next({
                                    gridData : arr,
                                    queueList : queueresult.Queue
                                })
                            }

                          }
                     var errorHandler = function(errorObj) {

                          self.apierror = true
                          self.errorcode = errorObj.ErrorCode
                          self.errordesc = errorObj.ErrorDescription
                          transition.next()

                          //Error message times out after 10 seconds
                          setTimeout(function(){self.apierror = false},Utils.getTimeOut())
                     }   
                       Utils.executeDataService("queueList",success, self.Queue, errorHandler);                   
                   
                   
               }
               
         }
    
    },
    watch:{
        
      
          checkAllboxes: function(newValue){
                          
                if(newValue){    
                   var classNames = document.getElementsByClassName('filtercheckbox');
                   this.checkAll=true;
                   this.manualTrigger=false;
                   this.checkedErrId.length=0; 
                   this.checkedErrId.splice(0,this.checkedErrId.length); 
                   for (var i=0; i<classNames.length; i++){
                     this.checkedErrId.push(classNames[i].id);   
                   }
                } else if(!this.manualTrigger) {
                    
                       this.checkAll=false;
                       this.checkedErrId.length=0; 
                       this.checkedErrId.splice(0,this.checkedErrId.length);    
                    
                } else {
                    this.manualTrigger=false;
                }
            } 
        
    },
        
    computed: {
    
        exceptionQueueList: function(){
            var self=this;
            var list=[];
            var filterByGroupName = function(row) {                
                if(row.QueueGroup === 'EXCEPTIONS') {
                    return true
                } else {
                    return false
                }
            }
            list = self.queueList.filter(filterByGroupName)            
            return list;
        },
        
        totalPages: function() {
            return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
          }
    },
        
    validators:{
        customMaxValidator:function(val){
            return /^([1-9]\d*)$/.test(val);
        }  

   },
    
	beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
	}
</script>