<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying supply and demand distribution of inventory information
        in Pie chart format for both overall and node level.
        This is a sub component inventory details.
     ***************************************************************************-->
<template>

  <div>
    <div   id="{{idchart}}" style="width:100%; height: 200px;"></div> 

    
    <a style="display:none" data-target="#supplydtl" id="triggerdialouge" role="button" class="btn btn-default SecondaryBtn" data-toggle="modal" title="Display Supply Inventory"  >
    </a>   

    <div v-show="showsupplydtl">
      <div class="modal fade " id="supplydtl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg " role="document">
          <div class="modal-content">
            <div class="modal-content">
              <supplydetail :showsupplydtl="showsupplydtl"  v-on:cancel="showsupplydtl=!showsupplydtl" >
              </supplydetail> 
            </div>

          </div>
        </div>
      </div> 

      <div class="modal fade" id="inv-browse-modal-big1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

          </div>
        </div>
      </div>

    </div>    
  </div>   
</template>
<script type="text/javascript">

var Vue = require('vue')
var Utils = require('./../utils/utils.js')
var GridUtils = require('./../utils/gridutils.js')
var google = window.google

export default {

  ready: function ready () {
  
  this.chart = new google.visualization.PieChart(document.getElementById(this.idchart));
 
  if(this.data)
  {
    this.drawChart();
  }   

}, 

props: {
         
     data: { type: Object },
     idchart: { type: String, required: true },
     nodesupplysearchmodel: { type: Object }
    
   },

   data: function () {
    var item={};
    var showsupplydtl=false;
    var itemSupplyDtlList=[];  
    var shpnode;   

    var options = {
           is3D: true,
        };	

        var eventHandler
        var chart
        
    return {
          item:item,
          showsupplydtl:showsupplydtl,
          eventHandler:eventHandler,
          options:options,
          itemSupplyDtlList:itemSupplyDtlList,
          shpnode:shpnode   
        }
},

methods: {
  goBack: function () {
    window.history.go(-1)
  },
    
 cancel: function(){
    this.showsupplydtl=false
 }, 
    
 /*This method draws the Pie chart with spply and demand list published by inventory details component*/    
  drawChart: function() {

    var self= this
    var chartid=this.idchart
    
  if (chartid === 'supplychart'){
 
        if(self.eventListener) {

            google.visualization.events.removeListener(self.eventListener)
            self.eventListener = nil
         }
    self.eventHandler = google.visualization.events.addListener(self.chart, 'select', this.selectHandler);  
   }

    self.chart.draw(this.data, this.options);

  },


  displaySupply: function(){
    this.showsupplydtl=true
  },

  selectHandler: function(e)  {
    if(this.showsupplydtl) {
      return
    }
      
      
    var self = this
    var selectedItem = self.chart.getSelection()[0];
   
    self.shpnode=self.nodesupplysearchmodel.ShipNode;  
    if (selectedItem) 
    {
     var itmobj= {
         SupplyType:'',
         ShipNode:''
         
     }    
     itmobj.SupplyType = this.data.getValue(selectedItem.row, 0);
     itmobj.ShipNode  = self.shpnode;    
        
     this.$broadcast('applyFilter', itmobj )
  
      this.showsupplydtl=true
      $("#triggerdialouge").trigger('click') 
    
    }
   } 

  },
    
  watch: {
    'options': 'drawChart',
    'data': 'drawChart'
  } 
}

</script>
