<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying order details
     ***************************************************************************-->
<template>
<br>
<div class="block  clearfix">
                 <div >
          <div class="alert alert-danger alert-dismissible" role="alert" v-show="false">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>API Error:</strong> API Failed
          </div>
        </div>

        </div>

      <div class="panel panel-default m-t-10">
                    <div class="panel-heading">Header Details
                    </div>
                    <div class="panel-body HeaderContainer">
                    
                   <ul class="list-group col-md-12 heightCtrl"> 

                    <li class="list-group-item col-md-4">
                     <label>Source ID</label>
                       <input type="text" id="txtOrderName" class="form-control" v-model="OrderDet.OrderName" maxlength="40" :disabled="orderCreated" placeholder="Order Number" title="Enter Order Number"> 
                        <span  class="help-block" v-show="orderNameError" >No Special Characters Allowed</span>
                          </li>

                          <li class="list-group-item col-md-4">
                     <label>Cost Center</label>
                       <div class="input-group">
        <input type="text" class="form-control" v-model="OrdObj.Division" maxlength="6" :disabled="orderCreated" placeholder="Cost Center" title="Enter The Cost Center"> 
      <span class="input-group-btn">
         <a href="#" data-toggle="modal" data-target="#inv-browse-modal-costcenter" data-backdrop="static">  
                                            <button class="btn btn-secondary" type="button" title="Search Cost Center" ><i class="glyphicon glyphicon-search"></i></button>
                                            </a>    
      </span>
    </div>
                          </li>
                        
                        
    <li class="list-group-item col-md-4">
        <label >Priority Code</label>
       <select id="selpriorityist" class="select-style form-control col-md-12" name="Priority Code" data-live-search="true"  
               v-model="OrdObj.Priority" :disabled="orderCreated" title="Select The Priority Code">            
           <option v-for="order in gridData" v-bind:value="order.CodeValue" >{{order.CodeName}}</option>
    </select>

    </li> 

         <li class="list-group-item col-md-4">
         <label class="">Order Type</label> 
   <select id="selordertyplist" class="select-style form-control col-md-12"  name="OrderType" 
                                        data-live-search="true" v-model="OrderDet.OrderType" :disabled="orderCreated" title="Select The Order Type">
                                            <option value="MATERIAL_RESERVATION">MATERIAL RESERVATION</option>
                                            <option value="TRANSPORT_ORDER">TRANSPORT ORDER</option>
                                            <!--<option v-for="order in gridData" v-bind:value="order.CodeValue" >{{order.CodeShortDescription}}</option> -->
                                        </select>
                                         <div  class="help-block" v-show="orderTypeError" style="
    margin-top: 29px;">Please Select Order Type </div>
                                           </li>   

 
        <!--  <li class="list-group-item col-md-4">    
        <label class="">Business Stream</label>
             
               <select id="seldeptlist" class="select-style form-control col-md-12" name="DepartmentCode" data-live-search="true"  
                                    v-model="OrderDet.DepartmentCode" :disabled="orderCreated" title="Select The Business Stream">
                <option v-for="deprtment in deptList" v-bind:value="deprtment.DepartmentCode" >{{deprtment.DepartmentName}}</option> 
                </select>
   
    </li>  -->  
                       
    <li class="list-group-item col-md-4">    
        <label class="col-md-12">&nbsp;</label>
               <input type="checkbox" class="" v-model="isISGMorder" id="seldeptlist" name="DepartmentCode" 
                      title="Select Alliance Order" :disabled="orderCreated || OrderDet.OrderType === 'TRANSPORT_ORDER' "> &nbsp; <b>Is Alliance Order</b>
    </li>
                       
    </div>
                       
<div class="clearfix"></div>        

                    </div>
                    </div>


                    <div class="panel panel-default m-t-10">
                    <div class="panel-heading">Other Details
                    </div>
                    <div class="panel-body HeaderContainer">
                      <ul class="list-group col-md-12 heightCtrl">
             <div class="row">
                           <li class="list-group-item col-md-4"><label>Project Number </label> <span >
                          
			   <input type="text" class="form-control" id="projnbr" v-model="OrderDet.SearchCriteria1" maxlength="100"
                                  placeholder="Project Number" title="Enter Project Number" > </span><span  class="help-block" v-show="accDtlError" >Enter Atleast One of Project No/ Account No</span>    </li>
                           
                            
                            <li class="list-group-item col-md-4"><label >Account Number</label> <span >
                               <input type="text" class="form-control" id="accnbr" v-model="AccNumber" maxlength="8"
                                  placeholder="Account Number" title="Enter Account number" >  </span></li>
                            
                            <li class="list-group-item col-md-4"><label >Delivery Instruction</label> <span >
                               <input type="text" class="form-control" v-model="DelInstruct" maxlength="40" placeholder="Delivery Instruction" title="Enter Delivery Instruction"> </span></li>
                        
                           <li class="list-group-item col-md-4"><label class="col-sm-6">Customer Contact</label><span>
                               <input type="text" class="form-control" v-model="OrderDet.SearchCriteria2" maxlength="50" placeholder="Customer Contact" title="Enter Customer Contact"> </span></li>
                           
                           <li class="list-group-item  col-md-4"><label for="Req Delivery Date">Requested Delivery Date</label>
                               <input type="text" class="select-style form-control" placeholder="Requested Delivery Date" v-datepicker="OrdObj.SelectedReqDate" usage="filter"  title="Enter Requested Delivery Date" id="ordreqdate" fieldname="ordreqdate" allowpastdate="N" :disabled="orderCreated">
                             <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>       
                              <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p>  
                           </li>
                     
                        
                           <li class="list-group-item  col-md-4">
                           <label for="Base Date">Base Date</label> 
                                <input type="text" class="select-style form-control" placeholder="Base Date" v-datepicker="BaseDate.RequestedDate" usage="filter"  title="Enter Base Date" id="ordbasedate" fieldname="ordbasedate" allowpastdate="N" >
                            <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                             <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p> 

                            </li>
                              </div>                 
                              </ul>
                    </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="buttonCtrl">
                    <button class="btn btn-primary prevBtn btn-lg pull-left" type="button" disabled="disabled" tabindex="-1">Previous</button>
                    <button class="btn btn-primary btn-lg pull-right" type="button" v-on:click="SaveSubmit('step1')" 
                            title="Next Page">Next</button>
                  <!--  <button class="btn btn-primary btn-lg text-center" type="button" v-link="{ path:'/orderlist'}" >Cancel</button> -->
                      <button class="btn btn-primary btn-lg text-center"  type="button" data-toggle="modal" data-target="#cancelOrderHeader" 
                                data-backdrop="static" v-on:click="showAlert('cancel', $event)" title="Cancel Create Order">Cancel</button>     
                    </div>


                    </div>
                    <div class="clearfix"></div>
      
       <div class="modal fade" id="inv-browse-modal-big" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
              <component :is="createOrderAddress"></component>
         </div>
       </div>
    </div>

     <div class="modal fade" id="inv-browse-modal-costcenter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog modal-md" role="document">
         <div class="modal-content">
              <component is="costcenterlookup" ></component>
         </div>
       </div>
    </div>

     <div v-show="showAlertVar">
      <div class="modal fade" id="cancelOrderHeader" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-content">
              <alertconfirmation
                :message="'You will lose your changes.<br> Do you want to Continue?'"           
                v-on:cancel="cancel()"
                v-on:confirm="goBack()"
                >
              </alertconfirmation>
            </div>
          </div>
        </div>
      </div>
    </div> 
        
</template> 
<script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var AddressLocation = require('./AddAddressLocation.vue') 
    var SearchCostCenter = require('./SearchCostCenter.vue')	
  

    export default {
       props: {
           
        },
            
       data: function() {
      
          var createOrderAddress=""
          var OrderDet= { 'EntryType':'STERLING','PriorityCode':'','OrderName':'','OrderType':'MATERIAL_RESERVATION','Division':'',                         
                           'EnterpriseCode':'TELSTRA_SCLSA', 'BuyerOrganizationCode':'TELSTRA_SCLSA','SellerOrganizationCode':'TELSTRA',
                          'References':{
                            'Reference':[]  
                         },
                         'OrderDates':{'OrderDate':[]}
                        };
           
           var RefObj = {'Name':'','Value' :''}
           var DelInstruct = ""
           var AccNumber= ""
           var BaseDate = {'DateTypeId':'DATE_TO_WHAM','RequestedDate':''} 
           var gridData = []
          
           var OrdObj={'Division':'','Priority':'N','SelectedReqDate':'','Contact':'','OrderDet':{},'PriorityCodeList':[] }
           
           var accDtlError= false
           var orderTypeError= false
           var orderNameError = false
           var showAlertVar = false
           var orderCreated= false
           var isISGMorder= false
          return {
              createOrderAddress:createOrderAddress,
              OrderDet:OrderDet,
              DelInstruct:DelInstruct,
              AccNumber: AccNumber,
              BaseDate: BaseDate,
              gridData: gridData,
             
              OrdObj:OrdObj,            
              accDtlError:accDtlError,
              orderTypeError:orderTypeError,
              orderNameError:orderNameError,
              showAlertVar:showAlertVar,
              orderCreated:orderCreated,
              isISGMorder:isISGMorder
          }
       } ,
       components: {
           'addresslocation': AddressLocation,
           'costcenterlookup': SearchCostCenter
          
       },
       ready: function(){
           var self = this;
           
           //Mandatory field validation "Order Type"
           $("#selordertyplist").on('change',function(){
                 
                if(self.OrderDet.OrderType != "" ){
                    $("#selordertyplist").css("border-color","#ccc")    
                    $("#selordertyplist").focus(function() {
                    $(self).css("border-color","#66afe9") 
                    });	
                       self.orderTypeError= false
                }
                else{
                     $("#selordertyplist").css("border-color","red");                       
                }
                    
           });  
            
           //Mandatory field validation "Project No"
           $("#projnbr").on('change',function(){  
                 self.validateMandOrdDtl();
           });
           
           //Mandatory field validation "Account Number" 
           $("#accnbr").on('change',function(){  
                 self.validateMandOrdDtl();
             }); 
           
           $("#inv-browse-modal-big").on("hidden.bs.modal", function () {
             // put your default event here
                  self.createOrderAddress="";
           });
                
               //Defaulting Base date to Current date
               self.BaseDate.RequestedDate= self.getCurrentDate();
           
               var priorityCodeList =function(result){
                     self.gridData=result.CommonCode ;
               }
               return Promise.all([
                    Utils.executeDataService("GpsPriorityCodeList", priorityCodeList, null)
                    ])
     
      },
       methods: {
          
          SaveSubmit: function(step) {
            var self = this;
            if(self.isISGMorder ==  true && self.OrderDet.OrderType != 'TRANSPORT_ORDER'){
                self.OrderDet.DepartmentCode="ISGM"
            }
            else{
                self.OrderDet.DepartmentCode=''
            }  
            var alphaNumPatt = /^\w+$/  
            var canProceed = true
            if(self.OrderDet.OrderName !== ""){
                    var checkPatt = alphaNumPatt.test(self.OrderDet.OrderName)
                    if(!checkPatt) {
                           self.orderNameError= true
                           canProceed = false
                           $("#txtOrderName").css("border-color","red");   
                    }
            }              
             
            if(self.OrderDet.OrderType == ""){
                   self.orderTypeError= true
                   canProceed = false
                   $("#selordertyplist").css("border-color","red");   
            }
            //Either one of Project No or Account no is mandatory  
            if(( self.AccNumber === undefined || self.AccNumber.trim() === ''  ) && 
               (self.OrderDet.SearchCriteria1 === undefined || self.OrderDet.SearchCriteria1.trim() === '' )){
                self.highlightinput();                
                canProceed = false
            }
            var invalidDates = $(".invalid").length  
            if(invalidDates >0){
                 canProceed = false  
             }  
            
            if(canProceed) {
                self.clearinput() 
                self.orderTypeError= false;
                $("#selordertyplist").css("border-color","#ccc")    
                $("#selordertyplist").focus(function() {
                $(self).css("border-color","#66afe9") 
                });
                
                self.OrderDet.References.Reference.splice(0)
                self.OrderDet.OrderDates.OrderDate.splice(0)
               
                if(self.DelInstruct){
                     var RefObj = {'Name':'','Value' :''} 
                    RefObj.Name="DELIVERY_INSTRUCTIONS"
                    RefObj.Value=self.DelInstruct
                    self.OrderDet.References.Reference.push(RefObj);
                }

                if(self.AccNumber){
                     var RefObj = {'Name':'','Value' :''}  
                     RefObj.Name="ACCOUNT_NUMBER"
                     RefObj.Value=self.AccNumber  
                     self.OrderDet.References.Reference.push(RefObj);
                }
                if(self.OrderDet.OrderDates.OrderDate.length == 0) {
                    self.OrderDet.OrderDates.OrderDate.push(self.BaseDate);
                }
                
                self.OrdObj.OrderDet = self.OrderDet;
                self.OrdObj.PriorityCodeList= self.gridData
                self.OrdObj.Contact=self.OrderDet.SearchCriteria2
                
                // This event is to dispatch the header level data captured in this page. Event captured in CreateOrder.vue
                self.$dispatch('HeaderDetailEventCatch', self.OrdObj );
                $("#"+step).trigger('click');
            }    
                     
           },
           getCurrentDate: function ()
           {
                var date = new Date();
                return (date.getFullYear()+'-'+('0' + (date.getMonth()+1)).slice(-2)
                            +'-'+('0' + (date.getDate())).slice(-2));            
           }, 
           getMessage: function(errorMessageId) {
                return Utils.getErrorMessage(errorMessageId)      
           },
           clearinput: function(){
                var self= this
                $("#projnbr").css("border-color","#ccc")    
                $("#projnbr").focus(function() {
                $(self).css("border-color","#66afe9") 
                });	
               
                $("#accnbr").css("border-color","#ccc") 
                $("#accnbr").focus(function() {
                $(self).css("border-color","#66afe9") 
                });
                   self.accDtlError= false
           },
           highlightinput: function(){
                var self=this  
                $("#projnbr").css("border-color","red");  
                $("#accnbr").css("border-color","red"); 
                self.accDtlError= true 
            },
           showAlert:function(action, event){
                if(event) {
                        var target = event.srcElement || event.target
                        if(target && target.hasAttribute('disabled')) {
                            event.preventDefault()
                            event.stopPropagation()
                            return
                        }
                }
                var self=this
                self.showAlertVar=true
        
           },
            goBack:function(event){
                 this.showAlertVar=false
                 Vue.nextTick(function() {
                    setTimeout( function() {
                                    history.go(-1)
                                },
                               1000)
                 })
             },
             cancel:function(event){
                this.showAlertVar=false
             },
             validateMandOrdDtl: function(){
                 var self =this
                 //Either one of Project No or Account no is mandatory
                 if(( self.AccNumber === undefined || self.AccNumber.trim() === ''  ) && 
                   (self.OrderDet.SearchCriteria1 === undefined || self.OrderDet.SearchCriteria1.trim() === '' )){
                   self.highlightinput()
                 }  
                 else{
                   self.clearinput()                      
                 }
             }
         
        },
      computed: {
       
      },
       watch: {
            
      },
      events: {
           //This event is used to update the selected cost center in costcenterlookup modal for Cost Center field
           CostCenterCatch: function(event){
               event.preventDefault;
               this.OrdObj.Division= event
               
           },
           //This event is used to access ManageOrder Success message. Event dispatched from CreateOrder.vue
           CreateOrderSuccess: function(event){
              event.preventDefault;
              if( event.OrderHeaderKey === undefined || event.OrderHeaderKey === '' ){
                this.orderCreated= false;
              }
              else{
                this.orderCreated= true; 
            }  
           }
       }
    }
</script>


