<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This is a component for displaying list of inventory items and also provides the feature of
        advance search functionality based on some search criterias
     ***************************************************************************-->
<template>
   <div>
    <div class="container-fluid CustomHgt">
        <div class="row ">
            <div class="col-md-4">
                <div v-breadcrumb="true"></div>
            </div>
            <div class="col-md-8">
                <div class="alert alert-danger alert-dismissible hidden" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong> Message Title:</strong> A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
          <div class="block  clearfix">
              <div class="alert alert-danger" role="alert"  v-if="apierror" >
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="apierror=!apierror"><span aria-hidden="true">&times;</span></button>
                        <strong>API Error:</strong> {{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}   
              </div>
          <h5 class="pull-left">Inventory</h5>
  
          <div class="pull-right"> 
              <span v-if="hasPermission('GPSSPINV0001A01')">
                    <button data-target="#uploadFilePage" role="button" class="btn btn-default SecondaryBtn" data-toggle="modal"  v-on:click="uploadFile()" title="Upload Inventory" >Upload Inventory</button>
              </span>      
						
					</div>
		     
		</div>
        <div class="panel panel-default">
            <div class="panel-heading"> 
                <div class="col-md-5  cal-box">
                                    Show
                                    <select class="select-style form-control">
                                        <option selected="All">All</option>
                                    </select>
                                   <button class="btn btn-default" @click="showSearch=!showSearch" title="Advanced Search">
                         <div class=""><i class="fa fa-search-plus" aria-hidden="true" ></i></div>
                        </button>
                                </div>
            
            </div>
                 <validator name="invSearchValidation">
                  <form  v-if="showSearch" v-on:submit.prevent.stop="inventorySearch" novalidate>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="adavanceSearch">Advanced Search</h4>
                                    </div>
                                 
                                    <div class="col-md-12">
                                             
                                                     <div class="form-group col-md-3">
                                                            <label for="itmid">Item ID</label>
                                                            <input type="text" class="form-control" id="itmid" placeholder="Item ID"  v-model="inventorySearchModel.ItemID" title="Item ID" autocomplete="off"><span  class="help-block" v-show="invinperror" >Enter Atleast One of Item ID/ Item Description/ Material Group</span>
                                                         
                                                        </div>
                                        <div class="form-group col-md-3">
                                             <label for="itmdesc">Description</label>
                                                            <input type="text" class="form-control" id="itmdesc" placeholder="Description"  v-model="inventorySearchModel.ShortDescription" autocomplete="off" title="Description">
    
                                        </div>
                                        
                                        <div class="form-group col-md-3">
                                             <label for="itmprodline">Material Group</label>
                                                            <input type="text" class="form-control" id="itmprodline" placeholder="Material Group"  v-model="inventorySearchModel.ProductLine" autocomplete="off" title="Material Group">
    
                                        </div>
                                        
                                        
                                                        <div class="form-group col-md-3">
                                                            <label for="invmaxrecords">Maximum Records Fetched</label>
															<input type="text" class="form-control" id="invmaxrecords" placeholder="Maximum Records"  v-model="inventorySearchModel.MaximumRecords" autocomplete="off"   min="1" max="500" v-validate:invmaxrecords="{ required:true, min: 1, max: 500, customMaxValidator:true }" 
                                                                   title="Maximum Records" >
												      
                                                        <span class="help-block" v-if="$invSearchValidation.invmaxrecords.required || $invSearchValidation.invmaxrecords.min || $invSearchValidation.invmaxrecords.max  || $invSearchValidation.invmaxrecords.customMaxValidator ">{{getMessage('MAX_RECORDS') }}</span>    
															 
                                                        </div> 
                                   
                      
                                                  
                                                </div>
                                    
                                    <div class="clearfix"></div>
                                                    <div class="col-md-2 pad-left-20 pull-right">
                <button type="submit" class=" col-md-3 btn btn-primary btn-block"  title="Search">Search</button>
              </div>    
                                </div>
                                   <br> 
                                
                            </form> 
                             </validator>
							<div class="clearfix"></div>
               <div class="panel-body">

      <div class="row">
          <div class="col-sm-12">
              <div class="table-responsive">
                <div class="loading  loading-table" v-if="{{gridData.length===0}}" style="min-height: 500px;">Loading…</div>
                <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
     <!-- Defining Tableheader columns,and passing the bindings for sorting   -->
                    
           <thead>
                <tr role="row">
         
                  <th class="" style="width: 20px;"></th>
                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ItemID')" :class="{active: gmeta.sort.key == 'ItemID'}" >Item ID     
                   <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ItemID'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
                     </th>                   
                             
                    
                    
                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('UnitOfMeasure')" :class="{active: gmeta.sort.key == 'UnitOfMeasure'}">UOM
                       <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['UnitOfMeasure'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
    </th>
                    <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('Item.PrimaryInformation.ProductLine')" :class="{active: gmeta.sort.key == 'Item.PrimaryInformation.ProductLine'}">Material Group
                  <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Item.PrimaryInformation.ProductLine'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
    </th>
                    <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('Item.PrimaryInformation.ShortDescription')" :class="{active: gmeta.sort.key == 'Item.PrimaryInformation.ShortDescription'}">Description
                  <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Item.PrimaryInformation.ShortDescription'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
    </th>
                    
      
                </tr>
              </thead>

				<tbody>
                      <!-- defining v-model for filter inputs across columns   -->
                    <tr>
                        <th class="center-filter">
                            <div class="glyphicon glyphicon-filter"></div>
                        </th>                                                          
                        <td> <input type=text class="form-control" v-model="gmeta.filter.ItemID" title="Enter Item ID"> </td>
                        <td> <input type=text class="form-control" v-model="gmeta.filter.UnitOfMeasure" title="Enter Unit Of Measure"> </td>
                        <td> <input type=text class="form-control" v-model="gmeta.filter.Item.PrimaryInformation.ProductLine" title="Enter Material Group"> </td>
                        <td> <input type=text class="form-control" v-model="gmeta.filter.Item.PrimaryInformation.ShortDescription"
                                    title="Enter Item Description"> </td>
                        
                    </tr>
                    <!--  v-for loop which loops through the result json and maps it to grid coulmns   -->
				    <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in gridData 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                | gridfilter gmeta.filter columns
                                | paginate " >

						
                                   
                        <td>      </td> 
				        <td><a v-link="{ name: 'invdtl',query:{itemid:row['ItemID'], uom:row['UnitOfMeasure'], orgcode:row['InventoryOrganizationCode'], prodline:row['Item']['PrimaryInformation']['ProductLine'] }}"> {{getValue(row, "ItemID")}} </a> </td>
                        <td> {{getValue(row, "UnitOfMeasure")}}     </td>
                        <td> {{getValue(row, "Item.PrimaryInformation.ProductLine")}}     </td>

                        <td class="descriptionCls"  id="td-table-{{$index}}" v-on:click= "toggleHeight($index,event)" > <i class="fa fa-play" v-if="row.Item &&
						row.Item.PrimaryInformation.ShortDescription != null &&
						row.Item.PrimaryInformation.ShortDescription.length >= 40"></i>  {{getValue(row, "Item.PrimaryInformation.ShortDescription")}}     </td>
					</tr>
                    
                    <tr v-show="altitems">
                        <td colspan="5" ><span class="noRecordCtrl"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 40px;"></i><br>No Results Found</span></td>
            </tr>
				</tbody>
                    
                    
                    
 
             </table>
                <div class="m-t-10">
                    <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >
                </div>
                
          </div>

        </div>
      </div>
    </div>
	
	    <div v-show="showupload">
            <div class="modal fade" id="uploadFilePage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                          <!-- Modal content-->
                        <div class="modal-content">
                        <fileuploads
                            v-on:cancel="cancelFileUpload()">
                        </fileuploads>
                    </div>

                    </div>
                </div>
            </div> 
            <div class="modal fade" id="inv-browse-modal-big1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
        </div>
	
	
	
	
    </div>
    <div class="modal fade" id="inv-browse-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
	
	</div>

   
</template>
<script>
	var Vue = require('vue')
    var VueValidator = require('vue-validator')
    Vue.use(VueValidator)    
        
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    
	export default {
        
     ready: function ready () {

            var self = this  
                       
            $("#itmid").on('change',function(){  
                self.validateInput();
            });
         
             $("#itmdesc").on('change',function(){
                 self.validateInput();
            });
         
             $("#itmprodline").on('change',function(){                  
                self.validateInput();
            });       
    },
	
	props: {
    data: Array,
    height: Number,
	
	        },
	  data: function () {
           var filterKey="Y"
        var inventorySearchModel = {
            'ItemID': '',
            'ShortDescription':'',
            'ProductLine':'',
            'MaximumRecords': '100' 
         }  
       var columns =['ItemID','UnitOfMeasure','Item.PrimaryInformation.ProductLine','Item.PrimaryInformation.ShortDescription']
       var gmeta = {}
       var showSearch =true
	   var showupload=false
       var invinperror= false
       var altitems= false
       GridUtils.populateGridMeta(gmeta, columns, false)

	  	var gridData = []
        var errorcode
        var errordesc
        var apierror=false
	
	    return {
            inventorySearchModel:inventorySearchModel,
	    	columns: columns,
	        gridData: gridData,
            showSearch: showSearch, 
			showupload:showupload,
            invinperror:invinperror,
            gmeta: gmeta,
            altitems:altitems,
            
            errorcode:errorcode,
            errordesc:errordesc,
            apierror:apierror
	       }
      },

  computed: {
      totalPages: function() {
        return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
      }
    }
  ,
  filters: {
	   	paginate: function(list) {
            return GridUtils.paginate(this.gmeta, list, this.totalPages)
	   	}
    }
  ,
  route : {
    activate : function(transition) {
      
        if (typeof(Storage) !== "undefined" && !(sessionStorage.spinvresult == undefined) ) {
            this.inventorySearchModel =  JSON.parse(sessionStorage.spinvSearchModel)
              if(transition.from.name !== 'invdtl') {
                    //Clearing up the session storage so that the data is not retained
                    sessionStorage.removeItem('spinvresult')
               } else {
                    this.gridData = JSON.parse(sessionStorage.spinvresult)
                    this.showSearch = false

               }
        }
        transition.next()    
        
    },
    deactivate : function(transition) {
      if (typeof(Storage) !== "undefined") {
        sessionStorage.spinvSearchModel =  JSON.stringify(this.inventorySearchModel)
        if(transition.to.name === 'invdtl') {
            sessionStorage.spinvresult = JSON.stringify(this.gridData)
        }
      }
        transition.next()
    }
      
  },        
  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },
      setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
      },
      sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
      },
	  uploadFile: function() {
          this.showupload=true
      },
      clearinput: function(){
            var self= this
            $("#itmid").css("border-color","#ccc")    
            $("#itmid").focus(function() {
            $(self).css("border-color","#66afe9") 
            });	

            $("#itmdesc").css("border-color","#ccc")    
            $("#itmdesc").focus(function() {
            $(self).css("border-color","#66afe9") 
            });	

            $("#itmprodline").css("border-color","#ccc")    
            $("#itmprodline").focus(function() {
            $(self).css("border-color","#66afe9") 
            });	
            self.invinperror=false;
      },
      highlightinput: function(){
            var self=this  
            $("#itmid").css("border-color","red");
            $("#itmdesc").css("border-color","red");
            $("#itmprodline").css("border-color","red"); 
            self.invinperror= true  
      },
      validateInput: function(){
           var self= this
           if(self.inventorySearchModel.ItemID.trim() === "" && self.inventorySearchModel.ShortDescription.trim() === "" && 
           	self.inventorySearchModel.ProductLine.trim() === "" ){
                self.highlightinput();
            }
            else{
                self.clearinput();
            }
      },
      getMessage: function(errorMessageId) {
        return Utils.getErrorMessage(errorMessageId)      
      },
      cancelFileUpload: function(){
          
      },
       hasPermission:function(resourceId){
            return Utils.hasPermission(resourceId)
      },
       toggleHeight: function(index) {
        $('#td-table-'+index).toggleClass("active");
      },
      inventorySearch: function(event) {
	        event.preventDefault()
            
          if(this.$invSearchValidation.valid){     
	      
	        var self = this
            if(self.inventorySearchModel.MaximumRecords === ''  ){
                self.inventorySearchModel.MaximumRecords= '100'
             }
              
            if(self.inventorySearchModel.ShortDescription.trim()){
                var desc = self.inventorySearchModel.ShortDescription.toUpperCase();
                self.inventorySearchModel.ShortDescription = desc;
            }
              
			if(self.inventorySearchModel.ItemID.trim() === "" && self.inventorySearchModel.ShortDescription.trim() === "" && 
                       self.inventorySearchModel.ProductLine.trim() === ""   ){
                 self.invinperror= true
                 self.highlightinput();                      
            }
            else{
                
                self.invinperror= false    
                var success = function(result) {
                
                    var list = result.InventoryItem
                    if(!list) {
                        list = []
                    }
                    if(!(list.constructor === Array)) {
                        list = []
                        list.push(result.InventoryItem)
                    }
                    self.gridData = list
                    if(self.gridData.length === 0)
                    {
                       self.altitems=true;       
                    }
                    else{
                         self.altitems=false;
                    }
                    self.showSearch= false
                    self.apierror = false
                }
                var errorHandler = function(errorObj) {
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  //Error message times out after 10 seconds
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
                } 
			Utils.executeDataService("inventoryItemList", success, self.inventorySearchModel, errorHandler);
            }  
			
	      }
          
          GridUtils.clearMetaPagination(this.gmeta, this.columns);
      },
      getAPIErrorMessage: function() {
			return Utils.getAPIErrorMessage();
      },
  },
  validators:{
        customMaxValidator:function(val){
            return /^([1-9]\d*)$/.test(val);
        }  
          
   },              
   beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
}
</script>

