<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This is a component for displaying list of inventory items and also provides the feature of
        advance search functionality based on some search criterias
     ***************************************************************************-->
<template>
   <div>
    <div class="container-fluid CustomHgt">
        <div class="row ">
            <div class="col-md-4">
                <div v-breadcrumb="true"></div>
            </div>
            <div class="col-md-8">
                <div class="alert alert-danger alert-dismissible hidden" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong> Message Title:</strong> A line of color-coded error/message/info text appears with <a href="" class="link">relevant link</a> </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        
        <div class="block"  v-if="apierror" >
              <div class="alert alert-danger" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}  
              </div>
            </div>
        
        <div class="block  clearfix">
            <h5 class="pull-left">iTec Inventory</h5>


            <!--            <a href="modals/upload_Inventory.html" data-target="#inv-browse-modal" role="button" class="btn btn-default SecondaryBtn" data-toggle="modal">Upload Inventory</a>-->
			
			 <div class="pull-right"> 
              <span v-if="hasPermission('GPSSPINVSPS0001A01')"> 
                    <button data-target="#uploadSPSFilePage" role="button" class="btn btn-default SecondaryBtn" data-toggle="modal"  v-on:click="uploadSPSFile()" title="Upload SPS Inventory" >Upload SPS Inventory</button>
              </span>       
						
				</div>
			
			</div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-md-5  cal-box">
                        Show
                        <select class="select-style form-control">
                            <option selected="All">All</option>
                        </select>
                        <button class="btn btn-default" @click="showSearch=!showSearch">
                        <div class=""><i class="fa fa-search-plus" aria-hidden="true"></i></div>
                    </button> 
                    </div>

            </div>
            <validator name="iTechInvSearchValidation">
            <form  v-if="showSearch" v-on:submit.prevent.stop="inventorySearch" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="adavanceSearch">Advanced Search <span class="pull-right">  <button type="button" class="btn btn-primary SecondaryBtn Clearbtn" title="Clear" v-on:click="resetAll()">
                                        Clear Form
                                    </button></span>
                        </h4>
                        <div class="clearfix"></div>
                        <div class=" col-md-12">
                            <div class="alert alert-danger" v-show="invinperror" role="alert">                  
                                Enter any one of the following criteria 
                            </div>
                    </div>
   <div class="form-group col-md-3">
                                <label for="materialId">Material ID</label>
                                <input type="text" class="form-control" id="materialId" placeholder="Material ID"  v-model="inventorySearchModel.MaterialId" autocomplete="off" title="Enter the unique identifier of the item" >
                                
                            </div>

   

                               <div class="form-group col-md-3">
                                <label for="serialNo">Serial No</label>
                                <input type="text" class="form-control" id="serialNo" placeholder="Serial No" v-model="inventorySearchModel.SerialNo" autocomplete="off" title="Enter the serial number of the item">
                            </div>
  <div class="form-group col-md-3">
                                <label for="status">Status</label>
                                <input type="text" class="form-control" id="status" placeholder="Status" v-model="inventorySearchModel.Status" autocomplete="off" title="Enter the status of the item">
                            </div>
                             <div class="form-group col-md-3">
                                <label for="revisionNo">Revision No</label>
                                <input type="text" class="form-control" id="revisionNo" placeholder="Revison No" v-model="inventorySearchModel.RevisionNo" autocomplete="off" title="Enter the revision number of the item">
                            </div>
                                     <div class="form-group col-md-3">
                                <label for="barCd">Bar Code</label>
                                <input type="text" class="form-control" id="barCd" placeholder="Bar Code" v-model="inventorySearchModel.Barcode" autocomplete="off" title="Enter the bar code of the item">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="locat">Location</label>
                                <select class="form-control" id="locat"  v-model="inventorySearchModel.Location" >
                                    <option value='' >All</option> 
                                    <option v-for="row in spsLocList | spslocfilter 'TELSTRA' " v-bind:value="row.CodeValue" >{{row.CodeShortDescription}}</option>                                    
                                </select>
                            </div>
                               <div class="form-group col-md-3">
                                <label for="invmaxrecords">Maximum Records Fetched</label>
                                <input type="text" class="form-control" id="invmaxrecords" placeholder="Maximum Records"  v-model="inventorySearchModel.MaximumRecords" autocomplete="off"   min="1" max="500" v-validate:invmaxrecords="{ required:true, min: 1, max: 500, customMaxValidator:true }">

                                <span class="help-block" v-if="$iTechInvSearchValidation.invmaxrecords.required || $iTechInvSearchValidation.invmaxrecords.min || $iTechInvSearchValidation.invmaxrecords.max  || $iTechInvSearchValidation.invmaxrecords.customMaxValidator ">{{getMessage('MAX_RECORDS') }}</span>    

                            </div> 
<div class="clearfix"></div>
                    <div class="col-md-2 pad-left-10 pull-right">                               
                        <button type="submit" class="btn btn-primary btn-block" title="Search">
                            Search
                        </button> 
                    </div>
                    </div>
                   
                    






                  
                    <div class="clearfix"></div>
                </div>
            </form>
        </validator>
            <div class="panel-body">
                <div class="table-wrapper">

                    <table id="" class="table table-striped table-hover dataTable f-12 m-t-10" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">

                        <thead>
                            <tr role="row">

                                <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('MaterialId')" :class="{active: gmeta.sort.key == 'MaterialId'}" title="Unique Identifier of the Item" >Material ID      
                                    <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['MaterialId'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                </th>
                                
                                 <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Model')" :class="{active: gmeta.sort.key == 'Model'}" title="Name of the Item" >Material Name      
                                    <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Model'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                </th>
                                
                                <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('MaterialDescription')" :class="{active: gmeta.sort.key == 'MaterialDescription'}" title="Description of the Item">Description      
                                    <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['MaterialDescription'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                </th>
                                
                                <th v-if="!serialsPresent" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Quantity',true)" :class="{active: gmeta.sort.key == 'Quantity'}" title="Available Quantity of the Item">Quantity     
                                    <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Quantity'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                </th>
                                
                                <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Location')" :class="{active: gmeta.sort.key == 'Location'}" title="Location of the Item">Location      
                                    <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Location'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                </th>
                                
                                <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Status')" :class="{active: gmeta.sort.key == 'Status'}" title="Status of the Item" >Status    
                                    <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Status'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                </th>
                                
                                <th v-if="serialsPresent" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('SerialNo')" :class="{active: gmeta.sort.key == 'SerialNo'}" title="Status of the Item" >Serial No    
                                    <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SerialNo'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                </th>
                                
                                <th  v-if="serialsPresent" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('RevisionNo')" :class="{active: gmeta.sort.key == 'RevisionNo'}" title="Status of the Item" >Revision No    
                                    <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['RevisionNo'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                </th>
                                
                                <th v-if="serialsPresent" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Barcode')" :class="{active: gmeta.sort.key == 'Barcode'}" title="Status of the Item" >Bar Code    
                                    <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Barcode'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                </th>
                                
                            </tr>
                        </thead>
                        
                        <tbody v-if="$loadingRouteData || showMask" class="table-spinner"><tr class="loader"></tr></tbody>   
                        <tbody v-if="!$loadingRouteData && !showMask">
                                <tr role="row">

                                <td> <input type=text class="form-control" v-model="gmeta.filter.MaterialId" title="Unique Identifier of the Item"> </td>
                                <td> <input type=text class="form-control" v-model="gmeta.filter.Model" title="Name of the Item"> </td>
                                <td> <input type=text class="form-control" v-model="gmeta.filter.MaterialDescription" title="Description of the Item"> </td>
                                <td v-if="!serialsPresent"> <input type=text class="form-control" v-model="gmeta.filter.Quantity" title="Available Quantity of the Item"> </td>
                                <td> <input type=text class="form-control" v-model="gmeta.filter.Location" title="Location of the Item"> </td>
                                <td> <input type=text class="form-control" v-model="gmeta.filter.Status" title="Status of the Item"> </td>
                                <td v-if="serialsPresent"> <input type=text class="form-control" v-model="gmeta.filter.SerialNo" title="Serial number of the Item"> </td>
                                <td v-if="serialsPresent"> <input type=text class="form-control" v-model="gmeta.filter.RevisionNo" title="Revision number of the Item"> </td>
                                <td v-if="serialsPresent"> <input type=text class="form-control" v-model="gmeta.filter.Barcode" title="Bar Code of the Item"> </td>
                                                               
                            </tr> 
                            
                            <tr v-show="altitems"><td colspan="10" ><span class="noRecordCtrl"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 40px;"></i><br>No Results Found</span></td>                                      
                            </tr>
                                        
                            <!--  v-for loop which loops through the result json and maps it to grid coulmns   -->
                            <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in gridData 
                                       | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                       | gridfilter gmeta.filter columns datecolumns
                                       | paginate " >
                                <td><a v-link="{name: 'invitechdtl', path: '/inventoryitechdetails',query:{key:row['MaterialId']}}"> {{getValue(row, "MaterialId")}}  </a>   </td>
                                <td> {{getValue(row, "Model")}} </td>
                                <td> {{getValue(row, "MaterialDescription")}} </td>
                                <td v-if="!serialsPresent"> {{getValue(row, "Quantity")}} </td>
                                <td> {{getValue(row, "Location")}} </td>
                                <td> {{getValue(row, "Status")}} </td>
                                <td v-if="serialsPresent"> {{getValue(row, "SerialNo")}} </td>
                                <td v-if="serialsPresent"> {{getValue(row, "RevisionNo")}} </td>
                                <td v-if="serialsPresent"> {{getValue(row, "Barcode")}} </td>
                            </tr>
                        </tbody>
                    </table>
                
                     <div class="m-t-10">
                        <div class="m-t-10">
                            <gridpagination 
                                            :gmeta="gmeta"
                                            :total-pages="totalPages"
                                            v-on:setpage="setPage">
                            </gridpagination >
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
	
		    <div v-show="showupload">
            <div class="modal fade" id="uploadSPSFilePage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                          <!-- Modal content-->
                        <div class="modal-content">
                        <spsfileuploads
                            v-on:cancel="cancelFileUpload()">
                        </spsfileuploads>
                    </div>

                    </div>
                </div>
            </div> 
            <div class="modal fade" id="inv-browse-modal-big1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
        </div>
	
       
    <div class="modal fade" id="inv-browse-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

   
</template>
<script>
	var Vue = require('vue')
    var VueValidator = require('vue-validator')
    Vue.use(VueValidator)    
        
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    
	export default {
        
     ready: function ready () {

            var self = this  
            $("#materialId").on('change',function(){                  
                 
                    if(self.inventorySearchModel.MaterialId.trim() != "" ){
                        self.clearinput();
                    }
                    else{
                        self.highlightinput();
                    }
                    
            });
            
            $("#itemDesc").on('change',function(){                  
                 
                    if(self.inventorySearchModel.Description.trim() != "" ){
                        self.clearinput();
                    }
                    else{
                        self.highlightinput();
                    }
                    
            });
         
            $("#revisionNo").on('change',function(){                  
                 
                    if(self.inventorySearchModel.RevisionNo.trim() != "" ){
                        self.clearinput();
                    }
                    else{
                        self.highlightinput();
                    }
                    
            });
         
            $("#serialNo").on('change',function(){                  
                 
                    if(self.inventorySearchModel.SerialNo.trim() != "" ){
                        self.clearinput();
                    }
                    else{
                        self.highlightinput();
                    }
                    
            });
         
            /*$("#locat").on('change',function(){                  
                 
                    if(self.inventorySearchModel.Location.trim() != "" ){
                        self.clearinput();
                    }
                    else{
                        self.highlightinput();
                    }
                    
            });*/
         
            $("#barCd").on('change',function(){                  
                 
                    if(self.inventorySearchModel.Barcode.trim() != "" ){
                        self.clearinput();
                    }
                    else{
                        self.highlightinput();
                    }
                    
            });
         
            $("#status").on('change',function(){                  
                 
                    if(self.inventorySearchModel.Status.trim() != "" ){
                        self.clearinput();
                    }
                    else{
                        self.highlightinput();
                    }
                    
            });

    },
	
	props: {
    data: Array,
    height: Number,
	
	        },
	  data: function () {
            var filterKey="Y"
            var inventorySearchModel = {
                'MaterialId': '',
                'Description':'',
                'Location':'',
                'Status':'',
                'RevisionNo':'',
                'SerialNo':'',
                'Barcode':'',
				'IsDetail':'N',
                'MaximumRecords': '100' 
             }  
            var columns =['MaterialId','Model','MaterialDescription','Quantity','Location','Status','SerialNo','RevisionNo','Barcode']
            var gmeta = {}
            var showSearch =true
	        var invinperror= false
            var altitems= false
            GridUtils.populateGridMeta(gmeta, columns, false)
            var serialsPresent = false;
            var showupload=false
	  	    var gridData = []
            var spsLocList= []
	        var showMask = false;
            var errorcode;
            var errordesc;
          var apierror;
	    return {
            inventorySearchModel:inventorySearchModel,
	    	columns: columns,
	        gridData: gridData,
            spsLocList:spsLocList,
            showSearch: showSearch, 
			showupload:showupload,
			invinperror:invinperror,
            gmeta: gmeta,
            altitems:altitems,
            showMask:showMask,
            errorcode:errorcode,
            errordesc:errordesc,
            serialsPresent:serialsPresent,
            apierror:apierror
	       }
      },

  computed: {
      totalPages: function() {
        return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
      }
    }
  ,
  filters: {
	   	paginate: function(list) {
            return GridUtils.paginate(this.gmeta, list, this.totalPages)
	   	}
  },  

  route : {
     data: function (transition) {
	            
            var spsListsuccess = function(spsresult) {
                transition.next({
                    spsLocList : spsresult.CommonCode,

                })
            }
            Utils.executeDataService("spsLocationList", spsListsuccess, null);
         
         
    },
    activate : function(transition) {
      
        if (typeof(Storage) !== "undefined" && !(sessionStorage.spitecinvresult == undefined) ) {
            this.inventorySearchModel =  JSON.parse(sessionStorage.spitecinvSearchModel)
              if(transition.from.name !== 'invitechdtl') {
                    //Clearing up the session storage so that the data is not retained
                    sessionStorage.removeItem('spitecinvresult')
               } else {
                    this.gridData = JSON.parse(sessionStorage.spitecinvresult)
                    this.showSearch = false

               }
        }
        transition.next()    
        
    },
    deactivate : function(transition) {
      if (typeof(Storage) !== "undefined") {
        sessionStorage.spitecinvSearchModel =  JSON.stringify(this.inventorySearchModel)
        if(transition.to.name === 'invitechdtl') {
            sessionStorage.spitecinvresult = JSON.stringify(this.gridData)
        }
      }
        transition.next()
    }
      
  },
        
  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },
      setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
      },
      sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
      },
	  uploadSPSFile: function() {
          this.showupload=true
      },
	   cancelFileUpload: function(){
          
      },	
      clearinput: function(){
            var self= this
            $("#materialId").css("border-color","#ccc")    
            $("#materialId").focus(function() {
            $(self).css("border-color","#66afe9") 
            });	

            $("#itemDesc").css("border-color","#ccc")    
            $("#itemDesc").focus(function() {
            $(self).css("border-color","#66afe9") 
            });	

            $("#revisionNo").css("border-color","#ccc")    
            $("#revisionNo").focus(function() {
            $(self).css("border-color","#66afe9") 
            });
          
            $("#serialNo").css("border-color","#ccc")    
            $("#serialNo").focus(function() {
            $(self).css("border-color","#66afe9") 
            });
          
           /* $("#locat").css("border-color","#ccc")    
            $("#locat").focus(function() {
            $(self).css("border-color","#66afe9") 
            });*/
          
            $("#barCd").css("border-color","#ccc")    
            $("#barCd").focus(function() {
            $(self).css("border-color","#66afe9") 
            });
          
            $("#status").css("border-color","#ccc")    
            $("#status").focus(function() {
            $(self).css("border-color","#66afe9") 
            });
          
    
            self.invinperror=false;
      },
      highlightinput: function(){          
            var self=this  
            $("#materialId").css("border-color","red");
            $("#itemDesc").css("border-color","red");
            $("#revisionNo").css("border-color","red"); 
            $("#serialNo").css("border-color","red"); 
            //$("#locat").css("border-color","red"); 
            $("#barCd").css("border-color","red"); 
            $("#status").css("border-color","red"); 
            self.invinperror= true  
      },
      
      
      getMessage: function(errorMessageId) {
        return Utils.getErrorMessage(errorMessageId)      
      },
 
       hasPermission:function(resourceId){
            return Utils.hasPermission(resourceId)
      },
       toggleHeight: function(index) {
        $('#td-table-'+index).toggleClass("active");
      },
      inventorySearch: function(event) {
	        event.preventDefault()
            if(this.$iTechInvSearchValidation.valid){     
	      
                var self = this
                if(self.inventorySearchModel.MaximumRecords === ''  ){
                    self.inventorySearchModel.MaximumRecords= '100'
                 }
                
                if(self.inventorySearchModel.MaterialId.trim() === "" && 
                   self.inventorySearchModel.Description.trim() === "" &&              
                   self.inventorySearchModel.Location.trim() === "" &&                            self.inventorySearchModel.Status.trim() === "" && 
                   self.inventorySearchModel.RevisionNo.trim() === "" && 
                   self.inventorySearchModel.SerialNo.trim() === "" && 
                   self.inventorySearchModel.Barcode.trim() === "" ){
                                        
                     self.invinperror= true
                     self.highlightinput();  
                    
                }else{
                
                    self.invinperror= false    
                    var success = function(result) {

                        var list = result.Item
                        if(!list) {
                            list = []
                        }
                        if(!(list.constructor === Array)) {
                            list = []
                            list.push(result.Item)
                        }
                        self.gridData = list
                        if(self.gridData.length === 0)
                        {
                           self.altitems=true;       
                        }
                        else{
                            if(result.SerialsPresent === "N"){
                                self.serialsPresent = false;
                            }else if(result.SerialsPresent === "Y"){
                                self.serialsPresent = true;
                            }
                             self.altitems=false;
                        }
                        self.showSearch= false
                        self.showMask=false;
                    }  
                    self.showMask=true;
			         Utils.executeDataService("iTecInventoryList", success, self.inventorySearchModel, self.errorHandler);
                }  
			
	       }
          
          GridUtils.clearMetaPagination(this.gmeta, this.columns);
      },
      
      errorHandler : function(errorObj) {
          var self = this;
          self.apierror = true
          self.showMask=false;
          self.errorcode = errorObj.ErrorCode
          self.errordesc = errorObj.ErrorDescription
         // transition.next();
          //Error message times out after 10 seconds
          setTimeout(function(){self.apierror = false},Utils.getTimeOut())                 
        },
      
      resetAll: function(){
        this.inventorySearchModel = this.getNewInventorySearchModel();                
      },

      getNewInventorySearchModel: function(){
        var self = this;
        var newInventorySearchModel = {
            'MaterialId': '',
                'Description':'',
                'Location':'',
                'Status':'',
                'RevisionNo':'',
                'SerialNo':'',
                'Barcode':'',
				'IsDetail':'N',
                'MaximumRecords': '100'
            }
            return newInventorySearchModel;
        },
      
        getAPIErrorMessage: function() {
            return Utils.getAPIErrorMessage();
         },
  },
  validators:{
        customMaxValidator:function(val){
            return /^([1-9]\d*)$/.test(val);
        }  
          
   },              
   beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
}
</script>

