<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component displays overall supply distribution for a selected supply type 
        on the Supply pie chart. This also displays the supply distribution for a selected node 
        and supply type. This is a sub component supply type quantity distribution Pie chart.
     ***************************************************************************-->

<template>
    <div>
    <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="cancel()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Item Serials</h4>

          </div>

              
    <div class="modal-body">
	 <div v-show="showmask" class="spinner-loading absolution">
            <div class="loader"></div>
        </div>
         <div class="block col-ms-12"  v-if="apierror" >
                  <div class="alert alert-danger" role="alert">
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="apierror=!apierror"><span aria-hidden="true">&times;</span></button>
                            <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}  
                  </div>
               </div> <div class="clearfix"></div>
         <div class="panel panel-default">

             
                            <div class="panel-heading">
                                <h5>Item Information</h5></div>
                            <div class="panel-body panel-common-body">
                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group clearfix m-t-10 row">
                                    <label for="" class="col-sm-4 control-label">Material ID</label>
                                    <div class="col-sm-8">
                                        <span class="form-inline-left"> {{itemdetails.MaterialId}}</span>
                                    </div>
                                </div>
                                
                                <div class="form-group clearfix m-t-10 row">
                                    <label for="" class="col-sm-4 control-label">UOM</label>
                                    <div class="col-sm-8">
                                        <span class="form-inline-left">{{itemdetails.UnitOfMeasure}}</span>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-md-6">
                                <div class="form-group clearfix m-t-10 row">
                                    <label for="" class="col-sm-4 control-label">Description</label>
                                    <div class="col-sm-8">
                                        <span class="form-inline-left">{{itemdetails.MaterialDescription}}</span>
                                    </div>
                                </div>
                           </div>
                                
                                     
                            </div>
                                 
                            </div>
                        </div>
            <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5>Serial Details</h5></div>
                            <div class="panel-body panel-common-body">
                           <div class="table-responsive">
                            <div class=" ">
                               
        <table id="mytable" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
     <!-- Defining Tableheader columns,and passing the bindings for sorting   -->
                    
           <thead>
                <tr role="row">
        
                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('EquipmentNo')" :class="{active: gmeta.sort.key == 'EquipmentNo'}" title="Equipment Number of the material">Equipment Number     
                   <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['EquipmentNo'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
                     </th>                   
                    
                    
                  <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('Barcode')" :class="{active: gmeta.sort.key == 'Barcode'}" title="Bar Code of the material">Bar Code
                       <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Barcode'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
                  </th>
                    
                    <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('SerialNo')" :class="{active: gmeta.sort.key == 'SerialNo'}" title="Serial Number of the material">Serial
                    <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SerialNo'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
                    </th>
                    
                    <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('RevisionNo')" :class="{active: gmeta.sort.key == 'RevisionNo'}" title="Revision Number of the material">Revision
                    <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['RevisionNo'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
                    </th>
                    
                     <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('Location')" :class="{active: gmeta.sort.key == 'Location'}" title="Location of the material">Location
                  <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Location'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
                    </th>
                   
                    
                     <th  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=""aria-sort="ascending"  @click="sortBy('Status')" :class="{active: gmeta.sort.key == 'Status'}" title="Status of the material">Status
                  <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Status'] > 0 ? 'sort-up' : 'sort-down'">
							</span>
                    </th>
      
                </tr>
              </thead>

				<tbody>
                    
                      <tr role="row">

                            <td> <input type=text class="form-control" v-model="gmeta.filter.EquipmentNo" title="Equipment Number of the material"> </td>
                            <td> <input type=text class="form-control" v-model="gmeta.filter.Barcode" title="Bar Code of the material"> </td>
                            <td> <input type=text class="form-control" v-model="gmeta.filter.SerialNo" title="Serial Number of the material"> </td>
                            <td> <input type=text class="form-control" v-model="gmeta.filter.RevisionNo" title="Revision Number of the material"> </td>
                            <td> <input type=text class="form-control" v-model="gmeta.filter.Location" title="Location of the material"> </td>
                             <td> <input type=text class="form-control" v-model="gmeta.filter.Status" title="Status of the material"> </td>

                        </tr> 
                    
                    <!--  v-for loop which loops through the result json and maps it to grid coulmns   -->
				    <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in serialList 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                | gridfilter gmeta.filter columns datecolumns
                                | paginate " >
               
                        <td> {{getValue(row, "EquipmentNo")}}  </td>
                        <td> {{getValue(row, "Barcode")}}     </td>
                        <td> {{getValue(row, "SerialNo")}}     </td>
                        <td> {{getValue(row, "RevisionNo")}}     </td>
                        <td> {{getValue(row, "Location")}}     </td>                        
                        <td> {{getValue(row, "Status")}}     </td>
                        
					</tr>
                    
                    <tr v-show="serialList.length === 0">
                        <td colspan="4" > <span class="noRecordCtrl"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 40px;"></i><br>No Results Found</span></td>
                    </tr>
				</tbody>
             </table>
                                
              <div class="m-t-10">
                    <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >
                </div>                    
                            </div>
                        </div>
                            </div>
                        </div>
    </div>
            <div class="modal-footer">

            <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="cancel()" >Close</button>
          </div>

    </div>

    </template>
    <script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')

    export default {

     props: {
        itemdetails: Object,        
     },    


    data: function () {
           
        var columns =['EquipmentNo','Barcode','SerialNo','RevisionNo','Location','Status'];
        var gmeta = {}
        GridUtils.populateGridMeta(gmeta, columns, false)
        
        
      return {
           columns: columns,
	       gmeta: gmeta
           
      }

    },

    route: {
        data: function (transition) {
           
        }
    },
    
    filters: {
	   	paginate: function(list) {
            return GridUtils.paginate(this.gmeta, list, this.totalPages)
	   	}
    },

    methods: {
         goBack: function () {
            window.history.go(-1)
        },
        cancel: function() {
          GridUtils.clearMetaPagination(this.gmeta, this.columns);
          this.$dispatch('cancel')          
        },
        
         getValue: function(row, binding) {
                return Utils.getValue(row,binding)
        },
         getDefaultValue: function(row, binding) {
          return Utils.getDefaultValue(row,binding)
        },
        setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
        },
       sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
        },
		getAPIErrorMessage: function() {
			return Utils.getAPIErrorMessage();
		}     
         

    },  
        
    computed: {

        serialList: function(){
            var self=this;
            var list=[];
            if(self.itemdetails){                
                if(self.itemdetails.InventoryList){
                    var invList = self.itemdetails.InventoryList;
                    if(invList){
                        var locationlist = invList.Location;
                        if(!locationlist) {
                            locationlist = []
                        }
                        if(!(locationlist.constructor === Array)) {
                            locationlist = []
                            locationlist.push(invList.Location)
                        }
                        locationlist = locationlist;
                        if(locationlist){                              
                            for(var i=0; i< locationlist.length; i++){                                
                                var serialList = locationlist[i].Inventory.Serial;
                                if(!serialList) {
                                    serialList = []
                                }
                                if(!(serialList.constructor === Array)) {
                                    serialList = []
                                    serialList.push(locationlist[i].Inventory.Serial)
                                }
                                serialList = serialList;
                                for(var j=0;j<serialList.length; j++){
                                    list.push(serialList[j]);   
                                }                                              
                            }   
                        }    
                    }                                   
                }
            }            
            return list;
        },

       totalPages: function() {
          return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
       }
    },

    /* This event invokes getATP and getItemDetails APIs to populate supply distribtion for a
      a selected Supply Type on the Pie chart. Both Over all and node lavel*/    
    beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  },

    }

    </script>

