<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for adding and viewing comments on an Order
     ***************************************************************************-->
<template>
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="">Comments</h4>
    </div>
    
    <div class="modal-body address-modal-body">
        <div v-show="showmask" class="spinner-loading absolution">
    <div class="loader"></div>
    </div>
         <div class="panel panel-default m-t-10">
                <div class="block"  v-if="apierror" >
                  <div class="alert alert-danger" role="alert">
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}  
                  </div>
               </div>
             
                    <div class="panel-heading clearfix panel-alert-heading">
                        <div class="i-block pull-left">Comment History</div>
                        
                    </div>
             
                    <div class="clearfix"></div>
                    <div class="panel-body">
                        <div class="noteBody" >
                      <div v-for="note in notesarray | orderBy 'Createts' -1" >
                                    <td>{{formatDate(note,"Createts")}} -  {{getValue(note, "ContactUser")}}</td>
                                    <span class="block"> {{getValue(note, "NoteText")}} </span>
                            </div>
                        </div>
                    </div>
                </div>
        
          <div class="panel panel-default m-t-10">
                  <div class="panel-heading clearfix panel-alert-heading"><div class="i-block pull-left">Add Comment</div></div>
                      <div class="clearfix"></div>
                  <div class="panel-body">
                    <textarea class="form-control Comments" rows="6" id="comment" placeholder="Add Your Comment Here"
                              v-model="itemNote.NoteText" title="Add Your Comment Here"></textarea>

                    </div>
                 </div>
                   
        </div>
    <div class="modal-footer">
         <button type="button" class="btn btn-default" v-on:click="addNotes()" 
                                :disabled="!(itemNote.NoteText.trim().length > 0)" title="Save Comment">Submit</button>
        <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="cancel()" title="Close">Close</button>
    </div>    
    
  	
</div>
</template>
<script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var Logger = require('./../utils/loggerUtils.js')
    var $log = Logger.getInstance('Order Comments')
	
    
    export default{
        
        props: {
            itemdetails: Object,
            notesarray: Array
        },
		data: function () { 
            
            var itemNote= {'ItemID':'','UnitOfMeasure':'','OrganizationCode':'','NoteText':'','ContactUser':''}
        
            var errorcode
            var errordesc
            var apierror=false
            var showmask=false
            return {
                itemNote:itemNote,
                errorcode:errorcode,
                errordesc:errordesc,
                apierror:apierror,
                showmask:showmask
            }
        },
	  
        methods: {	  
         getValue: function(row, binding) {
            return Utils.getValue(row,binding)
         },

         goBack: function () {
           window.history.go(-1)
         },
            
         cancel: function() {             
            this.itemNote.NoteText = '';
            this.$dispatch('cancel')
         },
            
        formatDate: function(row, binding){
            var date = Utils.getValue(row,binding)
            return Utils.formatForDisplay(date)
        },
        getAPIErrorMessage: function() {
			return Utils.getAPIErrorMessage();
		},
        //adds comments to the order    
         addNotes: function() {
             
             var self = this; 
             debugger;
             self.itemNote.ContactUser = window.AppInfo.loginid;
             self.itemNote.ItemID= self.itemdetails.ItemID;
             self.itemNote.UnitOfMeasure= this.itemdetails.UnitOfMeasure 
             self.itemNote.OrganizationCode= this.itemdetails.OrganizationCode
             
             /* $log.debug("Adding Comment For Item "+self.itemdetails.ItemID)
                if(!self.notesarray) {
                    $log.debug("Adding First Comment ")
                    self.notesarray = []
             }    */           
             var success = function(result) {
                
                var newNote = self.getNewNoteObject();
                  newNote['NoteText'] = self.itemNote.NoteText;
                  newNote['Createts'] = result.Createts; 
                  newNote['ContactUser'] = window.AppInfo.loginid;
                  newNote['ItemID'] = self.itemNote.ItemID;
                  newNote['UnitOfMeasure'] = self.itemNote.UnitOfMeasure;
                  newNote['OrganizationCode'] = self.itemNote.OrganizationCode;
                 
                  self.notesarray.push(newNote)  
                 
                  self.itemNote.NoteText = '';
                  $log.debug("Addiing Comment to Array "+self.notesarray.length)
                  self.$dispatch('addNotes');
                  self.showmask=false;
             }
              var errorHandler = function(errorObj) {
                  self.apierror = true
                  self.showmask=false;
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  //Error message times out after 10 seconds
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())                 
              }
              self.showmask=true;
              
		     Utils.executeDataService("createItemNotes", success, self.itemNote,errorHandler);
          },
        
        formatDate: function(row, binding){
            var date = Utils.getValue(row,binding)
            return Utils.formatForDisplay(date)
        },
            
         getNewNoteObject: function(){
            var notes = { 'ItemID':'','UnitOfMeasure':'','OrganizationCode':'','NoteText': '', 'Createts':'', 'ContactUser':''}
            return notes;
         }
        }, 	  
		  
        beforeDestroy: function() {
            $(this.$el).remove();
            $(this.$el).removeData();
        }
        
       
}

</script>
