<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component displays overall supply distribution for a selected supply type 
        on the Supply pie chart. This also displays the supply distribution for a selected node 
        and supply type. This is a sub component supply type quantity distribution Pie chart.
     ***************************************************************************-->




<template>
 <div>
     <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="" v-if="itempricelist">View Item Price </h4>
          </div>
           
      <div class="block"   v-if="inperror" >
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="inperror=!inperror"><span aria-hidden="true">
                                &times;</span>
                            </button>
                           <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}} 
                        </div>

          </div>
    <validator name="itemPriceValidation"> 
      <form id="serachAddress" method="post" v-on:submit.stop.prevent="search()" novalidate>
          <div class="modal-body address-modal-bodys-sear">
              
               <div class="form-group col-md-4 col-sm-6">
    <label for="exampleInputName2">Node</label>
   <select class="form-control" data-live-search="true" v-model="obj.Node" title="Select ShipNode">
  <option  value="">ALL</option>
  <option v-bind:value="node.Node" v-for="node in itempricenodelist ">{{node.NodeName}}</option> 
</select>
  </div>
              
   <div class="form-group col-md-4 col-sm-6">
  <label for="pricemaxrecord">Maximum Records Fetched</label>
   <input type="text" class="form-control " id="pricemaxrecord" placeholder="Maximum Records" v-model="obj.MaximumRecords"
          autocomplete="off" min="1" max="500" v-validate:pricemaxrecord="{ required:true, min: 1, max: 500, customMaxValidator:true }"
          title="Maximum Records">
       
    <span class="help-block" v-if="$itemPriceValidation.pricemaxrecord.required || $itemPriceValidation.pricemaxrecord.min || $itemPriceValidation.pricemaxrecord.max  || $itemPriceValidation.pricemaxrecord.customMaxValidator ">{{getMessage('MAX_RECORDS') }}</span>  
       
   </div>
   
          <div class="col-md-4 col-sm-6 pad-left-10 pull-right">
           <label for="exampleInputEmail1">&nbsp;</label>
                                    <button type="submit" id="SearchSubmit" class="btn btn-primary btn-block" title="Search" style="
    margin-top: 0px;">
                                        Search
                                    </button>
                                </div>         

                  <div class="clearfix"></div>
            
    </div>               
    
    </form>
    </validator> 
                
                      

    <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
         <thead>
            <tr role="row">
                <!--   <th>Select</th> -->
				 
                   <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ItemID')" :class="{active: gmeta.sort.key == 'ItemID'}" >Item ID    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ItemID'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                       </th>
                
                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ShortDescription')" :class="{active: gmeta.sort.key == 'ShortDescription'}" >Item Description 
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ShortDescription'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                       </th>
                
                
                   <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('NodeName')" :class="{active: gmeta.sort.key == 'NodeName'}" >Node 
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['NodeName'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                       </th>
                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ExtnUnitCost',true)" :class="{active: gmeta.sort.key == 'ExtnUnitCost'}" >Price    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ExtnUnitCost'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                       </th>
                
            </tr>
         </thead>
        <tbody v-if="showMask" class="table-spinner"><tr class="loader"></tr></tbody>   
         <tbody v-if="!showMask">
               <tr>
                    <td >
                       <input type="text" class="form-control" v-model="gmeta.filter.ItemID" title="Enter Item ID">
                    </td>
                   
                   <td >
                       <input type="text" class="form-control" v-model="gmeta.filter.ShortDescription" title="Enter Item Description">
                    </td>
                                           
                    <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.NodeName" title="Enter ShipNode">                       
                    </td>
                     <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.ExtnUnitCost" title="Enter Price">
                    </td>
                                  
                </tr>
               <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in itempricelist 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                | gridfilter gmeta.filter columns 
                                | paginate " >
								
					 <td>{{getValue(row, "ItemID")}}     </td>
                     <td v-if="itemdtl.ShortDescription">{{itemdtl.ShortDescription}}     </td>
                     <td v-else>NA</td>
                     <td>{{getValue(row, "NodeName")}}     </td>
                     <td> {{getIntValue(row, "ExtnUnitCost")}}     </td>
                     
                </tr>
         </tbody>
    </table>
    <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >
 
</div>
              


     
       <div class="clearfix"></div>
          <div class="modal-footer">
          
            <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="close()" title="Close">Close</button>
          </div>
       
    </div>
    </template>
    <script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')

    export default {

     props: {
        itemdtl: {type: Object},
        itempricelist: {type: Array},
        itempricenodelist: {type: Array} 
       },    


    data: function () {
        
        var inperror=false;
        var showMask = false;
        var obj={'Node':'','MaximumRecords':'50'}
        
        var columns =[ 'ItemID','ShortDescription','NodeName','ExtnUnitCost']
        var gmeta = {}
      
        GridUtils.populateGridMeta(gmeta, columns, false)
        
        var errorcode
        var errordesc
        
      return {
         
          columns:columns,
          gmeta:gmeta,
          inperror:inperror,
         
          errorcode:errorcode,
          errordesc:errordesc,
          showMask:showMask,
          obj:obj
      }

    },
        
    ready: function(){
            var self=this  
     
      },

    route: {
        data: function (transition) {
           
        }
    },
    
    filters: {
	   	paginate: function(list) {
            return GridUtils.paginate(this.gmeta,list)
	   	   }
    },

    methods: {

      getMessage: function(errorMessageId) {
        return Utils.getErrorMessage(errorMessageId)      
      }, 
      getIntValue: function(row, binding){
                var value = Utils.getValue(row,binding)
                
                if(value){
                    return Math.round(value*100)/100
                }
                else{
                    return 'NA'; 
                }
      },    
          
        search:function(){
         if(this.$itemPriceValidation.valid){              
               var self=this
              
               
               self.obj.ItemID= this.itemdtl.ItemID
               self.obj.UnitOfMeasure= this.itemdtl.UnitOfMeasure
         
               var itemPriceSucccess = function(result) {

                     var list1= []
                     list1=result.ItemNodeDefn
                     self.itempricelist= list1
                                  
                     self.inperror= false
                     self.showMask = false

               }
               var errorHandler = function(errorObj) {
                      self.inperror = true
                      self.errorcode = errorObj.ErrorCode
                      self.errordesc = errorObj.ErrorDescription
                      self.showMask = false

               }
           
                Utils.executeDataService("getItemMovingPriceList", itemPriceSucccess, self.obj,errorHandler)
            }
 
        },

    
       close: function(){
            
       },
        getAPIErrorMessage: function() {
		return Utils.getAPIErrorMessage();
	   },    
       getValue: function(row, binding) {
          return Utils.getValue(row,binding)
        },
        setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
        },
        sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
        }
    },
        
     computed: {
       
          totalPages: function() {
            return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
          }
         
    },    
    beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  },
     validators:{
        customMaxValidator:function(val){
            return /^([1-9]\d*)$/.test(val);
        }  
          
     },        
    watch: {
      
          
     }
   // Chart re-vamp code end

    }

    </script>

