<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying list of orders and search orders based on given criteria
     ***************************************************************************-->
<template>
<div>
    <div class="container-fluid CustomHgt">
        <div class="row ">
           <div class="col-md-4">
                <div v-breadcrumb="true"></div>
            </div>
           
        </div>
    </div>


    <div class="container-fluid" cz-shortcut-listen="true">
    
       
      <div class="block  clearfix">
           <div >
                <div class="alert alert-danger alert-dismissible" role="alert" v-if="apierror">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}} 
               </div>
            </div>
      <h5 class="pull-left">Orders</h5>
      <div class="pull-right">
   
          <!-- TODO Create Order feature for Phase 2-->
          
  <div class="btn-group" v-if="hasPermission('GPSSPORD0001A03')">
  <button type="button" class="btn btn-primary SecondaryBtn"   v-link="{ path:'/createorder'}">
    Create Order
  </button>
 
</div>
       </div>
    </div>
    
        <div class="panel panel-default">
          <div class="panel-heading">
                 <div class="col-md-5  cal-box">
                                    Show
                                    <select class="select-style form-control" >
                                        <option value="">All</option> 
                                     <!--  <option v-for="doc in documentData" v-bind:value="doc.DocumentType">{{doc.Description}}</option>-->
                                    </select>
                                   <button class="btn btn-default "  @click="showSearch = !showSearch" title="Advance search">
                                        <div class=""><i class="fa fa-search-plus" aria-hidden="true"></i></div>
                                    </button>
                                </div>
              <!-- TODO CSV Export feature for Phase 2-->
         <!--   <div class="pull-right">
<div class="btn-group">
          <button type="button" class="btn btn-default Exportbtn btn-sm dropdown-toggle" data-toggle="dropdown" title="Export the data" >
            <i class="fa fa-sign-out fa-rotate-90"></i>
          </button>
          <ul class="dropdown-menu Exportmenu" role="menu">
           <li><a href="#">Export CSV (All fields)</a></li>
            <li><a href="javascript:void(0);">Export CSV (Current fields)</a></li>
          </ul>
        </div>
</div>-->
      
            </div>
      <validator name="formvalidation1">
                <form   v-on:submit.prevent.stop="orderSearch" novalidate v-show=showSearch>
                                <div class="row">
                                    <div class="col-md-12">
                                   
                                        <h4 class="adavanceSearch">Advanced Search
                                            <span class="pull-right">  <button type="button" class="btn btn-primary SecondaryBtn Clearbtn" title="Clear" v-on:click="resetAll()">
                                        Clear Form
                                    </button></span>
                                    </h4>
                                            <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Order Number</label>
                                                            <input type="text" class="form-control " placeholder="Order Number" v-model="orderSearchModel.OrderNo" autocomplete="off" title="Enter the Sterling Order Number" >
                                                        </div>
    
                                                           <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1" >Source ID</label>
                                                            <input type="text" class="form-control " placeholder="Source ID" v-model="orderSearchModel.OrderName"  autocomplete="off" title="Enter the Source System Order Number">
                                                        </div>
    
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1" >Vendor</label>
                                                            <input type="text" class="form-control" placeholder="Vendor ID/Name" v-model="orderSearchModel.Extn.SellerName" autocomplete="off" title="Enter the Vendor Id or the Vendor Name in the Source System">
                                                        </div>
                                                      
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1" >Delivery Address Code</label>
                                                            <input type="email" class="form-control" placeholder="Delivery Address Code" v-model="orderSearchModel.ShipToID" autocomplete="off" title="Enter the Delivery Address Code for the Receiving Address">
                                                        </div>    
                                                 
                                         <div class="form-group col-md-3">
                                           
                                             <div class="row CusDateContainer">
                                             <div class="col-md-6">
                                                 <label for="exampleSelect1">Status (From)</label>
     <select class="form-control" id="exampleSelect1" v-model="orderSearchModel.FromStatus" placeholder="From" title="Choose the Minimum Order Status">
                                                        <option value="">All</option>   
                                                        <option v-for="status in statusList" v-bind:value="status.Status">{{status.StatusName}}</option>
      
                                                    </select>
                                                        
    </div>

                                                 <div class="col-md-6">
                                                      <label for="exampleSelect1">Status (To)</label>
                                                     <select class="form-control" id="exampleSelect1"  
                                                                               v-model="orderSearchModel.ToStatus" placeholder="To" title="Choose the Maximum Order Status">
                                                                   <option value="">All</option>   
                                                                  <option v-for="status in statusList | statusfilter orderSearchModel.FromStatus" v-bind:value="status.Status">{{status.StatusName}}</option>
    </select>
    </div>
                                                            </div>
                                         </div>
                                                      <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Project Number</label>
                                                            <input type="text" class="form-control" placeholder="Project Number" v-model="orderSearchModel.SearchCriteria1" autocomplete="off" title="Enter the Project Number">
                                                        </div>
                                                        
                                                          <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1"> Contact Details</label>
                                                            <input type="text" class="form-control" placeholder="Contact Details" v-model="orderSearchModel.OrderLine.Extn.Contact" autocomplete="off" title="Enter the Contact Person Name or Phone Number">
                                                        </div>
    
                                                     <div class="form-group col-md-3">
                                                             
                                                              <label for="exampleSelect1">From Location</label>
                                                        <!--  <input type="text" class="form-control" placeholder="From Location" v-model="orderSearchModel.OrderLine.ShipNode" autocomplete="off" title="From Location">-->
                                                             <select class="form-control" id="From Location" v-model="orderSearchModel.OrderLine.ShipNode" title="Choose the From Location">
                                                              <option value="">All</option>
                                                          <option v-for="node in shipNodeList " v-bind:value="node.ShipNode">{{node.ShipNode}}</option>
                                                    </select>
    
                                                      
                                                        </div>
     <div class="CustomHgtMore" v-show="showMore">
                                                            <div class="form-group col-md-3">
                                                             
                                                              <label for="exampleSelect1">Recieving Node</label>
                                                             <select class="form-control" id="ReceivingNode" v-model="orderSearchModel.OrderLine.ReceivingNode" title="Choose the Receiving Node">
                                                              <option value="">All</option>
                                                          <option v-for="node in shipNodeList " v-bind:value="node.ShipNode">{{node.ShipNode}}</option>
                                                    </select>
    
                                                      
                                                        </div>
                                                          <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Item ID</label>
                                                            <input type="text" class="form-control" placeholder="Item ID" v-model="orderSearchModel.OrderLine.Item.ItemID" autocomplete="off" title="Enter the Item Id in the Source System">
                                                        </div>
                                                           <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Item Description</label>
                                                            <input type="text" class="form-control" placeholder="Item Description" v-model="orderSearchModel.OrderLine.Item.ItemShortDesc" autocomplete="off" title="Enter the Item Description">
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Cost Center</label>
                                                            <input type="text" class="form-control" placeholder="Cost Center" v-model="orderSearchModel.Division" autocomplete="off" title="Enter the Cost Center">
                                                        </div>
                                                          <div class="form-group col-md-3 ">
                                                            <label for="exampleInputEmail1">Order Date</label>
                                                              <div class="row CusDateContainer" >
                                                              <div class="col-md-6">
                                                             <input type="text" class="form-control" id="FromOrderDate" placeholder="From Date" v-datepicker="orderSearchModel.FromOrderDate" usage="datetime" timeofday="begin" title="Choose the Order Date Range.Future Date is Not Allowed" fieldname="OrderDate" allowfuturedate="N">
                                                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                                                                   <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p>
                                                                </div>
                                                              <div class="col-md-6">
                                                               <input type="text" class="form-control" id="ToOrderDate" placeholder="To Date" v-datepicker="orderSearchModel.ToOrderDate" timeofday="end" usage="datetime" title="Choose the Order Date Range. Future Date is not Allowed." fieldname="OrderDate" allowfuturedate="N">
                                                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                                                                   <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                   <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Requested Delivery Date</label>
                                                         
                                                               <div class="row CusDateContainer">
                                                              <div class="col-md-6">
                                                            <input type="text" class="form-control " placeholder="From Date" v-datepicker="orderSearchModel.FromReqDeliveryDate" usage="datetime" timeofday="begin" title="Choose the Required Delivery Date Range" id="FromReqDeliveryDate" fieldname="ReqDeliveryDate" >
                                                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                                                                   <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p>
                                                                  
    </div>
                                                        
                                                              <div class="col-md-6">
                                                              <input type="text" class="form-control" placeholder="To Date" v-datepicker="orderSearchModel.ToReqDeliveryDate" timeofday="end" usage="datetime" title="Choose the Required Delivery Date Range" id="ToReqDeliveryDate" fieldname="ReqDeliveryDate">
                                                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                                                                  <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p>                                                                  
    </div>
    </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Requested Ship Date</label>
                                                
                                                             <div class="row CusDateContainer">
                                                              <div class="col-md-6">
                                                            <input type="text" class="form-control " placeholder="From Date" v-datepicker="orderSearchModel.FromReqShipDate" usage="datetime" timeofday="begin"  title="Choose the Required Ship Date Range" id="FromReqShipDate" fieldname="ReqShipDate">
                                                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                                                                  <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p>                                                                  
    </div>
                                                                
                                                              <div class="col-md-6">
                                                            <input type="text" class="form-control" placeholder="To Date" v-datepicker="orderSearchModel.ToReqShipDate" timeofday="end" usage="datetime" title="Choose the Required Ship Date Range" id="ToReqShipDate" fieldname="ReqShipDate">
                                                                  <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                                                                  <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p>                                                                  
    </div>
    </div>
                                                        </div>
                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Order Type</label>
                                              <select class="form-control" id="orderType" v-model="orderSearchModel.OrderType" title="Choose the Order Type">
                                                              <option value="">All</option>
                                                          <option v-for="order in ordertype" v-bind:value="order.CodeValue">{{order.CodeShortDescription}}</option>
                                                    </select>
                                                        </div>
                                         <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Order Stream</label>
                                              <select class="form-control" id="OrderStream" v-model="orderSearchModel.DepartmentCode" title="Choose the Order Stream">
                                                          <option value="" >All</option>
                                                  <option v-for="dept in deptList" v-bind:value="dept.DepartmentCode">{{dept.DepartmentName}}</option>
                                                    </select>
                                                        </div>
                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Source System</label>
                                              <select class="form-control" id="entryType" v-model="orderSearchModel.EntryType" placeholder="" title="Choose the Source System">
                                                              <option value="">All</option>
                                                          <option v-for="order in entrytype" v-bind:value="order.CodeValue">{{order.CodeShortDescription}}</option>
                                                    </select>
                                                        </div>
                                        <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">Priority Code</label>
                                              <select class="form-control" id="ordprioritycode" v-model="orderSearchModel.PriorityCode" title="Choose the Priority Code">
                                                      <option value=''>All</option>
                                                      <option v-for="order in priorityList" v-bind:value="order.CodeValue" >{{order.CodeName}}</option>
                                                </select>
                                                        </div>
                                         <div class="form-group col-md-3">
                                                            <label for="exampleInputEmail1">MRP Controller</label>
                                                            <input type="text" class="form-control" id="mrpcontroller" placeholder="Mrp Controller" v-model="orderSearchModel.OrderLine.Extn.MrpController" autocomplete="off" title="Enter the MRP Controller Code" v-validate:mrpcontroller="{maxlength:3}">
                                             <p class="help-block" v-if="$formvalidation1.mrpcontroller.maxlength">{{getMessage('MAX_CHAR') }} </p>
                                        </div>
                                         <div class="form-group col-md-3">
                                    <label for="exampleInputEmail1">Include Archived Orders</label>
                                    <select class="form-control" id="includeHistory" v-model="orderSearchModel.ReadFromHistory" title="Choose Whether Archived Orders Need to be Included">
                                        <option value='Y'>Only Archived</option>
                                        <option value='N'>Only Active</option>
                                        <option value='B'>All</option>
                                </select>
                                </div>
                   <div class="form-group col-md-3">
                              <label for="exampleSelect1">Document Type</label>
                             <select class="form-control"  v-model="orderSearchModel.DocumentType" title="Choose the Document Type">
                                           <option value="">All</option>   
                                            <!--  <option v-for="doc in documentData" v-bind:value="doc.DocumentType">{{doc.Description}}</option> -->
                                    <option v-for="doc in documentData" v-bind:value="doc.CodeValue">{{doc.CodeShortDescription}}</option>                                 
                                        </select>
                </div>
                       
          <div class="form-group col-md-3">
                <label for="exampleInputEmail1">LRA</label>
                <input type="text" class="form-control" id="LRA" placeholder="LRA" v-model="orderSearchModel.Extn.LRA" autocomplete="off"  title="LRA">
           </div>
         <div class="form-group col-md-3">
                <label for="exampleInputEmail1">Vector ID</label>
                <input type="text" class="form-control" id="VectorId" placeholder="Vector ID" v-model="orderSearchModel.OrderLine.Extn.VectorID" autocomplete="off"  title="Vector ID">
           </div>
							    <div class="form-group col-md-3">
                <label for="exampleInputEmail1">Maximum Records Fetched</label>
                <input type="text" class="form-control" id="maxrecords" placeholder="Maximum records" v-model="orderSearchModel.MaximumRecords" autocomplete="off" v-validate:maxrecords="{required:true, min:1, max: 500,customMaxValidator:true}" title="Maximum Records">
                  <span class="help-block" v-if="$formvalidation1.maxrecords.required || $formvalidation1.maxrecords.min || $formvalidation1.maxrecords.max || $formvalidation1.maxrecords.customMaxValidator">{{getMessage('MAX_RECORDS') }}</span>
              </div>

         
                                        </div>
       <div class="clearfix"></div>
       
                                     <div class="col-md-2 col-sm-6 pad-left-10 pull-right">
                                    <button type="submit" class="btn btn-primary btn-block" title="Search">
                                        Search
                                    </button>
                                </div>
                                <div class="pad-left-10 pull-right">

        <a href="javascript:void(0)" class="moreOption" @click="showMore = !showMore" v-if="!showMore" title="Show more">Show more</a>
        <a href="javascript:void(0)" class="moreOption" @click="showMore = !showMore" v-if="showMore" title="Show less">Show less</a>
       </div>
    </div>
                                </div>  
                          </form>  
    </validator>
    
            <div class="clearfix"></div>
            <div class="panel-body">
                          
       
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
                                <thead>
                                    <tr role="row">
                             <!--           <th class="" style="width: 20px;">
                                            <input type="checkbox" id="test1"> </th>-->
                                       <th style="text-align: left; width: 60px;" @click="sortBy('IsWatchedByUser')" :class="{active: gmeta.sort.key == 'IsWatchedByUser'}"> <i class="glyphicon glyphicon-star black text-center" title="Watched Orders"></i>
                          <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['IsWatchedByUser'] > 0 ? 'sort-up' : 'sort-down'"></span>
                      </th>
                                        <th style="text-align: center; width: 60px;"  @click="sortBy('HoldFlag')" :class="{active: gmeta.sort.key == 'HoldFlag'}"> <i class="glyphicon glyphicon-lock black text-center" title="Orders On Hold"></i>
                                             <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['HoldFlag'] > 0 ? 'sort-up' : 'sort-down'"></span>
                                        </th>
                                        
                                        
                                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrderNo')" :class="{active: gmeta.sort.key == 'OrderNo'}" >Order Number   
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderNo'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrderName')" :class="{active: gmeta.sort.key == 'OrderName'}" >Source ID     
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderName'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Status')" :class="{active: gmeta.sort.key == 'Status'}" >Status    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Status'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('DepartmentCode')" :class="{active: gmeta.sort.key == 'DepartmentCode'}" >Order Stream    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['DepartmentCode'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                      <!--    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('PriorityCode')" :class="{active: gmeta.sort.key == 'PriorityCode'}" >Priority Code    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['PriorityCode'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>-->
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ReqDeliveryDate')" :class="{active: gmeta.sort.key == 'ReqDeliveryDate'}" >Req Delivery Date    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ReqDeliveryDate'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('PriceInfo.TotalAmount',true)" :class="{active: gmeta.sort.key == 'PriceInfo.TotalAmount'}" >Order Value   
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['PriceInfo.TotalAmount'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                    </tr>
                                </thead>
                                <tbody v-if="showMask" class="table-spinner"><tr class="loader"></tr></tbody>   
                                <tbody v-if="!showMask">
 <tr >
                                            <th class="center-filter">
                                                <div class="glyphicon glyphicon-filter" title="Filter"></div>
                                            </th>
                                           
                                            <td>
                                               
                                            </td>
                                             <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.OrderNo" title="Enter Sterling Order Number">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.OrderName" title="Enter the Source System Order Number">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.Status" title="Enter the Order Status">
                                            </td>
                                           
                                            <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.DepartmentCode" title="Enter the Order Stream">
                                            </td>
                                        <!--    <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.PriorityCode" title="Enter the Priority Code">
                                            </td>-->
                                            <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.ReqDeliveryDate" title="Enter the Required Delivery Date">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.PriceInfo.TotalAmount" title="Enter the Order Value">
                                            </td>
                                        </tr>
                                      <tr v-show="!gridData">
                                          <td colspan="10" > <span class="noRecordCtrl"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 40px;"></i><br>No Results Found</span></td>
                                        </tr>
                                       <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in gridData 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                | gridfilter gmeta.filter columns datecolumns
                                | paginate " >
                                    
             				<td v-if="row.IsWatchedByUser==='Y'"><a href="javascript:void(0);" class="icon-toggle" title="Click here to remove from watchlist" @click=removeFromWatchList(row)><i class="glyphicon glyphicon-star" ></i></a></td>
                          <td v-if="row.IsWatchedByUser==='N'"><a href="javascript:void(0);" class="icon-toggle" title="Click here to add to watchlist" @click=addToWatchList(row)><i class="glyphicon glyphicon-star-empty"  ></i></a></td>      
                                      
                        <td v-if="row.HoldFlag === 'Y'"><i class="glyphicon glyphicon-lock red" title="Order is on hold"></i></td>
                         <td v-else></td>                  
                        
                        <td><a v-link="{ path: '/orderdetails',query:{key:row['OrderHeaderKey'],orderNo:row['OrderNo']}}"> {{getValue(row, "OrderNo")}}  </a>   </td>
                        <td> {{getValue(row, "OrderName")}}     </td>
                        <td>{{getValue(row, "Status") }} </td>
                        <td> {{getValue(row, "DepartmentCode")}}     </td>
                     <!--     <td> {{getValue(row, "PriorityCode")}}     </td>-->
                        <td> {{formatForDisplay(getValue(row, "ReqDeliveryDate") )}}     </td>
                        <td style="text-align:right"> {{getValue(row, "PriceInfo.TotalAmount") | numberfilter}}     </td>
                      
					</tr>
                                    
                               </tbody>
                            </table>
                       
                              <div class=" m-t-10">
                    <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >
                </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>

    </div>


    <div hidden>
    	<input class="hidden" value={{$route.query.key}}  v-model="orderSearchKeyModel.OrderName"/> 
        <input class="hidden" value={{$route.query.RequestFrom}}  v-model="orderSearchKeyModel.RequestFrom"/>
   </div>
     </div>

    </template>
<script>
    var Vue = require('vue')
    var VueValidator = require('vue-validator')
    Vue.use(VueValidator)
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
  //  var Logger = require('./../utils/loggerUtils.js')
   // var $log = Logger.getInstance('Order List')
    export default{
        
        	 props: {
             data: Array,
             height: Number,
	
	        },
    validators:{
        customMaxValidator:function(val){
            return /^([1-9]\d*)$/.test(val);
        }  
      },
	  data: function () {
           var filterKey="Y"
            var orderSearchKeyModel={
         'OrderName':''
          }
          var orderSearchModel = {
            'OrderNo': '',
            'OrderName':'',  
            'DocumentType':'',
            'OrderType':'',
            'EntryType':'', 
            'PriorityCode':'',  
            'DepartmentCode':'',    
            'OrderDate':'',
            'ReadFromHistory':'',
            'ShipToID':'',
            'Division':'',
            'OrderLine': {
                 'ShipNode':'',
                 'ReceivingNode':'',
                  'Item': {
                     'ItemID':'',
                     'ItemShortDesc':''
                   },
                'Extn':{
                    'MrpController':'',
                    
                    'VectorID':''
                }
            },
            'Extn': {
                'LRA':'',
                'SellerName':''
            },  
            'SellerOrganizationCode':'',            
            'SearchCriteria1' :'',
            'SearchCriteria2':'',
            'ReqDeliveryDate':'',
            'ReqShipDate':'' ,
            'FromStatus': '',
            'ToStatus': '',  
            'MaximumRecords': '100' 
         }  
     
          
        var columns =[ 'IsWatchedByUser','HoldFlag','OrderNo','OrderName','Status','DepartmentCode','PriorityCode','ReqDeliveryDate','PriceInfo.TotalAmount']
       var gmeta = {}
       var showMore =false
       GridUtils.populateGridMeta(gmeta, columns, false)

	  	var gridData = []
        var documentData = []
        var statusList =[]
	    var ordertype =[] 
        var showMask = false
        var datecolumns=['ReqDeliveryDate']
        var entrytype=[]
        var showSearch=true
        var deptList=[]
        var priorityList= []
        var shipNodeList=[]
        var errorcode
        var errordesc
        var apierror=false
	    return {
           orderSearchModel:orderSearchModel,
	    	columns: columns,
	        gridData: gridData,
            showMore: showMore, 
            statusList:statusList,
            ordertype:ordertype,
            documentData:documentData,
            gmeta: gmeta,
            orderSearchKeyModel:orderSearchKeyModel,
            showMask:showMask,
	        datecolumns:datecolumns,
            entrytype:entrytype,
            showSearch:showSearch,
            deptList:deptList,
            priorityList:priorityList,
            errorcode:errorcode,
            errordesc:errordesc,
            apierror:apierror,
            shipNodeList:shipNodeList
	  }
      },
        

	route: {
        canReuse: function (transition) {
             
            if(transition.from.name === 'OrderList'){
              return false;
            }
            else{
                    return true;
            }
        },
        activate: function (transition) {
            if(transition.from.name !== "orderdtl") {
              if (typeof(Storage) !== "undefined" && (!(sessionStorage.spretainresult == undefined) && sessionStorage.spretainresult === 'Y') ) {
                        //Clearing up the session storage so that the data is not retained
                        sessionStorage.removeItem('spretainresult')
                        sessionStorage.removeItem('spstatusAggregator')
                        sessionStorage.removeItem('spgetdocumenttypelist')
                        sessionStorage.removeItem('sporderTypeList')
                        sessionStorage.removeItem('spdeptList')
                        sessionStorage.removeItem('spentrytypelist')
                        sessionStorage.removeItem('spshipNodeAggregator')
                        sessionStorage.removeItem('sporderresult')
                   }            
                
            }
            transition.next()
            
        },
        deactivate: function (transition) {
            if (typeof(Storage) !== "undefined") {
                sessionStorage.sporderSearchModel =  JSON.stringify(this.orderSearchModel)
                if(transition.to.name === 'orderdtl') {
                    sessionStorage.spretainresult = 'Y'
                  //  sessionStorage.spcurrentpage = this.gmeta['pagination']['currentPage']
                    sessionStorage.sporderresult = JSON.stringify(this.gridData)
                    sessionStorage.spstatusAggregator= JSON.stringify(this.statusList)
                    sessionStorage.spgetdocumenttypelist = JSON.stringify(this.documentData)
                    sessionStorage.spentrytypelist = JSON.stringify(this.entrytype)
                    sessionStorage.sporderTypeList = JSON.stringify(this.ordertype)
                    sessionStorage.spdeptList = JSON.stringify(this.deptList)
                    sessionStorage.spshipNodeAggregator = JSON.stringify(this.shipNodeList)                    
                    
                }
                //Not able to cache the results of the api as it is error prone
             /*   sessionStorage.spstatusAggregator= JSON.stringify(this.statusList)
                sessionStorage.spgetdocumenttypelist = JSON.stringify(this.documentData)
                sessionStorage.sporderTypeList = JSON.stringify(this.ordertype)
                sessionStorage.spdeptList = JSON.stringify(this.deptList)
                sessionStorage.spshipNodeAggregator = JSON.stringify(this.shipNodeList) */
            }
            transition.next() 
        },
		data: function (transition) {
            
            var self=this
            self.showMask=false
            var CommonCode={}
            var deptInput={}
            var shipNodeInput={}
             var loadShipNode=function(shipNodeList){    
                 self.shipNodeList=shipNodeList.ShipNode
               } 
             var loadDocument=function(documentresult){    
                    self.documentData=documentresult.CommonCode
               } 
             var loadEntryType=function(entryTypeResult){    
                 self.entrytype=entryTypeResult.CommonCode
               } 
              var loadOrderType=function(orderTypeResult){    
                 self.ordertype=orderTypeResult.CommonCode
               } 
              var priorityCodeList= function(priorityListResult){
                  self.priorityList=priorityListResult.CommonCode
              }
              var loadDeptType=function(deptTypeList){    
                 self.deptList=deptTypeList.Department
               } 
              var loadStatus = function(statusresult){    
                 self.statusList =statusresult.Status
               } 
              var success = function(orderresult) {
                  self.gridData =orderresult.Order
              }
            if (typeof(Storage) !== "undefined" && !(sessionStorage.sporderSearchModel == undefined) ) {
                    if(!self.$route.query.RequestFrom) {
                        self.orderSearchModel = JSON.parse(sessionStorage.sporderSearchModel)  
                    }
                   } 
              
                    if(self.orderSearchModel.MaximumRecords===''){
                       self.orderSearchModel.MaximumRecords='100';
                    }

            /* Checking for Redirection from Other screens */    
            if( self.$route.query.RequestFrom && self.$route.query.RequestFrom === 'OrderSearch'){
                       self.showSearch=false
                       self.orderSearchKeyModel.OrderName = self.$route.query.key
                       self.orderSearchModel.OrderName = self.$route.query.key
                       Utils.executeDataService("orderList", success, self.orderSearchKeyModel,self.errorHandler);
                  }else if(self.$route.query.RequestFrom && self.$route.query.RequestFrom === 'Index') {
                      self.showSearch=false
                        self.orderSearchModel.FromStatus = self.$route.query.Status
                        self.orderSearchModel.ToStatus = self.$route.query.Status
                        self.orderSearchModel.DocumentType = self.$route.query.DocType
                        Utils.executeDataService("orderList", success, self.orderSearchModel,self.errorHandler); 

                  } else {
                      //Dummy Order Array
                      var result = {'Order':[]}
                        success(result)
                  }
            
                if (typeof(Storage) !== "undefined" && (!(sessionStorage.spretainresult == undefined) && sessionStorage.spretainresult === 'Y') ) {
                    //Loading Old Data
                        self.statusList = JSON.parse(sessionStorage.spstatusAggregator)
                        self.documentData = JSON.parse(sessionStorage.spgetdocumenttypelist)
                        self.ordertype = JSON.parse(sessionStorage.sporderTypeList)
                        self.deptList = JSON.parse(sessionStorage.spdeptList)
                        self.entrytype = JSON.parse(sessionStorage.spentrytypelist)
                        self.shipNodeList = JSON.parse(sessionStorage.spshipNodeAggregator)
                        self.gridData = JSON.parse(sessionStorage.sporderresult)
                        self.showSearch = false
                     //  self.gmeta['pagination']['currentPage'] = sessionStorage.spcurrentpage 
                        //Clearing up the session storage so that the data is not retained
                        sessionStorage.removeItem('spretainresult')
                        sessionStorage.removeItem('spstatusAggregator')
                        sessionStorage.removeItem('spgetdocumenttypelist')
                        sessionStorage.removeItem('sporderTypeList')
                        sessionStorage.removeItem('spdeptList')
                        sessionStorage.removeItem('spentrytypelist')
                        sessionStorage.removeItem('spshipNodeAggregator')
                        sessionStorage.removeItem('sporderresult')
                        transition.next()
                   } else {            
                    return Promise.all([
                        Utils.executeDataServicePromise("statusAggregator", loadStatus,self.Status,self.errorHandler),
                        Utils.executeDataServicePromise("getdocumenttypelist",loadDocument,self.Document,self.errorHandler),
                        Utils.executeDataServicePromise("orderTypeList",loadOrderType,CommonCode,self.errorHandler),
                        Utils.executeDataServicePromise("GpsPriorityCodeList", priorityCodeList, null,self.errorHandler),
                        Utils.executeDataServicePromise("entryTypeList",loadEntryType,CommonCode,self.errorHandler),
                        Utils.executeDataServicePromise("departmentList",loadDeptType,deptInput,self.errorHandler),
                        Utils.executeDataServicePromise("shipNodeAggregator",loadShipNode,shipNodeInput,self.errorHandler)        
                    ]) 
                   }

        }
        
    }
 ,
  computed: {
          totalPages: function() {
            return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
          }
        },
        
 filters: {
	   	   paginate: function(list) {
            return GridUtils.paginate(this.gmeta,list)
	   	   }
        }, 
 
  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
      },
      setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
      },
      getMessage: function(errorMessageId) {
        return Utils.getErrorMessage(errorMessageId)      
      },
      formatForDisplay:function(serverDate) {
          return Utils.formatForDisplay(serverDate,"filter")
      },
       sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
      },

       hasPermission:function(resourceId){
            return Utils.hasPermission(resourceId)
      },
      
   orderSearch: function(event) {
	        event.preventDefault()
            var invalidDates = $(".invalid").length
	 if(this.$formvalidation1.valid && invalidDates === 0 ){     
	        var self = this
             if(self.orderSearchModel.MaximumRecords === ''  ){
                self.orderSearchModel.MaximumRecords= '100'
             }			
			var success = function(result) {
                var start_time = Date.now()
                console.log("Order Date Success Event Handler Started.. "+start_time) 
    			self.gridData = result.Order
				//self.showMore=false
                 self.showMask=false
                 self.showSearch=false
                 var end_time = Date.now()
                 console.log("Order Date Success Event Handler Took.. "+(end_time - start_time))
			}
             self.showMask=true
     //        $log.log('InputToOrderListAPI: '+JSON.stringify(self.orderSearchModel))
             if(self.orderSearchModel.OrderLine.Item.ItemShortDesc !== '') {
                   var upperItemDesc = self.orderSearchModel.OrderLine.Item.ItemShortDesc.toUpperCase();
                    self.orderSearchModel.OrderLine.Item.ItemShortDesc = upperItemDesc;
             }
            if(self.orderSearchModel.OrderLine.Extn.Contact && self.orderSearchModel.OrderLine.Extn.Contact !== '') {
                  var str = self.orderSearchModel.OrderLine.Extn.Contact.replace(/\s+/g, '');
                   var upperContact = str.toUpperCase();
                    self.orderSearchModel.OrderLine.Extn.Contact = upperContact;
               // console.log(upperContact)
             }
           	Utils.executeDataService("orderList", success, self.orderSearchModel,self.errorHandler);
			
	      }
       GridUtils.clearMetaPagination(this.gmeta, this.columns);
   },
      
     addToWatchList:function(row,event){
            var self = this
            var watchListInput={}
           watchListInput.OrderHeaderKey= row.OrderHeaderKey
           watchListInput.OrganizationCode= row.EnterpriseCode           
           watchListInput.OrderNo= row.OrderNo
           watchListInput.Status= row.Status 
           if(row.ReqDeliveryDate) {
                watchListInput.ReqDeliveryDate= row.ReqDeliveryDate
           }
        if(row.ReqShipDate) {     
            watchListInput.ReqShipDate= row.ReqShipDate
        }
           watchListInput.TotalAmount= row.PriceInfo.TotalAmount
           var success = function(result) {
                      row.IsWatchedByUser='Y'
              }
			Utils.executeDataService("createWatchedOrder", success,watchListInput,self.errorHandler);

         },
     removeFromWatchList:function(row,event){
            var self = this
            var watchListInput={}
           watchListInput.OrderHeaderKey= row.OrderHeaderKey
            var success = function(result) {
                      row.IsWatchedByUser='N'
				}
			Utils.executeDataService("removeWatchedOrder", success,watchListInput,self.errorHandler);

         }  ,
     errorHandler : function(errorObj) {
               var self=this
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                   self.showMask=false
                  //Error message times out after 10 seconds
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
                 
              },
			getAPIErrorMessage: function() {
				return Utils.getAPIErrorMessage();
			},
    resetAll: function(){
       // event.preventDefault()
        var newOrderSearchModel = {
            'OrderNo': '',
            'OrderName':'',  
            'DocumentType':'',
            'OrderType':'',
            'EntryType':'', 
            'DepartmentCode':'',    
            'OrderDate':'',
            'ReadFromHistory':'',
            'ShipToID':'',
            'Division':'',
            'OrderLine': {
                  'ShipNode':'',
                  'ReceivingNode':'',
                  'Item': {
                     'ItemID':'',
                     'ItemShortDesc':''
                   },
                'Extn':{
                    'MrpController':'',
                    'LRA':'',
                    'VectorID':''
                }
            },
            'Extn': {
                'SellerName':''
            },  
            'SellerOrganizationCode':'',            
            'SearchCriteria1' :'',
            'SearchCriteria2':'',
            'ReqDeliveryDate':'',
            'ReqShipDate':'' ,
            'FromStatus': '',
            'ToStatus': '',  
            'MaximumRecords': '100' 
         }  
        
                this.orderSearchModel = newOrderSearchModel;                
            },
  }
  ,
  
	beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
    }
    

</script>