<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying order hold details
     ***************************************************************************-->
<template>
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="">Order Hold Details</h4>
    </div>
    
      <div class="panel-body">
          <div class="panel panel-default m-t-10">
    <div class="panel-heading">
    Hold Details
    </div>
             
    </div>
                <div role="tabpanel" class="tab-pane table-wrapper-big  active" id="OrderHoldItems">
                        <div class="table-responsive">
                       
                            <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
                                <thead>
                                    <tr role="row">
                                        <th></th>
                                        
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('HoldType',true)" :class="{active: gmeta.sort.key == 'HoldType'}" >Hold Type   
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['HoldType'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                    <!--      <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Status',true)" :class="{active: gmeta.sort.key == 'Status'}" >Status   
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Status'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th> -->
                                       
                                         <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('StatusDescription')" :class="{active: gmeta.sort.key == 'StatusDescription'}" >Status  
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['StatusDescription'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ReasonText')" :class="{active: gmeta.sort.key == 'ReasonText'}" >Reason Text 
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ReasonText'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                          <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ResolverUserId')" :class="{active: gmeta.sort.key == 'ResolverUserId'}" >Resolved By User Id  
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ResolverUserId'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                        
                                        
                                        <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('LastHoldTypeDate')" :class="{active: gmeta.sort.key == 'LastHoldTypeDate'}" >Last Hold Type Date
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['LastHoldTypeDate'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                                         </th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--<tr>
                                            <th class="center-filter">
                                                <div class="glyphicon glyphicon-filter"></div>
                                            </th>
                                            <td>
                                                <input type="text" v-model="gmeta.filter.PrimeLineNo">
                                            </td>
                                             
                                             <td>
                                               
                                                <input type="text" v-model="gmeta.filter.Item.ItemID">
                                            </td>
                                            <td>
                                                <input type="text" v-model="gmeta.filter.Item.ItemShortDesc">
                                            </td>
                                                <td>
                                                <input type="text" v-model="gmeta.filter.Item.UnitOfMeasure">
                                            </td>
                                            <td>
                                                <input type="text" v-model="gmeta.filter.ShipNode">
                                            </td>
                                                                                       
                                        </tr>-->
                    <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in orderdetails.OrderHoldTypes.OrderHoldType " >
                        
                        <td></td>
                        <td>{{getValue(row, "HoldType") }} </td>
                        <!--      <td><a  data-target="#orderDetailsLink" data-toggle="modal"  v-on:click="orderLineDetailsLink($index)"> {{getValue(row, "Status") }} </a>   </td>-->
                        <!--<td>{{getValue(row, "Status") }} </td> -->               
                        <td> {{getValue(row, "StatusDescription")}}    </td>
                        <td> {{getValue(row, "ReasonText")}}     </td>
                        <td>{{getValue(row, "ResolverUserId") }} </td>                   
                        <td> {{formatDate(row, "LastHoldTypeDate")}}     </td>
                         
                        <td>
                        <span v-if="getValue(row,'Status') === '1100'">
                            <a class="btn btn-default SecondaryBtn" title="Resolve Hold" v-on:click="resolveHold(row)">Resolve</a>
                        </span>
                        <span v-else>  
                           <a class="btn btn-default SecondaryBtn" title="Resolve Hold" disabled>Resolved</a>
                        </span>
                        </td>
                                              
					</tr>
                                    
                                    
                               </tbody>
                            </table> 
                        

                        </div>
                    </div>
    </div>
    
     <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="close">Close</button>
       
    </div>
                      
  	
</div>
</template>
<script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    
    export default{
        
        props: {
          orderdetails: Object
        },

        data: function () { 
            
            var gmeta = {};
            var columns =['HoldType','StatusDescription','ReasonText','ResolverUserId','LastHoldTypeDate'];
            GridUtils.populateGridMeta(gmeta, columns, false)
            var Order={'OrderHeaderKey':'', 'OrderHoldTypes':{'OrderHoldType':{'Status':'', 'HoldType':'','ResolverUserId':''}}}
            var holdresolved = false;
        
            return {
                gmeta:gmeta,
                Order:Order,
                holdresolved:holdresolved
            }
        },
        
        filters: {
                paginate: function(list) {
                    return GridUtils.paginate(this.gmeta, list, this.totalPages)
                }
            }
          , 
	  
        methods: {	  
         getValue: function(row, binding) {
            return Utils.getValue(row,binding)
         },

         goBack: function () {
           window.history.go(-1)
         },
        
        sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
        },
            
        formatDate: function(row, binding){
            var date = Utils.getValue(row,binding)
            return Utils.formatForDisplay(date)
        },
            
         close: function() {
               var resolvedFlag = true
               if(this.orderdetails.OrderHoldTypes.OrderHoldType) {
                    for(var i=0; i< this.orderdetails.OrderHoldTypes.OrderHoldType.length; i++){
                        if(this.orderdetails.OrderHoldTypes.OrderHoldType[i].Status != '1300'){
                            resolvedFlag = false
                            break
                        }
                    }
               }
            this.$dispatch('closehold',resolvedFlag)
         },
        
        resolveHold: function(holdObject){
            var self = this;            
            self.Order.OrderHeaderKey=self.orderdetails.OrderHeaderKey;
            self.Order.OrderHoldTypes.OrderHoldType.HoldType = holdObject.HoldType;
            self.Order.OrderHoldTypes.OrderHoldType.Status = '1300';
            self.Order.OrderHoldTypes.OrderHoldType.ResolverUserId = window.AppInfo.loginid;
             var success = function(result) {
                 Vue.set(holdObject,'ResolverUserId',window.AppInfo.loginid);
                 holdObject.Status='1300';
                holdObject.StatusDescription = 'Resolved';

                for(var i=0; i< self.orderdetails.OrderHoldTypes.OrderHoldType.length; i++){
                   if(self.orderdetails.OrderHoldTypes.OrderHoldType[i].HoldType === holdObject.HoldType){
                        Vue.set(self.orderdetails.OrderHoldTypes.OrderHoldType[i],'ResolverUserId',window.AppInfo.loginid);
                       self.orderdetails.OrderHoldTypes.OrderHoldType[i].Status = '1300';
                       self.orderdetails.OrderHoldTypes.OrderHoldType[i].StatusDescription = 'Resolved';
                   }
               }
             }            
		     Utils.executeDataService("changeOrderHold", success, self.Order);
        }
    
        }, 
        
          
        beforeDestroy: function() {
            $(this.$el).remove();
            $(this.$el).removeData();
        }
}

</script>
