<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying order details
     ***************************************************************************-->
<template>

 <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default m-t-10">
                    <div class="panel-heading">Header Details
                
                    </div>
                    <div class="panel-body">
                        <div class="">

                          <ul class="list-group col-md-9">
                          <div class="row">
                           <li class="list-group-item col-md-4"><label class="col-sm-6">Order Number</label><span class="col-sm-6">{{OrderDet.OrderNo}}</span></li>
                           <li class="list-group-item col-md-4"><label class="col-sm-6">Source ID</label><span class="col-sm-6">{{OrderDet.OrderName}}</span></li>
                           <li class="list-group-item col-md-4"><label class="col-sm-6">Order Value</label><span class="col-sm-6">{{getValue(OrderDet,"PriceInfo.TotalAmount") | numberfilter}} </span></li>
                              <div class="clearfix"></div>
                              </div>
                               <div class="row">
                           <li class="list-group-item col-md-4 "><label class="col-sm-6">Document Type</label><span class="col-sm-6">{{getValue(OrderDet,"DocumentDescription")}}</span></li>
                            <li class="list-group-item col-md-4 "><label class="col-sm-6">Order Stream</label><span class="col-sm-6">{{OrderDet.DepartmentCode}}</span></li>
                            <li class="list-group-item col-md-4 "><label class="col-sm-6">Req Ship Date</label><span class="col-sm-6">{{ checkRequestedDate('ship')}}</span></li>       
                            
                                <div class="clearfix"></div>
                                </div>
                                 <div class="row">
                             <li class="list-group-item col-md-4 "><label class="col-sm-6">Vendor</label><span class="col-sm-6">{{OrderDet.VendorName}}</span></li>
                             <li class="list-group-item col-md-4 "><label class="col-sm-6">Source System</label><span class="col-sm-6">{{OrderDet.EntryType}}</span></li>
                              <li class="list-group-item col-md-4 "><label class="col-sm-6">Req Delivery Date</label><span class="col-sm-6">{{checkRequestedDate('delivery')}} </span></li>           
                             
                                <div class="clearfix"></div>
                                </div>
                                 <div class="row">
                             <li class="list-group-item col-md-4 "><label class="col-sm-6">Order Date</label><span class="col-sm-6">{{formatForDisplay(OrderDet.OrderDate)}} </span></li>
                             <li class="list-group-item col-md-4"><label class="col-sm-6">Consignments</label><span class="col-sm-6" v-if="zeroShipment"> {{shipmentLength}} </span>
                                        <span class="col-sm-6" v-if="!zeroShipment"> <a href="javascript:void(0);" v-on:click="tabActivation()"> {{shipmentLength}} </a></span></li>
                              <li class="list-group-item col-md-4"><label class="col-sm-6">Project Number</label><span class="col-sm-6">{{OrderDet.SearchCriteria1}}</span></li>

                                <div class="clearfix"></div>
                                </div>
                                 <div class="row">
                                     
                             <li class="list-group-item col-md-4 "><label class="col-sm-6">Status</label>
                                 <span class="col-sm-6" v-if='OrderDet.Status'>{{OrderDet.Status}}</span>
                                 <span class="col-sm-6" v-else>[Draft]</span>
                            </li>
                                     
                                     
                             <li class="list-group-item col-md-4 "><label class="col-sm-6">Order Type</label><span class="col-sm-6">{{OrderDet.OrderType}}</span></li>
                             <li class="list-group-item col-md-4"><label class="col-sm-6">Contact Details</label><span class="col-sm-6">{{OrderDet.SearchCriteria2}}</span></li>         
                            
                                <div class="clearfix"></div></div>
                                 <div class="row">
                             <li class="list-group-item col-md-4 "><label class="col-sm-6">Delivery Address Code</label><span class="col-sm-6">{{OrderDet.BillToID}}</span></li>
                                     
                             <div class="clearfix"></div>
                             </div>
                          </ul>

                  <!--          <div class="col-md-3">
                  <div class="AddressContainer">
                       
                    <span v-if="personInfoShipToAddress">
                      <addressdetails
                                 :addressdetails= "personInfoShipToAddress"
                                 :addresslabel="'Ship To Address'"
                                 >
                         </addressdetails>
                    </span>
                      <span v-else>
                      <addressdetails
                                 :addressdetails= "personInfoBillToAddress"
                                 :addresslabel="'Ship To Address'"
                                 >
                         </addressdetails>
                    </span>
                  </div>
              </div>  -->
                          
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


</template> 
<script>
    var Vue = require('vue')
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    export default{
        props: {
          orderdetailobj: { type:Object },
         },    
        data: function () {
        
            var OrderDet= {}
        return{
               OrderDet:OrderDet,          
            }
          },
        computed: {
         
          },
        filters: {
	   
          },   
        methods: {	
            
            formatForDisplay:function(serverDate) {
                return Utils.formatForDisplay(serverDate,"filter")
              },
           
            getValue: function(row, binding) {
              return Utils.getValue(row,binding)
            },
            
            
            checkRequestedDate:function(index){
               if(this.OrderDet.CustomAttributes) {
                    if (index ==='ship'){
                            if( this.OrderDet.CustomAttributes.Boolean1 && this.OrderDet.CustomAttributes.Boolean1==='Y')
                               {
                                 return 'VARIOUS'
                               }
                             else {
                                 return this.formatForDisplay(this.OrderDet.ReqShipDate)
                             }
                         }
                     else{
                           if(this.OrderDet.CustomAttributes.Boolean2 && this.OrderDet.CustomAttributes.Boolean2==='Y')
                              {
                                return 'VARIOUS'
                              }
                           else{
                              return this.formatForDisplay(this.OrderDet.ReqDeliveryDate)
                           }
                           
                      }
               } else {
                           if (index ==='ship'){
                                     return this.formatForDisplay(this.OrderDet.ReqShipDate)
                           } else if(index ==='delivery'){
                                     return this.formatForDisplay(this.OrderDet.ReqDeliveryDate)
                           }
                 }
            }
            
            

          },
        events:{
            //Preview header details event dispatched from PreviewTpl.vue
            'PrevHeaderDtlEvent': function (msg) {
                var self= this
                self.OrderDet= msg;
            }
          },        
	    route: {
     
	      },
	    beforeDestroy: function() {
	  	   $(this.$el).remove();
	  	   $(this.$el).removeData();
	      },
     }
</script>