<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This is a component which provides file upload feature for multiple upload types (for ex. DAC Load, MTM Load, Org Load, Transport Matrix Load, Week Numder Load and Milk Run )in xls/xlsx format and also sends a successful email 
        notification to the user who uploads the file
     ***************************************************************************-->
<template>
            
            <div>
            <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"  v-on:click="cancel()" :disabled="getsubmitstat()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">UPLOAD FILES</h4>

                </div>
   <form id="uploadothersform" method="post" 
                    enctype="multipart/form-data" v-on:submit.stop.prevent="uploadFilesOthers()">
                                      <div class="modal-body">
                         <div class="alert alert-info"  v-show="showsuccess">
          
                 <button type="button" class="close"  aria-label="Close" @click="showsuccess=!showsuccess">&times;</button>
            <strong> Message Title:</strong> File Was Uploaded Successfully!!
          </div>
      
                    <div class="alert alert-danger"  v-show="showerror">
          
                         <button type="button" class="close"  aria-label="Close" @click="showerror=!showerror">&times;</button>
                        <strong> Message Title:</strong> File Upload Failed!!
                    </div>
                        
                        
                        
                        <div class="clearfix"></div>
                      
                        <h5>Please Upload Files In Prescribed Excel Format:</h5>
                        
                        <div class="row">
			<div class="col-md-6">
			<div class="">
  <label for="sel1" class="control-label">Select Upload Type</label>
  <select class="form-control" id="sel1" name="uploadType" v-model="processType" >
    <option v-for="code in gridData" v-bind:value="code.CodeName" transition="code">{{code.CodeValue}}</option>     
  </select>
        <p class="help-block" v-show="select_upload" >Please Select An Upload Type</p>        
                </div>
</div>
<div class="clearfix"></div>
			</div>
                 
                        <div class="row ">
      <div class="col-md-6 m-t-10">                            
            <label class="control-label">Choose File</label>
                                          <input type="file"
                        name="Browse.." id="alluploads" class="form-control uploadCls" accept=".xls,.xlsx" class="highlight-file" />
                       <p class="help-block" v-show="file_select" >Please Select An Excel File</p>                  
                       <p class="help-block" v-show="file_size" >Upload File Size Should Be Less Than 3MB</p>
				       <p class="help-block" v-show="file_extn"> Please Upload Valid Excel Files</p>                                    
               
                       <div class="progress" id="progress-wrp" v-show="uploadprogress" >
                       
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                    <div class="status">0%</div>
                                        </div>
                        </div> 
                        </div>
                        <div class="clearfix"></div>
                        </div> 

                        <div class="row">
                            <div class="col-md-6">
                                <div class="m-t-10">
                                    <label class="control-label">Email Address for Notification</label>
                                    <input type="text" placeholder="example@example.com"
                                          id="allemailnotify" name="emailnotify"   v-model="notifyEmail" class="highlight-file form-control" autocomplete="off">
				     <p class="help-block" v-show="mailerror" >Please Enter A Valid Email Address</p><br>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                       
                        </div>  
                         <span class="subclr m-t-10" v-show="processType"> To Download Excel Template, <a href="{{url1}}?process={{processType}}">click here</a></span> 
                        
                        
                </div>


                <div class="modal-footer">
                    <button type="submit" value="upload" class="btn btn-default" :disabled="getsubmitstat()" >Upload</button>

                    <button type="button" class="btn btn-default SecondaryBtn"
                        data-dismiss="modal" v-on:click="cancel()" :disabled="getsubmitstat()">Close</button>
                </div>
                </form>
            </div>
            </template>
            <script>
              var Vue = require('vue')
              var Utils = require('./../utils/utils.js')
                           
              var url1= window.AppInfo.contextroot + "/filedownloadservlet"

                   export default{
                       
              ready: function ready () {         
             
                var self = this  
		var uploadTypeList =function(result){
		    self.gridData=result.CommonCode ;
                }
                Utils.executeDataService("fileUploadTypeList", uploadTypeList, null);
                  
            
            $("#sel1").on('change',function(){      
                if(self.processType === null || self.processType === ''){
                     self.select_upload= true;
                }
                else{
                     self.select_upload= false;
                }
             });   
	     
              
              $("#allemailnotify").on('change',function(){
                  
                    if(self.checkfromEmail()){
                         self.mailerror=true      
                     }
                     else{
                         self.mailerror=false
                     }
                    
                }); 
               $("#alluploads").on('change',function() {
                
                self.file_select= false   
                 if($('#alluploads')[0].files[0]){ 
                  if($('#alluploads')[0].files[0].size > 3145728){
                      self.file_size=true                      
                      self.file_extn=false                  
                  }     
                  else if($('#alluploads')[0].files[0].type != 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
                           &&  $('#alluploads')[0].files[0].type != 'application/vnd.ms-excel'){
                      self.file_extn=true                      
                      self.file_size=false
                  }                   
                  else{
                     self.file_extn=false
                     self.file_size=false
                  }
                 } 
                 else{
                     self.file_select= true
                     self.file_extn=false
                     self.file_size=false
                 }   
                });        

               },    

                   data: function () { 
                      var showsuccess=false
                      var showerror=false
                      var processType=''
                      var commonCodeSearchModel = {
                          'CodeName': '',
                          'CodeValue':''
             
                      }  
                      var gridData = [];
                      var notifyEmail = window.AppInfo.emailid;
                      var subbtn= false; 
                      var select_upload= false;
                      var file_select= false   
                      var file_size = false
                      var file_extn = false
                      var mailerror= false
                      var uploadprogress= false
                      
                        return {
                            url1:url1,
                            showsuccess:showsuccess,
                            showerror:showerror,
                            processType:processType,
                            commonCodeSearchModel:commonCodeSearchModel,
                            gridData: gridData,
                            notifyEmail: notifyEmail,
                            subbtn:subbtn,
                            select_upload:select_upload,
                            file_select:file_select,
                            file_size:file_size,
                            file_extn:file_extn,
			                mailerror:mailerror,
                            uploadprogress:uploadprogress
                            }
                    },
                   route: {
                                           
		              data: function (transition) {
		
		              var success = function(result) {
					 transition.next({
						gridData : result.CommonCode
					       })
				            }
				            Utils.executeDataService("commonCodeList", success, self.CommonCode);
		                  }
                    },	
                
                    methods: {	  
                     getValue: function(row, binding) {
                        return Utils.getValue(row,binding)
                     },
                     getsubmitstat: function()
                     {
                            return this.subbtn;         
                     },    
                     goBack: function () {
                       window.history.go(-1)
                     },
                        
                    checkfromEmail : function(){
			             var self = this;
			             var emailAdd = self.notifyEmail;
			
			
                        var posOfAt = self.notifyEmail.indexOf("@");
                        var posOfDot = self.notifyEmail.lastIndexOf(".");
                        if (posOfAt<1 || posOfDot<posOfAt+2 || posOfAt+2>=self.notifyEmail.length || posOfDot>=self.notifyEmail.length-1 ) {
                            document.getElementById("allemailnotify").focus();
                            return true;
                        }else{
                            return false;
                        }
	    
		             },    

                     cancel: function() {
					//	$("#uploadothersform")[0].reset();
                        $("#alluploads").val('')
                        this.select_upload= false
		            	this.file_select= false;
                        this.file_size= false; 
                        this.file_extn= false
			            this.mailerror=false
                        this.uploadprogress=false
                        $('.error').remove();
						this.notifyEmail = window.AppInfo.emailid;
						
                        this.processType= ''
                        this.$dispatch('cancel')
                     },
                     uploadTypeList:function(event) {
	                       event.preventDefault()
                           var self = this			
			               var success = funtion(result)
                           {
                                self.gridData = result.CommonCode 
				           }
			             Utils.invokeMashup("commonCodeList",success, self.commonCodeSearchModel);
                           
                           
                     },                        

                     apply: function() {
                        this.$dispatch('apply')
                     },
                    
                    uploadFilesOthers: function(){
             
                        var self=this;         
                        var data = new FormData($('#uploadothersform')[0]);
                        if(self.processType.trim() === null || self.processType.trim() === ''){
                            self.select_upload= true;
                        }
		                else if(! $('#alluploads')[0].files[0]){                           
                    	    self.file_select= true;            
                        }
                
                        else if ($('#alluploads')[0].files[0].size > 3145728 ){
                            self.file_size = true;                   
                        }
                        else if($('#alluploads')[0].files[0].type != 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
                               &&  $('#alluploads')[0].files[0].type != 'application/vnd.ms-excel'){
                            
                            self.file_extn=true 
                        }
                        else if(self.notifyEmail === null || self.notifyEmail.trim() === "" || self.checkfromEmail() ){
                            self.mailerror=true 
                        }
                        else {
                           $.each($('#alluploads')[0].files, function(i, file) {
                           data.append('file-'+i, file);
                   });
              
                self.subbtn=true         
                self.uploadprogress=true         
                           
                $.ajax({
                    url: window.AppInfo.contextroot+'/api/exceluploadservlet',
                    type: 'POST',
                    data: data,
                    cache: false,
                    dataType: 'json',
                    processData: false, 
                    xhr: function(){
        //upload Progress
        var xhr = $.ajaxSettings.xhr();
        if (xhr.upload) {
            xhr.upload.addEventListener('progress', function(event) {
                var percent = 0;
                var position = 0;
                var total = 0;
                position = event.loaded || event.position;
                total = event.total;
                if (event.lengthComputable) {
                    percent = Math.ceil(position / total * 100);
                }
                //update progressbar
                $(".progress-bar").css("width", + percent +"%");
                $(".status").text(percent +"%");
            }, true);
        }
        return xhr;
    },
                    contentType: false, 
                    success: function(data, textStatus, jqXHR)
                    {
                        self.showsuccess=true
                        setTimeout(function(){self.showsuccess=false},Utils.getTimeOut())
                        $("#alluploads").val('')
                        self.subbtn=false
                        self.uploadprogress=false                    
                                              
                        $(".progress-bar").css("width", + 0 +"%");
                        $(".status").text("0%");
                                                                        
                    },
                    error: function(jqXHR, textStatus, errorThrown)
                    {
                        self.showerror=true
                        setTimeout(function(){self.showerror=false},Utils.getTimeOut())
                      //  $("#uploadothersform")[0].reset();
                        self.subbtn=false
                        self.uploadprogress=false
                    }
                });
                            
              }


            }
                    },  

                    beforeDestroy: function() {
                        $(this.$el).remove();
                        $(this.$el).removeData();
                    },
            }
            </script>