<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component displays overall supply distribution for a selected supply type 
        on the Supply pie chart. This also displays the supply distribution for a selected node 
        and supply type. This is a sub component supply type quantity distribution Pie chart.
     ***************************************************************************-->




<template>
 <div>
     <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close" v-on:click="close()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="">Select Address</h4>
          </div>
      <div class="block"   v-if="addsuccess" >
                        <div class="alert alert-info" role="alert">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="addsuccess=!addsuccess"><span aria-hidden="true">
                                &times;</span>
                            </button>
                           <strong>INFO:</strong>Selected Addresses Added Successfully. 
                        </div>

          </div>     
      <div class="block"   v-if="inperror" >
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="inperror=!inperror"><span aria-hidden="true">
                                &times;</span>
                            </button>
                           <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}} 
                        </div>

          </div>
    <validator name="addressSearchValidation"> 
      <form id="serachAddress" method="post" v-on:submit.stop.prevent="search()" novalidate>
          <div class="modal-body address-modal-bodys-sear">
              
             <div class="form-group col-md-3">
  <label for="exampleInputEmail1">Delivery Address Code / Search Term A</label>
   <input type="text" class="form-control " placeholder="Delivery Address Code" v-model="addressInput.CustomerID" 
          title="Delivery Address Code" autocomplete="off">
   </div>
   <div class="form-group col-md-3 ">

  <label for="exampleInputEmail1">Name</label>
   <input type="text" class="form-control" id="firstname" placeholder="Name" 
          v-model="addressInput.Consumer.BillingPersonInfo.FirstName" title="Name" autocomplete="off">
   </div>
 
   <div class="form-group col-md-3">
  <label for="exampleInputEmail1">Suburb</label>
   <input type="text" class="form-control " placeholder="Suburb" v-model="addressInput.Consumer.BillingPersonInfo.City" title="Suburb" autocomplete="off">
   </div>
     <div class="form-group col-md-3">
  <label for="exampleInputEmail1">Post Code</label>
   <input type="text" class="form-control " placeholder="Postal Code" v-model="addressInput.Consumer.BillingPersonInfo.ZipCode" title="Postal Code" autocomplete="off">
   </div>
              <div v-show="showMore">
 
    <div class="form-group col-md-3">
  <label for="exampleInputEmail1">State</label>
   <input type="text" class="form-control " placeholder="State" v-model="addressInput.Consumer.BillingPersonInfo.State" title="State" autocomplete="off">
   </div>  
   <div class="form-group col-md-3">
  <label for="exampleInputEmail1" >Country</label>
   <input type="text" id="country" class="form-control " placeholder="Country" v-model="addressInput.Consumer.BillingPersonInfo.Country" title="Country" autocomplete="off">
   </div>      
    <div class="form-group col-md-3">
  <label for="addressmaxrecords">Maximum Records</label>
   <input type="number" id="addressmaxrecords" class="form-control " placeholder="Maximum Records" value="100" v-model="addressInput.MaximumRecords" min="1" max="500" v-validate:addressmaxrecords="{ required:true, min: 1, max: 500, customMaxValidator:true }" title="Maximum Records">
                        <span class="help-block" v-if="$addressSearchValidation.addressmaxrecords.required || $addressSearchValidation.addressmaxrecords.min || $addressSearchValidation.addressmaxrecords.max  || $addressSearchValidation.addressmaxrecords.customMaxValidator ">{{getMessage('MAX_RECORDS') }}</span>         
   </div>   
                  </div>

                  <div class="clearfix"></div>
                  <div class="col-md-2 col-sm-6 pad-left-10 pull-right">
                                    <button type="submit" id="SearchSubmit" class="btn btn-primary btn-block" title="Search">
                                        Search
                                    </button>
                                </div>
                  <div class="pad-left-10 pull-right">

         <a href="javascript:void(0)" class="moreOption" @click="showMore = !showMore" v-if="!showMore" title="Show more">Show more</a>
        <a href="javascript:void(0)" class="moreOption" @click="showMore = !showMore" v-if="showMore" title="Show less">Show less</a>
       </div> 
    <div class="form-group col-md-6">

  
       
   </div>
    </form>
    </validator>          
              
                      <div class="col-md-12 well-sm ">
<h5>Search Result <span class="pull-right">Selected <span class="badge" style="margin-top: 0px !important;">{{SelectAddress ? SelectAddress.length : 0}}</span></span></h5>
<div class="divider"></div>

    <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
         <thead>
            <tr role="row">
                <!--   <th>Select</th> -->
				   <th class="" style="width: 20px;"><input type="checkbox" v-model="checkAllCheckbox" id="addall">  </th>

                   <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('CustomerKey')" :class="{active: gmeta.sort.key == 'CustomerKey'}" >Delivery Address Code    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['CustomerKey'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                       </th>				   
                   <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('CustomerID')" :class="{active: gmeta.sort.key == 'CustomerID'}" >Search Term A    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['CustomerID'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                       </th>
                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Consumer.BillingPersonInfo.FirstName')" :class="{active: gmeta.sort.key == 'Consumer.BillingPersonInfo.FirstName'}" >Contact Name    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Consumer.BillingPersonInfo.FirstName'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                       </th>
                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Consumer.BillingPersonInfo.City')" :class="{active: gmeta.sort.key == 'Consumer.BillingPersonInfo.City'}" >Suburb   
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Consumer.BillingPersonInfo.City'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                        </th>
                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Consumer.BillingPersonInfo.DayPhone')" :class="{active: gmeta.sort.key == 'Consumer.BillingPersonInfo.DayPhone'}" >Phone Number 
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Consumer.BillingPersonInfo.DayPhone'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                         </th>
            </tr>
         </thead>
        <tbody v-if="showMask" class="table-spinner"><tr class="loader"></tr></tbody>   
         <tbody v-if="!showMask">
               <tr>
                    <td class="center-filter">
                        <div class="glyphicon glyphicon-filter" title="Filter"></div>
                    </td>
                                           
                    <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.CustomerKey" title="Enter Delivery Address Code">                       
                    </td>
                     <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.CustomerID" title="Enter Search Term A">
                    </td>
                    <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.Consumer.BillingPersonInfo.FirstName" title="Enter the Contact Name">
                    </td>
                    <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.Consumer.BillingPersonInfo.City" title="Enter the Suburb">
                    </td>
                    <td>
                        <input type="text" class="form-control" v-model="gmeta.filter.Consumer.BillingPersonInfo.DayPhone" title="Enter the Phone">
                    </td>                   
                </tr>
               <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in gridData 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                | gridfilter gmeta.filter columns 
                                | paginate " >
								
					 <td> 
                         <input type="checkbox"  class="filtercheckbox" id="{{row.CustomerID}}" value="{{row.CustomerID}}" v-model="SelectAddress" /></td>
                     <td> {{getValue(row, "CustomerKey")}} </td>
                     <td> {{getValue(row, "CustomerID")}}  </td>
                     <td> {{getValue(row, "Consumer.BillingPersonInfo.FirstName")}}  </td>
                     <td> {{getValue(row, "Consumer.BillingPersonInfo.City")}}  </td>
                     <td> {{getValue(row, "Consumer.BillingPersonInfo.DayPhone")}}  </td>
                </tr>
         </tbody>
    </table>
    <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >
 
</div>
              


     
       <div class="clearfix"></div>
          <div class="modal-footer">
           <button type="button" class="btn btn-default" v-on:click="add()" title="Add" >Add</button>
           <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="close()" title="Close">Close</button>
          </div>
       
    </div>
    </template>
    <script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')

    export default {

     props: {
        type:String,
        ordertype: String 
       },    


    data: function () {
        
        var addressObject={};
        var addressList=[];
        var inperror=false;
        var showMask = false;
        var addressInput={
            'MaximumRecords':'100',
            'Consumer': {
                    'BillingPersonInfo':{
                            'AddressID':'', 
                             'City' :'',
                            'Country':'',
                            'FirstName':'',
                            'ZipCode':'', 
                            'PersonID':''   
           }
        } 
       }
       
        var addsuccess = false
        
       var columns =[ 'CustomerKey','CustomerID','Consumer.BillingPersonInfo.FirstName','Consumer.BillingPersonInfo.City','Consumer.BillingPersonInfo.DayPhone']
       var gmeta = {}
       var showMore =false
       GridUtils.populateGridMeta(gmeta, columns, false)
       var gridData = [];
       var SelectAddress=[];
       var showMore =false;
       var addresList= []    
        
       var checkAll=false;    
       var checkAllCheckbox=false;
       var manualTrigger=false 
       var errorcode
       var errordesc
        
      return {
          addressObject:addressObject,
          addressList:addressList,
          addressInput:addressInput,
          columns:columns,
          gmeta:gmeta,
          gridData:gridData,
          SelectAddress:SelectAddress,
          showMore:showMore,
          inperror:inperror,
          addresList,addresList,
          
          checkAll:checkAll,
          checkAllCheckbox:checkAllCheckbox,
          manualTrigger:manualTrigger,
          errorcode:errorcode,
          errordesc:errordesc,
          showMask:showMask,
          addsuccess:addsuccess
      }

    },
        
    ready: function(){
            var self=this  
            this.SelectAddress= [];
     
     
      },

    route: {
        data: function (transition) {
           
        }
    },
    
    filters: {
	   	paginate: function(list) {
            return GridUtils.paginate(this.gmeta,list)
	   	   }
    },

    methods: {

      getMessage: function(errorMessageId) {
        return Utils.getErrorMessage(errorMessageId)      
      },         
        search:function(){
           if(this.$addressSearchValidation.valid){              
               var self=this

               var success = function(result) {

                     var list1= result.Customer

                     if(!list1) {
                          list1 = []
                      }
                      if(!(list1.constructor === Array)) {
                            list1 = []
                            list1.push(result.Customer)                        
                      }
                      self.addressList= list1
                      self.gridData= self.addressList
                      self.inperror= false
                      self.showMask = false

               }
               var errorHandler = function(errorObj) {
                      self.inperror = true
                      self.errorcode = errorObj.ErrorCode
                      self.errordesc = errorObj.ErrorDescription
                      self.showMask = false

               }

                if(this.addressInput.Consumer.BillingPersonInfo.City){
                    var upperCity = this.addressInput.Consumer.BillingPersonInfo.City.toUpperCase();
                    this.addressInput.Consumer.BillingPersonInfo.City = upperCity;
                }
                if(this.addressInput.Consumer.BillingPersonInfo.State){
                    var upperState = this.addressInput.Consumer.BillingPersonInfo.State.toUpperCase();
                    this.addressInput.Consumer.BillingPersonInfo.State = upperState;
                }  
                if(this.addressInput.Consumer.BillingPersonInfo.Country){
                    var upperCountry = this.addressInput.Consumer.BillingPersonInfo.Country.toUpperCase();
                    this.addressInput.Consumer.BillingPersonInfo.Country = upperCountry;
                }
                
                if(this.addressInput.Consumer.BillingPersonInfo.FirstName){
                    var upperFirstName = this.addressInput.Consumer.BillingPersonInfo.FirstName.toUpperCase();
                    this.addressInput.Consumer.BillingPersonInfo.FirstName = upperFirstName;
                }
               
                this.addressInput.ComplexQuery = {}
                this.addressInput.ComplexQuery.Operator = 'AND'
                this.addressInput.ComplexQuery.And = {}
                
                if(this.addressInput.CustomerID != undefined && this.addressInput.CustomerID != "") {
                    var upperCustomerID = this.addressInput.CustomerID.toUpperCase();
                    this.addressInput.CustomerID = upperCustomerID;
                   
                   var customerIdExp = {'Name':'CustomerID','QryType':'LIKE','Value':''}
                   var customerKeyExp = {'Name':'CustomerKey','QryType':'LIKE','Value':''}
                   customerIdExp.Value= this.addressInput.CustomerID
                   customerKeyExp.Value= this.addressInput.CustomerID
                  
                   if(!this.addressInput.ComplexQuery.And.Or) {
                        this.addressInput.ComplexQuery.And.Or = {}
                        this.addressInput.ComplexQuery.And.Or.Exp = []
                    }
                   this.addressInput.ComplexQuery.And.Or.Exp.push(customerIdExp);
                   this.addressInput.ComplexQuery.And.Or.Exp.push(customerKeyExp);
                   //Vue.delete(this.addressInput,'CustomerID');
                } 
               
                if(!this.addressInput.ComplexQuery.And.And) {
                        this.addressInput.ComplexQuery.And.And = {}
                        this.addressInput.ComplexQuery.And.And.Exp= [] 
                 }
                      
                if(this.type === 'pickup' || this.ordertype === 'TRANSPORT_ORDER'){
                    var extnCTNodeTyp= {'Name':'Extn_CustomerNodeType', 'QryType':'NE', 'Value':'CT'}
                    var extnCustNodeTyp= {'Name':'Extn_CustomerNodeType', 'QryType':'NOTNULL'}
                    
                   
                    this.addressInput.ComplexQuery.And.And.Exp.push(extnCTNodeTyp)
                    this.addressInput.ComplexQuery.And.And.Exp.push(extnCustNodeTyp)    
                }
                else if( this.type === 'delivery' && this.ordertype === 'MATERIAL_RESERVATION' ){
                   var extnCTNodeTyp= {'Name':'Extn_CustomerNodeType', 'QryType':'EQ', 'Value':'CT'}
                   var extnCustNodeTyp= {'Name':'Extn_CustomerNodeType', 'QryType':'ISNULL'}
                   if(!this.addressInput.ComplexQuery.And.And.Or) {
                        this.addressInput.ComplexQuery.And.And.Or = {}
                        this.addressInput.ComplexQuery.And.And.Or.Exp = []
                    }
                   
                   this.addressInput.ComplexQuery.And.And.Or.Exp.push(extnCTNodeTyp)
                   this.addressInput.ComplexQuery.And.And.Or.Exp.push(extnCustNodeTyp)    
                   
                }
                this.showMask = true
                //cloning addressInput so as to delete the CustomerID
                var clonedAddressInput = JSON.parse(JSON.stringify(this.addressInput))
                Vue.delete(clonedAddressInput,'CustomerID');
                //Resetting the currently selected values on Search
                this.SelectAddress.splice(0)
            
                         
                if(this.addressInput.ComplexQuery && this.addressInput.ComplexQuery.And ){
                   if(this.addressInput.ComplexQuery.And.Or){
                        this.addressInput.ComplexQuery.And.Or.Exp.splice(0)                        
                   }
                   else if( (this.type === 'pickup' || this.ordertype === 'TRANSPORT_ORDER') 
                              && this.addressInput.ComplexQuery.And.And){
                         this.addressInput.ComplexQuery.And.And.Exp.splice(0) 
                   }
                   else if ((this.type === 'delivery' && this.ordertype === 'MATERIAL_RESERVATION' )
                            && this.addressInput.ComplexQuery.And.And.Or){
                       this.addressInput.ComplexQuery.And.And.Or.Exp.splice(0) 
                   }   
               } 
               Vue.delete(this.addressInput,'ComplexQuery');
               
               Utils.executeDataService("getCustomerSearchList",success,clonedAddressInput, errorHandler)
               //Resetting the input
               //this.addressInput = this.getNewAddress()
           }
 
        },
        getNewAddress: function() {
            var newaddressObj = {
                'MaximumRecords':'100',
                'Consumer': {
                        'BillingPersonInfo':{
                                'AddressID':'', 
                                 'City' :'',
                                'Country':'',
                                'FirstName':'',                               
                                'ZipCode':'', 
                                'PersonID':''   
               }
            } 
           }            
          return newaddressObj     
        },
        
        add:function(address){
           var self=this;    
           var DispatchAdress = [];
            //Resetting Search on Add
          //  this.addressInput = this.getNewAddress()
            if(this.SelectAddress.length > 0) {
              for(var i=0; i< this.SelectAddress.length; i++){
                  var Search = [];
                  Search['CustomerID'] = this.SelectAddress[i]
                  var obj= []  
                  //Doing an exact match.. because we need to compare the actual data
                  obj = this.$options.filters.gridfilter(this.gridData, Search, ['CustomerID'],[],true);
                  if(obj && obj.length > 0) {
	       //	  if(!self.addresList.includes(obj[0])) {
                      if( self.addresList.indexOf(obj[0])< 0 ) {
                          self.addresList.push(obj[0]) 

                      }
                  }

              }
                self.addsuccess = true
                //Resetting the selected Addresses
                //self.SelectAddress.splice(0)
                setTimeout(function(){self.addsuccess=false},Utils.getTimeOut())
            } 
              
        },
       close: function(){
            var  dispatchobj={}
            var self = this
            dispatchobj.addressType = this.type
            dispatchobj.subscribedUsersList= self.addresList   
            
            this.$dispatch('AddressSearchListEvent', dispatchobj );
             this.addressInput = this.getNewAddress()
            this.SelectAddress.splice(0) 
            this.addresList.splice(0)
            this.gridData.splice(0)
            this.checkAll= false
            this.checkAllCheckbox=false;
            this.addsuccess = false
       },
        getAPIErrorMessage: function() {
		return Utils.getAPIErrorMessage();
	   },    
       getValue: function(row, binding) {
          return Utils.getValue(row,binding)
        },
        setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
        },
        sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
        }
    },
        
     computed: {
       
          totalPages: function() {
            return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
          }
         
    },    
    beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  },
     validators:{
        customMaxValidator:function(val){
            return /^([1-9]\d*)$/.test(val);
        }  
          
     },        
    watch: {
          SelectAddress: function(oldvalue,newValue){
             
              if((oldvalue.length) != (newValue.length)){
                  this.manualTrigger=true;
                  this.checkAllCheckbox=false;
              }                         
       },
            
       checkAllCheckbox: function(newValue){
             
                if(newValue){    
                   var classNames = document.getElementsByClassName('filtercheckbox');
                   this.checkAll=true;
                   this.manualTrigger=false;
                   this.SelectAddress.splice(0);
                   for (var i=0; i<classNames.length; i++){
                     this.SelectAddress.push(classNames[i].id);   
                        
                   }
                } else if(!this.manualTrigger) {
                    
                    this.checkAll=false;
                    this.SelectAddress.splice(0);
                    
                } else {
                    this.manualTrigger=false;
                }
        }
          
     }
   // Chart re-vamp code end

    }

    </script>

