<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component displays overall supply distribution for a selected supply type 
        on the Supply pie chart. This also displays the supply distribution for a selected node 
        and supply type. This is a sub component supply type quantity distribution Pie chart.
     ***************************************************************************-->


<template>
 <div>
     <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="close()" title="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="">Search Item</h4>
          </div>
     
     <div class="block" v-if="addsuccess" >
                        <div class="alert alert-info" role="alert">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="addsuccess=!addsuccess"><span aria-hidden="true">
                                &times;</span>
                            </button>
                           <strong>INFO:</strong>Selected Items Added Successfully. 
                        </div>

          </div>
       <div class="alert alert-danger" v-show="apierror">
                    <button type="button" class="close" aria-label="Close" @click="apierror=!apierror" >&times;</button>
                      <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}
        </div>
     
       <validator name="itemSearchValidation"> 
      <form id="serachItem" method="post" v-on:submit.stop.prevent="search()" novalidate>
          <div class="modal-body address-modal-bodys-sear">
             <div class="row">
                 
             
              
              
                 
             <div class="form-group col-md-3">
                <label for="exampleInputEmail1">Item ID</label>
                    <input  id="itemid" type="text" class="form-control " placeholder="Item ID" v-model="itemInput.ItemID" 
                           title="Enter Item ID">
                 
            </div>
                 
            <div class="form-group col-md-3">
            <label for="exampleInputEmail1">Item Description</label>
            <input id="itemdesc" type="text" class="form-control " placeholder="Item Description" 
                   v-model="itemInput.PrimaryInformation.ShortDescription" title="Enter Item Description">
            </div>     
   
            <div class="form-group col-md-3">
            <label for="exampleInputEmail1">Material Group</label>
            <input id="materialgroup" type="text" class="form-control " placeholder="Material Group" 
                   v-model="itemInput.PrimaryInformation.ProductLine" title="Enter Material Group">
            </div>
    
            <div class="form-group col-md-3">
                        <label for="exampleInputEmail1">Maximum Records Fetched</label>
                        <input id="itemmaxrecords" type="number" class="form-control " placeholder="Maximum Records" value="100" v-model="itemInput.MaximumRecords" min="1" max="500" min="1" max="500" v-validate:itemmaxrecords="{ required:true, min: 1, max: 500, customMaxValidator:true }" title="Enter Maximum Records">
                        
                        <span class="help-block" v-if="$itemSearchValidation.itemmaxrecords.required || $itemSearchValidation.itemmaxrecords.min || $itemSearchValidation.itemmaxrecords.max  || $itemSearchValidation.itemmaxrecords.customMaxValidator ">{{getMessage('MAX_RECORDS') }}</span> 
            </div>   
            
            <div class="clearfix"></div>
               <div class="col-md-12">
                    <span  class="help-block" v-show="iteminperror" >Enter Atleast One of Item ID/ Item Description/ Material Group</span>
                 </div>
          <div class="clearfix"></div>
           <div class="form-group col-md-2 pull-right">

    <button type="submit" id="SearchSubmit" class="btn btn-primary btn-block" title="Search">
                                        Search
                                    </button>
       
   </div>    
   </div>
                  </div>

          
          
              
     </form>         
    </validator>       
       
              
                      <div class="col-md-12 well-sm ">
<h5>Search Result <span class="pull-right">Selected <span class="badge">{{SelectItem ? SelectItem.length : 0}}</span></span></h5>
<div class="divider"></div>

    <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
         <thead>
            <tr role="row">
                  <th class="" style="width: 20px;"><input type="checkbox" v-model="checkAllItems" id="addallitems">  </th>
                
                   <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ItemID')" :class="{active: gmeta.sort.key == 'ItemID'}" >ItemID    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ItemID'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                       </th>
                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('PrimaryInformation.ShortDescription')" :class="{active: gmeta.sort.key == 'PrimaryInformation.ShortDescription'}" >Short Description    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['PrimaryInformation.ShortDescription'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                       </th>
                
                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('UnitOfMeasure')" :class="{active: gmeta.sort.key == 'UnitOfMeasure'}" >Unit Of Measure    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['UnitOfMeasure'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                       </th>
                
                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('PrimaryInformation.ProductLine')" :class="{active: gmeta.sort.key == 'PrimaryInformation.ProductLine'}" >Material Group    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['PrimaryInformation.ProductLine'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                       </th>
                   
            </tr>
         </thead>
        <tbody v-if="showMask" class="table-spinner"><tr class="loader"></tr></tbody>        
         <tbody v-if="!showMask">
               <tr>
                        <td class="center-filter">
                            <div class="glyphicon glyphicon-filter"></div>
                        </td>                                                          
                        <td> <input type=text class="form-control" v-model="gmeta.filter.ItemID" title="Enter Item ID"> </td>
                        <td> <input type=text class="form-control" v-model="gmeta.filter.PrimaryInformation.ShortDescription"
                                    title="Enter Item Description" > </td>    
                        <td> <input type=text class="form-control" v-model="gmeta.filter.UnitOfMeasure" 
                                    title="Enter Unit Of Measure"> </td>
                        <td> <input type=text class="form-control" v-model="gmeta.filter.PrimaryInformation.ProductLine"
                                    title="Material Group"> </td>
    </tr>
                  <tr v-show="!gridData">
                      <td colspan="10" ><span class="noRecordCtrl"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 40px;"></i><br>No Results Found</span></td>
                    </tr>             
               <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in gridData 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                | gridfilter gmeta.filter columns
                                | paginate " >
                     <td> 
                         <input type="checkbox"  class="filtercheckbox" id='{{row.ItemID}}' value='{{getValue(row, "ItemID")}}||{{getValue(row, "UnitOfMeasure")}}' v-model="SelectItem" /></td>
                     <td>{{getValue(row, "ItemID")}}</td>
                     <td> {{getValue(row, "PrimaryInformation.ShortDescription")}}</td> 
                     <td> {{getValue(row, "UnitOfMeasure")}}     </td> 
                     <td> {{getValue(row, "PrimaryInformation.ProductLine")}}     </td>
                     
                </tr>
         </tbody>
    </table>
    <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >

</div>
              
          </div>
   
       <div class="clearfix"></div>
          <div class="modal-footer">
          <button type="submit" class="btn btn-default" v-on:click="add()"  title="Add Items">Add Items</button>
           <button  class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="close()" title="Close">Close</button>
          </div>
       
    </div>
    </template>
    <script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    
    var VueValidator = require('vue-validator')
    Vue.use(VueValidator)

    export default {

     props: {
        itemid:String,
        orderobj: {type: Object}  
       },    


    data: function () {
        
        var itemInput={
         'ItemID':'','PrimaryInformation':{'ShortDescription':'','ProductLine':''}     
        }
        var itemList = []
        
       var columns =[ 'ItemID','PrimaryInformation.ShortDescription','UnitOfMeasure','PrimaryInformation.ProductLine']
       var gmeta = {}
       var showMore =false
       GridUtils.populateGridMeta(gmeta, columns, false)
       var gridData = [];
       var SelectItem=[];
       var DispatchItem = [];
       var showMore =false;
       
       var checkAllItems =false  
       var manualTrigger=false 
       var checkAll=false;
        
       var errorcode
       var errordesc    
       var inperror= false
       var iteminperror= false
       var apierror= false
       var showMask = false
       var addsuccess= false
        
      return {
          itemInput:itemInput,
          itemList: itemList,
          columns:columns,
          gmeta:gmeta,
          gridData:gridData,
          SelectItem:SelectItem,
          DispatchItem:DispatchItem,
          
          checkAllItems:checkAllItems,
          manualTrigger: manualTrigger,
          checkAll:checkAll,
          
          errorcode:errorcode,
          errordesc:errordesc,
          inperror: inperror,
          iteminperror:iteminperror,
          apierror:apierror,
          showMask:showMask,
          addsuccess:addsuccess
          
      }

    },
        
    ready: function(){
            var self=this  
            
             $("#itemid").on('change',function(){  
                   self.validateInput();
            });
         
             $("#itemdesc").on('change',function(){                  
                     self.validateInput();
            });
         
             $("#materialgroup").on('change',function(){                  
                    self.validateInput();
            });
      },

    route: {
        data: function (transition) {
          
        }
    },
    
    filters: {
	   	paginate: function(list) {
            return GridUtils.paginate(this.gmeta,list)
	   	   }
    },

    methods: {
        
          getMessage: function(errorMessageId) {
            return Utils.getErrorMessage(errorMessageId)      
          },        
      
        search:function(){
            
          if(this.$itemSearchValidation.valid){  
              
            var self=this
            if(self.itemInput.MaximumRecords === ''  ){
                self.itemInput.MaximumRecords= '100'
             }
            if(this.itemInput.PrimaryInformation.ShortDescription){
                var desc = this.itemInput.PrimaryInformation.ShortDescription.toUpperCase();
                this.itemInput.PrimaryInformation.ShortDescription = desc;
            }            
              
            if(self.itemInput.ItemID.trim() === "" && self.itemInput.PrimaryInformation.ShortDescription.trim() === "" && 
                       self.itemInput.PrimaryInformation.ProductLine.trim() === "" ){
               self.highlightinput();
                
            }
            else{  
                var success = function(result) {
                     self.gridData = result.Item  
                     self.apierror= false
                     self.showMask = false
                }
                 var errorHandler = function(errorObj) {
                      self.apierror = true
                      self.showMask = false
                      setTimeout(function(){self.apierror=false},Utils.getTimeOut())
                      self.errorcode = errorObj.ErrorCode
                      self.errordesc = errorObj.ErrorDescription

                }
                 self.showMask = true
                  self.clearinput();
                  Utils.executeDataService("fetchItemList",success,this.itemInput, errorHandler)
             }
            
               
          }
            
            GridUtils.clearMetaPagination(this.gmeta, this.columns);
        },
        add:function(address){
            var self=this;
         
           
            for(var i=0; i< this.SelectItem.length; i++){
               
              var obj= {}
              for(var j=0; j<this.gridData.length;j++){
               
                  if(this.gridData[j].ItemID === this.SelectItem[i].split('||')[0] &&
                     this.gridData[j].UnitOfMeasure ===  this.SelectItem[i].split('||')[1] ){
                      obj=this.gridData[j]
                  }
              } 
              
            /*var obj= []  
              obj = this.$options.filters.gridfilter(this.gridData, Search, ['ItemID'],[]); */
                 
               var temp = {'PrimeLineNo':'','SubLineNo':1,'OrderedQty':'','ShipNode':'','ReceivingNode':'','ShipToID':'','ReqShipDate':'',
                           'Item':{ 'ItemID':'','UnitOfMeasure':'','ItemShortDesc':'' },
                                'Extn':{'PriorityCode':'','Division':'','CustomerKey':'','Contact':''},
                                'PersonInfoShipTo':{},
                                'framework':{} 
                       }
         
               temp.Item.ItemID= obj.ItemID
               temp.Item.ItemShortDesc= obj.PrimaryInformation.ShortDescription
               temp.Item.UnitOfMeasure= obj.UnitOfMeasure
               
               temp.framework= {'isNew':'','ReqDeliveryDate':'','ShipFromFirstName':'','ShipFromState':'','ShipFromZipCode':'','ShipFromCity':''
                                ,'ShipFromCustomerID':'','CustomerID':'',
                                'isChanged': false}

               if(this.orderobj) {
                   temp.framework.ReqDeliveryDate=this.orderobj.SelectedReqDate
                   temp.framework.isNew = true
                   temp.Extn.PriorityCode=this.orderobj.Priority;
                   temp.Extn.Division=this.orderobj.Division
                   if(this.orderobj.OrderDet && this.orderobj.OrderDet.SearchCriteria2){
                      temp.Extn.Contact=this.orderobj.OrderDet.SearchCriteria2    
                   }
                   
               }
                
               self.itemList.push(temp)
            }
            self.addsuccess= true;
            setTimeout(function(){self.addsuccess=false}, Utils.getTimeOut())
           
        },
        close:function(){
            
            var self= this
            //Event handled in LineDetailsTpl.vue
            this.$dispatch('ItemSearchCatch', self.itemList);
            
            this.gridData.splice(0)
            this.SelectItem.splice(0)
            this.itemList.splice(0); 
            this.addsuccess= false;
          
        },
        getValue: function(row, binding) {
          return Utils.getValue(row,binding)
        },
        setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
        },
        sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
        },
         getAPIErrorMessage: function() {
		  return Utils.getAPIErrorMessage();
	    }, 
  
        highlightinput: function(){
             var self=this  
             self.iteminperror= true
             
            $("#itemid").css("border-color","red");
            $("#itemdesc").css("border-color","red");
            $("#materialgroup").css("border-color","red"); 
            
        },
        clearinput: function(){
            var self= this
            $("#itemid").css("border-color","#ccc")    
            $("#itemid").focus(function() {
            $(self).css("border-color","#66afe9") 
            });	

            $("#itemdesc").css("border-color","#ccc")    
            $("#itemdesc").focus(function() {
            $(self).css("border-color","#66afe9") 
            });	

            $("#materialgroup").css("border-color","#ccc")    
            $("#materialgroup").focus(function() {
            $(self).css("border-color","#66afe9") 
            });	
            self.iteminperror=false;
        },
        validateInput: function(){
             var self= this
            
             if(self.itemInput.ItemID.trim() === "" && self.itemInput.PrimaryInformation.ShortDescription.trim() === "" && 
                       self.itemInput.PrimaryInformation.ProductLine.trim() === "" ){
               self.highlightinput();
            }
            else{
                self.clearinput();
            }
        }    
    },
        
     computed: {
       
          totalPages: function() {
            return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
          }
         
    },    

    /* This event invokes getATP and getItemDetails APIs to populate supply distribtion for a
      a selected Supply Type on the Pie chart. Both Over all and node lavel*/    
    beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
    },
     validators:{
        customMaxValidator:function(val){
            return /^([1-9]\d*)$/.test(val);
        }  
          
     },              
       
    watch: {

        SelectItem: function(oldvalue,newValue){
             
              if((oldvalue.length) != (newValue.length)){
                  this.manualTrigger=true;
                  this.checkAllItems=false;
              }                         
       },
            
       checkAllItems: function(newValue){
             
                if(newValue){    
                   var classNames = document.getElementsByClassName('filtercheckbox');
                   this.checkAll=true;
                   this.manualTrigger=false;
               
                   this.SelectItem.splice(0);
                   for (var i=0; i<classNames.length; i++){
                     this.SelectItem.push(classNames[i].value);   
                   }
                 
                } else if(!this.manualTrigger) {
                    
                       this.checkAll=false;
                       this.SelectItem.splice(0);
                    
                } else {
                    this.manualTrigger=false;
                }
        }
     
     }
   // Chart re-vamp code end

    }

    </script>


