<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
This component is used in Create Order to lookup Cost Centers
     ***************************************************************************-->




<template>
<div>
 <div>
     <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="">Search Cost Center</h4>
          </div>
     <validator name="costCenterValidation"> 
      <form id="serachItem" method="post" v-on:submit.stop.prevent="search()" novalidate>
          <div class="modal-body address-modal-bodys-sear">
             <div class="row"> 
             <div class="form-group col-md-6">
  <label for="exampleInputEmail1">Cost Center Code</label>
   <input type="text" class="form-control " placeholder="Cost Center Code" v-model="costCenterInput.OrgCode" title="Cost Center Code">
   </div>
   
    <div class="form-group col-md-6">
 
  <label for="exampleInputEmail1">Maximum Records Fetched</label>
   <input type="number" id="costcentermaxrecords" class="form-control " placeholder="Maximum Records" value="100" v-model="costCenterInput.MaximumRecords" min="1" max="500" v-validate:costcentermaxrecords="{ required:true, min: 1, max: 500, customMaxValidator:true }" title="Maximum Records">
    <span class="help-block" v-if="$costCenterValidation.costcentermaxrecords.required || $costCenterValidation.costcentermaxrecords.min || $costCenterValidation.costcentermaxrecords.max  || $costCenterValidation.costcentermaxrecords.customMaxValidator ">{{getMessage('MAX_RECORDS') }}</span> 
        
   </div>   
            
            <div class="clearfix"></div>
           <div class="form-group col-md-4">

    <button type="submit" id="SearchSubmit" class="btn btn-primary btn-block" title="Search">
                                        Search
                                    </button>
       
   </div>      
                  </div>
       </div>
          
          
              
     </form>  
</validator>         
       
              
                      <div class="col-md-12 well-sm ">
<h5>Search Result</h5>
<div class="divider"></div>

    <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
         <thead>
            <tr role="row">
                   <th></th>
                   <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrgCode')" :class="{active: gmeta.sort.key == 'OrgCode'}" >Cost Center Code    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrgCode'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                       </th>
                     </tr>
         </thead>
         <tbody>
               <tr>
                <td class="center-filter">
                        <div class="glyphicon glyphicon-filter"></div>
                    </td>                                                          
                    <td> <input type=text class="form-control" v-model="gmeta.filter.OrgCode" title="Enter Cost Center Code"> </td>
              </tr>
               <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in gridData 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                | gridfilter gmeta.filter columns datecolumns
                                | paginate " >
                     <td> 
                         <input type="radio" value='{{getValue(row, "OrgCode")}}' v-model="SelectedItem" /></td>
                       <td>  {{getValue(row, "OrgCode")}}     </td>
                </tr>
         </tbody>
    </table>
    <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >

</div>
              
          </div>
   
       <div class="clearfix"></div>
          <div class="modal-footer">
          <button type="submit" class="btn btn-default" v-on:click="add()" data-dismiss="modal" title="Add">Add</button>
            <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" title="Close" >Close</button>
          </div>
       
    </div>
    </template>
    <script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
    var VueValidator = require('vue-validator')
    Vue.use(VueValidator)
    export default {

     props: {
        itemid:String
       },    


    data: function () {
        
        var costCenterInput ={
         'OrgCode':'','MaximumRecords':''    
        }
       
        var SelectedItem = ''
        var columns =[ 'OrgCode']
        var gmeta = {}
        var showMore =false
        GridUtils.populateGridMeta(gmeta, columns, false)
        var gridData = [];
        var showMore =false;
        
      return {
          costCenterInput:costCenterInput,
          columns:columns,
          gmeta:gmeta,
          gridData:gridData,
          SelectedItem:SelectedItem,
      }

    },
        
    ready: function(){
    },

    route: {
        data: function (transition) {
            
        }
    },
    
    filters: {
	   	paginate: function(list) {
            return GridUtils.paginate(this.gmeta,list)
	   	   }
    },

    methods: {
          getMessage: function(errorMessageId) {
            return Utils.getErrorMessage(errorMessageId)      
          },        
      
        search:function(){
          if(this.$costCenterValidation.valid){  
            
                var self=this
                var success = function(result) {

                self.gridData = result.CostCenter

                }
                Utils.executeDataService("getCostCenterList",success,this.costCenterInput)
          }
        },
        add:function(){
            var self=this;
            self.$dispatch('CostCenterCatch',self.SelectedItem)
        },
        getValue: function(row, binding) {
          return Utils.getValue(row,binding)
        },
        setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
        },
        sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
        },
     
    },
        
     computed: {
       
          totalPages: function() {
            return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
          }
         
    },    

    beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  },
     validators:{
        customMaxValidator:function(val){
            return /^([1-9]\d*)$/.test(val);
        }  
          
     },        
    watch: {
        
      }
    }

    </script>


