<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component displays overall supply distribution for a selected supply type 
        on the Supply pie chart. This also displays the supply distribution for a selected node 
        and supply type. This is a sub component supply type quantity distribution Pie chart.
     ***************************************************************************-->




<template>
 <div>
     <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="">Select Address</h4>
          </div>
      <div class="block"   v-if="inperror" >
                        <div class="alert alert-info" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                           Enter either one of highlighted fields before searching
                        </div>

          </div>
      <form id="serachAddress" method="post" v-on:submit.stop.prevent="search()">
          <div class="modal-body address-modal-bodys-sear">
              
             <div class="form-group col-md-3">
  <label for="exampleInputEmail1">Address Code / Search Term A</label>
   <input type="text" id="dac" class="form-control " placeholder="Delivery Address Code" v-model="addressInput.CustomerID">
   </div>
    <div class="col-md-3 ">
   <div class="row">
        <div class="form-group col-xs-6">
          <label for="exampleInputEmail1">Name</label>
           <input type="text" class="form-control " id="firstname" placeholder="First Name" v-model="addressInput.Consumer.BillingPersonInfo.FirstName" autocomplete="off">
          </div>   
       <div class="form-group col-xs-6">
        <label for="lastname"><br/></label>
          <input type="text" class="form-control " id="lastname" placeholder="Last Name" v-model="addressInput.Consumer.BillingPersonInfo.LastName">
        </div>
      </div>
   </div>          
    
    <div class="form-group col-md-3">
  <label for="exampleInputEmail1">Suburb</label>
   <input type="text" class="form-control " id="city" placeholder="Suburb" v-model="addressInput.Consumer.BillingPersonInfo.City">
   </div>
   <div class="form-group col-md-3">
  <label for="exampleInputEmail1">State</label>
   <input type="text" id="state" class="form-control " placeholder="State" v-model="addressInput.Consumer.BillingPersonInfo.State">
   </div> 
  
              <div v-show="showMore">
     
   <div class="form-group col-md-3">
  <label for="exampleInputEmail1">Postal Code</label>
   <input type="text" id="zipcode" class="form-control " placeholder="Postal Code" v-model="addressInput.Consumer.BillingPersonInfo.ZipCode">
   </div>
     <div class="form-group col-md-3">
  <label for="exampleInputEmail1" >Country</label>
   <input type="text" id="country" class="form-control " placeholder="Country" v-model="addressInput.Consumer.BillingPersonInfo.Country">
   </div> 
    <div class="form-group col-md-3">
  <label for="exampleInputEmail1">Maximum Records Fetched</label>
   <input type="number" class="form-control " placeholder="Maximum Records" value="100" v-model="addressInput.MaximumRecords" min="1" max="500">
   </div>   
                  </div>

<div class="clearfix"></div>
       
                                     <div class="col-md-2 col-sm-6 pad-left-10 pull-right">
                                    <button type="submit" class="btn btn-primary btn-block" title="Search">
                                        Search
                                    </button>
                                </div>
                                <div class="pad-left-10 pull-right">

        <a href="javascript:void(0)" class="moreOption" @click="showMore = !showMore" v-if="!showMore" title="Show more">Show more</a>
        <a href="javascript:void(0)" class="moreOption" @click="showMore = !showMore" v-if="showMore" title="Show less">Show less</a>
       </div>
                  <div class="col-md-12 well-sm ">
<h5>Search Result</h5>
<div class="divider"></div>

    <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
         <thead>
            <tr role="row">
                   <th>Select</th>
                   <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('CustomerID')" :class="{active: gmeta.sort.key == 'CustomerID'}" >CustomerID    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['CustomerID'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                       </th>
                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Consumer.BillingPersonInfo.FirstName')" :class="{active: gmeta.sort.key == 'Consumer.BillingPersonInfo.FirstName'}" >FirstName    
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Consumer.BillingPersonInfo.FirstName'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                       </th>
                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Consumer.BillingPersonInfo.City')" :class="{active: gmeta.sort.key == 'Consumer.BillingPersonInfo.City'}" >City   
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Consumer.BillingPersonInfo.City'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                        </th>
                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Consumer.BillingPersonInfo.DayPhone')" :class="{active: gmeta.sort.key == 'Consumer.BillingPersonInfo.DayPhone'}" >DayPhone 
                                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Consumer.BillingPersonInfo.DayPhone'] > 0 ? 'sort-up' : 'sort-down'">
							             </span>
                         </th>
            </tr>
         </thead>
        <tbody v-if="showMask" class="table-spinner"><tr class="loader"></tr></tbody>   
         <tbody v-if="!showMask">
               <tr></tr>
             <tr >
                                            <th class="center-filter">
                                                <div class="glyphicon glyphicon-filter" title="Filter"></div>
                                            </th>
                                           
                                            <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.CustomerID" title="Enter Customer ID">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.Consumer.BillingPersonInfo.FirstName" title="Enter the First Name">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.Consumer.BillingPersonInfo.City" title="Enter the City">
                                            </td>
                                           
                                            <td>
                                                <input type="text" class="form-control" v-model="gmeta.filter.Consumer.BillingPersonInfo.DayPhone" title="Enter the DayPhone">
                                            </td>
                                           
                                        </tr>
               <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                                v-for=" row in gridData 
                                | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                                | gridfilter gmeta.filter columns datecolumns
                                | paginate " >
                     <td> 
                         <input type="radio" value='{{getValue(row, "CustomerID")}}' v-model="SelectAddress" /></td>
                      <td>   {{getValue(row, "CustomerID")}}     </td>
                     <td> {{getValue(row, "Consumer.BillingPersonInfo.FirstName")}}     </td>
                     <td> {{getValue(row, "Consumer.BillingPersonInfo.City")}}     </td>
                     <td> {{getValue(row, "Consumer.BillingPersonInfo.DayPhone")}}     </td>
                </tr>
         </tbody>
    </table>
    <gridpagination 
                        :gmeta="gmeta"
                        :total-pages="totalPages"
                        v-on:setpage="setPage">
                    </gridpagination >
  </div>
              
          </div>
    </form>
    <div class="clearfix"></div>
          <div class="modal-footer">
          
            <button type="button" class="btn btn-default SecondaryBtn" v-on:click="add()" data-dismiss="modal">Close</button>
          </div>
       
    </div>
    </template>
    <script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')

    export default {

     props: {
        type:String
       },    


    data: function () {
        
        var addressObject={};
        var addressList=[];
        var inperror=false;
        var addressInput={
            'Consumer': {
                    'BillingPersonInfo':{
                            'AddressID':'', 
                             'City' :'',
                            'Country':'',
                            'FirstName':'',
                            'LastName':'',
                            'ZipCode':'', 
                            'PersonID':'',
                            'State':''
           }
        } 
       }

       var showMask = false 
       var columns =[ 'CustomerID','Consumer.BillingPersonInfo.FirstName','Consumer.BillingPersonInfo.City','Consumer.BillingPersonInfo.DayPhone']
       var gmeta = {}
       var showMore =false
       GridUtils.populateGridMeta(gmeta, columns, false)
       var gridData = [];
       var SelectAddress=[];
       var DispatchAdress = {};
       var showMore =false;
        
      return {
        addressObject:addressObject,
          addressList:addressList,
          addressInput:addressInput,
          columns:columns,
          gmeta:gmeta,
          gridData:gridData,
          SelectAddress:SelectAddress,
          DispatchAdress:DispatchAdress,
          showMore:showMore,
          inperror:inperror,
          showMask:showMask
          
      }

    },
        
    ready: function(){
            var self=this  
            this.SelectAddress.length=0;
     },

    route: {
        data: function (transition) {
   
        }
    },
    
    filters: {
	   	paginate: function(list) {
            return GridUtils.paginate(this.gmeta,list)
	   	   }
    },

    methods: {
      
        search:function(){
           var self=this
          
           if( self.addressInput.Consumer.BillingPersonInfo.City === "" && self.addressInput.Consumer.BillingPersonInfo.State  === "" && self.addressInput.Consumer.BillingPersonInfo.ZipCode=== "" && self.addressInput.CustomerID  === undefined  ){
                 self.inperror= true
                 self.highlightinput();      
            }
           
           else    {
                        var success = function(result) {
                 var list1= result.Customer

                                                 if(!list1) {
                                                      list1 = []
                                                  }
                                                  if(!(list1.constructor === Array)) {
                                                        list1 = []
                                                        list1.push(result.Customer)                        
                                                  }
                                                  self.addressList= list1
                                                  self.gridData= self.addressList
                                                  self.inperror= false
                                                  self. clearinput();
                                                  self.showMask=false
                                                   }
                                      if(self.addressInput.Consumer.BillingPersonInfo.FirstName){
                                         var upperFirstName = self.addressInput.Consumer.BillingPersonInfo.FirstName.toUpperCase();
                                                self.addressInput.Consumer.BillingPersonInfo.FirstName = upperFirstName;
                                      }
                                        if(self.addressInput.Consumer.BillingPersonInfo.LastName){
                                             var upperLastName = self.addressInput.Consumer.BillingPersonInfo.LastName.toUpperCase();
                                                self.addressInput.Consumer.BillingPersonInfo.LastName= upperLastName;
                                      }
                                      if(self.addressInput.Consumer.BillingPersonInfo.City){
                                                var upperCity = self.addressInput.Consumer.BillingPersonInfo.City.toUpperCase();
                                                self.addressInput.Consumer.BillingPersonInfo.City = upperCity;
                                    }
                                        if(self.addressInput.Consumer.BillingPersonInfo.State){
                                                var upperState = self.addressInput.Consumer.BillingPersonInfo.State.toUpperCase();
                                                self.addressInput.Consumer.BillingPersonInfo.State = upperState;
                                    }
                                        if(self.addressInput.Consumer.BillingPersonInfo.Country){
                                                var upperCountry = self.addressInput.Consumer.BillingPersonInfo.Country.toUpperCase();
                                                self.addressInput.Consumer.BillingPersonInfo.Country = upperCountry;
                                    }
                                     if(self.addressInput.CustomerID != undefined && self.addressInput.CustomerID != "") {
                                           var customerIdExp = {'Name':'CustomerID','QryType':'LIKE','Value':''}
                                           var customerKeyExp = {'Name':'CustomerKey','QryType':'LIKE','Value':''}
                                           customerIdExp.Value= self.addressInput.CustomerID
                                           customerKeyExp.Value= self.addressInput.CustomerID
                                           if(!self.addressInput.ComplexQuery) {
                                                self.addressInput.ComplexQuery = {}
                                                self.addressInput.ComplexQuery.Operator = 'AND'
                                                self.addressInput.ComplexQuery.Or = {}
                                                self.addressInput.ComplexQuery.Or.Exp = []
                                           }
                                          self.addressInput.ComplexQuery.Or.Exp.push(customerIdExp);
                                           self.addressInput.ComplexQuery.Or.Exp.push(customerKeyExp);
                                      } else {
                                           Vue.delete(self.addressInput,'ComplexQuery');
                                     }
                                     //cloning addressInput so as to delete the CustomerID
                                   var clonedAddressInput = JSON.parse(JSON.stringify(self.addressInput))
                                   Vue.delete(clonedAddressInput,'CustomerID');
                                   //Resetting the currently selected values on Search
                                   self.SelectAddress.splice(0)
                                  
                                  Utils.executeDataService("getCustomerSearchList",success,this.addressInput)
                                  self.showMask=true
           }
        },
        add:function(address){
            var self=this;
            if (self.DispatchAdress[0])
                    {
                    self.DispatchAdress[0].Type=self.type;
                    self.$dispatch('AddressSearchCatch',self.DispatchAdress[0])
                    }
        },
       getValue: function(row, binding) {
          return Utils.getValue(row,binding)
        },
        setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
        },
        sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta, key, numeric)
        },
        getAddressDetail: function(){
            var Search = [];
            Search['CustomerID'] = this.SelectAddress
            this.DispatchAdress = this.$options.filters.gridfilter(this.gridData, Search, ['CustomerID'],[]);
        },
        highlightinput: function(){
            var self=this  
            $("#city").css("border-color","red");
            $("#state").css("border-color","red");
            $("#zipcode").css("border-color","red"); 
            $("#dac").css("border-color","red"); 
            self.invinperror= true  
      },
      clearinput: function(){
            var self= this
            $("#city").css("border-color","#ccc")    
            $("#city").focus(function() {
            $(self).css("border-color","#66afe9") 
            });	

            $("#state").css("border-color","#ccc")    
            $("#state").focus(function() {
            $(self).css("border-color","#66afe9") 
            });	

            $("#zipcode").css("border-color","#ccc")    
            $("#zipcode").focus(function() {
            $(self).css("border-color","#66afe9") 
            });	
            
            $("#dac").css("border-color","#ccc")    
            $("#dac").focus(function() {
            $(self).css("border-color","#66afe9") 
            });	
            self.invinperror=false;
      }
    },
        
     computed: {
       
          totalPages: function() {
            return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
          }
         
    },    

    /* This event invokes getATP and getItemDetails APIs to populate supply distribtion for a
      a selected Supply Type on the Pie chart. Both Over all and node lavel*/    
    beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  },
    watch: {
      'SelectAddress' : 'getAddressDetail'
     }
   // Chart re-vamp code end

    }

    </script>

