<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!--***************************************************************************
Component Name : SendVendorEmail
Description : This vue is used as a modal in Order details screen to send mail to the vendor contact.
This vue renders the list of contacts on selection which the email is populated. The list of mail templates configured in common
code list is shown on selection of which the text content is rendered and shown to the user.
On click of Send the mail is sent to the user.
*************************************************************************** -->
<template>
<div>
	
    <div class="modal-header" v-if="orderdetails && orderdetails.length>0" >
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="cancel()" :disabled="getsubmitstat()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="">Send Mail for Order No {{orderdetails[0].OrderNo}}</h4>       
    </div>
   <form id="vendormail" >
    <div class="modal-body address-modal-body">
        
         <div class="row">
                   
            <div class="col-md-12" >
                <div class="alert alert-info" v-show="emailsuccess">
                    <button type="button" class="close" aria-label="Close" @click="emailsuccess=!emailsuccess" >&times;</button>
                    <strong>  Message Title:</strong> Email request has been sent. Email will be delivered and a comment will be added to the order when the email is sent </div>
                <div class="alert alert-danger" v-show="apierror">
                    <button type="button" class="close" aria-label="Close" @click="apierror=!apierror" >&times;</button>
                    <strong>  API Error:</strong> {{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}
                </div>
            </div>
        </div>
        <div class=" row SentmailContainer">                   
                                 <div class="form-group">
    <label class="col-sm-3 control-label">From Email Address</label>
    <div class="col-sm-9">
     <input type="text" class="form-control"  id="fromEmailid"  name="fromEmailid" placeholder="example@example.com"                              v-model="fromEmail" required autocomplete="off"  />
                                         <p class="help-block" v-show="fromemailerror" >Please Enter Valid From Email Address</p>
    </div>
  </div>
  <div class="clearfix"></div>
<br>
    <div class="form-group ">
    <label class="col-sm-3 control-label">Vendor Contact ID</label>
    <div class="col-sm-9">
         <select class="form-control" v-model="vendorCon.EmailID"
                                          id="selvendorcontact">
                                         
                                     <option value={{vendorCon.EmailID}} v-for="vendorCon in vendorcontactlist">
                                        {{vendorCon.VendorContactID}}</option> 
                                    
                                    </select>
    </div>
  </div>
  <div class="clearfix"></div>
<hr>
 <div class="form-group">
    <label class="col-sm-3 control-label">To Email Address</label>
    <div class="col-sm-9">
         <input type="text" class="form-control"  id="toEmailid" name="toEmailid" placeholder="example@example.com" 
                                               v-model="vendorCon.EmailID" required autocomplete="off"/>
                                      <p class="help-block" v-show="toemailerror" >Please Enter Valid To Email Address</p>
    </div>
  </div>
  <div class="clearfix"></div>
<br>
    <div class="form-group ">
    <label class="col-sm-3 control-label">Template</label>
    <div class="col-sm-9">
            <select class="form-control" v-model="mailTemplate" v-on:change="onSelectTemplate(mailTemplate)" id="mailtemp"  >
                                         
                                     <option v-for="mailTemplate in mailtemplatelist" v-bind:value="mailTemplate">
                                             {{mailTemplate.CodeName}}</option> 
                                    
                                    </select>
                                    
                                     <p class="help-block" v-show="mailtemperror" >Please select a template from the drop down list</p>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<br>
     
     <div class="clearfix"></div>
	
         <div class="panel panel-default m-t-10">
            
                    <div class="panel-heading clearfix panel-alert-heading">
                        <div class="i-block pull-left">Mail Content</div>
                        
                    </div>
                    <div class="clearfix"></div>
                    <div class="panel-body">
                        <div class="noteBody" >
                      <textarea class="form-control Comments" rows="9" id="mailContent" v-model="mailContent"></textarea>
                           
                        </div>
                        
                    </div>
          
                         <p class="help-block" v-show="mailbodyerror" >Message body can not be left blank</p>
                     
                </div>               
        </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" v-on:click="sendMail()" id='validate' :disabled="getsubmitstat()">Send</button>
      <!--  <button type="button"  v-else class="btn btn-default" id='validate' data-dismiss="modal" disabled>Send</button>  -->
        <button type="button" class="btn btn-default SecondaryBtn" data-dismiss="modal" v-on:click="cancel()" :disabled="getsubmitstat()">Close</button>
    </div>   
</form>
</div>
</template>
<script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    
    export default{
        
        ready: function ready () {
              var self = this  

            $("#fromEmailid").on('change',function(){
                  
                    if(self.checkfromEmail()){
                       self.fromemailerror=true 
                     }
                     else{
                         self.fromemailerror=false
                     }
                    
                });  
            
             $("#toEmailid").on('change',function(){
                 
                 self.toEmail=self.vendorCon.EmailID
                    if(self.checkEmail()){
                         self.toemailerror=true                         
                     }
                     else{
                         self.toemailerror=false                             
                     }                    
                }); 
       },
        
        props: {
            orderdetails: Array,
            vendorcontactlist: Array,
            mailtemplatelist: Array
        },

        data: function () { 
		
            var mailTemplateList =[]
            var statusList =[]
	           var toemailerror = false; 
               var fromemailerror = false;
               var mailsubjecterror = false; 
               var mailtemperror = false;
               var mailbodyerror = false
               var emailsuccess = false                 
               var subbtn= false;     
            
               var errorcode
               var errordesc
               var apierror=false
            
              var mailInput= {"OrderNo":"", "OrderHeaderKey":"", 
                    "SellerOrganizationCode":"","ContactUser": "",
                    "EnterpriseCode":"", MessageDetail:"",
                        "SendMail":{ 
                            "MessageHeader": {
                       //     "FailureEmailAddress":"",    
                            "FromAddress":"", 
                            "SubjectText":"",
                                "ToAddresses":{ 
                                    "ToAddress": [{"EmailID":""} ]

                                }
                            }                            
                    }
          }
            
            var fromEmail = window.AppInfo.emailid;    
            var mailContent="";
			var toEmail="";
            var mailTemplate={}    
            var vendorCon = {"EmailID":"" , "VendorContactID":""} 
            
            return {
                
				mailTemplateList:mailTemplateList,
				statusList:statusList,
                fromEmail:fromEmail,
				toEmail:toEmail,
				mailContent:mailContent,
				mailInput:mailInput,
                mailTemplate:mailTemplate,
                subbtn:subbtn,
                
                errorcode:errorcode,
                errordesc:errordesc,
                apierror:apierror,
                
                toemailerror: toemailerror,
                fromemailerror:fromemailerror,
                mailsubjecterror:mailsubjecterror,
                mailtemperror:mailtemperror,
                emailsuccess: emailsuccess,
                mailbodyerror:mailbodyerror,
                vendorCon:vendorCon,
                
            }
        },
		
        methods: {	  
       
         cancel: function() {
            this.fromemailerror = false;  
            this.toemailerror = false;
            this.mailsubjecterror = false; 
            this.mailtemperror = false
            this.mailbodyerror = false
            this.emailsuccess = false
            this.apierror = false
            this.mailTemplate = {} 
            this.vendorCon = {"EmailID":"" , "VendorContactID":""}  //EmailID   VendorContactID
            this.toEmail=""
            this.mailInput.SendMail.MessageHeader.SubjectText=""
        
         //   $('selvendorcontact').empty();
        
            document.getElementById("toEmailid").value="";
            document.getElementById("mailContent").value="";
            this.fromEmail = window.AppInfo.emailid; 
             
            this.$dispatch('cancel')
         },
        
         getsubmitstat: function(){
                return this.subbtn;         
         },    
        
         getAPIErrorMessage: function() {
		        return Utils.getAPIErrorMessage();
	     },    
        
        //send mail to the vendor  
         sendMail: function() {
             
             
           var self = this; 
                     
           var text = document.getElementById('mailContent').value.replace(/<br[^>]*>/g, "\n");
           var emailAdd = self.vendorCon.EmailID; 
             
             if(self.fromEmail === null || self.fromEmail.trim() === "" || self.checkfromEmail()){  
                    self.fromemailerror = true;              
	 	            document.getElementById("fromEmailid").focus();         
             }             
             else if( emailAdd === null || emailAdd.trim() === "" || self.checkEmail()){
                   self.toemailerror = true;    
				   document.getElementById("toEmailid").focus();
             }            
             else if(self.mailInput.SendMail.MessageHeader.SubjectText === null ||                 self.mailInput.SendMail.MessageHeader.SubjectText.trim()===""){
                self.mailtemperror=true               
             }  
             else if(text === null || text.trim() === ""){  
                    self.mailbodyerror = true;    
			        document.getElementById("mailContent").focus();     
             }
             else  {
                   self.subbtn=true
                   self.apierror= false 
                   //Changing to Order Name (Source ID) instead of OrderNo
                   self.mailInput.OrderNo= self.orderdetails[0].OrderName;
                   self.mailInput.SellerOrganizationCode= self.orderdetails[0].SellerOrganizationCode;                     
                   self.mailInput.ContactUser= window.AppInfo.loginid;
                   self.mailInput.EnterpriseCode= self.orderdetails[0].EnterpriseCode;
                 
                   //From  and Failure emails are set to From Email currently. This needs to be enabled after backend code change (line 170/279)
                   self.mailInput.SendMail.MessageHeader.FromAddress = self.fromEmail; 
                   //  self.mailInput.SendMail.MessageHeader.FailureEmailAddress = self.fromEmail ;
                 
                   self.mailInput.SendMail.MessageHeader.ToAddresses.ToAddress[0].EmailID =emailAdd;
                   self.mailInput.MessageDetail = text;
                   self.mailInput.OrderHeaderKey = self.orderdetails[0].OrderHeaderKey
                   
                   self.mailbodyerror=false            
           
		          var success = function(result) {
                      
                         self.toEmail=""
                         self.mailInput.SendMail.MessageHeader.SubjectText=""
                       
                         self.mailTemplate = {} 
                         self.vendorCon = {"EmailID":"" , "VendorContactID":""}  //EmailID   VendorContactID

                        document.getElementById("toEmailid").value="";
                        document.getElementById("mailContent").value=""; 
                        self.subbtn=false
                      
                        self.emailsuccess=true
                        setTimeout(function(){self.emailsuccess=false},Utils.getTimeOut())
             
				  }
                  var errorHandler = function(errorObj) {
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                  self.subbtn=false
                  
                  } 
					
			    Utils.executeDataService("sendEmail", success, self.mailInput, errorHandler);  
             }			
		
          },                
      
		 checkEmail : function(){
			var self = this;
			var emailAdd = self.vendorCon.EmailID;
             			
                if(emailAdd!=null && emailAdd.trim()!=""){
                 var posOfAt = emailAdd.indexOf("@");
                var posOfDot = emailAdd.lastIndexOf(".");
                if (posOfAt<1 || posOfDot<posOfAt+2 || posOfAt+2>=emailAdd.length || posOfDot>=emailAdd.length-1) {

                //    self.toemailerror = true;   
                //    document.getElementById("toEmailid").value="";
                    document.getElementById("toEmailid").focus();
                    return true;
                }
                else{
                    return false;
                }
            }
             else{
                 return true; 
             }
             
		 },
            
        checkfromEmail : function(){
			var self = this;
			var emailAdd = self.fromEmail;			
			
	    	var posOfAt = self.fromEmail.indexOf("@");
			var posOfDot = self.fromEmail.lastIndexOf(".");
			if (posOfAt<1 || posOfDot<posOfAt+2 || posOfAt+2>=self.fromEmail.length || posOfDot>=self.fromEmail.length-1) {
	 	        document.getElementById("fromEmailid").focus();
	 	        return true;
	 	    }
            else{
	 	    	return false;
	 	    }
	    
		 }, 
		  
		 onSelectTemplate: function(mailTemplate) {
             var self = this;
             self.mailtemperror=false     

             self.mailInput.SendMail.MessageHeader.SubjectText=self.mailTemplate.CodeLongDescription +" " + self.orderdetails[0].OrderName; 

             $.ajax({
            url: window.AppInfo.contextroot + "/" + self.mailTemplate.CodeValue}).done(function(data){
            self.mailContent = data;

                });
            }
         },
  	
        beforeDestroy: function() {
            $(this.$el).remove();
            $(this.$el).removeData();
        }
        
       
}

</script>
