<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying list of shipments based on specified search criteria
     ***************************************************************************-->


<template>

<div>

             <div class="container-fluid CustomHgt">
      <div class="row ">
          
         <div class="col-md-4">
                <div v-breadcrumb="true"></div>
            </div>
       
      </div>
             </div>
       <div class="container-fluid" cz-shortcut-listen="true">
              <div class="block  clearfix">
        <div >
                <div class="alert alert-danger alert-dismissible" role="alert" v-if="apierror">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}} 
          </div>
       </div>
      <h5 class="pull-left">Shipments</h5>
    
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
            <div class="col-md-5  cal-box">
                                    Show
                                    <select class="select-style form-control">
                                        <option selected="All">All</option>
                                    </select>
                                    <button class="btn btn-default filter-panel-btn" @click="showSearch = !showSearch" title="Advance search">
                                        <div class=""><i class="fa fa-search-plus" aria-hidden="true"></i></div>
                                    </button>
                                </div>
        <!-- TODO Export as CSV to be included in Phase 2 -->  
        <!--   <div class="pull-right">
<div class="btn-group">
          <button type="button" class="btn btn-default Exportbtn btn-sm dropdown-toggle" data-toggle="dropdown" title="Export the data" >
            <i class="fa fa-sign-out fa-rotate-90"></i>
          </button>
          <ul class="dropdown-menu Exportmenu" role="menu">
            <li><a href="#">Export Excel CSV (all fields)</a></li>
            <li><a href="javascript:void(0);">Export Excel CSV (Current fields)</a></li>
          </ul>
        </div>
</div> -->

        </div> 
        <!-- Shipment advanced search  -->
         <validator name="formvalidationShipment">
          <form  v-if="showSearch" v-on:submit.prevent.stop="shipmentSearch" novalidate>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="adavanceSearch">Advanced Search
    <span class="pull-right">  <button type="button" class="btn btn-primary SecondaryBtn Clearbtn" title="Clear" v-on:click="resetAll()">
                                        Clear Form
                                    </button></span></h4>
                                           <div class="form-group col-md-3">
                                                            <label for="shipmentno">Shipment Number</label>
                                                            <input type="text" id="shipmentno" class="form-control" placeholder="Shipment Number" v-model="shipmentSearchModel.ShipmentNo" autocomplete="off"
                                                            title="Enter the unique identifier of the shipment" >
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="orderno">Order Number</label>
                                                            <input type="text" id="orderno" class="form-control" placeholder="Order Number" v-model="shipmentSearchModel.OrderNo" autocomplete="off" title="Enter the Sterling Order Number associated with the shipment" >
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="sourceid">Source ID</label>
                                                            <input type="text" id="sourceid" class="form-control" placeholder="Source ID" v-model="shipmentSearchModel.ShipmentLines.ShipmentLine.Order.OrderName" autocomplete="off" title="Enter the Source System Order Number associated with the shipment" >
                                                        </div>
                                                     <div class="form-group col-md-3">
                                                        <div class="row CusDateContainer">
                                                                <div class="col-md-6">
                                                                    <label for="statusfrom">Status (From)</label>
                                                                    <select class="form-control" id="statusfrom" v-model="shipmentSearchModel.FromStatus" placeholder="From" title="Select the status(From) of the shipment">
                                                                        <option value="">All</option>     
                                                                        <option v-for="status in statusListFinal" v-bind:value="status.Status">{{status.StatusName}}</option>
                                                                    </select>
                                                                </div>
                                                                 <div class="col-md-6">
                                                                     <label for="statusto">Status (To)</label>   
                                                                     <select class="form-control" id="statusto"  
                                                                             v-model="shipmentSearchModel.ToStatus" placeholder="To" title="Select the status(To) of the shipment"> 
                                                                         <option value="" >All</option>    
                                                                         <option v-for="status in statusListFinal| statusfilter shipmentSearchModel.FromStatus" v-bind:value="status.Status">{{status.StatusName}}</option>
                                                                    </select>
                                                                </div>
                                                        </div>
                                                    </div>
                                                     <div class="form-group col-md-3">
                                                            <label for="node">From Location</label>
                                                              <select class="form-control" id="node"  
                                                                             v-model="shipmentSearchModel.Extn.VendorShipNode" placeholder="To" title="Select the ship from location of the shipment">
                                                                         <option value="" >All</option>    
                                                                         <option v-for="node in nodeList" v-bind:value="node.ShipNode">{{node.ShipNode}}</option>
                                                             </select>
                                                            
                                                        </div>
                                                         <div class="form-group col-md-3">
                                                            <label for="ConsignmentNo">Consignment Number</label>
                                                            <input type="text" id="ConsignmentNo" class="form-control" placeholder="Consignment Number" v-model="shipmentSearchModel.TrackingNo" autocomplete="off" title="Enter the tracking/consignment number of the shipment">
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="Carrier">Carrier</label>
                                                            <input type="text" id="Carrier" class="form-control" placeholder="Carrier" v-model="shipmentSearchModel.SCAC" autocomplete="off" title="Enter the carrier of the shipment">
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="Vendor">Vendor</label>
                                                            <input type="text" class="form-control" id="Vendor" placeholder="Vendor ID/Name" v-model="shipmentSearchModel.ShipmentLines.ShipmentLine.Order.Extn.SellerName" autocomplete="off" title="Enter the unique identifier of the Vendor associated with the shipment">
                                                        </div>
                                                     <div class="form-group col-md-3">
                                                         <label for="exampleInputEmail1">Expected Date</label>
                                                        <div class="row CusDateContainer">
                                                          <div class="col-md-6">
                                                            <input type="text" class="form-control " placeholder="From Date" v-datepicker="shipmentSearchModel.FromExpectedShipmentDate" usage="datetime" timeofday="begin" autocomplete="off" title="Select the expected delivery date(From) of the shipment" id="FromExpectedShipmentDate" fieldname="ExpectedShipmentDate">
                                                            <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                                                              <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p>
                                                          </div>
                                                          <div class="col-md-6">
                                                            <input type="text" class="form-control" placeholder="To Date" v-datepicker="shipmentSearchModel.ToExpectedShipmentDate" timeofday="end" usage="datetime" autocomplete="off" title="Select the expected delivery date(To) of the shipment" id="ToExpectedShipmentDate" fieldname="ExpectedShipmentDate">
                                                            <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                                                              <p class="help-block" style="display:none">{{getMessage('INVALID_DATE') }}</p>
                                                          </div>
                                                        </div>
                                                    </div>    
                                                     <div class="form-group col-md-3">
                                                            <label for="node">Freight Booking Status</label>
                                                              <select class="form-control" id="Freight Booking Status"  
                                                                             v-model="shipmentSearchModel.Extn.LogisticsStatus" placeholder="To" title="Select the Freight Booking Status of the shipment">
                                                                         <option value="" >All</option>    
                                                                         <option v-for="status in freightBookingList" v-bind:value="status.CodeValue">{{status.CodeShortDescription}}</option>
                                                             </select>
                                                            
                                                        </div>
                                                      <div class="form-group col-md-3">
                                                            <label for="MaxRecords">Maximum Records Fetched</label>
                                                            <input type="text" class="form-control" id="maxrecords" placeholder="Maximum Records" v-model="shipmentSearchModel.MaximumRecords" autocomplete="off" min="1" max="500" v-validate:maxrecords="{required:true, min:1, max: 500, customMaxValidator:true}"  title="Enter the maximum number of records to be retrieved">
                                                         <p class="help-block" v-if="$formvalidationShipment.maxrecords.required || $formvalidationShipment.maxrecords.min || $formvalidationShipment.maxrecords.max || $formvalidationShipment.maxrecords.customMaxValidator"
>{{getMessage('MAX_RECORDS') }}</p>
                                                        </div>
                                                 </div>
                                      <div class="clearfix"></div>
              <div class="col-md-2 pad-left-20 pull-right">
                <button type="submit" class=" col-md-3 btn btn-primary btn-block"  title="Search">Search</button>
              </div>
                                   
                                </div>  
                            </form>  
    </validator>
        <div class="clearfix"></div>
      <div class="panel-body">
      <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive">
     
        <!-- Shipment List is populated in grid  -->


              <table id="example" class="table table-striped table-hover dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
              <thead>
                <tr role="row">
                     <th></th>
                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ShipmentNo')" :class="{active: gmeta.sort.key == 'ShipmentNo'}" title="Unique Identifier of the shipment">Shipment Number  
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ShipmentNo'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                   </th>    
                 <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('OrderNo')" :class="{active: gmeta.sort.key == 'OrderNo'}" title="Sterling Order Number associated with the shipment">Order Number   
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['OrderNo'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                   </th> 
                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Status.StatusName')" :class="{active: gmeta.sort.key == 'Status.StatusName'}" title="Status of the shipment">Status   
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Status.StatusName'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                   </th>
                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ShipNode')" :class="{active: gmeta.sort.key == 'ShipNode'}" title="Ship from location of the shipment">Ship Node   
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ShipNode'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                   </th>
                   <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('Containers.TotalNumberOfRecords')" :class="{active: gmeta.sort.key == 'Containers.TotalNumberOfRecords'}"  title="Number of containers in the shipment">Containers  
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['Containers.TotalNumberOfRecords'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                   </th>
                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('SCAC')" :class="{active: gmeta.sort.key == 'SCAC'}" title="Carrier of the shipment">Carrier 
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['SCAC'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                   </th>
                  <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('TrackingNo')" :class="{active: gmeta.sort.key == 'TrackingNo'}" title="Tracking/Consignment Number of the shipment">Consignment Number
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['TrackingNo'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                   </th>
                    <th tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" aria-sort="ascending"  @click="sortBy('ExpectedShipmentDate')" :class="{active: gmeta.sort.key == 'ExpectedShipmentDate'}" title="Expected delivery date of the shipment">Expected Date 
                        <span class="fa fa-sort pull-right" :class="gmeta.sort.sortorder['ExpectedShipmentDate'] > 0 ? 'sort-up' : 'sort-down'">
                        </span>
                   </th>
                    
                  <th v-if="hasPermission('GPSSPSHP0001A01')" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="" style="width: 70px;" title="Click on the symbol to track the intrasit details of the shipment">Track</th>
                </tr>
              </thead>
                  <tbody v-if="$loadingRouteData || showMask" class="table-spinner"><tr class="loader"></tr></tbody> 
              <tbody v-if="!$loadingRouteData && !showMask">
                <tr role="row" class="filter-row">
                  <td class="center-filter">
                      <div class="glyphicon glyphicon-filter"></div>
                  </td>
                  <td>
                    <input type="text" class="form-control" v-model="gmeta.filter.ShipmentNo" title="Unique Identifier of the shipment">
                  </td>
                  <td>
                    <input type="text" class="form-control" v-model="gmeta.filter.OrderNo" title="Sterling Order Number associated with the shipment">
                  </td>
                     <td>
                    <input type="text"  class="form-control" v-model="gmeta.filter.Status.StatusName" title="Status of the shipment">

                  </td>
                  <td>
                    <input type="text" class="form-control" v-model="gmeta.filter.ShipNode" title="Ship from location of the shipment">
                  </td>
                  <td>
                    <input type="text"  class="form-control" v-model="gmeta.filter.Containers.TotalNumberOfRecords" title="Number of containers in the shipment">
                  </td>
                  <td>
                      <input type="text" class="form-control" v-model="gmeta.filter.SCAC" title="Carrier of the shipment">
                  </td>
                  <td>
                    <input type="text"  class="form-control" v-model="gmeta.filter.TrackingNo" title="Tracking/Consignment Number of the shipment">
                  </td>
                  <td>
                    <input type="text"  class="form-control" v-model="gmeta.filter.ExpectedShipmentDate" title="Expected delivery date of the shipment">
                  </td>
                 
                     <td v-if="hasPermission('GPSSPSHP0001A01')" ></td>
                </tr>
                  <tr v-show="!gridData">
                        <td colspan="10" ><span class="noRecordCtrl"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 40px;"></i><br>No Results Found</span></td>
                    </tr> 
               <tr  role="row" :class="[($index % 2) > 0 ? 'even' : 'odd']" 
                      v-for=" row in gridData 
                      | gridsorter gmeta.sort.key gmeta.sort.order gmeta.sort.numeric
                      | gridfilter gmeta.filter columns datecolumns
                      | paginate " >
                      <td></td>
                      <td><a v-link="{ path:'/shipmentdetails',query:{key:row['ShipmentKey']}}"> {{getValue(row, "ShipmentNo")}}  </a>   </td>
                       <td><a v-link="{ path: '/orderdetails',query:{key:row['OrderHeaderKey'],orderNo:row['OrderNo']}}"> {{getValue(row, "OrderNo")}}  </a>   </td>
                      <td>{{getValue(row,"Status.StatusName")}} </td>
                      <td> {{getValue(row, "ShipNode")}}     </td>
                      <td> {{getValue(row, "Containers.TotalNumberOfRecords")}}     </td>
                      <td> {{getValue(row, "SCAC")}}     </td>
                      <td> {{getValue(row, "TrackingNo")}}     </td>
                     <td> {{getValue(row, "ExpectedShipmentDate")| datefilter}}     </td>
                     <td v-show="!isInTransit(row) && hasPermission('GPSSPSHP0001A01')" ><i class="fa fa-truck btn btn-primary disabled disabledCls" role="button" aria-hidden="true" title="Track Shipment"></i></td>
                    <td v-show="isInTransit(row)&& hasPermission('GPSSPSHP0001A01')" ><a v-link="{ path: '/trackconsignment',query:{key:row['ShipmentKey']}}" title="Track Shipment"><i class="fa fa-truck btn-primary " aria-hidden="true" ></i></a></td>
                    </tr>
              </tbody>
             </table>
             <div class="m-t-10">
                    <gridpagination 
                      :gmeta="gmeta"
                      :total-pages="totalPages"
                      v-on:setpage="setPage">
                    </gridpagination >
                
          </div>

        </div>
      </div>
    </div>
    </div>
      </div>

    
        <div class="modal fade" id="shipping-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
         
        </div>
      </div>
    </div>

</div>
    
</div>
</template>
<script>
    var Vue = require('vue')
    var VueValidator = require('vue-validator')
    Vue.use(VueValidator)
	var Utils = require('./../utils/utils.js')
    var GridUtils = require('./../utils/gridutils.js')
  //  var Logger = require('./../utils/loggerUtils.js')
  //  var $log = Logger.getInstance('Shipment List')
    export default{
         
	  data: function () {
     var filterKey="Y"
     var showMask=false
     //default data for shipment search
     var shipmentSearchModel = {
            'OrderNo': '',
            'ShipmentNo':'',
            'DocumentType':'',
            'TrackingNo':'',
            'SCAC':'',
            'FromStatus': '',
            'ToStatus': '',
            'FromExpectedShipmentDate': '',
            'ToExpectedShipmentDate': '',
            'MaximumRecords':'100',
            'ShipmentLines':{
                'ShipmentLine':{
                    'Order':{
                        'OrderName':'',
                          'Extn':{
                            'SellerName':''
                          }
                    } 
                }          
                    
            },
            'Extn':{
              'VendorShipNode':'',
              'LogisticsStatus':''
              }
         }
      var columns =[ 'ShipmentNo','OrderNo','Status.StatusName','ShipNode','Containers.TotalNumberOfRecords','SCAC','TrackingNo','ExpectedShipmentDate']
      var gmeta = {}
      var showSearch =true
      GridUtils.populateGridMeta(gmeta, columns, false)

       var gridData = []
       var nodeList=[]
       var statusListFinal=[]
       var datecolumns=['ExpectedShipmentDate']
        var errorcode
       var errordesc
       //var ExcelExport
       var apierror=false
       var freightBookingList=[]
        return {
           shipmentSearchModel:shipmentSearchModel,
	    	columns: columns,
	        gridData: gridData,
            gmeta:gmeta,
            showSearch:showSearch,
            nodeList:nodeList,
            statusListFinal:statusListFinal,
            datecolumns:datecolumns,
            showMask:showMask,
            errorcode:errorcode,
             errordesc:errordesc,
            // ExcelExport:ExcelExport,
             apierror:apierror,
            freightBookingList:freightBookingList
            }
      },

//initial data load
	route: {
        deactivate: function (transition) {
            if (typeof(Storage) !== "undefined") {
                sessionStorage.spShipmentSearchModel =  JSON.stringify(this.shipmentSearchModel)  
                if(transition.to.name === 'shpdtl' || transition.to.name === 'trackconsignment') {
                    sessionStorage.spShipmentResult = JSON.stringify(this.gridData)
                    sessionStorage.spOrderStatusList = JSON.stringify(this.statusListFinal)
                    sessionStorage.spnodeList = JSON.stringify(this.nodeList)
                }
            }
            transition.next() 
        },
        activate: function (transition) {
            if(transition.from.name !== 'shpdtl' && transition.from.name !== 'trackconsignment') {
                if (typeof(Storage) !== "undefined" && !(sessionStorage.spShipmentResult == undefined)) {
                    sessionStorage.removeItem('spShipmentResult')
                    sessionStorage.removeItem('spOrderStatusList')
                    sessionStorage.removeItem('spnodeList')                    
                }

            }
            transition.next() 
        },
		data: function (transition) {
                                      
                  var mashupInput={ }
                  var self=this   
                  self.showMask=false

                 var mashupInput={ 
                                     'statusShipmentAggregator':{},
                                    'getShipNodeListforShipment':{},
                                    'getfreightBookingStatus':{}
                                 }
                 var success = function(result) {
                     transition.next({
                          //  gridData :result.shipmentList.Shipment,
                           // statusListPO:result.poshipmentstatusList.Status,
                            statusListFinal:result.statusShipmentAggregator.Status,
                            nodeList:result.getShipNodeListforShipment.ShipNode,
                            freightBookingList:result.getfreightBookingStatus.CommonCode

                            })
                  }
                if (typeof(Storage) !== "undefined" && !(sessionStorage.spShipmentSearchModel == undefined) ) {
                        self.shipmentSearchModel = JSON.parse(sessionStorage.spShipmentSearchModel)  

                 }
                 
                if(transition.from.name === 'shpdtl' || transition.from.name === 'trackconsignment') {
                    if (typeof(Storage) !== "undefined" && !(sessionStorage.spShipmentResult == undefined) ) {
                        self.gridData = JSON.parse(sessionStorage.spShipmentResult)
                        self.statusListFinal = JSON.parse(sessionStorage.spOrderStatusList)
                        self.nodeList = JSON.parse(sessionStorage.spnodeList)
                        self.freightBookingList = JSON.parse(sessionStorage.spFreightBookingList)
                        sessionStorage.removeItem('spShipmentResult')
                        sessionStorage.removeItem('spOrderStatusList')
                        sessionStorage.removeItem('spnodeList')
                        sessionStorage.removeItem('spFreightBookingList')
                        self.showSearch = false
                    }
                    transition.next()
                } else {
                    Utils.executeDataService("shipmentscreenload",success,mashupInput,self.errorHandler);    
                } 
                
        }
    },

  computed: {
      totalPages: function() {
        return Math.ceil(this.gmeta['pagination']['resultCount'] / this.gmeta['pagination']['itemsPerPage'])
      }
      /*,
      statusListFinal:function(){
        return  this.statusListPO.concat(this.statusListOrder);
  
      }*/
      
    }
  ,
  filters: {
	   	paginate: function(list) {
            return GridUtils.paginate(this.gmeta,list)
	   	}
    }
  ,
  methods: {
      getValue: function(row, binding) {
          return Utils.getValue(row,binding)
       
      },

      setPage: function(pageNumber) {
          GridUtils.setPage(this.gmeta, pageNumber, this.totalPages)
      },

      formatForDisplay:function(serverDate) {
          return Utils.formatForDisplay(serverDate)
      },
       sortBy: function (key, numeric) {
          GridUtils.sortBy(this.gmeta,key, numeric)
      },
      getMessage: function(errorMessageId) {
        return Utils.getErrorMessage(errorMessageId)      
      },
      //shipmentsearch code
      shipmentSearch: function(event) {
                        
	        var self = this
            var invalidDates = $(".invalid").length
            if(this.$formvalidationShipment.valid && invalidDates === 0){
    		  var success = function(result) {
    			self.gridData = result.Shipment
                self.showSearch=false
                self.showMask=false
			}
            if(self.shipmentSearchModel.MaximumRecords===''){
               self.shipmentSearchModel.MaximumRecords='100';
            }
                 self.showMask=true
            //     $log.log('InputToShipmentListAPI: '+JSON.stringify(self.shipmentSearchModel))
           var upperSCACAttr = self.shipmentSearchModel.SCAC.toUpperCase();
            self.shipmentSearchModel.SCAC = upperSCACAttr;                 
			Utils.executeDataService("shipmentList",success,self.shipmentSearchModel,self.errorHandler);
             }
            GridUtils.clearMetaPagination(this.gmeta, this.columns);
	      },
      isInTransit:function(row){
           if ((row.Status.Status <=1400) || (row.Status.Status === '9000') )
               return false
           else    return true
       },
         hasPermission:function(resourceId){
            return Utils.hasPermission(resourceId)
         },
     errorHandler : function(errorObj) {
               var self=this
                  self.apierror = true
                  self.errorcode = errorObj.ErrorCode
                  self.errordesc = errorObj.ErrorDescription
                   self.showMask=false
                  //Error message times out after 10 seconds
                  setTimeout(function(){self.apierror = false},Utils.getTimeOut())
                 
              },
			getAPIErrorMessage: function() {
				return Utils.getAPIErrorMessage();
			},
            
            resetAll: function(){
         //       event.preventDefault()
                var newShipmentSearchModel = {
            'OrderNo': '',
            'ShipmentNo':'',
            'DocumentType':'',
            'TrackingNo':'',
            'SCAC':'',
            'FromStatus': '',
            'ToStatus': '',
            'FromExpectedShipmentDate': '',
            'ToExpectedShipmentDate': '',
            'MaximumRecords':'100',
            'ShipmentLines':{
                'ShipmentLine':{
                    'Order':{
                        'OrderName':'',
                          'Extn':{
                            'SellerName':''
                          }
                    } 
                }          
                    
            },
            'Extn':{
              'VendorShipNode':''
              }
         }
         this.shipmentSearchModel=newShipmentSearchModel;                
            }
   },

  validators:{
        customMaxValidator:function(val){
            return /^([1-9]\d*)$/.test(val);
        }  

   },
        
  beforeDestroy: function() {
	  	$(this.$el).remove();
	  	$(this.$el).removeData();
	  }
   
    }

    
</script>