<!-- ********** Copyright (c) IBM Australia Limited 2016. All rights reserved. **********-->
<!-- ***************************************************************************
        This component is used for displaying contact details of vendor
     ***************************************************************************-->
<template>
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="">Contact Details</h4>
    </div>
    <div class="clearfix"></div>
    
    
    
    <form id="saveContactform" method="post" v-on:submit.stop.prevent="saveVendorContact()" >
    
      <div class="modal-body address-modal-body">
          <div class="block"  v-if="contactSaved" >
          <div class="alert alert-info" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong> </strong> The Vendor Contacts has been saved successfully. 
          </div>
       </div>
    
    <div class="block"  v-if="apierror" >
          <div class="alert alert-danger" role="alert">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>API Error:</strong>{{errorcode}} {{errordesc}}. {{getAPIErrorMessage()}}  
          </div>
        </div> 
          <div class="row">
         
            <div class="col-md-6">
              First Name<input type="text" class="form-control block" v-model="vendorcontact.FirstName" required>
            </div>
            <div class="col-md-6">
              Last Name<input type="text" class="form-control block" v-model="vendorcontact.LastName" required>
            </div>
              
            <div class="col-md-6">
              Contact ID <span v-if="getValue(vendorcontact,'addingNewContact')">
                            <input type="text" class="form-control block" v-model="vendorcontact.VendorContactID" required>                            
                        </span>
                        <span v-else>  
                           <input type="text" class="form-control block" disabled v-model="vendorcontact.VendorContactID">
                        </span>
            </div>

            <div class="col-md-6">
             Email<input type="text" class="form-control block" v-model="vendorcontact.EmailID" required>
            </div>
              
            <div class="col-md-6">
              Mobile Number <input type="text" class="form-control block" v-model="vendorcontact.MobilePhone">
            </div>
              
            <div class="col-md-6">
                Phone Number <input type="text" class="form-control block" v-model="vendorcontact.DayPhone">
            </div>

            <div class="form-group clearfix m-t-10">
              <label for="" class="col-sm-4 control-label">Is Primary</label>
              <div class="col-sm-8">
                  <div class="checkbox">
                    <label> 
                        <span v-if="getValue(vendorcontact,'disableChkBox') === 'Y'">
                             <input type="checkbox"  v-model="vendorcontact.IsPrimary" disabled v-bind:true-value="PrimaryYes" v-bind:false-value="PrimaryNo">
                        </span>
                        <span v-else>  
                           <input type="checkbox"  v-model="vendorcontact.IsPrimary" v-bind:true-value="PrimaryYes" v-bind:false-value="PrimaryNo">
                        </span>
                        
                    </label>
                  </div>
              </div>
            </div>
              
          </div>         
        </div>
    
        <div class="modal-footer">
            <!--TODO: Change this button to Save and call api in the modal -->
           <button type="submit" id="saveClose" value="save" class="btn btn-default" :disabled="contactSaved || apierror">Save</button>
           <button type="button" class="btn btn-default SecondaryBtn"  data-dismiss="modal"  v-on:click="cancel()">Close</button>
        </div>

  	</form>
    
</div>
</template>
<script>
    var Vue = require('vue')
    var Utils = require('./../utils/utils.js')
    var VueValidator = require('vue-validator')
    Vue.use(VueValidator)

    
    export default{
        
        props: {
          vendorcontact: Object
        },

        data: function () { 
            var contactSaved= false;
            var errorcode;
            var errordesc;
            var apierror=false;
            
            return {
                PrimaryYes: "Y",
                PrimaryNo: "N",
                contactSaved:contactSaved,
                errorcode:errorcode,
                errordesc:errordesc,
                apierror:apierror
            }
        },
	  
        methods: {	  
         getValue: function(row, binding) {
            return Utils.getValue(row,binding)
         },

         cancel: function() {
            this.contactSaved= false;
            this.$dispatch('cancel')
         },
            
         apply: function() {
            this.$dispatch('apply')
         },
            
         saveVendorContact: function(){
             var self = this;
                
                  if(!self.vendorcontact.addingNewContact){
                    var editVendorContact = function(result) {
                        self.contactSaved= true;
                        setTimeout(function(){self.contactSaved = false},Utils.getTimeOut())
                        self.$dispatch('apply');
                    }
                    Utils.executeDataService("changeVendorContact", editVendorContact, self.vendorcontact, self.errorHandler);                            
                 }else{
                    var addVendorContact = function(result) {
                        self.contactSaved= true;
                            setTimeout(function(){self.contactSaved = false},Utils.getTimeOut())
                        self.$dispatch('apply');
                    }
                    Utils.executeDataService("createVendorContact", addVendorContact, self.vendorcontact, self.errorHandler);                             
                } 
            
        },
          
        getMessage: function(errorMessageId) {
            return Utils.getErrorMessage(errorMessageId)      
          },
         
          errorHandler : function(errorObj) {
              var self = this;
              self.apierror = true              
              self.errorcode = errorObj.ErrorCode
              self.errordesc = errorObj.ErrorDescription
              //Error message times out after 10 seconds
              setTimeout(function(){self.apierror = false},Utils.getTimeOut())                 
          },
			getAPIErrorMessage: function() {
				return Utils.getAPIErrorMessage();
			}
        },  
	  
		  
        beforeDestroy: function() {
            $(this.$el).remove();
            $(this.$el).removeData();
        }

}

</script>