
/*Custome Code For Print*/

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
    font-family:"Barcode";
    src:url("../fonts/Code39.eot") format("eot"),
        url("../fonts/Code39.woff") format("woff"),
        url("../fonts/Code39.ttf") format("truetype"),
        url("../fonts/Code39.svg#") format("svg");
    font-weight:normal;font-style:normal;
}

