h1,h2,h3,h4,h5,h6 .h5, {
    font-size: 16px;
    font-family: 'HelvBoldIBM', sans-serif !important;
}

body table,
.panel-body address,
.form-group,
span.form-inline-left,
a.accordian-toggle,
ul.nav.nav-tabs li a,
.badge {
  font-family: 'HelvRegularIBM', sans-serif !important; 
}

h5.pull-left {
  font-weight: bold;
  color: #6A7077;
}
.control-label, .alert-modal-label label, strong {
    font-weight: 500;
    font-family: 'HelvBoldIBM', sans-serif !important;
}
.panel-body h6 {
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    margin: -4px 0 0px 0;
     font-family: 'HelvBoldIBM', sans-serif !important;
}
@font-face {
    font-family: 'HelvLightIBM';
    src: url("//1.www.s81c.com/common/fonts/hni-v2-light.eot");
    src: url("//1.www.s81c.com/common/fonts/hni-v2-light.eot?#iefix") format("embedded-opentype"), url("//1.www.s81c.com/common/fonts/hni-v2-light.woff") format("woff"), url("//1.www.s81c.com/common/fonts/hni-v2-light.ttf") format("truetype"), url("//1.www.s81c.com/common/fonts/hni-v2-light.svg#HelvLightIBM") format("svg");
    font-weight: lighter;
    font-style: normal
}
@font-face {
    font-family: 'HelvRegularIBM';
    src: url("//1.www.s81c.com/common/fonts/hni-v2-roman.eot");
    src: url("//1.www.s81c.com/common/fonts/hni-v2-roman.eot?#iefix") format("embedded-opentype"), url("//1.www.s81c.com/common/fonts/hni-v2-roman.woff") format("woff"), url("//1.www.s81c.com/common/fonts/hni-v2-roman.ttf") format("truetype"), url("//1.www.s81c.com/common/fonts/hni-v2-roman.svg#HelvRegularIBM") format("svg");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'HelvBoldIBM';
    src: url("//1.www.s81c.com/common/fonts/hni-v2-bold.eot");
    src: url("//1.www.s81c.com/common/fonts/hni-v2-bold.eot?#iefix") format("embedded-opentype"), url("//1.www.s81c.com/common/fonts/hni-v2-bold.woff") format("woff"), url("//1.www.s81c.com/common/fonts/hni-v2-bold.ttf") format("truetype"), url("//1.www.s81c.com/common/fonts/hni-v2-bold.svg#HelvBoldIBM") format("svg");
    font-weight: bold;
    font-style: normal
}
@font-face {
    font-family: 'icons-ibm-v4';
    src: url("//1.www.s81c.com/common/fonts/icons-ibm-v4.eot");
    src: url("//1.www.s81c.com/common/fonts/icons-ibm-v4.eot?#iefix") format("embedded-opentype"), url("//1.www.s81c.com/common/fonts/icons-ibm-v4.woff") format("woff"), url("//1.www.s81c.com/common/fonts/icons-ibm-v4.ttf") format("truetype"), url("//1.www.s81c.com/common/fonts/icons-ibm-v4.svg##icons-ibm-v4") format("svg");
    font-weight: normal;
    font-style: normal
}