button.btn.btn-primary.SecondaryBtn.dropdown-toggle {
  text-transform: uppercase;
}

.btn-default .glyphicon,
.button-primary .glyphicon {
  font-size: 20px;
}

.btn-default,
.button-primary {
  background-color: #4178BC;
  border-color: transparent;
  font-size: 11px !important;
  text-transform: uppercase !important;
  color: #fff;
  padding: 1px 10px !important;
  border-radius: 2px !important;
  margin-left: 3px;
  margin-top: 0;
  margin-right: 2px;
}

.btn-primary {
  font-size: 13px;
  padding: 4px 7px;
  border: none;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  cursor: inherit;
  display: block;
}
.btn.btn-default.SecondaryBtn.Headerbtn {
    margin-top: -2px;
}
.btn.btn-default.pull-right,
.btn.pull-right.button-primary {
  margin-top: 3px;
}

.btn.SecondaryBtn.button-primary,
.btn.btn-default.SecondaryBtn,
.btn.btn-primary {
  background: transparent;
  color: $BtnBlueClr;
  border: 1px solid $BtnBlueClr;
  border-radius: 2px !important;
  font-weight: 100;
  margin-top: 3px;
  text-transform: uppercase;
    
}
.AddressContainer {
  button.btn.btn-default.SecondaryBtn {
    font-weight: bold;
  }
}

.btn.SecondaryBtn.button-primary:hover,
.btn.btn-default,
.btn.btn-default.SecondaryBtn:hover,
.btn.btn-primary:hover,
.btn.button-primary {
  background: $BtnBg;
  color: $BtnClr;
  border: 1px solid $BtnBg;
  border-radius: 2px !important;
  font-weight: 100;
}

.btn.btn-default:hover,
.btn.button-primary:hover {
  background: #325c80;
  border: 1px solid #325c80;
}

button.btn.dropdown-toggle.btn-default,
button.btn.dropdown-toggle.button-primary {
  background: #fff;
  height: 23px;
  border-color: #bdbcbc;
  color: #777;
     font-family: 'HelvRegularIBM', sans-serif !important; 
}

.btn-login {
  background-color: #008fe2;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 6px 0;
  text-transform: uppercase;
  width: 100%;
  border-color: #59B2E6;
}

.btn-login:focus,
.btn-login:hover {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}

.button-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-default:hover,
.button-primary:hover {
  color: #E8E8E8;
  background-color: #325C80;
  border-color: transparent;
}

button#remove {
  padding: 1px 8px;
}

button.btn.btn-default.commitment,
button.btn.commitment.button-primary {
  padding: 7px 6px 5px !important;
  border-radius: 49% !important;
}

a.btn.modalcls.cusCommit {
  padding: 0;
}

button.btn.btn-info.addbtn {
  height: 31px;
  margin-left: 7px;
  padding-top: 5px;
}

button.btn.btn-default.dropdown-toggle,
button.btn.dropdown-toggle.button-primary {
  margin-top: 0;
}

.btn.btn-default.removebtn,
.btn.removebtn.button-primary {
  margin-top: 3px;
}
a.btn.btn-warning.SecondaryBtn {
    padding: 1px 8px 1px 8px;
    font-size: 12px;
    margin-top: 3px;
}
.select-style.form-control{
 font-family: 'HelvRegularIBM', sans-serif !important;    
}
.btn.btn-default {
    margin-top: -2px;
}
.SubmitPadding {
    padding-top: 19px;
}

    button.btn.btn-primary.btn-block {
    padding-top: 7px;
    padding-bottom:7px;
}
.btn.btn-default.SecondaryBtn.Gobtn {
    margin-top: -1px;
}
select.selectpicker {
    font-family: 'HelvRegularIBM', sans-serif !important; 
    color:#000;
}
.CusPlusBtn {
span.glyphicon.glyphicon-plus {
    font-size: 12px !important;
    margin-top: -3px;
    padding: 11px 2px 10px 2px;
}
}
button.btn.btn-default.SecondaryBtn.button-primary.CusPlusBtn {
    padding: 8px 9px;
    margin-top: 0px;
    margin-left: 3px;
}
button.btn.btn-default.removeIcon {
    border-radius: 49% !important;
            padding: 5px 6px 6px 6px !important;
        background: #c9302c;
    border: 1px solid #c9302c;
    i.glyphicon.glyphicon-remove {
    padding: 0px 0px !important;
}
}
button.CusIcon {
    padding: 5px 5px;
    border-radius: 49%;
    
}
button.btn.ok.CusIcon {
        background-color: #5cb85c;
    border-color: #4cae4c;
    i{
        color:#fff;
            font-size: 12px;
    }
}
button.btn.remove.CusIcon{
        background-color: #d9534f;
    border-color: #d43f3a;
      i{
        color:#fff;
              font-size: 12px;
    }
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    background-color: #d8d3d3 !important;
    border-color: #d8d3d3 !important;
     i{
        color:#333 !important;
    }
}
.alert.alert-info button.close {
    line-height: 0.5;
}
button.btn.btn-default.SecondaryBtn.AlignButton {
    margin-top: -4px;
}
a.btn.btn-danger.SecondaryBtn {
    padding: 1px 10px;
    font-size: 11px;
    margin-top: -4px;
    background: transparent;
    color: #d9534f;
}
a.btn.btn-danger.SecondaryBtn:hover {
 background:   #d9534f;
    color: #fff;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {

    color: #9e9898 !important;
}
.nav>li>a.v-link-active {
    background: $linkActiveclr;
}
a.navbar-brand.v-link-active {
    background: transparent;
}

a.moreOption {
    padding-top: 13px;
    display: block;
    font-size: 14px;
    margin-bottom: 22px;
    margin-left: 10px;
    margin-right: 10px;
}
.col-md-2.pad-left-20.pull-right {
    padding-right: 20px;
}


button.btn.btn-primary.Clearbtn {
    font-weight: 100;
    /* font-family: sans-serif; */
    padding: 2px 10px 3px 10px;
    line-height: initial;
    font-size: 11px;
    margin-right: 10px;
    margin-top: -1px;
    border-radius: 2px !important;
    font-family: 'HelvRegularIBM', sans-serif !important;
}

.list-linked-modal a {
  font-size: 11px !important;
}
.addbtn {
    margin-top: 3px !important;
}
.table-wrapper.CusbookTable {
    max-height: 524px;
    overflow-y: auto;
}
form.form-inline.pull-right {
    padding-right: 5px;
}
.AddressInside.NewCtrl {
    min-height: 130px;
    max-height: 342px;
}
    
    .btn.btn-default.removeBtn.remove-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
    padding: 0px 2px !important;
}