.search-form .btn-primary {
  width: 89%;
  margin-left: 5px;
}

    div#custom-search-input {
    max-width: 215px;
    margin-right: 36px;
}
div#custom-search-input input.form-control {
    height: 27px;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif !important;
}
div#custom-search-input button.btn.btn-default,
div#custom-search-input button.btn.button-primary {
    margin-top: 0px;
    border: 1px solid #1f70c1;
    background: #1f70c1;
    border-left:0px; 
}
div#custom-search-input button.btn.btn-default span.glyphicon.glyphicon-search,
div#custom-search-input button.btn.button-primary span.glyphicon.glyphicon-search {
    color: #fff;
    font-size: 15px;
    padding: 4px 0px;
}
@media (max-width:600px){
    div#custom-search-input {
    max-width: 150px;
    margin-right: 36px;
}
    }
.col-md-5.cal-box {
    font-weight: 200;
    font-family: 'HelvRegularIBM', sans-serif !important; 
}
.col-md-2.pad-left-10.pull-right {
    padding-right: 10px !important;
}
span.badgeText 
{
    font-family: 'HelvRegularIBM', sans-serif !important; 
}
