tr th {
  color: #6A6C6F;
     font-family: 'HelvBoldIBM' !important;
}

th.active span.fa.fa-sort.pull-right.sort-down::before {
  content: "\f0dd";
  color: royalblue;
}

th.active span.fa.fa-sort.pull-right.sort-up::before {
  content: "\f0de";
  color: royalblue;
}

.table-wrapper-big .table-bordered > tbody > tr > td,
.table-wrapper-big .table-bordered > thead > tr > td,
.table-wrapper-big .table-bordered > thead > tr > th {
  padding: 2px 5px;
}

.table-wrapper {
  padding: 2px 15px 15px;
  background: #ddd;
  margin-top: -5px;
  border-radius: 2px;
}

.table-wrapper table {
  background: #fff;
  font-size: 13px;
  border-top: 0 solid #DDDDDD;
  margin-top: 0;
        border-bottom: 1px solid #dddddd;
    margin-bottom: 5px;
}

.table-wrapper h4 {
  margin-top: -11px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 0;
}

.table-wrapper .table-top {
  margin: 2px 0;
}

.table-wrapper .cal-box .btn-default,
.table-wrapper .cal-box .button-primary {
  margin-top: -2px;
}

.table-wrapper .btn-default .glyphicon,
.table-wrapper .button-primary .glyphicon {
  font-size: 12px;
  padding: 4px 5px;
}

.table-wrapper .form-control {
  height: 28px;
}


.table-wrapper tbody .form-control {
  padding: 2px;
}

.table-wrapper .center-filter {
  vertical-align: middle;
  text-align: center;
}

.table-wrapper .sorting {
  background: url("../images/updownarrow.png") no-repeat 0 0;
  background-position: right;
  color: #6A6C6F;
     font-family: 'HelvBoldIBM' !important;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle;
     word-wrap: break-word;
    max-width: 200px;
}

.table-wrapper-big {
  position: relative;
}

.table-scroll {
  height: 170px;
  overflow: auto;
}

.table-wrapper-big table {
  width: 100%;
}

.table {
  margin-bottom: 0;
   
}

.table-wrapper-big table thead th .text {
  z-index: 2;
  font-size: 13px;
  color: #6A6C6F;
  font-weight: 700;
}

td {
  font-size: 13px;
}

.table-top.row.no-gutters {
  padding-bottom: 6px;
  padding-top: 6px;
}

.fixed-table-header table {
  border-top: 0;
}

.bootstrap-table .fixed-table-container {
  max-height: 469px !important;
}

.fixed-table-toolbar {
  position: absolute;
  top: -8px;
  right: 9px;
}

.table-wrapper.CusbookTable .bootstrap-table .fixed-table-container {
  max-height: 200px !important;
}

.modal-footer {
  border-top: 0;
}

.Order_summary li a {
  vertical-align: top;
  text-decoration: none;
  color: #6a6c6f;
}

.Order_summary li a span.badge {
  margin-top: 4px;
}

.table-top.row.no-gutters.nopadd {
  padding-top: 0;
}
.table {
    margin-bottom: 2px;
}
.panel-body.panel-common-body tr>td {
    font-weight: 100;
    text-transform: none;
}

.table-fixed {
    max-height: 316px;
}
.loader {
    margin: 0 auto;
    font-size: 6px;
    position: absolute;
    top: 54px;
    left: 0;
    right: 0;
    /* text-indent: -9999em; */
    border-top: 3px solid rgba(175, 173, 173, 0.6);
    border-right: 3px solid rgba(175, 173, 173, 0.6);
    border-bottom: 3px solid rgba(175, 173, 173, 0.6);
    border-left: 3px solid #757575;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.loader,
.loader:after {
  border-radius: 50%;
    width: 5em;
    height: 5em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.table-loading {
     position: absolute;
    z-index: 999;
    height: 2em;
    width: 4em;
    overflow: show;
    margin: auto;
    top: 62px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff !important;
}
.table-loading:before {
    content: '';

}
.table-loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}
tbody.table-spinner {
    display: block;
    min-height: 55px;
    width: 100%;
    border-bottom: 0px !important;
}
tbody {
    border-bottom: 1px solid #dddddd;
}

.table-striped>tbody>tr:nth-of-type(odd):first-child {
    background: #fff;
}
.spinner-loading {
    background-color: #e6e6e6;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
}
.spinner-loading .loader {
    top: 50%;
}

 .bookhead table thead{
        min-height: 36px;
    }
